Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

regenerate agents (yet again)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

reverting the thing from master
  services/scribe/cmd/commands.go
Labels: Go

service upgrades
  core/go.mod
  core/go.sum
  core/metrics/datadog.go
  core/metrics/global.go
  core/metrics/helper.go
  core/metrics/metrics.go
  core/metrics/metrics_test.go
  core/metrics/newrelic.go
  core/metrics/null.go
  core/metrics/tracer.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: Go

max planck changes
  services/scribe/backfill/chain.go
  services/scribe/cmd/commands.go
Labels: Go

exported data
  packages/contracts-core/contracts/AttestationCollector.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add events
  services/omnirpc/proxy/forward.go
  services/omnirpc/proxy/response_test.go
  services/omnirpc/proxy/standardize.go
Labels: Go

Fix: library bugs/chores (#297)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
  packages/contracts-core/contracts/libs/Message.sol
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/contracts/libs/SystemMessage.sol
  packages/contracts-core/contracts/libs/TypedMemView.sol
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Fix: library bugs/chores (#297)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
  packages/contracts-core/contracts/libs/Message.sol
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/contracts/libs/SystemMessage.sol
  packages/contracts-core/contracts/libs/TypedMemView.sol
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

remove RetrieveLastBlockTime
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/event.go
  services/scribe/db/lastblocktime_test.go
Labels: Go

basic fix
  services/omnirpc/proxy/forward.go
  services/omnirpc/proxy/standardize.go
Labels: Go

rem log
  services/omnirpc/proxy/standardize.go
Labels: Go

gen
  services/scribe/db/mocks/event_db.go
Labels: Go

tests: cross-chain setup
  packages/contracts-core/test/harnesses/OriginHarness.sol
  packages/contracts-core/test/utils/SynapseTestSuite.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

test suite skeleton
  packages/contracts-core/test/utils/SynapseConstants.t.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
  packages/contracts-core/test/utils/SynapseTestStorage.t.sol
  packages/contracts-core/test/utils/SynapseTestSuite.t.sol
  packages/contracts-core/test/utils/SynapseUtilities.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: move events into separate contracts
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/NotaryManager.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/events/AttestationCollectorEvents.sol
  packages/contracts-core/contracts/events/DestinationEvents.sol
  packages/contracts-core/contracts/events/DestinationHubEvents.sol
  packages/contracts-core/contracts/events/GuardRegistryEvents.sol
  packages/contracts-core/contracts/events/NotaryManagerEvents.sol
  packages/contracts-core/contracts/events/NotaryRegistryEvents.sol
  packages/contracts-core/contracts/events/OriginEvents.sol
  packages/contracts-core/contracts/events/OriginHubEvents.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: separate harness events
  packages/contracts-core/test/events/AttestationHubHarnessEvents.sol
  packages/contracts-core/test/events/ClientHarnessEvents.sol
  packages/contracts-core/test/events/DestinationHarnessEvents.sol
  packages/contracts-core/test/events/ReportHubHarnessEvents.sol
  packages/contracts-core/test/events/SystemContractHarnessEvents.sol
  packages/contracts-core/test/harnesses/AttestationHubHarness.sol
  packages/contracts-core/test/harnesses/ClientHarness.sol
  packages/contracts-core/test/harnesses/DestinationHarness.sol
  packages/contracts-core/test/harnesses/ReportHubHarness.sol
  packages/contracts-core/test/harnesses/SystemContractHarness.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

tests: signing attestations/reports
  packages/contracts-core/test/utils/SynapseTestSuite.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add common messaging test utils
  packages/contracts-core/test/tools/libs/AttestationTools.t.sol
  packages/contracts-core/test/tools/libs/MessageTools.t.sol
  packages/contracts-core/test/tools/libs/ReportTools.t.sol
  packages/contracts-core/test/tools/libs/TipsTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old Origin test
  packages/contracts-core/test/Origin.t.sol
  packages/contracts-core/test/OriginGasGolf.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old Destination test
  packages/contracts-core/test/Destination.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new Origin test
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/tools/OriginTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old Hub tests
  packages/contracts-core/test/AttestationHub.t.sol
  packages/contracts-core/test/ReportHub.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new Destination test
  packages/contracts-core/test/harnesses/OriginHarness.sol
  packages/contracts-core/test/harnesses/client/ReentrantApp.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/tools/DestinationTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: organize harnesses
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/Client.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/GuardRegistry.t.sol
  packages/contracts-core/test/NotaryManager.t.sol
  packages/contracts-core/test/SynapseClient.t.sol
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
  packages/contracts-core/test/SystemRouter.t.sol
  packages/contracts-core/test/harnesses/AttestationCollectorHarness.t.sol
  packages/contracts-core/test/harnesses/DestinationHarness.t.sol
  packages/contracts-core/test/harnesses/OriginHarness.t.sol
  packages/contracts-core/test/harnesses/client/AppHarness.t.sol
  packages/contracts-core/test/harnesses/client/ClientHarness.t.sol
  packages/contracts-core/test/harnesses/client/SynapseClientHarness.t.sol
  packages/contracts-core/test/harnesses/client/SynapseClientUpgradeableHarness.t.sol
  packages/contracts-core/test/harnesses/events/AttestationHubHarnessEvents.sol
  packages/contracts-core/test/harnesses/events/ClientHarnessEvents.sol
  packages/contracts-core/test/harnesses/events/DestinationHarnessEvents.sol
  packages/contracts-core/test/harnesses/events/ReportHubHarnessEvents.sol
  packages/contracts-core/test/harnesses/events/SystemContractHarnessEvents.sol
  packages/contracts-core/test/harnesses/hubs/AttestationHubHarness.t.sol
  packages/contracts-core/test/harnesses/hubs/ReportHubHarness.t.sol
  packages/contracts-core/test/harnesses/registry/DomainNotaryRegistryHarness.t.sol
  packages/contracts-core/test/harnesses/registry/GlobalNotaryRegistryHarness.t.sol
  packages/contracts-core/test/harnesses/registry/GuardRegistryHarness.t.sol
  packages/contracts-core/test/harnesses/system/SystemContractHarness.t.sol
  packages/contracts-core/test/harnesses/system/SystemRouterHarness.t.sol
  packages/contracts-core/test/suite/hubs/AttestationHub.t.sol
  packages/contracts-core/test/suite/hubs/ReportHub.t.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
  packages/contracts-core/test/utils/SynapseTestStorage.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old Registry tests
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new Hub tests
  packages/contracts-core/test/suite/hubs/AttestationHub.t.sol
  packages/contracts-core/test/suite/hubs/ReportHub.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new Client tests
  packages/contracts-core/test/harnesses/client/BasicClientHarness.t.sol
  packages/contracts-core/test/harnesses/client/SynapseClientHarness.t.sol
  packages/contracts-core/test/harnesses/client/SynapseClientUpgradeableHarness.t.sol
  packages/contracts-core/test/harnesses/events/BasicClientHarnessEvents.sol
  packages/contracts-core/test/harnesses/events/ClientHarnessEvents.sol
  packages/contracts-core/test/suite/client/BasicClient.t.sol
  packages/contracts-core/test/suite/client/Client.t.sol
  packages/contracts-core/test/suite/client/SynapseClient.t.sol
  packages/contracts-core/test/suite/client/SynapseClientUpgradeable.t.sol
  packages/contracts-core/test/tools/client/BasicClientTools.t.sol
  packages/contracts-core/test/tools/client/ClientTools.t.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new registry tests
  packages/contracts-core/test/harnesses/registry/DomainNotaryRegistryHarness.t.sol
  packages/contracts-core/test/suite/registry/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/suite/registry/GuardRegistry.t.sol
  packages/contracts-core/test/tools/libs/EnumerableSetTools.t.sol
  packages/contracts-core/test/tools/registry/DomainNotaryRegistryTools.t.sol
  packages/contracts-core/test/tools/registry/GlobalNotaryRegistryTools.t.sol
  packages/contracts-core/test/tools/registry/GuardRegistryTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

delete old Client tests
  packages/contracts-core/test/Client.t.sol
  packages/contracts-core/test/SynapseClient.t.sol
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old NotaryManager test
  packages/contracts-core/test/NotaryManager.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old Collector test
  packages/contracts-core/test/AttestationCollector.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Add new Collector tests
  packages/contracts-core/test/suite/AttestationCollector.t.sol
  packages/contracts-core/test/tools/AttestationCollectorTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: test events for system call
  packages/contracts-core/test/harnesses/events/SystemContractHarnessEvents.sol
  packages/contracts-core/test/harnesses/system/SystemContractHarness.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new NotaryManager test
  packages/contracts-core/test/suite/NotaryManager.t.sol
  packages/contracts-core/test/tools/NotaryManagerTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new SystemRouter tests
  packages/contracts-core/test/harnesses/system/SystemContractHarness.t.sol
  packages/contracts-core/test/suite/system/SystemContract.t.sol
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

delete old library tests
  packages/contracts-core/test/libs/Attestation.t.sol
  packages/contracts-core/test/libs/Auth.t.sol
  packages/contracts-core/test/libs/Header.t.sol
  packages/contracts-core/test/libs/Message.t.sol
  packages/contracts-core/test/libs/Report.t.sol
  packages/contracts-core/test/libs/SystemMessage.t.sol
  packages/contracts-core/test/libs/Tips.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

delete old SystemRouter test
  packages/contracts-core/test/SystemRouter.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new library tests
  packages/contracts-core/test/harnesses/libs/AttestationHarness.t.sol
  packages/contracts-core/test/harnesses/libs/AuthHarness.t.sol
  packages/contracts-core/test/harnesses/libs/HeaderHarness.sol
  packages/contracts-core/test/harnesses/libs/HeaderHarness.t.sol
  packages/contracts-core/test/harnesses/libs/MessageHarness.sol
  packages/contracts-core/test/harnesses/libs/MessageHarness.t.sol
  packages/contracts-core/test/harnesses/libs/ReportHarness.t.sol
  packages/contracts-core/test/harnesses/libs/SystemMessageHarness.t.sol
  packages/contracts-core/test/harnesses/libs/TipsHarness.t.sol
  packages/contracts-core/test/suite/libs/Attestation.t.sol
  packages/contracts-core/test/suite/libs/Auth.t.sol
  packages/contracts-core/test/suite/libs/Header.t.sol
  packages/contracts-core/test/suite/libs/Message.t.sol
  packages/contracts-core/test/suite/libs/Report.t.sol
  packages/contracts-core/test/suite/libs/SystemMessage.t.sol
  packages/contracts-core/test/suite/libs/Tips.t.sol
  packages/contracts-core/test/suite/libs/TypedMemView.t.sol
  packages/contracts-core/test/utils/SynapseLibraryTest.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

move ProofGenerator contracts
  packages/contracts-core/test/utils/SynapseTestStorage.t.sol
  packages/contracts-core/test/utils/proof/ProofGenerator.t.sol
  packages/contracts-core/test/utils/proof/ProofGeneratorTest.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove old testing suite
  packages/contracts-core/test/utils/Bytes29Test.sol
  packages/contracts-core/test/utils/SynapseTest.sol
  packages/contracts-core/test/utils/Utilities.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical
