Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

[goreleaser]
  committee/config/config.go
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

regen some stuff
  agents/contracts/bondingmanager/bondingmanager.abigen.go
  agents/contracts/destination/destination.abigen.go
  agents/contracts/gasoracle/gasoracle.abigen.go
  agents/contracts/gasoracle/gasoracle.contractinfo.json
  agents/contracts/inbox/inbox.abigen.go
  agents/contracts/lightinbox/lightinbox.abigen.go
  agents/contracts/lightmanager/lightmanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/summit/summit.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/basemessageharness/basemessageharness.abigen.go
  agents/contracts/test/basemessageharness/basemessageharness.contractinfo.json
  agents/contracts/test/bondingmanagerharness/bondingmanagerharness.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/gasdata/gasdataharness.abigen.go
  agents/contracts/test/gasdata/gasdataharness.contractinfo.json
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/lightmanagerharness/lightmanagerharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.contractinfo.json
  agents/contracts/test/receiptharness/receiptharness.abigen.go
  agents/contracts/test/receiptharness/receiptharness.contractinfo.json
  agents/contracts/test/requestharness/requestharness.abigen.go
  agents/contracts/test/requestharness/requestharness.contractinfo.json
  agents/contracts/test/snapshotharness/snapshotharness.abigen.go
  agents/contracts/test/snapshotharness/snapshotharness.contractinfo.json
  agents/contracts/test/stateharness/stateharness.abigen.go
  agents/contracts/test/stateharness/stateharness.contractinfo.json
  agents/contracts/test/summitharness/summitharness.abigen.go
  agents/contracts/test/testclient/testclient.abigen.go
  agents/contracts/test/testclient/testclient.contractinfo.json
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

[goreleaser]
  committee/node/node.go
Labels: Go

[goreleaser] rebuild
  committee/node/node.go
Labels: Go

regen agents (#2236)
  agents/contracts/bondingmanager/bondingmanager.abigen.go
  agents/contracts/destination/destination.abigen.go
  agents/contracts/gasoracle/gasoracle.abigen.go
  agents/contracts/gasoracle/gasoracle.contractinfo.json
  agents/contracts/inbox/inbox.abigen.go
  agents/contracts/lightinbox/lightinbox.abigen.go
  agents/contracts/lightmanager/lightmanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/summit/summit.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/basemessageharness/basemessageharness.abigen.go
  agents/contracts/test/basemessageharness/basemessageharness.contractinfo.json
  agents/contracts/test/bondingmanagerharness/bondingmanagerharness.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/gasdata/gasdataharness.abigen.go
  agents/contracts/test/gasdata/gasdataharness.contractinfo.json
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/lightmanagerharness/lightmanagerharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.contractinfo.json
  agents/contracts/test/receiptharness/receiptharness.abigen.go
  agents/contracts/test/receiptharness/receiptharness.contractinfo.json
  agents/contracts/test/requestharness/requestharness.abigen.go
  agents/contracts/test/requestharness/requestharness.contractinfo.json
  agents/contracts/test/snapshotharness/snapshotharness.abigen.go
  agents/contracts/test/snapshotharness/snapshotharness.contractinfo.json
  agents/contracts/test/stateharness/stateharness.abigen.go
  agents/contracts/test/stateharness/stateharness.contractinfo.json
  agents/contracts/test/summitharness/summitharness.abigen.go
  agents/contracts/test/testclient/testclient.abigen.go
  agents/contracts/test/testclient/testclient.contractinfo.json
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

regen agents (#2236)
  agents/contracts/bondingmanager/bondingmanager.abigen.go
  agents/contracts/destination/destination.abigen.go
  agents/contracts/gasoracle/gasoracle.abigen.go
  agents/contracts/gasoracle/gasoracle.contractinfo.json
  agents/contracts/inbox/inbox.abigen.go
  agents/contracts/lightinbox/lightinbox.abigen.go
  agents/contracts/lightmanager/lightmanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/summit/summit.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/basemessageharness/basemessageharness.abigen.go
  agents/contracts/test/basemessageharness/basemessageharness.contractinfo.json
  agents/contracts/test/bondingmanagerharness/bondingmanagerharness.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/gasdata/gasdataharness.abigen.go
  agents/contracts/test/gasdata/gasdataharness.contractinfo.json
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/lightmanagerharness/lightmanagerharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.contractinfo.json
  agents/contracts/test/receiptharness/receiptharness.abigen.go
  agents/contracts/test/receiptharness/receiptharness.contractinfo.json
  agents/contracts/test/requestharness/requestharness.abigen.go
  agents/contracts/test/requestharness/requestharness.contractinfo.json
  agents/contracts/test/snapshotharness/snapshotharness.abigen.go
  agents/contracts/test/snapshotharness/snapshotharness.contractinfo.json
  agents/contracts/test/stateharness/stateharness.abigen.go
  agents/contracts/test/stateharness/stateharness.contractinfo.json
  agents/contracts/test/summitharness/summitharness.abigen.go
  agents/contracts/test/testclient/testclient.abigen.go
  agents/contracts/test/testclient/testclient.contractinfo.json
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

bump nvmrc
  .nvmrc
  packages/contracts-core/README.md
  packages/coverage-aggregator/README.md
  packages/docs/README.md
  packages/explorer-ui/README.md
  packages/rest-api/README.md
  packages/solidity-devops/README.md
  packages/synapse-constants/README.md
  packages/synapse-interface/README.md
  packages/widget/README.md
Labels: 2-reviewers, M-contracts, M-explorer-ui, M-synapse-interface

[goreleaser]
  committee/node/node.go
Labels: Go

[goreleaser] be more verbose
  committee/node/node.go
Labels: Go

[goreleaser]
  sin-executor/executor/executor.go
Labels: Go

Add entryIndex to `InterchainEntry`
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
Labels: none

Add entryIndex to `InterchainTransaction`
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: none

Add entryIndex to app receive function
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/apps/PingPongApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
Labels: none

Update tests, leave TODOs
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Update contracts, leave some TODOs
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Rm deprecated contract
  packages/contracts-communication/contracts/InterchainApp.sol
Labels: none

Update tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

ClientV1: return entry index when sending
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Add empty impl of `getNextEntryIndex`
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Labels: none

Introduce struct to get around stack too deep error
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
Labels: none

Add entryIndex to ClientV1 event
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Labels: none

Client.writeExecutionProof: add entryIndex
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Add smol library to deal with interchain batches
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
Labels: none

Chore: consistent variable naming
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Labels: none

ModuleEntry -> ModuleBatch
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/contracts/libs/ModuleEntry.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleEntryLibHarness.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
  packages/contracts-communication/test/libs/ModuleEntryLib.t.sol
Labels: none

Update InterchainModule interface for batching
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

Update SynapseModule for batching
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Update DB <> Module communication, leave TODOs
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Update InterchainDB interface to include batches
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Update tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Scaffold new functions in InterchainDB
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Update icDB: requesting batch verification
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

Update icDB: writing entry
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

Update icDB mock
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Labels: none

Update ClientV1: sending tx
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update ClientV1: executing tx
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Fix compile errors due to the new interfaces
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Labels: none

Fix stack too deep
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

icDB: update basic getters, add range assertions
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Fix: EntryDoesNotExist -> BatchDoesNotExist
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none
