Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Address screener with message (#2021)
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/utils/globalEventEmitter.ts
  packages/synapse-interface/utils/hooks/useRiskEvent.tsx
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Update contracts & re-gen abi post merge
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-1708363607.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-latest.json
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/contracts/mocks/OptionsLibExport.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.abigen.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.abigen.go
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.contractinfo.json
Labels: Go

update optionslib -> OptionsV1
  sin-executor/executor/executor_test.go
Labels: Go

Feat: use new dune query for all transaction types
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
Labels: Go

Set entire component yellow bar when txn errors
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
Labels: M-synapse-interface

Add checkTime param to useIsTxReverted to trigger rechecking revert status
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

Progress bar to show solid yellow when error
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
Labels: M-synapse-interface

tidy up
  committee/go.mod
  ethergo/submitter/db/service_test.go
  go.work
  sin-executor/go.mod
  sin-executor/go.sum
Labels: Go

[goreleaser] lint
  .codecov.yml
  docker/sin-executor.Dockerfile
  sin-executor/.goreleaser.yml
  sin-executor/Makefile
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
Labels: M-docker, Go

Set check tx for revert to 30s past initial execution via wallet
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
Labels: M-synapse-interface

update [goreleaser]
  committee/config/config.go
  committee/node/node.go
  committee/node/suite_test.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  sin-executor/main.go
Labels: Go

omnirpc [goreleaser]
  committee/config/config.go
Labels: Go

add mysql adapter [goreleaser]
  committee/db/base/store.go
  committee/db/mysql/mysql.go
  committee/db/mysql/util/doc.go
  committee/db/mysql/util/ns.go
  committee/db/mysql/util/queries.go
  committee/db/suite_test.go
Labels: Go

Check for revert after 15s, in defined increments of time until complete or reverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

Spacing in menu
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
Labels: M-synapse-interface

Increase revert check timeout
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

[goreleaser] use pubkey
  committee/config/config.go
  ethergo/signer/signer/gcpsigner/google.go
Labels: Go

[goreleaser] enable sign
  ethergo/signer/signer/gcpsigner/google.go
Labels: Go

[goreleaser] lgo
  committee/p2p/boot.go
Labels: Go

[goreleaser] debug
  committee/p2p/boot.go
Labels: Go

cf
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
Labels: M-synapse-interface

new node [goreleaser]
  committee/node/node.go
Labels: Go

enable libp2p [goreleaser]
  committee/p2p/boot.go
Labels: Go

libp2p fix [goreleaser]
  committee/db/mysql/util/queries.go
Labels: Go

Minimum rebate (#2036)
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface

Minimum rebate (#2036)
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Interfaces for execution (#2063)
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutor.sol
Labels: none

rebuild w/ more tests [goreleaser]
  committee/db/datastore_test.go
  committee/db/mysql/util/queries.go
  committee/db/suite_test.go
Labels: Go

[goreleaser] g.wait
  committee/db/datastore_test.go
  committee/node/node.go
Labels: Go

cleanup
  committee/contracts/synapsemodule/helpers.go
  committee/db/base/signrequest.go
  committee/db/datastore_test.go
  committee/db/db.go
  committee/db/mysql/util/queries.go
  committee/go.mod
  committee/go.sum
  committee/listener/listener.go
  committee/node/node.go
  committee/node/suite_test.go
  committee/p2p/boot.go
Labels: Go

rebump db [goreleaser]
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  committee/p2p/types.go
  committee/testutil/deployers.go
Labels: Go

Use dbNonce in `InterchainEntry` struct
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
Labels: none

[goreleaser] pubsub over everything
  committee/p2p/boot.go
Labels: Go

Update InterchainDB: source chain logic
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
Labels: none

Update InterchainDB: destination chain logic
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

attempt to use ipfs peers [goreleaser]
  committee/p2p/boot.go
Labels: Go
