Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

add subtle coloring for chain portfolios
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
  packages/synapse-interface/components/ui/tailwind/Tooltip.tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/styles/chains.ts
Labels: M-synapse-interface

feat: Enhance ExecutionService with gas oracle and options handling
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

portfolio drawer smooth open
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
  packages/synapse-interface/styles/transitions.ts
Labels: M-synapse-interface

tweak timings
  packages/synapse-interface/styles/transitions.ts
Labels: M-synapse-interface

fix indent
  packages/synapse-interface/components/bridgeSwap/ChainListOverlay.tsx
Labels: M-synapse-interface

[goreleaser] bump
  committee/p2p/boot.go
Labels: Go

go 1.22 fix grafana/agent#5037 and Homebrew/homebrew-core#157782
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: Go

go 1.22 fix grafana/agent#5037 and Homebrew/homebrew-core#157782 (#2101)
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: Go

go 1.22 fix grafana/agent#5037 and Homebrew/homebrew-core#157782 (#2101)
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: Go

[goreleaser] peerstore
  committee/p2p/boot.go
Labels: Go

remove keep
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/chain/chain_impl.go
  ethergo/chain/client/config.go
  ethergo/chain/client/metered.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: Go

more dependency bumps
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

more dependencies
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

do not provide too mayn signatures [goreleaser]
  committee/node/node.go
Labels: Go

begin test
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/test/ExecutionService.t.sol
Labels: none

don't start submitter if we don't need to relay
  committee/node/node.go
  ethergo/backends/anvil/anvil.go
Labels: Go

remove me pls [goreleaser]
  sin-executor/executor/executor.go
Labels: Go

Update BL
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

Update BL (#2103)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

Update BL (#2103)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

Chore: forge fmt
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

Remove `_getAppConfig`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Merge `_getApprovedResponses` and `_getFinalizedResponsesCount`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Fix incorrect test
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Rework: `_isExecutable` -> `_assertExecutable`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Use custom errors
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Chore: visibility
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Chore: ordering
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Add verification fee check
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Chore: make solhint happy
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Fix: record the executor address, not the status
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Expose transaction -> executor
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Fix: check chain IDs when sending/executing
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Chore: use library for encoding
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Fix: interchain receive test
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Resolve some TODOs, add new ones
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

fix anvil impersonation issue
  ethergo/backends/anvil/README.md
  ethergo/backends/anvil/client.go
  ethergo/backends/base/base.go
  ethergo/backends/base/mocks/confirmation_client.go
Labels: Go

Expose additional sending function
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Fix: make interchainDB immutable
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
