Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

more reliable tagline reset
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

more reliable tagline reset
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

hydration fixed
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
Labels: none

Init
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

faux bridge v1
  packages/synapse-interface/pages/teaser/PulseDot.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

faux bridge v1
  packages/synapse-interface/pages/teaser/PulseDot.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

Upgrades tailwind (#2048)
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface

Upgrades tailwind (#2048)
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

minor
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
Labels: M-synapse-interface

WIP: add Rebalance interface and rebalanceManagerCCTP
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Feat: add Start() to inventory manager
  services/rfq/relayer/inventory/manager.go
Labels: Go

Rm log, branch ready for merge
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

RM log, ready for merge
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Feat: add rebalance db models and functions
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/rebalancestatus_string.go
Labels: Go

move Activity to folder (#2075)
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
Labels: M-synapse-interface

move Activity to folder (#2075)
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
Labels: M-synapse-interface

Fe/estimate gas (#2034)
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Fe/estimate gas (#2034)
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

connect every blockchain svg
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

connect every blockchain svg
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Fix performance when assigning index as key
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
Labels: M-synapse-interface

more homepage content
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

more homepage content
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

stripped down content
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

stripped down content
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

select hover states
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

select hover states
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

Add status prop to _Transaction to control logic flow
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

status prop to replace isStoredComplete + isStoredReverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

fix svg stroke-width
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

fix svg stroke-width
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

svg diagram color tweak
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

svg diagram color tweak
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

rename
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
Labels: Go

Use status prop to define current tx status to render components / fns
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

client bump
  sin-executor/contracts/interchainclient/parser.go
  sin-executor/contracts/interchainclient/topics.go
  sin-executor/db/base/transaction.go
  sin-executor/db/db.go
  sin-executor/db/model.go
  sin-executor/executor/executor.go
  sin-executor/go.mod
  sin-executor/go.sum
Labels: Go
