Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Save deployment artifact with deploy tx receipt
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/deployments.js
Labels: none

Add files
  packages/solidity-devops/package.json
Labels: none

Add scripts
  packages/solidity-devops/package.json
Labels: none

Add configs
  packages/solidity-devops/.eslintrc.js
  packages/solidity-devops/.prettierrc.js
Labels: none

Add missing CI lint script
  packages/solidity-devops/package.json
Labels: none

Fix: don't allow adding zero address signer
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Labels: none

Chore: fix/suppress linter warnings
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Add missing CI build scripts
  packages/solidity-devops/package.json
Labels: none

Feat: synapse module cleanup (#2118)
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Chore: `forge fmt`
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

yarn install
  yarn.lock
Labels: none

Chore: final fixes
  packages/solidity-devops/js/run-str.js
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/deployments.js
Labels: none

Switch network button
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Chore: standardize owner/admin in constructor
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Update scripts and tests
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/test/ExecutionService.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Feat/owner address in constructor (#2132)
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/test/ExecutionService.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Emit client address when execution is requested
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
Labels: none

Expose linked client addresses
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Fix: check that linked client exists on send/receive
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Fix client tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Feat: expose client address (#2133)
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

add publish bc of public
  packages/solidity-devops/package.json
Labels: none

add publish bc of public (#2134)
  packages/solidity-devops/package.json
Labels: none

add publish bc of public (#2134)
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Initial devops setup
  packages/contracts-communication/.env.example
  packages/contracts-communication/.gitignore
  packages/contracts-communication/deployments/eth_sepolia/.chainId
  packages/contracts-communication/deployments/op_sepolia/.chainId
  packages/contracts-communication/devops.json
  packages/contracts-communication/foundry.toml
Labels: none

segment analytics provider literally useless, segmentAnalyticsEvent is selfcontained, tho prob should b async
  packages/synapse-interface/components/Pools/pool/PoolBody.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/ChainListOverlay.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/contexts/segmentAnalyticsEvent.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveAndStake.tsx
  packages/synapse-interface/utils/actions/approveAndWithdraw.tsx
  packages/synapse-interface/utils/actions/claimStake.tsx
  packages/synapse-interface/utils/actions/withdrawStake.tsx
  packages/synapse-interface/utils/approveToken.tsx
Labels: M-synapse-interface

Add support faq link
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

move segment to after main UI action has been triggered so less slow
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/ChainListOverlay.tsx
  packages/synapse-interface/pages/pools/index.tsx
Labels: M-synapse-interface

Add solidity-devops as a dev dep
  package.json
  packages/contracts-communication/package.json
Labels: none

Add scripts [UGLY, export properly]
  packages/contracts-communication/package.json
Labels: none

Add Transaction Support url constant
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface

Remove duplicate synapse docs constant
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
Labels: M-synapse-interface

cleanup
  ethergo/README.md
  ethergo/chain/listener/listener_test.go
  ethergo/example/README.md
  ethergo/example/counter/counter.abigen.go
  ethergo/example/counter/counter.contractinfo.json
  ethergo/example/counter/counter.sol
  ethergo/example/deploymanager.go
  ethergo/listener/db/doc.go
  ethergo/listener/db/service.go
  ethergo/listener/db/store.go
  ethergo/listener/doc.go
  ethergo/listener/export_test.go
  ethergo/listener/listener.go
  ethergo/listener/listener_test.go
  ethergo/listener/suite_test.go
  services/rfq/e2e/rfq_test.go
  services/rfq/go.mod
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
  services/rfq/relayer/service/relayer.go
  services/rfq/testutil/deployers.go
Labels: Go

update readme
  README.md
Labels: none

Add description for type of url
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface

Add deploy scripts
  packages/contracts-communication/script/DeployInterchainClientV1.s.sol
  packages/contracts-communication/script/DeployNoArgs.s.sol
  packages/contracts-communication/script/DeploySynapseModule.s.sol
  packages/contracts-communication/script/DeployWithMsgSender.s.sol
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
