Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

gen
  services/scribe/db/mocks/event_db.go
Labels: Go

init
  charts/explorer/.helmignore
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/NOTES.txt
  charts/explorer/templates/_helpers.tpl
  charts/explorer/templates/hpa.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/ingress.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/templates/serviceaccount.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
Labels: M-charts

queries.resolvers.go & types.resolvers.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/types.resolvers.go
Labels: Go

update
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/hpa.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/values.yaml
Labels: M-charts

nuke
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/values.yaml
Labels: M-charts

utils.go
  services/scribe/graphql/server/graph/utils.go
Labels: Go

active deadline
  charts/explorer/templates/tests/test-connection.yaml
Labels: M-charts

timeout
  charts/explorer/templates/tests/test-connection.yaml
Labels: M-charts

its called a health check
  charts/explorer/templates/tests/test-connection.yaml
Labels: M-charts

live check
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/tests/test-connection.yaml
Labels: M-charts

timeout
  charts/explorer/templates/tests/test-connection.yaml
Labels: M-charts

im not sure that makes sense
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
Labels: M-charts

health
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

Fixing go compilation bugs and some tests, commenting out ones to be refactored later
  .vscode/launch.json
  agents/agents/notary/notary_test.go
  agents/agents/notary/producer.go
  agents/agents/notary/submitter.go
  agents/contracts/attestationcollector/attestationcollector_test.go
  agents/contracts/destination/destination_test.go
  agents/contracts/destination/parser.go
  agents/db/datastore/sql/base/attestation.go
  agents/db/datastore/sql/base/model.go
  agents/db/datastore/sql/base/model_test.go
  agents/db/datastore/sql/base/monitor.go
  agents/db/db_test.go
  agents/db/message.go
  agents/db/message_test.go
  agents/domains/domain.go
  agents/domains/evm/collector.go
  agents/domains/evm/collector_test.go
  agents/domains/evm/origin.go
  agents/go.mod
  agents/go.sum
  agents/types/attestation.go
  agents/types/encoder.go
  agents/types/encoder_test.go
  agents/types/parity_test.go
  go.work.sum
  packages/contracts-core/contracts/AttestationCollector.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

touch up
  charts/explorer/values.yaml
  charts/scribe/values.yaml
Labels: M-charts

shut up scribe
  charts/scribe/values.yaml
Labels: M-charts

scheme
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

lol
  charts/explorer/templates/service.yaml
Labels: M-charts

Commenting out more tests and leaving trail of TODO (joe) for me to go back after global registry changes
  agents/agents/notary/notary_test.go
  agents/agents/notary/producer_test.go
  agents/contracts/destination/destination_test.go
  agents/db/message_test.go
  agents/domains/evm/collector_test.go
  agents/types/attestation.go
  agents/types/parity_test.go
Labels: Go

sock
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/service.yaml
Labels: M-charts

wait
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

tcp
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

Update server_deployment.yaml
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

omnirpc
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/values.yaml
Labels: M-charts

config
  charts/explorer/values.yaml
Labels: M-charts

t
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

really
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

yeah
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/values.yaml
Labels: M-charts

lint and gen
  services/scribe/graphql/server/graph/utils.go
Labels: Go

value
  charts/explorer/values.yaml
Labels: M-charts

re-add omnirpc
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
Labels: M-charts

README.md
  services/scribe/cmd/cmd.md
Labels: none

adding comment about context keys
  services/scribe/backfill/chain.go
Labels: Go

fix: don't allow nil domain
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

more comments contract.go & chain.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
Labels: Go

checkpoint
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/export_test.go
  services/scribe/backfill/filter_test.go
  services/scribe/backfill/suite_test.go
Labels: Go

Update README.md
  services/explorer/README.md
Labels: none

re-organize and fix generates
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/backfill/doc.go
  services/explorer/backfill/logger.go
  services/explorer/backfill/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/contracts/bridge/bridgev1/generate.go
  services/explorer/contracts/bridge/generate.go
  services/explorer/contracts/bridge/testbridge/generate.go
  services/explorer/contracts/bridge/testbridgev1/generate.go
  services/explorer/contracts/bridgeconfig/generate.go
  services/explorer/contracts/contracts/BridgeConfigV3_flat.sol
  services/explorer/contracts/contracts/SwapFlashLoanV1_flat.sol
  services/explorer/contracts/contracts/SynapseBridgeV1_flat.sol
  services/explorer/contracts/contracts/SynapseBridgeV2_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestSwapFlashLoan.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseBridge.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseBridgeV1.sol
  services/explorer/contracts/swap/generate.go
  services/explorer/contracts/swap/testswap/generate.go
  services/explorer/node/doc.go
  services/explorer/node/explorer.go
  services/explorer/node/explorer_test.go
  services/explorer/node/suite_test.go
Labels: Go

fix trailing comma
  make/scripts/chart-dirs.sh
Labels: none

Getting rid of lint errors
  agents/contracts/destination/destination_test.go
  agents/db/datastore/sql/base/attestation.go
  agents/go.mod
  agents/go.sum
  agents/types/attestation.go
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: Go
