Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Chore: explicit library usage
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

handle message sent
  committee/config/config.go
  committee/contracts/mocks/noopinterchain/generate.go
  committee/contracts/mocks/noopinterchain/helpers.go
  committee/contracts/mocks/noopinterchain/noopinterchain.abigen.go
  committee/contracts/mocks/noopinterchain/noopinterchain.contractinfo.json
  committee/contracts/mocks/noopinterchain/noopinterchain.metadata.go
  committee/contracts/synapsemodule/generate.go
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/db/base/model.go
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/db/connect/sql.go
  committee/db/db.go
  committee/db/mysql/mysql.go
  committee/db/sqlite/sqlite.go
  committee/db/suite_test.go
  committee/node/node.go
  committee/testutil/contracttype.go
  committee/testutil/contracttypeimpl_string.go
  committee/testutil/deployers.go
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/package.json
  services/rfq/relayer/relconfig/config.go
Labels: Go

Add closing par (#2039)
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ToggleTabs.tsx
Labels: none

Add closing par (#2039)
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ToggleTabs.tsx
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Scaffold ThresholdECDSA library
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
Labels: none

prevent input from getting cut off
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
Labels: M-synapse-interface

rm unused import
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
Labels: M-synapse-interface

sho full input
  packages/synapse-interface/components/InteractiveInputRow.tsx
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
Labels: M-synapse-interface

pub->flood
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

fix muh problems
  committee/p2p/boot.go
Labels: Go

k
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Wallet.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Prevents number overflow
  packages/widget/src/components/Transaction.tsx
Labels: none

Sort txns newest first
  packages/widget/src/components/Transactions.tsx
Labels: none

WIP: export IsProfitable in quoter interface
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/handlers.go
Labels: Go

Start working on the tests
  packages/contracts-communication/test/harnesses/ThresholdECDSALibHarness.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Feat: add TestIsProfitable
  services/rfq/relayer/quoter/quoter_test.go
Labels: Go

Widget/progress bar (#2038)
  packages/widget/src/components/AnimatedProgressBar.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Transactions.tsx
  packages/widget/src/hooks/useBridgeTxStatus.tsx
Labels: none

Widget/progress bar (#2038)
  packages/widget/src/components/AnimatedProgressBar.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Transactions.tsx
  packages/widget/src/hooks/useBridgeTxStatus.tsx
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Cleanup: comment
  services/rfq/relayer/service/handlers.go
Labels: Go

Add some revert tests
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Start working on verify hash tests
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

stupid ideas
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

Revert "stupid ideas"
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

Upgrades examples package versions
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

rest api maintenence
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/Token.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
Labels: none

make the usage of redux state hooks consistant
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/components/TokenInput.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/CurrencyReservesCard.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/slices/bridge/hooks.ts
  packages/synapse-interface/slices/pool/hooks.ts
  packages/synapse-interface/slices/portfolio/hooks.ts
  packages/synapse-interface/slices/swap/hooks.ts
Labels: M-synapse-interface

fixing tests failing
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Token.ts
Labels: none

Upgrades examples package versions (#2042)
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Upgrades examples package versions (#2042)
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

update deps
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/broadcaster.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

Moving fetch and store balances to finally
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

working
  committee/p2p/boot.go
  committee/p2p/broadcaster.go
  committee/p2p/p2p_test.go
Labels: Go

footer component
  packages/synapse-interface/pages/teaser/SynapseIcon.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

footer component
  packages/synapse-interface/pages/teaser/SynapseIcon.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface
