Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

clean up react warnings
  packages/synapse-interface/components/WalletIcons.tsx
  packages/synapse-interface/components/WipWrapperComponents/Footer.tsx
  packages/synapse-interface/components/WipWrapperComponents/NavMenu.tsx
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

clean up react warnings
  packages/synapse-interface/components/WalletIcons.tsx
  packages/synapse-interface/components/WipWrapperComponents/Footer.tsx
  packages/synapse-interface/components/WipWrapperComponents/NavMenu.tsx
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

landing layout tweaks
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

landing layout tweaks
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

add directive
  services/rfq/go.mod
Labels: none

interchain
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: Go

comment fix
  sin-executor/db/base/transaction.go
Labels: Go

interchain (#2123)
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: Go

forge fmt
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/test/ExecutionService.t.sol
Labels: none

pass1
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/Makefile
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor_test.go
Labels: Go

pass2
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor_test.go
Labels: Go

pass3
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Labels: Go

pass4
  packages/contracts-communication/contracts/ExecutionService.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Labels: Go

pass4
  packages/contracts-communication/contracts/ExecutionService.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Labels: Go

pass5
  packages/contracts-communication/contracts/ExecutionService.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Labels: Go

pass6
  packages/contracts-communication/contracts/ExecutionService.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Labels: Go

pass7
  packages/contracts-communication/contracts/ExecutionService.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
Labels: Go

pass8
  packages/contracts-communication/contracts/ExecutionService.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Labels: Go

add directive (#2122)
  services/rfq/go.mod
Labels: none

pass 9
  committee/node/node.go
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/config/config.go
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
Labels: Go

pass 10
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Labels: Go

pass 10
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor.go
Labels: Go

pass 10
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Labels: Go

pass 11
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Labels: Go

pass 11
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
Labels: Go

cleanup
  contrib/git-changes-action/go.mod
  contrib/screener-api/go.mod
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/go.mod
  sin-executor/go.sum
  tools/go.mod
Labels: Go

committee updates
  agents/go.mod
  agents/go.sum
  committee/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.sum
Labels: none

reset sum
  agents/go.sum
  committee/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/go.sum
  services/scribe/go.sum
  services/stiprelayer/go.sum
  sin-executor/go.sum
  tools/go.sum
Labels: none

reset mod
  agents/go.mod
  committee/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/release-copier-action/go.mod
  contrib/screener-api/go.mod
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/tfcore/go.mod
  core/go.mod
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/stiprelayer/go.mod
  sin-executor/go.mod
  tools/go.mod
Labels: none

Execution Service Consolidation (#2125) (#2127)
  committee/node/node.go
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  sin-executor/Makefile
  sin-executor/cmd/commands.go
  sin-executor/config/config.go
  sin-executor/contracts/executionservice/eventtype_string.go
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/executionservice/executionservice.metadata.go
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/executionservice/helpers.go
  sin-executor/contracts/executionservice/parser.go
  sin-executor/contracts/executionservice/topics.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/generate.go
  sin-executor/contracts/mocks/executionservicemock/helpers.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.metadata.go
  sin-executor/contracts/mocks/gasoraclemock/generate.go
  sin-executor/contracts/mocks/gasoraclemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
Labels: Go

Execution Service Consolidation (#2125) (#2127) (#2128)
  committee/node/node.go
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  sin-executor/Makefile
  sin-executor/cmd/commands.go
  sin-executor/config/config.go
  sin-executor/contracts/executionservice/eventtype_string.go
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/executionservice/executionservice.metadata.go
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/executionservice/helpers.go
  sin-executor/contracts/executionservice/parser.go
  sin-executor/contracts/executionservice/topics.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/generate.go
  sin-executor/contracts/mocks/executionservicemock/helpers.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.metadata.go
  sin-executor/contracts/mocks/gasoraclemock/generate.go
  sin-executor/contracts/mocks/gasoraclemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
Labels: Go

Fix: add missing unit tests for LockingProcessor (partly failing)
  packages/contracts-interchain/test/processors/LockingProcessor.t.sol
Labels: none

Fix (L-02): calculateSwap in LockingProcessor
  packages/contracts-interchain/src/processors/AbstractProcessor.sol
  packages/contracts-interchain/src/processors/LockingProcessor.sol
Labels: none

Feat: move listener to ethergo/chain/listener package
  ethergo/chain/listener/doc.go
  ethergo/chain/listener/export_test.go
  ethergo/chain/listener/listener.go
  ethergo/chain/listener/listener_test.go
  ethergo/chain/listener/suite_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/service/relayer.go
Labels: Go

Cleanup: lints
  ethergo/chain/listener/listener.go
  ethergo/chain/listener/listener_test.go
Labels: Go

update db
  ethergo/chain/listener/db/service.go
  ethergo/chain/listener/db/store.go
  ethergo/chain/listener/export_test.go
  ethergo/chain/listener/listener.go
  ethergo/chain/listener/suite_test.go
  services/rfq/relayer/reldb/base/block.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
Labels: Go

add icon fix to synapse-interface package
  packages/synapse-interface/assets/icons/klay.svg
Labels: M-synapse-interface

Fe/klay icon fix (#2130)
  packages/synapse-interface/assets/icons/klay.svg
Labels: M-synapse-interface

Fe/klay icon fix (#2130)
  packages/synapse-interface/assets/icons/klay.svg
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface
