Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

regenerate agents
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

clarify use of bitmasks in SystemContract (#275)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

clarify use of bitmasks in SystemContract (#275)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

checkpoint before i change a few things
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/node/suite_test.go
  services/scribe/node/scribe.go
Labels: Go

backfill, cmd, tests almost complete
  services/explorer/cmd/cmd.go
  services/explorer/cmd/commands.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/node/suite_test.go
  services/scribe/cmd/commands.go
  services/scribe/node/scribe.go
Labels: Go

lint
  services/explorer/consumer/node/explorer_test.go
  services/scribe/node/scribe.go
Labels: Go

tests and structure completed
  services/explorer/cmd/commands.go
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/node/suite_test.go
  services/explorer/contracts/bridgeconfig/bridgeconfig.abigen.go
Labels: Go

add typedmemview
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

clarify typed memview memry layout
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fixing tests, fixing scribe, adding last block functionality
  services/explorer/api/resolver_test.go
  services/explorer/api/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/config/chain.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/node/suite_test.go
  services/explorer/contracts/bridgeconfig/bridgeconfig.abigen.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/node/scribe.go
Labels: Go

clarify leftMask assembly
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

cleanup
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

Clarify Memview Implementation (#278)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Clarify Memview Implementation (#278)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

tests: tip validation (broken atm)
  packages/contracts-core/test/Origin.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: tips validation in dispatch()
  packages/contracts-core/contracts/Origin.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

tests: adjust revert strings
  packages/contracts-core/test/Origin.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

config tests
  services/explorer/config/chain.go
  services/explorer/config/chain_test.go
  services/explorer/config/config.go
  services/explorer/config/config_test.go
  services/explorer/config/err.go
  services/explorer/config/suite_test.go
  services/explorer/consumer/node/explorer_test.go
  services/scribe/config/config.go
Labels: Go

set fuzz runs to 2000
  packages/contracts-core/foundry.toml
Labels: 2-reviewers, M-contracts

tests: exclude calls from a proxy admin
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

little things
  services/explorer/cmd/commands.go
  services/explorer/cmd/generate.go
  services/explorer/config/config.go
  services/explorer/go.mod
  services/explorer/go.sum
Labels: Go

scribe test issue
  services/explorer/api/suite_test.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/node/explorer_test.go
  services/scribe/api/data_test.go
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

tip validation
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

fixing scribe get sender, adding tests for get sender.
  services/explorer/api/server.go
  services/explorer/cmd/commands.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/parser.go
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

explorer working
  services/explorer/config/chain.go
  services/explorer/consumer/backfill/chain.go
Labels: Go

adding fixes
  agents/go.mod
  agents/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/api/data_test.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

clickhouse edit + passing tests + lint + gen
  services/explorer/config.yaml
  services/explorer/config/chain_test.go
  services/explorer/config/config_test.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
  services/explorer/go.mod
  services/explorer/go.sum
Labels: Go

gen/tests/lint
  agents/go.mod
  ethergo/go.mod
  go.work.sum
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/go.sum
  services/scribe/api/data_test.go
  services/scribe/go.sum
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

lint
  services/explorer/api/server.go
Labels: Go

agent lint
  agents/go.sum
Labels: none

go gen stuff
  services/omnirpc/go.sum
Labels: none

Scribe quick fixes to resolvers (#285)
  agents/go.mod
  agents/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Labels: Go

Scribe quick fixes to resolvers (#285)
  agents/go.mod
  agents/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Labels: Go

fixes mathieudutour/github-tag-action#126
  .github/workflows/goreleaser.yml
Labels: none

fixes mathieudutour/github-tag-action#126 (#286)
  .github/workflows/goreleaser.yml
Labels: none

fixes mathieudutour/github-tag-action#126 (#286)
  .github/workflows/goreleaser.yml
Labels: none

clarify use of enums in OriginHub
  packages/contracts-core/contracts/hubs/OriginHub.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

init
  services/scribe/api/data_test.go
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

api tests
  services/explorer/api/resolver_test.go
  services/explorer/api/suite_test.go
Labels: Go

reformat query method, expose new endpoints to scribe, and update test
  services/explorer/config.yaml
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/config/config_test.go
  services/explorer/config/contract.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/node/suite_test.go
  services/scribe/api/data_test.go
  services/scribe/config/config.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
