Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

feat(InterchainClientV1): add options param for gas limit & airdrop settings
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Remove address/bytes32 to conversions in place of TypeCasts lib
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

onylOwner setLinkedClient
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

remove unused function argument interchainExecute()
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

executor
  committee/node/node.go
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/package.json
  sin-executor/config/config.go
  sin-executor/contracts/interchainclient/eventtype_string.go
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchainclient/parser.go
  sin-executor/contracts/interchainclient/topics.go
  sin-executor/contracts/mocks/interchainappmock/generate.go
  sin-executor/contracts/mocks/interchainappmock/helpers.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.abigen.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.contractinfo.json
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.metadata.go
  sin-executor/contracts/mocks/interchainmodulemock/generate.go
  sin-executor/contracts/mocks/interchainmodulemock/helpers.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.metadata.go
  sin-executor/db/base/model.go
  sin-executor/db/base/store.go
  sin-executor/db/base/transaction.go
  sin-executor/db/db.go
  sin-executor/db/executablestatus_string.go
  sin-executor/db/model.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: Go

remove todo for gas limit
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

comments
  packages/contracts-communication/contracts/libs/Options.sol
Labels: none

comments
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Interchain: execution options (gas limit, gas airdrop, etc) (#2056)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: none

up
  sin-executor/db/base/transaction.go
Labels: Go

Adjust options native drop to include array of receipients + amounts
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: none

Remove unused V1 Options
  packages/contracts-communication/contracts/libs/Options.sol
Labels: none

Transfer gas based on NativeDrops[] parameters in options
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

add InterchainClientV1 Harness for internal tests
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

fix susd
  packages/synapse-interface/assets/icons/susd.svg
Labels: M-synapse-interface

remove loader
  packages/synapse-interface/components/ui/tailwind/LoadingInfinity.tsx
Labels: M-synapse-interface

fireing toasts in main render thread muy malo
  packages/synapse-interface/components/bridgeSwap/GenericOutputContainer.tsx
  packages/synapse-interface/pages/stake/index.tsx
Labels: M-synapse-interface

make loading animation in sync w. debounce
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
Labels: M-synapse-interface

waiting full second wayyyyy too long lol
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
Labels: M-synapse-interface

springClass no longer needed
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

springClass no longer needed
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

make sure settings overlay takes full height
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/components/bridgeSwap/OverlayTransition.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

make sure display goes till edge
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
Labels: M-synapse-interface

minor icon tweak
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

should rly move the hover content things to seperate loc
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/components/HoverTokenAndBalance.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenVisualizer.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
Labels: M-synapse-interface

make ChainTokens single component to display balances on hover over chain icon
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/components/ChainTokens.tsx
  packages/synapse-interface/components/Portfolio/components/HoverContent.tsx
  packages/synapse-interface/components/Portfolio/components/HoverTokenAndBalance.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
Labels: M-synapse-interface

push
  packages/synapse-interface/components/Portfolio/components/ChainTokens.tsx
Labels: M-synapse-interface

so many
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/ConnectionIndicators.tsx
  packages/synapse-interface/components/Pools/PoolCard/PoolHeader.tsx
  packages/synapse-interface/components/Portfolio/components/ConnectWalletButton.tsx
  packages/synapse-interface/components/Wallet.tsx
Labels: M-synapse-interface

kk
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/icons/TransactionArrow.tsx
Labels: M-synapse-interface

hm
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
Labels: M-synapse-interface

low hangin fruit tiny perf improvement. i have a dream thats all i need
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

meant to remove those...
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

monkecache
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
  packages/sdk-router/tsconfig.json
Labels: none

initial cache hydration (should prob make optional)
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

forgot hydration on rfq
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
Labels: none

Add min ARB transfer to the config
  services/stiprelayer/stipconfig/config.go
Labels: Go

Add minAmount check
  services/stiprelayer/relayer/relayer.go
Labels: Go

Add tests for destination chain
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Destination.t.sol
Labels: none

Don't use infinity as default threshold
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Management.t.sol
Labels: none

Check source chain id in any InterchainModule
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none
