Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

Enforce Non-Compact ECDSA Signatures in TypedMemViews (#293)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/contracts/libs/Auth.sol
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/test/libs/Report.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

update pragma versions in config
  .prettierrc.js
  .vscode/settings.json
  packages/contracts-core/hardhat.config.ts
Labels: 2-reviewers, M-contracts

update pragma version in agents
  agents/contracts/attestationcollector/generate.go
  agents/contracts/destination/generate.go
  agents/contracts/notarymanager/generate.go
  agents/contracts/origin/generate.go
  agents/contracts/test/attestationharness/generate.go
  agents/contracts/test/destinationharness/generate.go
  agents/contracts/test/headerharness/generate.go
  agents/contracts/test/messageharness/generate.go
  agents/contracts/test/originharness/generate.go
  agents/contracts/test/tipsharness/generate.go
  services/scribe/testutil/testcontract/generate.go
Labels: Go

update pragma vesrion in scribe (test contract)
  services/scribe/testutil/testcontract/contract/TestContract.sol
  tools/abigen/internal/generate_test.go
Labels: Go

regenerate agents
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

regenerate scribe
  services/scribe/testutil/testcontract/testcontract.abigen.go
  services/scribe/testutil/testcontract/testcontract.contractinfo.json
Labels: Go

improve comments
  packages/contracts-core/contracts/libs/Merkle.sol
  packages/contracts-core/test/libs/Merkle.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

MiniMerkle
  packages/contracts-core/contracts/libs/MiniMerkle.sol
  packages/contracts-core/test/libs/MiniMerkle.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

new updates
  core/metrics/datadog.go
  core/metrics/global.go
  core/metrics/helper.go
  core/metrics/metrics.go
  core/metrics/metrics_test.go
  core/metrics/newrelic.go
  core/metrics/null.go
  services/omnirpc/cmd/cmd.go
  services/omnirpc/proxy/server.go
  services/omnirpc/rpcinfo/latency.go
Labels: Go

add Mini versions of Merkle, Proof Generator, manual proofs for branchRot
  packages/contracts-core/contracts/libs/MiniMerkle.sol
  packages/contracts-core/test/libs/MiniMerkle.t.sol
  packages/contracts-core/test/utils/MiniProofGenerator.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: use correct cast in tips getters
  packages/contracts-core/contracts/libs/Tips.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: add future TODO
  packages/contracts-core/contracts/libs/Tips.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate agents
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

header retrieval
  services/scribe/backfill/chain.go
Labels: Go

Fixing scribe earliest block + exposing log count query (#292)
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/api/data_test.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/datastore/sql/mysql/store.go
  services/scribe/db/event.go
  services/scribe/db/log_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

Fixing scribe earliest block + exposing log count query (#292)
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/api/data_test.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/datastore/sql/mysql/store.go
  services/scribe/db/event.go
  services/scribe/db/log_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

Fix: getters in Tips libraries (#295)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
  packages/contracts-core/contracts/libs/Tips.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Fix: getters in Tips libraries (#295)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
  packages/contracts-core/contracts/libs/Tips.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

fix: check Report Flag
  packages/contracts-core/contracts/libs/Report.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: change Flag.Last to type(Flag).max
  packages/contracts-core/contracts/libs/SystemMessage.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: add future TODO
  packages/contracts-core/contracts/libs/SystemMessage.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

retry on defillama
  services/explorer/consumer/utils.go
Labels: Go

test failure
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
Labels: Go

regenerate agents
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

Mini Proof Gen -> testBranchRootAutomatedProof
  packages/contracts-core/test/libs/MiniMerkle.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: use type(Parts).max instead of PARTS_LAST
  packages/contracts-core/contracts/libs/Message.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate agents (again)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

min max for last first block time
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

add livefill to cli
  services/scribe/cmd/cmd.go
  services/scribe/cmd/commands.go
Labels: Go

lint
  services/scribe/cmd/commands.go
Labels: Go

add livefill to cli (#299)
  services/scribe/cmd/cmd.go
  services/scribe/cmd/commands.go
Labels: Go

add livefill to cli (#299)
  services/scribe/cmd/cmd.go
  services/scribe/cmd/commands.go
Labels: Go

stash
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/db/datastore/sql/base/blocktime.go
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/datastore/sql/base/model.go
Labels: Go

successful testing
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/db/lastblocktime_test.go
Labels: Go

creating a new query to see number of block times + adding tests for that
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/api/data_test.go
  services/scribe/config.yaml
  services/scribe/db/blocktime_test.go
  services/scribe/db/datastore/sql/base/blocktime.go
  services/scribe/db/event.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

v3 prefix
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

Delete config.yaml
  services/scribe/config.yaml
Labels: none

fix: Message Body type
  packages/contracts-core/contracts/libs/Message.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: NatSpec fix
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: split a long comment line
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
