Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

chore: decorators, docs
  packages/contracts-core/contracts/Destination.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: Destination storage
  packages/contracts-core/contracts/Destination.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: reorder funcs, external visibility
  packages/contracts-core/contracts/Destination.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: explicit todo
  packages/contracts-core/contracts/Destination.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: more func reordering, docs
  packages/contracts-core/contracts/Destination.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate go
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
Labels: Go

fix: adapt to destination.initialize changes
  agents/testutil/deployers.go
Labels: Go

regenerate contracts (again)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
Labels: Go

fix: use function that actually exists
  agents/testutil/deployers.go
Labels: Go

lotsa stuff
  services/explorer/api/data_test.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/explorer/consumer/parser.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/writer.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

try to fix merge
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
Labels: Go

fix?
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

chore: reentrancy guard renaming/docs
  packages/contracts-core/contracts/Destination.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

feat: store root used for proving executed msgs
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/test/Destination.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

base commit. centralizing parsing, adding price/fee, symbol getters
  services/explorer/api/data_test.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/parser.go
  services/explorer/consumer/parser_test.go
  services/explorer/consumer/tokenIDToCoinGeckoID.yaml
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
  services/explorer/db/writer_test.go
Labels: Go

yaml
  services/explorer/consumer/tokenIDToCoinGeckoID.yaml
Labels: none

regenerate contracts (yet again)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
Labels: Go

staging
  services/explorer/api/data_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

working tests for latest
  services/explorer/api/data_test.go
  services/explorer/api/server.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

lint
  services/explorer/api/data_test.go
  services/explorer/consumer/parser.go
  services/explorer/consumer/parser_test.go
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

uncomment tests
  services/explorer/api/data_test.go
Labels: Go

clean run
  services/explorer/api/data_test.go
  services/explorer/api/suite_test.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

fix api type
  services/explorer/api/data_test.go
  services/explorer/api/suite_test.go
Labels: Go

staging for other queries
  services/explorer/api/data_test.go
Labels: Go

planning
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

fixing file load flake + complexity/lint
  .golangci.yml
  services/explorer/consumer/parser.go
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

scribe lint
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

scribe lint
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

init + add timestamp + nuke csv
  services/explorer/consumer/parser.go
  services/explorer/db/sql/model.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/queries.graphql
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: Go

extend clickhouse lifetime + remove comments
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
  services/explorer/testutil/clickhouse/clickhouse.go
Labels: Go

pre-test
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/schema/queries.graphql
Labels: Go

test and historical query done
  services/explorer/api/data_test.go
  services/explorer/consumer/parser.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/schema/queries.graphql
Labels: Go

adding catches for veSOLAR and JUMP
  services/explorer/consumer/utils.go
Labels: Go

addressing comments on PR #242
  services/explorer/consumer/fetcher.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

comments
  services/explorer/api/data_test.go
  services/explorer/consumer/parser.go
  services/explorer/db/sql/model.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

fix
  services/explorer/consumer/parser.go
Labels: Go

add sender
  services/explorer/consumer/parser.go
Labels: Go

fix fr
  services/explorer/consumer/parser.go
Labels: Go

test upterm session
  .github/workflows/go.yml
Labels: none

timeout
  services/explorer/testutil/clickhouse/clickhouse.go
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
