Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

fix slither warnings
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/Origin.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: send() -> sendMessage()
  packages/contracts-core/test/SynapseClient.t.sol
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
  packages/contracts-core/test/harnesses/SynapseClientHarness.sol
  packages/contracts-core/test/harnesses/SynapseClientUpgradeableHarness.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

implement replacing merge tree, more testing
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
  services/explorer/db/writer_test.go
Labels: Go

gen
  services/explorer/db/mocks/consumer_db.go
Labels: Go

fix: return values for add/remove notary
  packages/contracts-core/contracts/AttestationCollector.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

lint + skeleton of livefill
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/node/explorer.go
  services/explorer/db/writer_test.go
Labels: Go

regenerate contracts
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

store last block/prune node explorer
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/node/explorer.go
Labels: Go

backends
  services/explorer/config/chain.go
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/node/explorer.go
Labels: Go

fix: add missing GlobalNotaryRegistry views
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

stash
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/node/suite_test.go
Labels: Go

regenerate contracts
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
Labels: Go

update renovate config
  .github/renovate.json
  .github/workflows/lint.yml
  .github/workflows/shell.yml
  CODEOWNERS
Labels: none

0 stability days for oz
  .github/renovate.json
Labels: none

fix yaml
  .github/workflows/lint.yml
Labels: none

coverage
  .codecov.yml
  .github/workflows/lint.yml
Labels: none

disable org
  .github/workflows/lint.yml
Labels: none

cleanup
  CODEOWNERS
Labels: none

upterm
  .github/workflows/lint.yml
Labels: none

up cleanup
  .github/workflows/lint.yml
Labels: none

upterm
  .github/workflows/lint.yml
Labels: none

lintup
  .github/workflows/lint.yml
Labels: none

cleanup
  CODEOWNERS
Labels: none

more cleanpu
  .github/workflows/lint.yml
  CODEOWNERS
Labels: none

owner
  CODEOWNERS
Labels: none

owner fix
  CODEOWNERS
Labels: none

cleanup
  .github/workflows/lint.yml
Labels: none

skip
  .github/workflows/lint.yml
Labels: none

-a
  .github/workflows/lint.yml
Labels: none

skip
  .github/workflows/lint.yml
Labels: none

less verbose
  CODEOWNERS
Labels: none

globals
  CODEOWNERS
Labels: none

update renovate config (#258)
  .codecov.yml
  .github/renovate.json
  .github/workflows/lint.yml
  .github/workflows/shell.yml
  CODEOWNERS
Labels: none

update renovate config (#258)
  .codecov.yml
  .github/renovate.json
  .github/workflows/lint.yml
  .github/workflows/shell.yml
  CODEOWNERS
Labels: none

fix renovate warning
  .github/renovate.json
  .github/workflows/lint.yml
Labels: none

fix renovate warning (#261)
  .github/renovate.json
  .github/workflows/lint.yml
Labels: none

fix renovate warning (#261)
  .github/renovate.json
  .github/workflows/lint.yml
Labels: none

addressing comments + add CallReverted event
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/parser.go
  services/explorer/contracts/message/sendreceive.go
  services/explorer/contracts/message/testmessage/contract/TestMessageBusUpgradeable.sol
  services/explorer/contracts/message/testmessage/testmessage.abigen.go
  services/explorer/contracts/message/testmessage/testmessage.contractinfo.json
  services/explorer/contracts/message/topics.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/writer.go
  services/explorer/db/writer_test.go
  services/explorer/types/message/event.go
  services/explorer/types/message/eventtype.go
  services/explorer/types/message/eventtype_string.go
Labels: Go

todos
  services/explorer/consumer/node/explorer_test.go
Labels: Go

clarify use of bitmasks in SystemContract
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical
