Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Add missing scripts to package.json
  packages/contracts-interchain/package.json
Labels: none

Fix: check for testDone in explorer tests
  services/explorer/api/suite_test.go
Labels: Go

Removes switch on chain select change (#2003)
  packages/widget/src/components/Widget.tsx
Labels: none

Removes switch on chain select change (#2003)
  packages/widget/src/components/Widget.tsx
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Remove list item marker
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
Labels: M-synapse-interface

DFK theme gradient button
  packages/widget/examples/landing-page/src/app/page.tsx
Labels: none

Add token price fetching to RFQ FeePricer (#1954)
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/fetcher.go
  services/rfq/relayer/pricer/mocks/coingecko_price_fetcher.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: Go

Add token price fetching to RFQ FeePricer (#1954)
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/fetcher.go
  services/rfq/relayer/pricer/mocks/coingecko_price_fetcher.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: Go

README custom theme additional content
  packages/widget/README.md
Labels: none

Feat: add DynamicGasEstimate to relconfig
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Feat: add getGasEstimateFromClient helper
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

Feat: add arbitrum support to getGasEstimateFromClient
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

landing page and readme updates
  packages/widget/examples/landing-page/src/components/Appearance.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/Instructions.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/examples/landing-page/src/styles/globals.css
Labels: none

landing page style tweaks
  packages/widget/examples/landing-page/src/styles/globals.css
Labels: none

Widget/landing page improvements (#2004)
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/Appearance.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/Instructions.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/examples/landing-page/src/styles/globals.css
Labels: none

Widget/landing page improvements (#2004)
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/Appearance.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/Instructions.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/examples/landing-page/src/styles/globals.css
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Updates pngs
  packages/widget/images/blue.png
  packages/widget/images/dark.png
  packages/widget/images/light.png
Labels: none

Updates pngs (#2005)
  packages/widget/images/blue.png
  packages/widget/images/dark.png
  packages/widget/images/light.png
Labels: none

Updates pngs (#2005)
  packages/widget/images/blue.png
  packages/widget/images/dark.png
  packages/widget/images/light.png
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Updates README, typing
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
Labels: none

update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2007)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2007)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2009)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2009)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Fix spelling
  packages/sdk-router/puml/BridgingWorkflowSimplified.png
  packages/sdk-router/puml/bridging_simple.puml
Labels: none

Don't use any public Arbitrum nodes for testing
  packages/sdk-router/src/constants/testProviders.ts
Labels: none

Updates README, typing (#2006)
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
Labels: none

Updates README, typing (#2006)
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none
