Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Cleanup: remove unnecessary errgroup
  ethergo/chain/listener/listener.go
Labels: Go

Basic Address Input
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Detect if input is valid address
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Click on Input to trigger warning
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

DestinationInputWarning to handle accept/reject warning
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Init new package
  packages/solidity-devops/README.md
  packages/solidity-devops/package.json
Labels: none

Install forge-std, ds-test as npm packages
  package.json
  packages/solidity-devops/package.json
  packages/solidity-devops/remappings.txt
  yarn.lock
Labels: none

Add library to deal with strings
  packages/solidity-devops/foundry.toml
  packages/solidity-devops/src/libs/StringUtils.sol
  packages/solidity-devops/test/harnesses/StringUtilsHarness.sol
  packages/solidity-devops/test/libs/StringUtils.t.sol
Labels: none

Move base script templates
  packages/solidity-devops/src/base/ChainAwareness.sol
  packages/solidity-devops/src/base/Logger.sol
  packages/solidity-devops/src/base/PathFinder.sol
Labels: none

Move read/write utils
  packages/solidity-devops/src/reader/ChainAwareReader.sol
  packages/solidity-devops/src/reader/DataReader.sol
  packages/solidity-devops/src/writer/ChainAwareWriter.sol
  packages/solidity-devops/src/writer/DataWriter.sol
Labels: none

Add diff scripts bases for 0.6 and 0.7+ scripts
  packages/solidity-devops/src/SynapseBaseScript.sol
  packages/solidity-devops/src/SynapseScript.sol
  packages/solidity-devops/src/SynapseScript06.sol
  packages/solidity-devops/src/base/Logger.sol
Labels: none

Move deployment utils
  packages/solidity-devops/src/deploy/Deployer.sol
  packages/solidity-devops/src/deploy/DeploymentSaver.sol
Labels: none

Move base script template
  packages/solidity-devops/src/SynapseScript.sol
  packages/solidity-devops/src/SynapseScript06.sol
  packages/solidity-devops/src/base/SynapseBaseScript.sol
Labels: none

Fix natspec tags
  packages/solidity-devops/src/base/Logger.sol
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Add basic utils
  packages/solidity-devops/js/utils/env.js
  packages/solidity-devops/js/utils/utils.js
  packages/solidity-devops/package.json
Labels: none

Specify structure for .env and foundry.toml
  packages/solidity-devops/.env.example
  packages/solidity-devops/foundry.toml
Labels: none

Wallet-specific utils
  packages/solidity-devops/js/utils/wallet.js
Labels: none

Config-related utils
  packages/solidity-devops/js/utils/config.js
  packages/solidity-devops/script/devops.json
Labels: none

Chain-related utils
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/utils.js
Labels: none

Simple logging
  packages/solidity-devops/js/utils/logger.js
Labels: none

More forge-cast utils
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
Labels: none

Isolate options utils, add forge utils
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/forge.js
  packages/solidity-devops/js/utils/options.js
  packages/solidity-devops/js/utils/utils.js
Labels: none

Move run script
  packages/solidity-devops/js/run.js
Labels: none

Fix example config values
  packages/solidity-devops/.env.example
  packages/solidity-devops/foundry.toml
  packages/solidity-devops/script/devops.json
Labels: none

Deployment artifact utils
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/deployments.js
Labels: none

Update .env.example
  packages/solidity-devops/.env.example
Labels: none

Only unlock wallet in broadcasted txs
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/wallet.js
Labels: none

Add example of deployment dir
  packages/solidity-devops/deployments/arbitrum/.chainId
  packages/solidity-devops/deployments/aurora/.chainId
  packages/solidity-devops/deployments/dfk/.chainId
Labels: none

Add .gitignore
  packages/solidity-devops/.gitignore
Labels: none

Update foundry.toml
  packages/solidity-devops/foundry.toml
Labels: none

Change location of `devops.json`
  packages/solidity-devops/devops.json
  packages/solidity-devops/js/utils/config.js
  packages/solidity-devops/src/base/PathFinder.sol
Labels: none

Add example script
  packages/solidity-devops/script/BasicContract.sol
  packages/solidity-devops/script/Script.s.sol
Labels: none

Auto save confirmed deployments
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/deployments.js
Labels: none

Consolidate recommended chain options
  packages/solidity-devops/devops.json
Labels: none

More logging utils
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/js/utils/logger.js
  packages/solidity-devops/package.json
Labels: none

Add "run with a string arg" script
  packages/solidity-devops/js/run-str.js
  packages/solidity-devops/js/run.js
  packages/solidity-devops/script/Script.s.sol
Labels: none

Rework args parsing
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/options.js
Labels: none

Move `logWallet`, add `logCommand`
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/logger.js
  packages/solidity-devops/js/utils/utils.js
Labels: none

Export the scripts
  packages/solidity-devops/package.json
Labels: none
