Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

Add Archive Node Functionality (#250)
  ethergo/backends/geth/config.go
  ethergo/backends/geth/geth_test.go
Labels: Go

Add Archive Node Functionality (#250)
  ethergo/backends/geth/config.go
  ethergo/backends/geth/geth_test.go
Labels: Go

Deploying counter contrat in fork_test.go
  ethergo/forker/fork.go
  ethergo/forker/fork_test.go
Labels: Go

geth
  services/explorer/testutil/newtestenv.go
Labels: Go

Using go embed for forking anvil
  ethergo/forker/fork.go
Labels: Go

Setting up upterm
  .github/workflows/go.yml
Labels: none

Making sure go is setup before upterm
  .github/workflows/go.yml
Labels: none

Fixing lint issues with forker
  ethergo/forker/fork.go
Labels: Go

init
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/datastore/sql/base/receipt.go
  services/scribe/db/datastore/sql/base/transaction.go
  services/scribe/db/log_test.go
  services/scribe/db/pagination_test.go
  services/scribe/db/receipt_test.go
Labels: Go

desc
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/receipt.go
  services/scribe/db/receipt_test.go
Labels: Go

adding transaction index to ethtx + sort
  services/scribe/api/data_test.go
  services/scribe/api/resolver_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/datastore/sql/base/receipt.go
  services/scribe/db/datastore/sql/base/transaction.go
  services/scribe/db/event.go
  services/scribe/db/mocks/event_db.go
  services/scribe/db/transaction_test.go
Labels: Go

remove fetcher test safety net, query by block num
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher.go
Labels: Go

Scribe SQL indexes (#251)
  services/scribe/api/data_test.go
  services/scribe/api/resolver_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/datastore/sql/base/receipt.go
  services/scribe/db/datastore/sql/base/transaction.go
  services/scribe/db/event.go
  services/scribe/db/log_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/db/pagination_test.go
  services/scribe/db/receipt_test.go
  services/scribe/db/transaction_test.go
Labels: Go

WIP: live fill for explorer
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/config/config_test.go
  services/explorer/config/doc.go
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/node/doc.go
  services/explorer/consumer/node/explorer.go
Labels: Go

fixes go generate issue from #225
  services/explorer/go.mod
  services/explorer/go.sum
Labels: none

cover
  tools/cover/README.md
  tools/cover/cmd/main.go
  tools/cover/main.go
  tools/cover/parser/doc.go
  tools/cover/parser/parser.go
Labels: Go

added lastBlock
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/config/doc.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/node/explorer.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/writer.go
Labels: Go

stash
  services/explorer/contracts/messaging/generate.go
  services/explorer/contracts/messaging/helpers.go
  services/explorer/external/flattened-contracts/MessageBusUpgradeable_flat.sol
Labels: Go

delete test
  ethergo/forker/fork.go
Labels: Go

Fixing lint errors with fork.go
  .github/workflows/go.yml
  ethergo/backends/base/mocks/confirmation_client.go
  ethergo/chain/chainwatcher/mocks/block_height_watcher.go
  ethergo/chain/client/mocks/evm_client.go
  ethergo/chain/client/mocks/metered_evm_client.go
  ethergo/chain/client/mocks/permitter.go
  ethergo/chain/client/near/signer_gen.go
  ethergo/chain/gas/backend/mocks/oracle_backend_chain.go
  ethergo/chain/mocks/chain.go
  ethergo/example/counter/counter.sol
  ethergo/forker/fork.go
  ethergo/signer/signer/kmssigner/kmsmock/internal/seed_gen.go
  ethergo/signer/signer/mocks/signer.go
Labels: Go

deleted comment
  ethergo/forker/fork.go
Labels: Go

add forker
  .github/workflows/go.yml
  ethergo/backends/base/mocks/confirmation_client.go
  ethergo/chain/chainwatcher/mocks/block_height_watcher.go
  ethergo/chain/client/mocks/evm_client.go
  ethergo/chain/client/mocks/metered_evm_client.go
  ethergo/chain/client/mocks/permitter.go
  ethergo/chain/client/near/signer_gen.go
  ethergo/chain/gas/backend/mocks/oracle_backend_chain.go
  ethergo/chain/mocks/chain.go
  ethergo/example/counter/counter.sol
  ethergo/forker/doc.go
  ethergo/forker/fork.go
  ethergo/forker/fork_test.go
  ethergo/forker/logger.go
  ethergo/forker/suite_test.go
  ethergo/signer/signer/kmssigner/kmsmock/internal/seed_gen.go
  ethergo/signer/signer/mocks/signer.go
Labels: Go

Adding back counter.sol
  ethergo/example/counter/counter.sol
Labels: none

Adding ability to fork EVM blockchain to do things like test transactions (#254)
  .github/workflows/go.yml
  ethergo/backends/base/mocks/confirmation_client.go
  ethergo/chain/chainwatcher/mocks/block_height_watcher.go
  ethergo/chain/client/mocks/evm_client.go
  ethergo/chain/client/mocks/metered_evm_client.go
  ethergo/chain/client/mocks/permitter.go
  ethergo/chain/client/near/signer_gen.go
  ethergo/chain/gas/backend/mocks/oracle_backend_chain.go
  ethergo/chain/mocks/chain.go
  ethergo/forker/doc.go
  ethergo/forker/fork.go
  ethergo/forker/fork_test.go
  ethergo/forker/logger.go
  ethergo/forker/suite_test.go
  ethergo/signer/signer/kmssigner/kmsmock/internal/seed_gen.go
  ethergo/signer/signer/mocks/signer.go
Labels: Go

Adding ability to fork EVM blockchain to do things like test transactions (#254)
  .github/workflows/go.yml
  ethergo/backends/base/mocks/confirmation_client.go
  ethergo/chain/chainwatcher/mocks/block_height_watcher.go
  ethergo/chain/client/mocks/evm_client.go
  ethergo/chain/client/mocks/metered_evm_client.go
  ethergo/chain/client/mocks/permitter.go
  ethergo/chain/client/near/signer_gen.go
  ethergo/chain/gas/backend/mocks/oracle_backend_chain.go
  ethergo/chain/mocks/chain.go
  ethergo/forker/doc.go
  ethergo/forker/fork.go
  ethergo/forker/fork_test.go
  ethergo/forker/logger.go
  ethergo/forker/suite_test.go
  ethergo/signer/signer/kmssigner/kmsmock/internal/seed_gen.go
  ethergo/signer/signer/mocks/signer.go
Labels: Go

abigen
  services/explorer/contracts/messaging/generate.go
  services/explorer/contracts/messaging/helpers.go
  services/explorer/contracts/messaging/messaging.abigen.go
  services/explorer/contracts/messaging/messaging.contractinfo.json
  services/explorer/contracts/messaging/messaging.metadata.go
  services/explorer/external/flattened-contracts/MessageBusUpgradeable_flat.sol
  services/explorer/go.mod
  services/explorer/go.sum
Labels: Go

test infra
  services/explorer/contracts/message/generate.go
  services/explorer/contracts/message/helpers.go
  services/explorer/contracts/message/message.abigen.go
  services/explorer/contracts/message/message.contractinfo.json
  services/explorer/contracts/message/message.metadata.go
  services/explorer/contracts/messaging/generate.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
Labels: Go

test contracts + event types
  services/explorer/contracts/message/helpers.go
  services/explorer/contracts/message/testmessage/contract/TestMessageBusUpgradeable.sol
  services/explorer/contracts/message/testmessage/doc.go
  services/explorer/contracts/message/testmessage/generate.go
  services/explorer/contracts/message/testmessage/helpers.go
  services/explorer/contracts/message/testmessage/testmessage.abigen.go
  services/explorer/contracts/message/testmessage/testmessage.contractinfo.json
  services/explorer/contracts/message/testmessage/testmessage.metadata.go
  services/explorer/testutil/contract_test.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
  services/explorer/types/message/doc.go
  services/explorer/types/message/event.go
  services/explorer/types/message/eventtype.go
  services/explorer/types/message/eventtype_string.go
Labels: Go

test contract infra
  services/explorer/contracts/message/testmessage/helpers.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/manager.go
  services/explorer/testutil/testcontracts/typecast.go
Labels: Go

store
  services/explorer/db/sql/model.go
  services/explorer/db/sql/store.go
  services/explorer/types/message/event.go
Labels: Go

db, write, store, with passing test
  services/explorer/consumer/parser.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/writer.go
  services/explorer/db/writer_test.go
Labels: Go

fixes go generate issue from #225 (#252)
  services/explorer/go.mod
  services/explorer/go.sum
Labels: none

fixes go generate issue from #225 (#252)
  services/explorer/go.mod
  services/explorer/go.sum
Labels: none

parsing
  services/explorer/consumer/parser.go
  services/explorer/contracts/message/sendreceive.go
  services/explorer/contracts/message/topics.go
  services/explorer/db/sql/model.go
  services/explorer/db/writer_test.go
  services/explorer/types/message/event.go
Labels: Go

backfill/parsing full test, added tests to test contracts testutils
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/parser.go
  services/explorer/contracts/message/sendreceive.go
  services/explorer/contracts/message/topics.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/model.go
  services/explorer/db/writer_test.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/testcontracts/contract_test.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/contracttypeimpl_string.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/suite_test.go
  services/explorer/testutil/testcontracts/typecast.go
  services/explorer/testutil/testcontracts/typecast_test.go
  services/explorer/types/message/event.go
Labels: Go

get tests passing + block height
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/go.mod
  services/explorer/go.sum
Labels: Go

making block write work, making block read work, verifying with new test
  services/explorer/consumer/backfill/explorer.go
  services/explorer/consumer/node/explorer.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
  services/explorer/db/writer_test.go
Labels: Go

solhint: globs, constructors visibility
  packages/contracts-core/.solhint.json
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

fix/hush linter warnings
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/NotaryManager.sol
  packages/contracts-core/contracts/client/SynapseClient.sol
  packages/contracts-core/contracts/client/SynapseClientUpgradeable.sol
  packages/contracts-core/contracts/libs/Merkle.sol
  packages/contracts-core/contracts/libs/TypedMemView.sol
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
  packages/contracts-core/contracts/system/SystemContract.sol
  packages/contracts-core/contracts/upgrade/UpgradeBeacon.sol
  packages/contracts-core/contracts/upgrade/UpgradeBeaconController.sol
  packages/contracts-core/contracts/upgrade/UpgradeBeaconProxy.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/Destination.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/NotaryManager.t.sol
  packages/contracts-core/test/Origin.t.sol
  packages/contracts-core/test/OriginGasGolf.t.sol
  packages/contracts-core/test/SynapseClient.t.sol
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
  packages/contracts-core/test/SystemRouter.t.sol
  packages/contracts-core/test/harnesses/AppHarness.sol
  packages/contracts-core/test/harnesses/GlobalNotaryRegistryHarness.sol
  packages/contracts-core/test/harnesses/OriginHarness.sol
  packages/contracts-core/test/harnesses/SynapseClientHarness.sol
  packages/contracts-core/test/harnesses/SynapseClientUpgradeableHarness.sol
  packages/contracts-core/test/harnesses/SystemRouterHarness.sol
  packages/contracts-core/test/libs/SystemMessage.t.sol
  packages/contracts-core/test/libs/TypedMemView.t.sol
  packages/contracts-core/test/utils/SynapseTest.sol
  packages/contracts-core/test/utils/Utilities.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

nuke Mirror library
  packages/contracts-core/contracts/libs/Mirror.sol
  packages/contracts-core/test/Destination.t.sol
  packages/contracts-core/test/harnesses/DestinationHarness.sol
  packages/contracts-core/test/libs/Mirror.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
