Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

this useEffect does liternally nothing but cause excess rerender
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/stake/index.tsx
Labels: M-synapse-interface

so many unused/extra calls/ state scattered everywhere
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
Labels: M-synapse-interface

so many...
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
Labels: M-synapse-interface

more unused, also need to merge SMB/components & SMS/components since seemingly identitical
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
Labels: M-synapse-interface

files identical lol
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/SearchResults.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SearchResults.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/components/CloseButton.tsx
  packages/synapse-interface/components/buttons/CloseButton.tsx
Labels: M-synapse-interface

rm more unused files monke wrote yrs ago
  packages/synapse-interface/utils/matchSymbolWithinPool.ts
Labels: M-synapse-interface

...
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/landing/sections/BridgeSection.tsx
  packages/synapse-interface/pages/landing/sections/ExplorerSection.tsx
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/HowItWorksSection.tsx
  packages/synapse-interface/pages/landing/sections/IntegrationSection.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
  packages/synapse-interface/pages/landing/sections/SecuritySection.tsx
  packages/synapse-interface/pages/landing/sections/UseCasesSection.tsx
  packages/synapse-interface/utils/displaySymbol.ts
Labels: M-synapse-interface

remove literal duplicate
  packages/synapse-interface/utils/hooks/useDebounce.ts
Labels: M-synapse-interface

remove more unused files
  packages/synapse-interface/constants/fees.ts
Labels: M-synapse-interface

remove duplicate & unused
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/swap.ts
Labels: M-synapse-interface

remove bunch of unused abis from legacy contracts
  packages/synapse-interface/constants/abis/anyswapRouter.json
  packages/synapse-interface/constants/abis/avaxClaim.json
  packages/synapse-interface/constants/abis/bridgeZap.json
  packages/synapse-interface/constants/abis/l1bridgezap.json
  packages/synapse-interface/constants/abis/l2bridgezap.json
  packages/synapse-interface/constants/abis/metaBridgeZap.json
  packages/synapse-interface/constants/abis/metaSwap.json
  packages/synapse-interface/constants/abis/metaSwapDeposit.json
  packages/synapse-interface/constants/abis/migratorBridgeZap.json
  packages/synapse-interface/constants/abis/multicall2.json
  packages/synapse-interface/constants/abis/oldSwap.json
Labels: M-synapse-interface

remove more unused abis (since appears generated programmatically in scripts/abi)
  packages/synapse-interface/constants/abis/ensPublicResolver.json
  packages/synapse-interface/constants/abis/ensRegistrar.json
  packages/synapse-interface/constants/abis/synapseBridge.json
  packages/synapse-interface/constants/abis/synapseCCTP.json
  packages/synapse-interface/constants/abis/tokenDistributor.json
Labels: M-synapse-interface

init synapsemodule
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

forge install: openzeppelin-contracts
  .gitmodules
Labels: none

successful flow synapse module
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/remappings.txt
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
Labels: none

rm unused
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
Labels: none

added optional tag
  packages/sdk-router/README.md
Labels: none

SDK: rework docs (#1867)
  packages/sdk-router/README.md
  packages/sdk-router/package.json
  packages/sdk-router/puml/BridgingWorkflow.png
  packages/sdk-router/puml/BridgingWorkflowSimplified.png
  packages/sdk-router/puml/bridging.puml
  packages/sdk-router/puml/bridging_simple.puml
  packages/sdk-router/src/constants/testProviders.ts
  yarn.lock
Labels: none

SDK: rework docs (#1867)
  packages/sdk-router/README.md
  packages/sdk-router/package.json
  packages/sdk-router/puml/BridgingWorkflow.png
  packages/sdk-router/puml/BridgingWorkflowSimplified.png
  packages/sdk-router/puml/bridging.puml
  packages/sdk-router/puml/bridging_simple.puml
  packages/sdk-router/src/constants/testProviders.ts
  yarn.lock
Labels: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

test module resolution [goreleaser]
  .gitignore
  agents/go.mod
  agents/go.sum
  ethergo/go.mod
  ethergo/go.sum
  ethergo/signer/signer/awssigner/mock.go
  ethergo/signer/signer/awssigner/signer.go
  ethergo/signer/signer/awssigner/signing_test.go
  ethergo/signer/signer/awssigner/suite_test.go
  ethergo/signer/signer/gcpsigner/google.go
  ethergo/signer/signer/gcpsigner/google_test.go
  ethergo/signer/signer/gcpsigner/suite_test.go
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/localsigner/signer_test.go
  ethergo/signer/signer/mocks/signer.go
  ethergo/signer/signer/signer.go
  ethergo/signer/signer/signer_test.go
  ethergo/signer/signer/suite_test.go
  go.work
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: Go

fix dependency bug
  ethergo/submitter/db/service.go
  go.work
Labels: Go

ignroe committee
  go.work
Labels: none

vendor source files
  contrib/screener-api/.goreleaser.yml
  contrib/screener-api/README.md
Labels: none

fix coderabbit [goreleaser]
  .coderabbit.yaml
Labels: none

debug a bit [goreleaser]
  contrib/screener-api/.goreleaser.yml
Labels: none

vendor
  contrib/screener-api/.goreleaser.yml
Labels: none

Start doing FastBridgeV2
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

Track destination relayer
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Labels: none

Port views, internal logic
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

Port relayer-facing functions
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

might clean up state managed bridged (per comments on state managed bridge)
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

make imports marginally more sane
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

WIP: fix tests with dynamic gas estimation
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
Labels: Go

Fix: tests
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
Labels: Go

consolidate signer lib
  .gitignore
Labels: none

Port Guard-facing functions
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

Port user-facing functions
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

cr update
  .coderabbit.yaml
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
