Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Spacing
  .vscode/settings.json
Labels: none

[goreleaser] port first
  committee/p2p/boot.go
Labels: Go

WIP: add Rebalance() impl to inventory manager
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Labels: Go

Feat: add token address and chain id to tokenMetadata
  services/rfq/relayer/inventory/manager.go
Labels: Go

Cleanup: utilize new tokenMetadata fields
  services/rfq/relayer/inventory/manager.go
Labels: Go

Feat: add approval for CCTP bridge
  services/rfq/relayer/inventory/manager.go
Labels: Go

fix pubkey serialization [goreleaser]
  committee/p2p/boot.go
  ethergo/signer/signer/gcpsigner/google.go
Labels: Go

Feat: impl rebalanceCCTP()
  services/rfq/relayer/inventory/manager.go
Labels: Go

clean up fake tx logic
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

clean up fake tx logic
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

Fe/vscode settings (#2072)
  .vscode/settings.json
Labels: none

Fe/vscode settings (#2072)
  .vscode/settings.json
Labels: none

use sha256 [goreleaser]
  ethergo/signer/signer/gcpsigner/google.go
Labels: Go

Update `EntryVerified` event and its unit test
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: none

Emit the updated event
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

Fix/entry verified event (#2074)
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: none

Global db nonces in `InterchainDB` (#2068)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Interfaces for execution (#2063)
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutor.sol
Labels: none

Contracts/communication update client interface (#2070)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: none

Init basic script for testnet deploy (#2064)
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-1708379237.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379427.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379439.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381080.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381086.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-latest.json
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

WIP fixing types and contract changes
  committee/db/base/signrequest.go
  committee/node/e2e_test.go
  committee/node/node.go
  committee/node/suite_test.go
  committee/testutil/deployers.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
Labels: Go

re abi-gen post contract merges
  committee/contracts/mocks/noopinterchain/noopinterchain.abigen.go
  committee/contracts/mocks/noopinterchain/noopinterchain.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
Labels: Go

fix NoOpInterchain for contract hcanges
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
Labels: none

Isolate and split ClientV1 events
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Labels: none

abi-gen to use new event for interchainmodule
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
Labels: Go

Merge generic source chain events
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Labels: none

conform to DbNonce in place of DbWRiterNonce
  sin-executor/db/base/transaction.go
Labels: Go

add sin-executor test todo
  sin-executor/executor/executor_test.go
Labels: Go

add todos w/ explainers of contract changes
  committee/db/base/signrequest.go
  committee/node/node.go
Labels: Go

use node-cache vs reinventing wheel on caching
  packages/sdk-router/package.json
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
  packages/sdk-router/src/utils/debug/logPromise.ts
Labels: none

cache values directly instead of promises
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

rename & ssimplify
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

push updates
  committee/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  committee/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  committee/contracts/mocks/executionservicemock/executionservicemock.metadata.go
  committee/contracts/mocks/executionservicemock/generate.go
  committee/contracts/mocks/executionservicemock/helpers.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.metadata.go
  committee/contracts/mocks/gasoraclemock/generate.go
  committee/contracts/mocks/gasoraclemock/helpers.go
  committee/contracts/mocks/noopinterchain/noopinterchain.abigen.go
  committee/contracts/mocks/noopinterchain/noopinterchain.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/db/db.go
  committee/node/e2e_test.go
  committee/node/node.go
  committee/p2p/boot.go
  committee/testutil/contracttype.go
  committee/testutil/contracttypeimpl_string.go
  committee/testutil/deployers.go
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: Go

hero animated text on hover
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

hero animated text on hover
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

rework committe [goreleaser]
  committee/contracts/interchaindb/generate.go
  committee/contracts/interchaindb/helpers.go
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/interchaindb/interchaindb.metadata.go
  committee/contracts/mocks/noopinterchain/doc.go
  committee/contracts/mocks/noopinterchain/generate.go
  committee/contracts/mocks/noopinterchain/helpers.go
  committee/contracts/mocks/noopinterchain/noopinterchain.abigen.go
  committee/contracts/mocks/noopinterchain/noopinterchain.contractinfo.json
  committee/node/e2e_test.go
  committee/node/node.go
  committee/node/suite_test.go
  committee/p2p/p2p_test.go
  committee/testutil/contracttype.go
  committee/testutil/contracttypeimpl_string.go
  committee/testutil/deployers.go
  committee/testutil/typecast.go
Labels: Go

Add Transaction Supprot state for revert
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

Update
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

Text depending on revert or complete
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Bump revert check to 30s post tx execution
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
