Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

init
  charts/explorer/.helmignore
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/NOTES.txt
  charts/explorer/templates/_helpers.tpl
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/ingress.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/templates/serviceaccount.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
Labels: M-charts

Speeding up blocktime storage, upgrading logging, casing etc. (#321)
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/logger.go
  services/scribe/backfill/scribe.go
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

Speeding up blocktime storage, upgrading logging, casing etc. (#321)
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/logger.go
  services/scribe/backfill/scribe.go
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

nuke clickhouse
  charts/explorer/values.yaml
Labels: M-charts

nc
  charts/explorer/values.yaml
Labels: M-charts

flag
  charts/explorer/values.yaml
Labels: M-charts

tcp
  charts/explorer/values.yaml
  services/explorer/api/server.go
Labels: M-charts, Go

port
  charts/explorer/values.yaml
Labels: M-charts

better docs for verification of system calls
  packages/contracts-core/contracts/interfaces/ISystemRouter.sol
  packages/contracts-core/contracts/system/SystemContract.sol
  packages/contracts-core/contracts/system/SystemRouter.sol
  packages/contracts-core/test/harnesses/SystemContractHarness.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add new wrappers to ISystemRouter
  packages/contracts-core/contracts/interfaces/ISystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

port
  charts/explorer/values.yaml
Labels: M-charts

tcp
  charts/explorer/values.yaml
Labels: M-charts

Adding compound key for (origin,destination,nonce)
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/AttestationHub.t.sol
  packages/contracts-core/test/Origin.t.sol
  packages/contracts-core/test/OriginGasGolf.t.sol
  packages/contracts-core/test/ReportHub.t.sol
  packages/contracts-core/test/harnesses/libs/AttestationHarness.sol
  packages/contracts-core/test/libs/Attestation.t.sol
  packages/contracts-core/test/libs/Report.t.sol
  packages/contracts-core/test/utils/SynapseTest.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Updating Origin.sol to support multiple destinations
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

init/stash
  services/scribe/backfill/chain.go
  services/scribe/backfill/scribe.go
Labels: Go

better docs for "receive system call" functions
  packages/contracts-core/contracts/system/SystemContract.sol
  packages/contracts-core/contracts/system/SystemRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

more progress
  services/scribe/backfill/chain.go
  services/scribe/backfill/scribe.go
Labels: Go

need to figure out 404 error for certain tests
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/config/chain.go
Labels: Go

update var name
  services/scribe/backfill/chain.go
Labels: Go

implement BondingManager logic
  packages/contracts-core/contracts/bonding/BondingManager.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

mvp for BondingManager on Synapse Chain
  packages/contracts-core/contracts/bonding/BondingPrimary.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

mvp for BondingManager on secondary chains
  packages/contracts-core/contracts/bonding/BondingSecondary.sol
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

new getter: is contract deployed on SynChain
  packages/contracts-core/contracts/bonding/BondingManager.sol
  packages/contracts-core/contracts/bonding/BondingPrimary.sol
  packages/contracts-core/contracts/bonding/BondingSecondary.sol
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: actually store agents in BondingPrimary
  packages/contracts-core/contracts/bonding/BondingPrimary.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

block increment fix
  services/scribe/backfill/chain.go
  services/scribe/cmd/commands.go
Labels: Go

commands
  services/scribe/backfill/scribe.go
  services/scribe/cmd/commands.go
Labels: Go

Doing surgery to undo how notaries previously were assigned to only one origin, and now its only one destination
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/NotaryManager.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/Client.t.sol
  packages/contracts-core/test/Destination.t.sol
  packages/contracts-core/test/Origin.t.sol
  packages/contracts-core/test/OriginGasGolf.t.sol
  packages/contracts-core/test/SynapseClient.t.sol
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
  packages/contracts-core/test/SystemRouter.t.sol
  packages/contracts-core/test/harnesses/DestinationHarness.sol
  packages/contracts-core/test/harnesses/OriginHarness.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

track all active domains in GlobalNotaryRegistry
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

tests for tracking active domains
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

types
  services/scribe/backfill/chain.go
Labels: Go

add boot time assertion contract info is correct
  agents/testutil/contracttype.go
Labels: Go

fixing up ports
  charts/explorer/values.yaml
  services/explorer/api/server.go
Labels: M-charts, Go

historical proofs generation
  packages/contracts-core/test/HistoricalProofGenerator.t.sol
  packages/contracts-core/test/utils/HistoricalProofGenerator.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

small
  services/scribe/backfill/chain.go
  services/scribe/config/chain.go
Labels: Go

init
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/forward.go
  services/omnirpc/proxy/forward_test.go
  services/omnirpc/proxy/forwarder.go
  services/omnirpc/proxy/response_test.go
  services/omnirpc/proxy/rpc.go
Labels: Go

secure
  charts/explorer/values.yaml
Labels: M-charts

adding scribe
  services/explorer/cmd/commands.go
Labels: Go

add flag
  services/explorer/cmd/commands.go
Labels: Go

use default database
  charts/explorer/values.yaml
Labels: M-charts

fix static assertion
  agents/testutil/contracttype.go
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
