Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

faux bridge chain dropdowns
  packages/synapse-interface/components/WipWrapperComponents/Footer.tsx
  packages/synapse-interface/components/WipWrapperComponents/NavMenu.tsx
  packages/synapse-interface/components/WipWrapperComponents/SynapseLogo.tsx
  packages/synapse-interface/components/WipWrapperComponents/Ticker.tsx
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

faux bridge chain dropdowns
  packages/synapse-interface/components/WipWrapperComponents/Footer.tsx
  packages/synapse-interface/components/WipWrapperComponents/NavMenu.tsx
  packages/synapse-interface/components/WipWrapperComponents/SynapseLogo.tsx
  packages/synapse-interface/components/WipWrapperComponents/Ticker.tsx
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

Specify the unit tests for the new claim workflow
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Implement fee claiming
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Chore: deduplicate code a bit
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Scaffold configurable gas limit
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Add unit tests for configurable gas limits
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Implement configurable gas limit for verifyEntry
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Feat/: base for interchain app (#2109)
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/events/InterchainAppV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

faux token select v1
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
Labels: M-synapse-interface

faux token select v1
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
Labels: M-synapse-interface

WIP: working test with MockMintBurnToken
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/typecast.go
Labels: Go

WIP: adjust amounts
  services/rfq/e2e/rfq_test.go
Labels: Go

stip fix [goreleaser]
  contrib/screener-api/client/client.go
  services/rfq/relayer/relconfig/config.go
  services/stiprelayer/go.mod
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

tidy up
  contrib/promexporter/go.mod
  contrib/screener-api/client/client.go
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  services/stiprelayer/relayer/relayer.go
Labels: Go

tidy up for whole repo [goreleaser]
  ethergo/go.sum
Labels: none

experimental explicit crash [goreleaser] REVERT ME
  services/stiprelayer/relayer/relayer.go
Labels: Go

WIP: fix approvals
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/quoter/quoter.go
Labels: Go

Revert "experimental explicit crash [goreleaser] REVERT ME"
  services/stiprelayer/relayer/relayer.go
Labels: Go

fix https://qodana.cloud/projects/37b1w/reports/noLxL?openedProblem=CYDgbAhg7CDMYBYICN4EYCcYCmBWZO2yAZhlAAwIDGuC%2B2I2Gy5aATLlcVQsU%2BcRBty2YgTAkobCEA
  core/metrics/pyroscope.go
Labels: Go

Fix Stip (#2119)
  contrib/promexporter/go.mod
  contrib/screener-api/client/client.go
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/rfq/relayer/relconfig/config.go
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

Fix Stip (#2119)
  contrib/promexporter/go.mod
  contrib/screener-api/client/client.go
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/rfq/relayer/relconfig/config.go
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

[goreleaser] try again
  contrib/screener-api/.goreleaser.yml
Labels: none

Feat: remove fastbridge ref from chain listener
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/listener/export_test.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/listener/listener_test.go
  services/rfq/relayer/listener/suite_test.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/service/relayer.go
Labels: Go

faux bridge connect hover
  packages/synapse-interface/components/WalletIcons.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
Labels: M-synapse-interface

faux bridge connect hover
  packages/synapse-interface/components/WalletIcons.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
Labels: M-synapse-interface

Feat: use iota+1 for rebalance status, regen model
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/rebalancestatus_string.go
Labels: Go

WIP: don't return error in listener handler
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

Feat: check for pending rebalances in integration test
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
Labels: Go

Cleanup: remove balance logs
  services/rfq/e2e/rfq_test.go
Labels: Go

Cleanup: logs / comments
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/quoter/quoter.go
Labels: Go

Cleanup: dedup code in inv manager
  services/rfq/relayer/inventory/manager.go
Labels: Go

Cleanup: lints
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/reldb/base/rebalance.go
Labels: Go

Feat: add CCTPStartBlock to relconfig
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Cleanup: lints
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Cleanup: lints
  services/rfq/relayer/inventory/manager.go
Labels: Go

working faux bridge
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

working faux bridge
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

faux bridge dropdown glass effects
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

faux bridge dropdown glass effects
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
