Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Deploy on ETH Sepolia
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
Labels: none

Remove unused links/paths
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface

Update README.md
  README.md
Labels: none

Use url constant for routes path matching
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

Replace url in TransactionSupport with url constants
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

Transaction Support FAQ button styles
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

so many of these 'deps' should be devDeps or removed entirely, bunch of excess packages are potential issues
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Improve name
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface

more cleanup
  ethergo/listener/listener_test.go
  ethergo/listener/suite_test.go
Labels: Go

remove mor eunused deps
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

remove more unused
  packages/synapse-interface/package.json
Labels: M-synapse-interface

update readme (#2135)
  README.md
Labels: none

update readme (#2135)
  README.md
Labels: none

Regen promexporter
  contrib/promexporter/internal/gql/dfk/models.gen.go
Labels: Go

Regen promexporter (#2138)
  contrib/promexporter/internal/gql/dfk/models.gen.go
Labels: Go

Regen promexporter (#2138)
  contrib/promexporter/internal/gql/dfk/models.gen.go
Labels: Go

move types to devdeps
  packages/synapse-interface/package.json
Labels: M-synapse-interface

huh so it looks like moving some of these 2 devDeps accidentally sped up build times
  packages/synapse-interface/package.json
Labels: M-synapse-interface

only import logrocket when needed
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface

Feat: add tracing
  services/rfq/relayer/inventory/export_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

just import
  packages/synapse-interface/utils/getUnderlyingBridgeTokens.ts
Labels: M-synapse-interface

make explicit
  packages/synapse-interface/utils/routeMaker/generateRoutePossibilities.ts
Labels: M-synapse-interface

Adds Blast
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: none

font loading way faster since order matters in css
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface

better font rendering
  packages/synapse-interface/public/Matter-Heavy.woff2
  packages/synapse-interface/public/Matter-HeavyItalic.woff2
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface

rm unused files
  packages/synapse-interface/public/Matter-Heavy.woff2
  packages/synapse-interface/public/Matter-HeavyItalic.woff2
Labels: M-synapse-interface

Reorder deployments
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

Deploy on OP sepolia
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
Labels: none

Config for OP sepolia
  packages/contracts-communication/devops.json
Labels: none

hm
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface

repository bump
  .github/renovate.json
Labels: none

workflow pat
  .github/workflows/renovate.yml
Labels: none

more cleanup
  .github/workflows/renovate.yml
Labels: none

Fix
  .github/workflows/renovate.yml
Labels: none

Prevent double dispatch on param change
  packages/synapse-interface/utils/hooks/useSyncQueryParamsWithBridgeState.ts
Labels: M-synapse-interface

bump limits
  .github/renovate.json
Labels: none

ignore out-of-use submodule
  .gitmodules
Labels: none

debug
  .github/workflows/renovate.yml
Labels: none

ignore out-of-use submodule (#2141)
  .gitmodules
Labels: none

ignore out-of-use submodule (#2141)
  .gitmodules
Labels: none
