Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

[goreleaser] last release
  services/omnirpc/modules/confirmedtofinalized/const.go
Labels: Go

wheeeeeeeeee
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/icons/DownArrow.tsx
Labels: M-synapse-interface

fix test [goreleaser]
  core/ginhelper/suite_test.go
Labels: Go

lint fix
  core/ginhelper/suite_test.go
Labels: Go

fix styles shud b good 2 core merge
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
Labels: M-synapse-interface

document name prefix
  core/metrics/README.md
Labels: none

allow for exiting dropdowns w/ esc
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
Labels: M-synapse-interface

fix styl
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
Labels: M-synapse-interface

rm redundant class
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Feat: add getters for ttls
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Fix: tests
  services/rfq/relayer/pricer/fee_pricer_test.go
Labels: Go

Add `InterchainEntry`
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Feat: poll gas estimates
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

make sizing more consistant
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
Labels: M-synapse-interface

make more clear its not a btn
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

need to fix the ghetto spaghetti organization of _Transaction / Portfolio intermingling
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
Labels: M-synapse-interface

Interchain Module interface
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
Labels: none

Scaffold InterchainDB, prepare module mock
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Labels: none

Add getter for writer's nonce
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Put events into a separate interface
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDBEvents.sol
Labels: none

use klaytn icon for klay token
  packages/synapse-constants/constants/assets/icons/klay.svg
Labels: none

wasnt showing sending chain for some reason...
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Add getter for writer's entries
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

make prettier
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioAssetActionButton.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
Labels: M-synapse-interface

use css for styling changes wherever possible. using js is hella slow
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
Labels: M-synapse-interface

Feat: always load gas estimate from cache
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

FE: update bridge map (#2026)
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/data/providers.json
Labels: M-synapse-interface

FE: update bridge map (#2026)
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/data/providers.json
Labels: M-synapse-interface

so much js abuse when can keep it simple
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

use klaytn icon for klay token (#2029)
  packages/synapse-constants/constants/assets/icons/klay.svg
Labels: none

use klaytn icon for klay token (#2029)
  packages/synapse-constants/constants/assets/icons/klay.svg
Labels: none

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
Labels: M-explorer-ui

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
Labels: M-explorer-ui

Updates bridgeMap
  packages/widget/src/constants/bridgeMap.ts
Labels: none

much
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenVisualizer.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/utils/hooks/useCloseOutsideRef.tsx
Labels: M-synapse-interface

Updates bridgeMap (#2030)
  packages/widget/src/constants/bridgeMap.ts
Labels: none

Updates bridgeMap (#2030)
  packages/widget/src/constants/bridgeMap.ts
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
