Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

move icon fill color to parent
  packages/synapse-interface/components/icons/DropDownArrowSvg.tsx
Labels: M-synapse-interface

Style Input
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
Labels: M-synapse-interface

Replace useSelector with hook
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

BridgeCard component file
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

BridgeCard component file
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

clearDestinationAddress on Bridge Page load
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
Labels: M-synapse-interface

Clean up Bridge reducer to not require actions file for better imports
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/utils/hooks/useAlternateBridgeQuotes.ts
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
Labels: M-synapse-interface

Rm file
  packages/synapse-interface/slices/bridge/actions.ts
Labels: M-synapse-interface

Maintain inputted destination address after bridge tx executes
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Feat: CCTP relayer watches for DepositForBurn instead of MessageSent
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/util.go
Labels: Go

Feat: split CCTPAddress into SynapseCCTPAddress and TokenMessengerAddress
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Feat: insert requestID as string instead of [32]byte
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
Labels: Go

Adds detail on web3Provider for older ethers version
  packages/widget/README.md
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Adds detail on web3Provider for older ethers version (#2249)
  packages/widget/README.md
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Adds detail on web3Provider for older ethers version (#2249)
  packages/widget/README.md
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-explorer-ui, M-synapse-interface

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-explorer-ui, M-synapse-interface

Feat: use new requestID in rebalance managers, approve token messenger
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/synapse.go
Labels: Go

Feat: remove MessageTransmitter from cctp relayer config
  services/cctp-relayer/config/chain.go
Labels: Go

Fix: cctp relayer streams logs on both TokenMessenger and MessageTransmitter
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/relayer.go
  services/cctp-relayer/relayer/util.go
Labels: Go

Add unit tests for ExecutionService
  packages/contracts-communication/test/ExecutionService.Fees.t.sol
  packages/contracts-communication/test/ExecutionService.Management.t.sol
  packages/contracts-communication/test/ExecutionService.t.sol
Labels: none

Chore: keep solhint happy happy happy
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/libs/TypeCasts.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/mocks/SynapseGasOracleMock.sol
Labels: none

ExecutionFees: add missing permission test
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

Fix: cctpType parsing
  services/cctp-relayer/relayer/relayer.go
  services/cctp-relayer/relayer/synapse_test.go
Labels: Go

Adds more detail on web3Provider prop
  packages/widget/README.md
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
Labels: none

Fix: proper naming for cfg cctp addresses
  services/rfq/relayer/relconfig/config.go
Labels: Go

Adds more detail on web3Provider prop (#2250)
  packages/widget/README.md
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
Labels: none

Adds more detail on web3Provider prop (#2250)
  packages/widget/README.md
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Fix: no rebalance method mismatch on empty
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Dencun pause
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

Countdown stops at 0
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface

Stop countdown after reaching 0
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface

Clean
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface

Feat: add tracing around contract setup
  services/rfq/relayer/inventory/circle.go
Labels: Go
