Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

sin-executor [goreleaser]
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.metadata.go
  sin-executor/contracts/mocks/executionfeesmock/generate.go
  sin-executor/contracts/mocks/executionfeesmock/helpers.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.metadata.go
  sin-executor/contracts/mocks/executionservicemock/generate.go
  sin-executor/contracts/mocks/executionservicemock/helpers.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.abigen.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.abigen.go
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.contractinfo.json
  sin-executor/executor/executor_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: Go

Update conditions for showing transaction support
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

monke kinda retarded
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
Labels: none

[goreleaser] add sin executor
  sin-executor/cmd/cmd.go
  sin-executor/cmd/commands.go
  sin-executor/main.go
  sin-executor/metadata/metadata.go
Labels: Go

meant to remove that
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

cta button hover improvements
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ctaBlink.module.css
Labels: M-synapse-interface

cta button hover improvements
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ctaBlink.module.css
Labels: M-synapse-interface

latest deployments
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708471157.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708471170.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708471120.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708471126.json
Labels: none

move Activity to folder
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
Labels: M-synapse-interface

rebuild [goreleaser]
  sin-executor/README.md
Labels: none

update [goreleaser]
  committee/listener/listener.go
Labels: Go

dont see change
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

Feat: add DuneLookbackHours to config
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

Fix: regenerate
  services/rfq/relayer/relconfig/rebalancemethod_string.go
Labels: Go

Remove testing logs
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Adjust IApp to work with latest InterchainClient interface + Optional Execution depending on address(0)
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Adjust IApp to work with latest InterchainClient interface + Optional Execution depending on address(0) (#2076)
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

chi changes
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

chi changes (#2078)
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Cleanup: lint
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/service/statushandler.go
Labels: Go

WIP: export inventory structs for use in tests
  services/rfq/relayer/inventory/manager.go
Labels: Go

Upgrades tailwind
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface

`forge fmt`
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

Update source chain events
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update destination events
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Fix stack too deep error
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Feat: add TestGetRebalance
  services/rfq/relayer/inventory/export_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Feat: add rebalance case to TestGetRebalance
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
Labels: Go

Cleanup: remove duplicate data from RebalanceData
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
Labels: Go

Feat: address rebalance case where origin chain cannot pass initial threshold
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
Labels: Go

Cleanup: regenerate inventory
  services/rfq/relayer/inventory/mocks/manager.go
Labels: Go

have no idea why this is faster but it is
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
Labels: M-synapse-interface

Add `verificationFee` to the event
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Labels: none

Feat: remove handleClaimCompleted and move Rebalance() call to chainindexer
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Labels: Go

Feat: enforce rebalance methods to match from config
  services/rfq/relayer/relconfig/getters.go
Labels: Go

WIP: set rebalance params in e2e test
  services/rfq/e2e/setup_test.go
Labels: Go

h1 animation refinement
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ctaBlink.module.css
Labels: M-synapse-interface

h1 animation refinement
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ctaBlink.module.css
Labels: M-synapse-interface

hero code cleanup
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

hero code cleanup
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface
