Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

add keccak'd datahash to event emit
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
Labels: none

rehash
  committee/node/e2e_test.go
  committee/node/node.go
Labels: Go

reabigen
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
Labels: Go

change variable name
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Fix event variabl ename
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
Labels: none

Verfification
  committee/contracts/synapsemodule/parser.go
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/contracts/synapsemodule/topics.go
  committee/db/base/signrequest.go
Labels: Go

More tests
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

More revert tests
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Implement `verifySignedHash`
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
Labels: none

Chore: test cleanup
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

InterchainClient & Synapse Module InterchainDB Integration (#2045)
  packages/contracts-communication/contracts/IInterchain.sol
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/mocks/MockL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/mocks/MockL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/OPL1L2Module.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/Interchain.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/OPL1L2MultiModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Solidity library for generic M/N signature verification (#2047)
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/harnesses/ThresholdECDSALibHarness.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Isolate some common logic into abstract contract
  packages/contracts-communication/contracts/interfaces/IInterchainModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

Scaffold `ThresholdECDSAModule`
  packages/contracts-communication/contracts/interfaces/IThresholdECDSAModule.sol
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

Feat: make DB selector interval configurable
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: Go

regen
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/db/base/signrequest.go
  committee/db/db.go
  committee/node/node.go
Labels: Go

Add more views
  packages/contracts-communication/contracts/interfaces/IThresholdECDSAModule.sol
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

finish up
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/db/base/signrequest.go
  committee/node/e2e_test.go
  committee/node/node.go
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: Go

Implement management tests
  packages/contracts-communication/contracts/interfaces/IThresholdECDSAModule.sol
  packages/contracts-communication/contracts/interfaces/IThresholdECDSAModuleEvents.sol
  packages/contracts-communication/test/mocks/GasOracleMock.sol
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Management.t.sol
Labels: none

hm
  packages/synapse-interface/package.json
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

update
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/node/node.go
Labels: Go

emit entry hash
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
Labels: none

Implement management actions
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

Add `InterchainDB` Mock
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Labels: none

update
  committee/contracts/mocks/noopinterchain/noopinterchain.abigen.go
  committee/contracts/mocks/noopinterchain/noopinterchain.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/relayer/doc.go
  committee/relayer/relayer.go
Labels: Go

e2e test
  committee/db/base/signrequest.go
  committee/db/suite_test.go
  committee/go.mod
  committee/go.sum
  committee/node/e2e_test.go
  committee/node/export_test.go
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  committee/testutil/deployers.go
Labels: Go

RFQ quoter retries unprofitable quotes (#2041)
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
Labels: Go

RFQ quoter retries unprofitable quotes (#2041)
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
Labels: Go

More events to a separate dir
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
Labels: none

Update contracts
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Update tests
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
Labels: none

Chore: forge fmt
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

remove dead file
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/bridge/TokenMenuItem.tsx
Labels: M-synapse-interface

Chore/reorganize events (#2049)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

decide if you want things in components or pages, this mix of both makes no sense
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/SlideSearchBox.tsx
Labels: M-synapse-interface

Reorg events following #2049
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/ThresholdECDSAModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Management.t.sol
Labels: none

Also emit ethSingedMsg hash
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

[goreleaser] build app
  committee/.goreleaser.yml
  committee/cmd/commands.go
  committee/config/config.go
  committee/contracts/mocks/noopinterchain/doc.go
  committee/contracts/mocks/noopinterchain/helpers.go
  committee/main.go
  docker/committee.Dockerfile
Labels: M-docker, Go

committee [goreleaser] test
  committee/.goreleaser.yml
Labels: none

fix aids ridden spaghetti structure
  packages/synapse-interface/components/Pools/PoolCard/DisplayBalances.tsx
  packages/synapse-interface/components/Pools/PoolCard/PoolActionOptions.tsx
  packages/synapse-interface/components/Pools/PoolCard/PoolCardBody.tsx
  packages/synapse-interface/components/Pools/PoolCard/PoolHeader.tsx
  packages/synapse-interface/components/Pools/PoolCard/index.tsx
  packages/synapse-interface/components/Pools/PoolCards.tsx
  packages/synapse-interface/components/Pools/pool/NoPoolBody.tsx
  packages/synapse-interface/components/Pools/pool/PoolBody.tsx
  packages/synapse-interface/components/Pools/pool/PoolInfoSection/CurrencyReservesCard.tsx
  packages/synapse-interface/components/Pools/pool/PoolInfoSection/InfoSection.tsx
  packages/synapse-interface/components/Pools/pool/PoolInfoSection/InfoSectionCard.tsx
  packages/synapse-interface/components/Pools/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/components/Pools/pool/components/AugmentWithUnits.tsx
  packages/synapse-interface/components/Pools/pool/components/LiquidityManagementTabs.tsx
  packages/synapse-interface/components/Pools/pool/components/PoolTitle.tsx
  packages/synapse-interface/components/Pools/pool/components/PriceImpactDisplay.tsx
  packages/synapse-interface/components/Pools/pool/components/ReceivedTokenSection.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/index.tsx
  packages/synapse-interface/components/landing/sections/BridgeSection.tsx
  packages/synapse-interface/components/landing/sections/ExplorerSection.tsx
  packages/synapse-interface/components/landing/sections/HeroSection.tsx
  packages/synapse-interface/components/landing/sections/HowItWorksSection.tsx
  packages/synapse-interface/components/landing/sections/IntegrationSection.tsx
  packages/synapse-interface/components/landing/sections/ResourcesSection.tsx
  packages/synapse-interface/components/landing/sections/SecuritySection.tsx
  packages/synapse-interface/components/landing/sections/UseCasesSection.tsx
  packages/synapse-interface/components/stake/StakeCard.tsx
  packages/synapse-interface/components/stake/StakeCardTitle.tsx
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/[routerIndex].tsx
  packages/synapse-interface/pages/stake/index.tsx
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
