Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Add ExecutionFees.sol collector contract & record upon execution service provided to interchainSend()
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

Move Query ID to the config
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

fixing error messages
  packages/rest-api/src/app.ts
Labels: none

Small Rest API maintenance (#2043)
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
Labels: none

Small Rest API maintenance (#2043)
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
Labels: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Labels: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Labels: none

Add slither, test workflows
  packages/contracts-communication/package.json
Labels: none

Add solhint config
  packages/contracts-communication/.solhint.json
  packages/contracts-communication/package.json
Labels: none

Add lint scripts
  packages/contracts-communication/package.json
Labels: none

Merge source chain events
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Labels: none

Swap `message` and `srcModules` for better readability + fix stack too deep
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Showing/hiding rebate based on cap
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
Labels: M-synapse-interface

Fix/interchain client events (#2077)
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchainclient/parser.go
  sin-executor/contracts/interchainclient/topics.go
  sin-executor/db/base/transaction.go
  sin-executor/db/db.go
  sin-executor/db/model.go
  sin-executor/executor/executor.go
  sin-executor/go.mod
  sin-executor/go.sum
Labels: Go

Feat: rebalance manager listens for cctp events and updates db
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

Add scripts to `communications` package (#2084)
  packages/contracts-communication/.solhint.json
  packages/contracts-communication/package.json
Labels: none

Feat: rebalance on interval instead of on DepositClaimed
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/chainindexer.go
Labels: Go

Cleanup: DBSelectorIntervalSeconds -> DBSelectorInterval
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Feat: check for pending rebalances
  services/rfq/relayer/inventory/manager.go
Labels: Go

Feat: attempt rebalance on DepositClaimed
  services/rfq/relayer/service/chainindexer.go
Labels: Go

Isolate `InterchainTransaction` operations to a separate library
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
Labels: none

Add library coverage
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: none

Update execute/isExecutable
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update interchainSend
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Add `AppConfig` library and its coverage
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/test/harnesses/AppConfigLibHarness.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
Labels: none

Update InterchainApp interface
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Update the ClientV1 test
  packages/contracts-communication/foundry.toml
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Use versioned AppConfig in ClientV1
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Cleanup: lint
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/reldb/db.go
Labels: Go

change hero arrow to svg
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/css-modules/navmenu.module.css
  packages/synapse-interface/pages/teaser/css-modules/ticker.module.css
  packages/synapse-interface/pages/teaser/ctaBlink.module.css
  packages/synapse-interface/pages/teaser/icons/PulseDot.tsx
  packages/synapse-interface/pages/teaser/icons/RightArrow.tsx
Labels: M-synapse-interface

change hero arrow to svg
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/css-modules/navmenu.module.css
  packages/synapse-interface/pages/teaser/css-modules/ticker.module.css
  packages/synapse-interface/pages/teaser/ctaBlink.module.css
  packages/synapse-interface/pages/teaser/icons/PulseDot.tsx
  packages/synapse-interface/pages/teaser/icons/RightArrow.tsx
Labels: M-synapse-interface

MVP ExecutionFees by adding executorEOA()
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
Labels: none

Add events to ExecutionFees.sol, enable anyone to claim on behalf of executors
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/events/ExecutionFeesEvents.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: none

fix hero hover errors
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

fix hero hover errors
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

Add `AppConfig` library (#2087)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/foundry.toml
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/AppConfigLibHarness.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Simplify the `transactionId` scheme for now
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: none

FE release (2024-02-22) (#2083)
  .vscode/settings.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface

FE release (2024-02-22) (#2083)
  .vscode/settings.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
