Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

add README.md
  packages/contracts-core/test/README.md
Labels: 2-reviewers, M-contracts

test + gen + lint
  services/omnirpc/http/doc.go
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/response_test.go
  services/omnirpc/proxy/standardize.go
Labels: Go

delete fmt
  services/scribe/backfill/chain.go
Labels: Go

needs more tests
  services/explorer/config.yaml
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/parser.go
  services/explorer/contracts/bridge/bridge.contractinfo.json
  services/explorer/contracts/bridge/bridgev1/bridgev1.abigen.go
  services/explorer/contracts/bridge/bridgev1/bridgev1.contractinfo.json
  services/explorer/contracts/bridge/bridgev1/bridgev1.metadata.go
  services/explorer/contracts/bridge/bridgev1/deposit.go
  services/explorer/contracts/bridge/bridgev1/generate.go
  services/explorer/contracts/bridge/bridgev1/helpers.go
  services/explorer/contracts/bridge/bridgev1/mint.go
  services/explorer/contracts/bridge/bridgev1/redeem.go
  services/explorer/contracts/bridge/bridgev1/withdraw.go
  services/explorer/contracts/bridge/generate.go
  services/explorer/external/flattened-contracts/SynapseBridgeV2_flat.sol
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
Labels: Go

rework raw bytes types in bytes29 libraries
  packages/contracts-core/contracts/libs/Message.sol
  packages/contracts-core/contracts/libs/SynapseTypes.sol
  packages/contracts-core/contracts/libs/SystemMessage.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

feat: SystemCall library
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/contracts/libs/ByteString.sol
  packages/contracts-core/contracts/libs/SynapseTypes.sol
  packages/contracts-core/contracts/libs/SystemCall.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

lint
  services/explorer/consumer/node/explorer_test.go
  services/explorer/consumer/parser.go
  services/explorer/consumer/utils.go
Labels: Go

inherit from LocalDomainContext
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

SystemRouter simplification + docs
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

use new SystemCall lib for Origin, Destination
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/Origin.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

proxy
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/forward.go
  services/omnirpc/proxy/response_test.go
  services/omnirpc/proxy/standardize.go
Labels: Go

clean up txflag check
  services/omnirpc/proxy/standardize.go
Labels: Go

adding comments
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/standardize.go
Labels: Go

init
  services/explorer/api/resolver_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/queries.graphql
Labels: Go

Omnirpc - add events (#301)
  services/omnirpc/http/doc.go
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/forward.go
  services/omnirpc/proxy/response_test.go
  services/omnirpc/proxy/standardize.go
Labels: Go

Omnirpc - add events (#301)
  services/omnirpc/http/doc.go
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/forward.go
  services/omnirpc/proxy/response_test.go
  services/omnirpc/proxy/standardize.go
Labels: Go

stopping point
  services/explorer/consumer/fetcher.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

cleaning
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
  services/explorer/db/writer_test.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

remove retry limit
  services/scribe/backfill/chain.go
Labels: Go

chores: - fixed link in README.md - removed separator comment in DestinationHub - explicit comments in AttestationCollector tests
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/test/README.md
  packages/contracts-core/test/suite/AttestationCollector.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: harnesses generation
  agents/contracts/test/attestationharness/generate.go
  agents/contracts/test/destinationharness/generate.go
  agents/contracts/test/headerharness/generate.go
  agents/contracts/test/messageharness/generate.go
  agents/contracts/test/originharness/generate.go
  agents/contracts/test/tipsharness/generate.go
  agents/testutil/contracttype.go
Labels: Go

blockByNum -> headerByNum
  services/scribe/backfill/chain.go
Labels: Go

Scribe v3 (#300)
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/api/data_test.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/cmd/commands.go
  services/scribe/db/blocktime_test.go
  services/scribe/db/datastore/sql/base/blocktime.go
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/datastore/sql/mysql/store.go
  services/scribe/db/event.go
  services/scribe/db/lastblocktime_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

Scribe v3 (#300)
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/queries/queries.graphql
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/api/data_test.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/cmd/commands.go
  services/scribe/db/blocktime_test.go
  services/scribe/db/datastore/sql/base/blocktime.go
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/datastore/sql/mysql/store.go
  services/scribe/db/event.go
  services/scribe/db/lastblocktime_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

tests for v1 bridge
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/node/explorer_test.go
  services/explorer/contracts/bridge/testbridgev1/contract/TestSynapseBridgeV1.sol
  services/explorer/contracts/bridge/testbridgev1/doc.go
  services/explorer/contracts/bridge/testbridgev1/filterer_generated.go
  services/explorer/contracts/bridge/testbridgev1/generate.go
  services/explorer/contracts/bridge/testbridgev1/helpers.go
  services/explorer/contracts/bridge/testbridgev1/testbridgev1.abigen.go
  services/explorer/contracts/bridge/testbridgev1/testbridgev1.contractinfo.json
  services/explorer/contracts/bridge/testbridgev1/testbridgev1.metadata.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/contracttypeimpl_string.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/manager.go
  services/explorer/testutil/testcontracts/typecast.go
Labels: Go

remove getlastblock in favor of generalized
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
  services/explorer/db/writer_test.go
Labels: Go

generate ;)
  services/explorer/db/mocks/consumer_db.go
Labels: Go

add backoff resets
  services/explorer/consumer/backfill/chain.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/filter.go
Labels: Go

remove unnecessary resets
  services/explorer/consumer/backfill/chain.go
  services/scribe/backfill/filter.go
Labels: Go

cleaning + argmax de dup
  services/explorer/consumer/fetcher_test.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

comments
  services/scribe/backfill/chain.go
Labels: Go

Update fetcher_test.go
  services/explorer/consumer/fetcher_test.go
Labels: Go

add goroutines
  agents/go.mod
  agents/go.sum
  core/go.mod
  core/go.sum
  core/metrics/datadog.go
  core/metrics/metrics.go
  core/metrics/newrelic.go
  core/metrics/newrelic/doc.go
  core/metrics/newrelic/gorm.go
  core/metrics/newrelic/gorm_test.go
  core/metrics/null.go
  go.work.sum
  services/explorer/api/server.go
  services/explorer/cmd/cmd.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/cmd/commands.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/api/server.go
  services/scribe/cmd/cmd.go
  services/scribe/cmd/commands.go
  services/scribe/config/generate.go
  services/scribe/db/datastore/sql/mysql/store.go
  services/scribe/db/datastore/sql/sqlite/store.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/gin.go
  services/scribe/grpc/server/server.go
Labels: Go

start of model
  services/scribe/db/datastore/sql/base/model.go
Labels: Go

first
  services/scribe/db/datastore/sql/base/backofflog.go
  services/scribe/db/datastore/sql/base/model.go
Labels: Go

gorm
  agents/go.sum
Labels: none

remove unnecessary reset
  services/scribe/backfill/chain.go
Labels: Go

remove unnecessary reset
  services/scribe/backfill/chain.go
Labels: Go

welp, guess we r scrapping this
  services/scribe/backfill/chain.go
  services/scribe/db/datastore/sql/base/backofflog.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/event.go
Labels: Go

comment fixes
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/schema/queries.graphql
Labels: Go
