Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Feat: add GetGasEstimateComponents to arbitrum SDK
  ethergo/sdks/arbitrum/sdk.go
Labels: Go

Feat: use arbitrum SDK in submitter
  ethergo/submitter/submitter.go
Labels: Go

coderabbit spec
  .coderabbit.yaml
Labels: none

single quote
  .coderabbit.yaml
Labels: none

Refactor transactions as list instead of obj
  packages/widget/src/hooks/useTransactionListener.ts
Labels: none

Reset each quote and denests origin/destQuery (#1998)
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useTransactionListener.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
Labels: none

Reset each quote and denests origin/destQuery (#1998)
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useTransactionListener.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Feat: only run anvil tests when CI is false
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud_test.go
  ethergo/backends/anvil/suite_test.go
Labels: Go

Fixes typos
  packages/widget/README.md
Labels: none

Fixes typos (#2001)
  packages/widget/README.md
Labels: none

Fixes typos (#2001)
  packages/widget/README.md
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

tx detail visual updates
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
  packages/synapse-interface/components/icons/DownArrow.tsx
Labels: M-synapse-interface

remove test code that shows historic txns as 'Pending'
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

hide progress bar on complete
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/TestProgressBar.tsx
Labels: M-synapse-interface

f
  .coderabbit.yaml
Labels: none

qodona fix
  .coderabbit.yaml
  .github/workflows/scan.yml
Labels: none

scan
  .github/workflows/scan.yml
Labels: none

Fix/coderabbit settings (#2000)
  .coderabbit.yaml
  .github/workflows/scan.yml
Labels: none

Fix/coderabbit settings (#2000)
  .coderabbit.yaml
  .github/workflows/scan.yml
Labels: none

Add Create2 library with tests
  packages/contracts-interchain/src/libs/Create2.sol
  packages/contracts-interchain/test/harnesses/Create2Harness.sol
  packages/contracts-interchain/test/libs/Create2.t.sol
  packages/contracts-interchain/test/mocks/SimpleContracts.sol
Labels: none

ProcessorFactory -> InterchainFactory
  packages/contracts-interchain/src/interfaces/IInterchainFactory.sol
  packages/contracts-interchain/src/interfaces/IProcessorFactory.sol
  packages/contracts-interchain/src/processors/AbstractProcessor.sol
  packages/contracts-interchain/test/mocks/MockInterchainFactory.sol
  packages/contracts-interchain/test/processors/AbstractProcessor.t.sol
Labels: none

Add CI=true to go workflow
  .github/workflows/go.yml
Labels: none

Add CI=true to go workflow
  .github/workflows/go.yml
Labels: none

Use Factory workflow for InterchainERC20
  packages/contracts-interchain/src/tokens/InterchainERC20.sol
Labels: none

Adapt existing tests
  packages/contracts-interchain/test/harnesses/InterchainERC20Harness.sol
  packages/contracts-interchain/test/mocks/MockInterchainFactory.sol
  packages/contracts-interchain/test/tokens/InterchainERC20.t.sol
Labels: none

Factory deployment of standalone InterchainERC20
  packages/contracts-interchain/src/factories/InterchainFactory.sol
  packages/contracts-interchain/test/factories/InterchainFactory.t.sol
  packages/contracts-interchain/test/mocks/MockERC20Decimals.sol
Labels: none

Add tests with revert cases
  packages/contracts-interchain/test/factories/InterchainFactory.t.sol
Labels: none

Deploy with Processor
  packages/contracts-interchain/src/factories/InterchainFactory.sol
  packages/contracts-interchain/test/factories/InterchainFactory.t.sol
Labels: none

Fix: use underlying token in salt
  packages/contracts-interchain/src/factories/InterchainFactory.sol
Labels: none

Removes switch on chain select change
  packages/widget/src/components/Widget.tsx
Labels: none

Adjust tests, add new test cases
  packages/contracts-interchain/test/factories/InterchainFactory.t.sol
Labels: none

Expect param callbacks to revert outside of active deployments
  packages/contracts-interchain/src/interfaces/IInterchainFactory.sol
  packages/contracts-interchain/test/factories/InterchainFactory.t.sol
Labels: none

Revert in callbacks outside of deployments
  packages/contracts-interchain/src/factories/InterchainFactory.sol
Labels: none

Add tests for zero address checks
  packages/contracts-interchain/src/processors/AbstractProcessor.sol
  packages/contracts-interchain/src/tokens/InterchainERC20.sol
  packages/contracts-interchain/test/processors/LockingProcessor.t.sol
  packages/contracts-interchain/test/tokens/InterchainERC20.t.sol
Labels: none

Fix: constructor reverts when address unset
  packages/contracts-interchain/src/processors/AbstractProcessor.sol
  packages/contracts-interchain/src/tokens/InterchainERC20.sol
Labels: none

Fix linter warnings
  packages/contracts-interchain/src/factories/InterchainFactory.sol
  packages/contracts-interchain/test/factories/InterchainFactory.t.sol
  packages/contracts-interchain/test/mocks/MockERC20Decimals.sol
  packages/contracts-interchain/test/mocks/SimpleContracts.sol
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
