Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

GENERATEEEEEEEE
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver/server.go
Labels: Go

adding loggers
  services/scribe/backfill/chain.go
Labels: Go

Update chain.go
  services/scribe/backfill/chain.go
Labels: Go

backoff improvements (#306)
  services/scribe/backfill/chain.go
Labels: Go

backoff improvements (#306)
  services/scribe/backfill/chain.go
Labels: Go

lint
  services/explorer/consumer/backfill/chain_test.go
Labels: Go

reduce chunk size
  services/scribe/backfill/contract.go
Labels: Go

Explorer api refactor (#305)
  services/explorer/api/resolver_test.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/db/writer_test.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/queries.graphql
Labels: Go

lint
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

Update chain.go
  services/scribe/backfill/chain.go
Labels: Go

tx not supported check
  services/scribe/backfill/contract.go
Labels: Go

log tx not supported
  services/scribe/backfill/contract.go
Labels: Go

fix comment
  services/scribe/backfill/contract.go
Labels: Go

Update values.yaml
  charts/scribe/values.yaml
Labels: M-charts

version bump
  charts/scribe/Chart.yaml
Labels: M-charts

for simone
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

Update charts/scribe (#310)
  charts/scribe/Chart.yaml
  charts/scribe/values.yaml
Labels: M-charts

Update charts/scribe (#310)
  charts/scribe/Chart.yaml
  charts/scribe/values.yaml
Labels: M-charts

revert merge changes
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

reverting
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

Update blocktime.go
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

lint
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

err on blocktime
  services/explorer/consumer/parser.go
Labels: Go

go routines
  services/scribe/backfill/chain.go
Labels: Go

comments
  services/scribe/backfill/chain.go
Labels: Go

wait for both errgroups
  services/scribe/backfill/chain.go
Labels: Go

go routines (#311)
  services/scribe/backfill/chain.go
Labels: Go

go routines (#311)
  services/scribe/backfill/chain.go
Labels: Go

adding logging
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
Labels: Go

add reset
  services/scribe/backfill/chain.go
Labels: Go

tests
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

init
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
Labels: Go

Additional Scribe logging
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
Labels: Go

Additional Scribe logging
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
Labels: Go

tests and logs
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/lastindexed.go
  services/scribe/db/datastore/sql/base/logger.go
Labels: Go

more logging
  services/scribe/backfill/contract.go
Labels: Go

Reset timeouts
  services/scribe/backfill/chain.go
Labels: Go

Adding tx handling, logs to scribe (#313)
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/lastindexed.go
  services/scribe/db/datastore/sql/base/logger.go
Labels: Go

Adding tx handling, logs to scribe (#313)
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/lastindexed.go
  services/scribe/db/datastore/sql/base/logger.go
Labels: Go

init
  charts/scribe/values.yaml
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/export_test.go
  services/scribe/backfill/scribe.go
  services/scribe/backfill/scribe_test.go
  services/scribe/cmd/commands.go
  services/scribe/config/chain.go
  services/scribe/config/chain_test.go
  services/scribe/config/config.go
  services/scribe/config/config_test.go
  services/scribe/config/generate.go
  services/scribe/node/scribe.go
  services/scribe/node/scribe_test.go
Labels: M-charts, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
