Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

helm
  charts/scribe/Chart.yaml
Labels: M-charts

num confirmations
  services/scribe/cmd/commands.go
Labels: Go

merge
  services/scribe/backfill/contract_test.go
Labels: Go

staging
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/scribe.go
  services/scribe/config/chain.go
Labels: Go

additional logging
  services/scribe/backfill/contract.go
Labels: Go

Preventing bsc/null receipt choking
  charts/scribe/Chart.yaml
  charts/scribe/values.yaml
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/export_test.go
  services/scribe/backfill/scribe.go
  services/scribe/backfill/scribe_test.go
  services/scribe/cmd/commands.go
  services/scribe/config/chain.go
  services/scribe/config/chain_test.go
  services/scribe/config/config.go
  services/scribe/config/config_test.go
  services/scribe/config/generate.go
  services/scribe/node/scribe.go
  services/scribe/node/scribe_test.go
Labels: M-charts, Go

Preventing bsc/null receipt choking
  charts/scribe/Chart.yaml
  charts/scribe/values.yaml
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/export_test.go
  services/scribe/backfill/scribe.go
  services/scribe/backfill/scribe_test.go
  services/scribe/cmd/commands.go
  services/scribe/config/chain.go
  services/scribe/config/chain_test.go
  services/scribe/config/config.go
  services/scribe/config/config_test.go
  services/scribe/config/generate.go
  services/scribe/node/scribe.go
  services/scribe/node/scribe_test.go
Labels: M-charts, Go

add new entity: BondingManager
  packages/contracts-core/contracts/interfaces/ISystemRouter.sol
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add generic assert functions
  packages/contracts-core/contracts/context/DomainContext.sol
  packages/contracts-core/contracts/system/SystemContract.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

BondingManager skeleton
  packages/contracts-core/contracts/bonding/BondingManager.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

SystemRegistry skeleton
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/system/SystemContract.sol
  packages/contracts-core/contracts/system/SystemRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

not working. problems with defer header and passing buffer by ref
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/scribe.go
  services/scribe/backfill/scribe_test.go
  services/scribe/cmd/commands.go
Labels: Go

Update chain.go
  services/scribe/backfill/chain.go
Labels: Go

fixing tests
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/node/explorer_test.go
Labels: Go

rem config
  services/explorer/config.yaml
Labels: none

init
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

clarity comments for error types
  services/scribe/backfill/contract.go
Labels: Go

lint
  services/scribe/backfill/contract.go
Labels: Go

logging
  services/scribe/backfill/chain.go
Labels: Go

more logs
  services/scribe/backfill/chain.go
Labels: Go

init
  charts/explorer/.helmignore
  charts/explorer/Chart.yaml
  charts/explorer/values.yaml
Labels: M-charts

Scribe handling invalid VRS txs
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

Scribe handling invalid VRS txs
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

helm templates
  charts/explorer/Chart.yaml
  charts/explorer/templates/NOTES.txt
  charts/explorer/templates/_helpers.tpl
  charts/explorer/templates/deployment.yaml
  charts/explorer/templates/hpa.yaml
  charts/explorer/templates/ingress.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/templates/serviceaccount.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
Labels: M-charts

templates
  charts/explorer/Chart.lock
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/deployment.yaml
  charts/explorer/templates/hpa.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/values.yaml
Labels: M-charts

add failed log implementation
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/config/chain.go
  services/scribe/db/datastore/sql/base/base_store.go
  services/scribe/db/datastore/sql/base/failedlog.go
  services/scribe/db/datastore/sql/base/model.go
  services/scribe/db/event.go
  services/scribe/db/filters.go
  services/scribe/db/mocks/event_db.go
  services/scribe/types/failedlog.go
Labels: Go

wow i always forget to lint
  services/scribe/types/doc.go
Labels: Go

modify bitnami clickhouse
  charts/explorer/Chart.yaml
  charts/explorer/values.yaml
Labels: M-charts

lint
  charts/explorer/values.yaml
Labels: M-charts

tls
  charts/explorer/values.yaml
Labels: M-charts

update log
  services/scribe/backfill/contract.go
Labels: Go

lint
  charts/explorer/values.yaml
Labels: M-charts

update log (#320)
  services/scribe/backfill/contract.go
Labels: Go

update log (#320)
  services/scribe/backfill/contract.go
Labels: Go

nuke bitnami clickhouse
  charts/explorer/Chart.lock
  charts/explorer/charts/clickhouse/.helmignore
  charts/explorer/charts/clickhouse/Chart.yaml
  charts/explorer/charts/clickhouse/templates/_helpers.tpl
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
  charts/explorer/charts/clickhouse/templates/clickhouse-pvc.yaml
  charts/explorer/charts/clickhouse/templates/clickhouse-svc.yaml
  charts/explorer/charts/clickhouse/values.yaml
  charts/explorer/requirements.lock
Labels: M-charts

v
  charts/explorer/Chart.yaml
Labels: M-charts

v1
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
Labels: M-charts

users
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
  charts/explorer/charts/clickhouse/values.yaml
Labels: M-charts

versions
  charts/explorer/Chart.yaml
  charts/explorer/charts/clickhouse/Chart.yaml
Labels: M-charts

pw
  charts/explorer/Chart.lock
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
  charts/explorer/charts/clickhouse/values.yaml
Labels: M-charts
