Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

merge ticker acceleration - cleanup
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

wrap sin-executor
  sin-executor/contracts/mocks/interchainapp/generate.go
  sin-executor/contracts/mocks/interchainapp/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.metadata.go
  sin-executor/contracts/mocks/interchainappmock/generate.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.abigen.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.contractinfo.json
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
Labels: Go

show explorer data in ticker
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/utils/fakeDataGen/explorerDataCall.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

show explorer data in ticker
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/utils/fakeDataGen/explorerDataCall.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

state should be as localized
  packages/synapse-interface/components/Portfolio/components/ChainTokens.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
Labels: M-synapse-interface

less dtuddery behavior
  packages/synapse-interface/components/Portfolio/components/ChainTokens.tsx
Labels: M-synapse-interface

hm
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
Labels: M-synapse-interface

make it clear when hovering input
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
Labels: M-synapse-interface

close settings slideover
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

need to simplify search
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Add ExecutionFees.sol collector contract & record upon execution serv… (#2082)
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/ExecutionFeesEvents.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: none

smoke cigarrettes, cancer in the chest, cardiac arrest
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/ChainListOverlay.tsx
Labels: M-synapse-interface

at it again for the very first time. hello stranger
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/SettingsButton.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

actually clear what things r doing now
  packages/synapse-interface/components/bridgeSwap/ChainListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

ok
  packages/synapse-interface/components/bridgeSwap/ChainSelector.tsx
Labels: M-synapse-interface

that was too bright, bothering monke
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
Labels: M-synapse-interface

so many of the useMemos are counterproductive
  packages/synapse-interface/components/StateManagedSwap/SwapExchangeRateInfo.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

yep the useMemos are literally slowing things down
  packages/synapse-interface/components/StateManagedSwap/SwapExchangeRateInfo.tsx
Labels: M-synapse-interface

forgot to remove import
  packages/synapse-interface/components/StateManagedSwap/SwapExchangeRateInfo.tsx
Labels: M-synapse-interface

Deploy to Sepolia & OP Sepolia
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708812316.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708812328.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708812320.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708812326.json
Labels: none

cleanup
  sin-executor/executor/executor_test.go
Labels: Go

add table prefix [goreleaser]
  committee/db/mysql/util/ns.go
  sin-executor/db/mysql/mysql.go
Labels: Go

[goreleaser]
  sin-executor/config/config.go
  sin-executor/executor/executor.go
Labels: Go

cleanup
  sin-executor/contracts/interchainclient/helpers.go
  sin-executor/contracts/interchaindb/helpers.go
  sin-executor/contracts/mocks/executionfeesmock/helpers.go
  sin-executor/contracts/mocks/executionservicemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/helpers.go
  sin-executor/contracts/mocks/interchainmodulemock/helpers.go
  sin-executor/contracts/mocks/optionslibexport/helpers.go
Labels: Go

add yaml key for config [goreleaser]
  sin-executor/config/config.go
Labels: Go

cleanup [goreleaser]
  .golangci.yml
  sin-executor/contracts/mocks/executionfeesmock/helpers.go
  sin-executor/db/model.go
Labels: Go

console
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

Revert "console"
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

Deploy to Sepolia & OP Sepolia
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/deployExecutionFees-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708878607.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708878614.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/deployExecutionFees-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708878480.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708878486.json
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

otf to woff2 since way better load speed & compression
  packages/synapse-interface/styles/font/Matter-Bold.otf
  packages/synapse-interface/styles/font/Matter-Bold.woff2
  packages/synapse-interface/styles/font/Matter-BoldItalic.otf
  packages/synapse-interface/styles/font/Matter-BoldItalic.woff2
  packages/synapse-interface/styles/font/Matter-Heavy.otf
  packages/synapse-interface/styles/font/Matter-Heavy.woff2
  packages/synapse-interface/styles/font/Matter-HeavyItalic.otf
  packages/synapse-interface/styles/font/Matter-HeavyItalic.woff2
  packages/synapse-interface/styles/font/Matter-Light.otf
  packages/synapse-interface/styles/font/Matter-Light.woff2
  packages/synapse-interface/styles/font/Matter-LightItalic.otf
  packages/synapse-interface/styles/font/Matter-LightItalic.woff2
  packages/synapse-interface/styles/font/Matter-Medium.otf
  packages/synapse-interface/styles/font/Matter-Medium.woff2
  packages/synapse-interface/styles/font/Matter-MediumItalic.otf
  packages/synapse-interface/styles/font/Matter-MediumItalic.woff2
  packages/synapse-interface/styles/font/Matter-Regular.otf
  packages/synapse-interface/styles/font/Matter-Regular.woff2
  packages/synapse-interface/styles/font/Matter-RegularItalic.otf
  packages/synapse-interface/styles/font/Matter-RegularItalic.woff2
  packages/synapse-interface/styles/font/Matter-SemiBold.otf
  packages/synapse-interface/styles/font/Matter-SemiBold.woff2
  packages/synapse-interface/styles/font/Matter-SemiBoldItalic.otf
  packages/synapse-interface/styles/font/Matter-SemiBoldItalic.woff2
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface

rm dead dw removals
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

god damn it its stil included in default color config
  packages/synapse-interface/postcss.config.js
  packages/synapse-interface/styles/global.css
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2099)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2099)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

hm lets see if css nesting works
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

lets simplify some css
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface

cleaner css
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface
