Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Simplify math
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

Implement `verifyEntry()`
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

Add condition to prevent fetching bridge tx status if tx is stored as reverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
Labels: M-synapse-interface

Fix console bugs
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
Labels: M-synapse-interface

Check for tx revert once estimated time is reached
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.ts
Labels: M-synapse-interface

useIsTxReverted moved to file, wrap getTransacationReceipt in try catch
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getTransactionReceipt.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

Add comments to remove after testing
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

Clean imports
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
Labels: M-synapse-interface

better tx generation
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

better tx generation
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

rm unused dep
  packages/synapse-interface/package.json
Labels: M-synapse-interface

landing bg color
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

landing bg color
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

Account for router as path /
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
Labels: M-synapse-interface

landing bg color
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

landing bg color
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

responsive nav 1
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

responsive nav 1
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

responsive tailwind layout
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/SynapseIcon.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

responsive tailwind layout
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/SynapseIcon.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

move content to components
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/SynapseLogo.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

move content to components
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/SynapseLogo.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

navmenu hover fix
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/navmenu.module.css
Labels: M-synapse-interface

navmenu hover fix
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/navmenu.module.css
Labels: M-synapse-interface

footer color change
  packages/synapse-interface/pages/teaser/footer.tsx
Labels: M-synapse-interface

footer color change
  packages/synapse-interface/pages/teaser/footer.tsx
Labels: M-synapse-interface

expose view for isExecutable
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

fix build issues
  packages/synapse-interface/pages/teaser/SynapseLogo.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
Labels: M-synapse-interface

fix build issues
  packages/synapse-interface/pages/teaser/SynapseLogo.tsx
  packages/synapse-interface/pages/teaser/footer.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
Labels: M-synapse-interface

scaffold
  ethergo/deployer/functional.go
  ethergo/manager/manager.go
  go.work
  go.work.sum
  sin-executor/contracts/interchainclient/generate.go
  sin-executor/contracts/interchainclient/helpers.go
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.metadata.go
  sin-executor/contracts/interchaindb/generate.go
  sin-executor/contracts/interchaindb/helpers.go
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.metadata.go
  sin-executor/db/base/block.go
  sin-executor/db/base/model.go
  sin-executor/db/base/store.go
  sin-executor/db/connect/sql.go
  sin-executor/db/db.go
  sin-executor/db/doc.go
  sin-executor/db/executablestatus_string.go
  sin-executor/db/mysql/mysql.go
  sin-executor/db/sqlite/sqlite.go
  sin-executor/go.mod
  sin-executor/go.sum
  sin-executor/listener/doc.go
  sin-executor/listener/listener.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/suite_test.go
  sin-executor/testutil/typecast.go
Labels: Go

rename footer to landingfooter (idk why)
  packages/synapse-interface/pages/teaser/LandingFooter.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

rename footer to landingfooter (idk why)
  packages/synapse-interface/pages/teaser/LandingFooter.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

fix build issues
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Functionalize view
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Seperate execution logic into view subfunctions
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

only execute message once
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

add event on execution
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

add natspec, fix interface
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Interchain: Expose isExecutable View (#2055)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

regen
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
