Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

renovate update
  .github/workflows/renovate.yml
Labels: none

test fix
  .github/renovate.json
Labels: none

retest fix
  .github/workflows/renovate.yml
Labels: none

see if we can switch up log level
  .github/workflows/renovate.yml
Labels: none

fix(deps): update dependency @openzeppelin/contracts to v4.9.6
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

fix(deps): update dependency @openzeppelin/contracts-upgradeable to v4.9.6
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

fix(deps): update dependency @openzeppelin/contracts to v5
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

Moves price fetching to single interval hook
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useFetchPricesOnInterval.ts
Labels: M-synapse-interface

update limts
  .github/renovate.json
Labels: none

fix(deps): update dependency @openzeppelin/contracts-upgradeable to v5
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

try to test go
  .github/renovate.json
Labels: none

TransactionDetails status
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Labels: M-synapse-interface

skip
  .github/renovate.json
Labels: none

fix(deps): update dependency @openzeppelin/contracts to v4.9.6 [ci skip]
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

fix(deps): update dependency @openzeppelin/contracts-upgradeable to v4.9.6 [ci skip]
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

fix(deps): update dependency @openzeppelin/contracts to v5 [ci skip]
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

fix(deps): update dependency @openzeppelin/contracts-upgradeable to v5 [ci skip]
  packages/contracts-core/package.json
Labels: 2-reviewers, M-contracts

completeTransaction and revertTransaction reducers to update status prop
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
Labels: M-synapse-interface

more cleanup
  .github/renovate.json
Labels: none

fix(deps): update github.com/augustoroman/hexdump digest to 3694912 [ci skip]
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
Labels: none

fix(deps): update github.com/gen2brain/beeep digest to c7bb2cd [ci skip]
  tools/go.mod
  tools/go.sum
Labels: none

fix(deps): update github.com/hashicorp/go-cty digest to 8598007 [ci skip]
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
Labels: none

fix(deps): update github.com/hashicorp/terraform-provider-helm digest to ead1acf [ci skip]
  contrib/terraform-provider-helmproxy/go.mod
Labels: none

Replace status props with updated control flow
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

Clean
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

Move deploy scripts
  packages/contracts-communication/script/deploy/DeployInterchainClientV1.s.sol
  packages/contracts-communication/script/deploy/DeployNoArgs.s.sol
  packages/contracts-communication/script/deploy/DeploySynapseModule.s.sol
  packages/contracts-communication/script/deploy/DeployWithMsgSender.s.sol
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

deploy fastbridge onto blast
  packages/contracts-rfq/broadcast/FastBridge.s.sol/81457/dry-run/run-1709259890.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/81457/dry-run/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/81457/run-1709259896.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/81457/run-1709259902.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/81457/run-latest.json
Labels: none

Adds Blast (#2140)
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: none

Adds Blast (#2140)
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: none

Fe/transaction faq (#2136)
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
Labels: M-synapse-interface

Fe/transaction faq (#2136)
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
Labels: M-synapse-interface

Clean
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Updates bridgemap
  packages/synapse-interface/constants/bridgeMap.ts
Labels: M-synapse-interface

Adds Blast
  packages/synapse-interface/assets/chains/blast.svg
  packages/synapse-interface/assets/explorer/blast.svg
  packages/synapse-interface/assets/icons/usdb.png
  packages/synapse-interface/assets/icons/usdb.svg
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface

Updates addresses
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/cypress/fixtures/bridge.json
Labels: M-synapse-interface

Upgrade persist version for changes in _transaction slice
  packages/synapse-interface/store/reducer.ts
Labels: M-synapse-interface

Remove logs
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

Blast pools at top
  packages/synapse-interface/components/HarmonyCheck.tsx
  packages/synapse-interface/pages/pools/index.tsx
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
