Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

yeah versioning
  charts/explorer/Chart.yaml
Labels: M-charts

lock
  charts/explorer/Chart.lock
  charts/explorer/requirements.lock
Labels: M-charts

env
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
  charts/explorer/charts/clickhouse/values.yaml
Labels: M-charts

extra containers
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
  charts/explorer/charts/clickhouse/values.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/values.yaml
Labels: M-charts

lint
  charts/explorer/values.yaml
Labels: M-charts

connect
  charts/explorer/values.yaml
Labels: M-charts

not working
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

adding bsc tx not found thing
  services/scribe/backfill/contract.go
Labels: Go

Apply suggestions from code review
  packages/contracts-core/test/README.md
Labels: 2-reviewers, M-contracts

regenerate agents
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

tests
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/db/datastore/sql/base/failedlog.go
Labels: Go

linted :)
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
Labels: Go

stash
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/scribe.go
Labels: Go

case
  services/scribe/backfill/contract.go
Labels: Go

fix parity test
  agents/types/parity_test.go
Labels: Go

casing
  services/scribe/backfill/contract.go
Labels: Go

adding additional blocktime backfiller
  services/scribe/backfill/chain.go
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

comments
  services/scribe/backfill/chain.go
Labels: Go

logger
  services/scribe/backfill/chain.go
  services/scribe/backfill/logger.go
  services/scribe/config.yaml
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

lint
  services/scribe/backfill/chain.go
Labels: Go

nuke config
  services/scribe/config.yaml
Labels: none

nuke silent db storing
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

add: system multiCall wrapper methods
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

logging up
  services/scribe/backfill/contract.go
Labels: Go

upterm
  .github/workflows/helm-test.yml
Labels: none

nuke upterm, keep alive
  .github/workflows/helm-test.yml
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
Labels: M-charts

comment
  services/scribe/backfill/chain.go
Labels: Go

adding paths
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
Labels: M-charts

default user config
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
Labels: M-charts

editing user types
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
  charts/explorer/charts/clickhouse/templates/user.yaml
  charts/explorer/charts/clickhouse/values.yaml
Labels: M-charts

rm default
  charts/explorer/charts/clickhouse/templates/clickhouse-configmap.yaml
  charts/explorer/charts/clickhouse/templates/user.yaml
Labels: M-charts

error handle
  services/scribe/backfill/chain.go
Labels: Go

change retrieveBlockTimesCountForChain
  services/scribe/db/datastore/sql/base/blocktime.go
Labels: Go

add gql support
  services/scribe/api/data_test.go
  services/scribe/db/datastore/sql/base/failedlog.go
  services/scribe/db/event.go
  services/scribe/db/filter.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/model/models_gen.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
  services/scribe/graphql/server/graph/schema/types.graphql
  services/scribe/graphql/server/graph/utils.go
Labels: Go

init
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/event.go
  services/scribe/db/lastblocktime_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/model/models_gen.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
  services/scribe/graphql/server/graph/schema/types.graphql
Labels: Go

tests
  services/scribe/api/data_test.go
  services/scribe/db/lastblocktime_test.go
Labels: Go

deployment changes
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
Labels: M-charts

cmd
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
Labels: M-charts

revert
  charts/explorer/charts/clickhouse/templates/clickhouse-deployment.yaml
Labels: M-charts

fix: SystemCall typing
  packages/contracts-core/contracts/libs/SystemCall.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
