Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Deprecate old SynapseModule
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
Labels: none

Fix ClientV1 test
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Chore: cleanup
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Chore: renamoooor
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/events/ThresholdECDSAModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Revert "Fix ClientV1 test"
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Revert "Chore: cleanup"
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Fix ClientV1 test
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Chore: cleanup
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Add encode/decode versioned options
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: none

Add `OptionsV1` struct
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: none

Use `OptionsV1` in other contracts
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: none

Contracts/communication synapse module (#2050)
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IGasOracle.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/harnesses/ThresholdECDSALibHarness.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/mocks/GasOracleMock.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Add versioned options (#2060)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: none

Stip relayer min ARB transfer (#2059)
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

Stip relayer min ARB transfer (#2059)
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

sizing
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

spacing
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

First draft for Executor interface
  packages/contracts-communication/contracts/interfaces/IExecutor.sol
Labels: none

forgot to add catch on initial hydration
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

Highlight Stake on individual stake pages
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

gm to all the synapes
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
  packages/sdk-router/tsconfig.json
Labels: none

Interface for execution fees custody contract
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutor.sol
Labels: none

Removes Regex prop type for navigation routes
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

init basic script for testnet deploy
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

remove classnames
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface

Fe/refactor navigation (#2051)
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

Fe/refactor navigation (#2051)
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

0 optimistic
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.abigen.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/typecast.go
Labels: Go

rm interchaimodule
  packages/contracts-communication/contracts/InterchainModule.sol
Labels: none

cache time update
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

cache time update
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

god damn copilot added comma
  packages/sdk-router/tsconfig.json
Labels: none

fucking copilot
  packages/sdk-router/tsconfig.json
Labels: none

add screener command [goreleaser]
  contrib/screener-api/cmd/cmd.go
  contrib/screener-api/cmd/commands.go
  contrib/screener-api/screener/export_test.go
  contrib/screener-api/screener/setup.go
  contrib/screener-api/screener/suite_test.go
Labels: Go

Update contrib/screener-api/cmd/commands.go
  contrib/screener-api/cmd/commands.go
Labels: Go

Screening Splitter (#2065)
  contrib/screener-api/cmd/cmd.go
  contrib/screener-api/cmd/commands.go
  contrib/screener-api/screener/export_test.go
  contrib/screener-api/screener/setup.go
  contrib/screener-api/screener/suite_test.go
Labels: Go

Screening Splitter (#2065)
  contrib/screener-api/cmd/cmd.go
  contrib/screener-api/cmd/commands.go
  contrib/screener-api/screener/export_test.go
  contrib/screener-api/screener/setup.go
  contrib/screener-api/screener/suite_test.go
Labels: Go

Address screener with message (#2021)
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/utils/globalEventEmitter.ts
  packages/synapse-interface/utils/hooks/useRiskEvent.tsx
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
