Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

turn off initial hydration
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

Fix: stiprelayer build
  services/stiprelayer/relayer/dune.go
Labels: Go

no more ipfs
  committee/p2p/boot.go
Labels: Go

disable hydration
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/SimpleCache.ts
Labels: none

Feat: specify LastHours param in dune request
  services/stiprelayer/relayer/dune.go
Labels: Go

Update InterchainDB tests
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

Use `dbNonce` in InterchainClient
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update the rest of the tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

mess around w/ a external relay
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/relay.go
  go.work.sum
Labels: Go

remove relay [goreleaser]
  committee/p2p/relay.go
Labels: Go

relayrouter [goreleaser]
  committee/p2p/boot.go
Labels: Go

autorelay [goreleaser]
  committee/p2p/boot.go
Labels: Go

Add comments
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Feat: relconfig Bridge -> RFQAddress, add CCTPAddress
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/relayer/service/suite_test.go
Labels: Go

Feat: add RebalanceMethod enum
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/enum.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/relconfig/rebalancemethod_string.go
Labels: Go

force reachability private [goreleaesr] [goreleaser]
  committee/p2p/boot.go
Labels: Go

Feat: add MaintenanceBalancePct and InitialBalancePct
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Feat: add RebalanceMethodNone
  services/rfq/relayer/relconfig/enum.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Update `interchainSend()` interface
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Add execution service interaction in `interchainSend()`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Add `executionFees` to InterchainClient
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Add mocks for the new interfaces
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: none

Remove variable to fix stack too deep
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Update the tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Chore: small cleanup for imports
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

add testnet broadcasts
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-1708379237.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379427.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379439.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381080.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381086.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-latest.json
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

Contracts/communication update client interface (#2070)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: none

moved strings.tsx from pages to utils and renamed
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

moved strings.tsx from pages to utils and renamed
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

prettier update
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

prettier update
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

hostname [goreleaser]
  committee/config/config.go
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

swap host and port [goreleaser]
  committee/p2p/boot.go
Labels: Go

Global db nonces in `InterchainDB` (#2068)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Feat: add Rebalance() to inventory manager
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Labels: Go

Cleanup: remove rebalance.go
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

Init basic script for testnet deploy (#2064)
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-1708379237.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379427.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379439.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381080.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381086.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-latest.json
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

Feat: add submitter to inventory manager
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/relayer.go
Labels: Go

Cleanup: Adress -> Address
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Labels: Go

Prettier vscode for typescriptreact
  .vscode/settings.json
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
