Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

coderabbit update [goreleaser]
  .coderabbit.yaml
Labels: none

note fix
  make/go.Makefile
Labels: none

feat: add payable and fee estimation to interchain communication contracts
  packages/contracts-communication/contracts/IInterchain.sol
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/modules/OPL1L2Module.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
Labels: none

go work sync
  make/repo.Makefile
Labels: none

Use numeral to format number
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
Labels: M-synapse-interface

use ethergo in tools (#2025)
  .coderabbit.yaml
  agents/go.mod
  agents/go.sum
  go.work.sum
  make/repo.Makefile
  services/explorer/go.mod
  services/explorer/go.sum
  services/rfq/.goreleaser.yml
  services/rfq/README.md
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/tools/rfqdecoder/main.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  tools/go.mod
Labels: Go

use ethergo in tools (#2025)
  .coderabbit.yaml
  agents/go.mod
  agents/go.sum
  go.work.sum
  make/repo.Makefile
  services/explorer/go.mod
  services/explorer/go.sum
  services/rfq/.goreleaser.yml
  services/rfq/README.md
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/tools/rfqdecoder/main.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  tools/go.mod
Labels: Go

cleanup
  tools/go.sum
Labels: none

Estimate gas with public client
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Fe/txn progress visuals (#2002)
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/icons/DownArrow.tsx
  packages/synapse-interface/components/icons/RightArrow.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

Fe/txn progress visuals (#2002)
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/icons/DownArrow.tsx
  packages/synapse-interface/components/icons/RightArrow.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Test custom rpc estimateGas
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Scaffold `resolve()`
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

Use real-life timestamps for tests
  packages/contracts-rfq/foundry.toml
Labels: none

Use "Verify&Update status -> Check Data" workflow
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: none

Feat: add getCalls() helper
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

add null logger
  core/metrics/base.go
  core/metrics/experimental.go
  core/metrics/logger_generated.go
  core/metrics/null.go
Labels: Go

Feat: fall back to config value on failed gas estimate
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

Feat: remove retries on gas estimation
  services/rfq/relayer/pricer/calls.go
Labels: Go

Feat: add gas estimate caching
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/relconfig/config.go
Labels: Go

Feat: add cache tracing
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

Don't use Llama nodes for map generation
  packages/synapse-interface/scripts/data/providers.json
Labels: M-synapse-interface

Regenerate bridge map
  packages/synapse-interface/constants/bridgeMap.ts
Labels: M-synapse-interface

context aware logger
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/ginhelper/experimental_logger.go
  core/ginhelper/server.go
  core/ginhelper/server_test.go
  core/ginhelper/suite_test.go
  core/go.mod
  core/go.sum
  core/metrics/base.go
  core/metrics/logger/doc.go
  core/metrics/logger/experimental.go
  core/metrics/logger/logger_generated.go
  core/metrics/metrics.go
  core/metrics/null.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: Go

rightarrow jsx fix post merge
  packages/synapse-interface/components/icons/RightArrow.tsx
Labels: M-synapse-interface

log fix
  services/omnirpc/cmd/commands.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/modules/confirmedtofinalized/const.go
  services/omnirpc/modules/confirmedtofinalized/doc.go
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/omnirpc/proxy/confirmable.go
Labels: Go

tidy up
  .github/workflows/go.yml
  .golangci.yml
  agents/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.sum
  core/ginhelper/experimental_logger.go
  ethergo/go.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/rfq/go.sum
  services/scribe/go.sum
  services/sinner/go.sum
  services/stiprelayer/go.sum
  tools/go.sum
Labels: Go

use aritfacts/upload-v4 for an up to 90% improvement [goreleaser]
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/lint.yml
Labels: none

new linter
  .golangci.yml
  contrib/screener-api/client/client.go
  contrib/screener-api/db/sql/sqlite/sqlite.go
Labels: Go

Upd SDK test: receive USDC via SynapseBridge on AVAX
  packages/sdk-router/src/sdk.test.ts
Labels: none

use this branch from now
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
Labels: M-synapse-interface

Upd SDK test: receive USDC via SynapseBridge on AVAX (#2027)
  packages/sdk-router/src/sdk.test.ts
Labels: none

Upd SDK test: receive USDC via SynapseBridge on AVAX (#2027)
  packages/sdk-router/src/sdk.test.ts
Labels: none

InterchainDB: first pass
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/foundry.toml
Labels: none

rewrite
  ethergo/parser/rpc/rpc.go
  services/omnirpc/cmd/flags.go
Labels: Go

update [goreleaser]
  services/omnirpc/README.md
Labels: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface
