Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Feat: RebalanceMethodCCTP -> RebalanceMethodSynapseCCTP
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/relconfig/enum.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/relconfig/rebalancemethod_string.go
Labels: Go

Feat: add RebalanceMethodCircleCCTP
  services/rfq/relayer/relconfig/enum.go
  services/rfq/relayer/relconfig/rebalancemethod_string.go
Labels: Go

Feat: add rebalanceManagerSynapseCCTP and move to new file
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/inventory/synapse.go
Labels: Go

Feat: circlecctp -> messagetransmitter
  services/cctp-relayer/contracts/circlecctp/circlecctp.contractinfo.json
  services/cctp-relayer/contracts/circlecctp/doc.go
  services/cctp-relayer/contracts/circlecctp/generate.go
  services/cctp-relayer/contracts/messagetransmitter/doc.go
  services/cctp-relayer/contracts/messagetransmitter/generate.go
  services/cctp-relayer/contracts/messagetransmitter/messagetransmitter.abigen.go
  services/cctp-relayer/contracts/messagetransmitter/messagetransmitter.contractinfo.json
  services/cctp-relayer/contracts/messagetransmitter/messagetransmitter.metadata.go
  services/cctp-relayer/contracts/messagetransmitter/topics.go
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/synapse.go
Labels: Go

Feat: add tokenmessenger pkg
  services/cctp-relayer/contracts/tokenmessenger/doc.go
  services/cctp-relayer/contracts/tokenmessenger/generate.go
  services/cctp-relayer/contracts/tokenmessenger/tokenmessenger.abigen.go
  services/cctp-relayer/contracts/tokenmessenger/tokenmessenger.contractinfo.json
  services/cctp-relayer/contracts/tokenmessenger/tokenmessenger.metadata.go
Labels: Go

Cleanup: export CircleDomainToChainID
  services/cctp-relayer/relayer/chains.go
  services/cctp-relayer/relayer/circle.go
Labels: Go

Feat: export IsTestnetChainID, add reverse maps
  services/cctp-relayer/relayer/chains.go
  services/cctp-relayer/relayer/circle.go
Labels: Go

Feat: add rebalanceManagerCircleCCTP
  services/rfq/relayer/inventory/circle.go
Labels: Go

Feat: InventoryManager spins up rebalanceManagerCircleCCTP
  services/rfq/relayer/inventory/manager.go
Labels: Go

Cleanup: newrebalanceManager -> newRebalanceManager
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/synapse.go
Labels: Go

Cleanup: comment
  services/rfq/relayer/inventory/circle.go
Labels: Go

Feat: add GetTxSender() helper
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/util.go
  services/rfq/relayer/inventory/circle.go
Labels: Go

Feat: parse synapsecctp and circlecctp rebalance methods from config
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Cleanup: lints
  services/cctp-relayer/contracts/tokenmessenger/doc.go
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/util.go
  services/cctp-relayer/relayer/util_test.go
  services/rfq/relayer/service/relayer.go
Labels: Go

Feat: module data passing (#2205)
  packages/contracts-communication/configs/global/ExecutionService.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracle.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/libs/ModuleEntry.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/script/testnet-deploy.sh
  packages/contracts-communication/test/ExecutionService.t.sol
  packages/contracts-communication/test/harnesses/ModuleEntryLibHarness.sol
  packages/contracts-communication/test/libs/ModuleEntryLib.t.sol
  packages/contracts-communication/test/mocks/SynapseGasOracleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Fix duplicate import
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Improve isEmptyString
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
  packages/synapse-interface/utils/isEmptyString.ts
Labels: M-synapse-interface

SwitchButton takes priority over OutputContainer in visual layer
  packages/synapse-interface/components/buttons/SwitchButton.tsx
Labels: M-synapse-interface

Clear Input button
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
  packages/synapse-interface/utils/hooks/usePendingTxWrapper.tsx
Labels: M-synapse-interface

feat(synapse-interface): update button states (#2214)
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

feat(synapse-interface): update button states (#2214)
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Style and format clear button for smooth input clearing
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
  packages/synapse-interface/components/StateManagedBridge/components/CloseButton.tsx
Labels: M-synapse-interface

Style Close Button
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Clean
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

filterTransactionsByRecipient
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
Labels: M-synapse-interface

Calculate days ago a recipient tx was executed
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

filterNewestTxByRecipient
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Display list of recipient addresses when input is focused
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Style Receipient dropdown list
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Destination address settable from dropdown list
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Close dropdown after selecting new destination address from list
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Disable Input if wallet unconnected
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

Hover text on Input
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
  packages/synapse-interface/components/ui/tailwind/Tooltip.tsx
Labels: M-synapse-interface

Input html states, styling
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Labels: M-synapse-interface

regen (#2210)
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
Labels: Go

regen (#2210)
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
Labels: Go

[goreleaser] fix signature erorr
  committee/node/node.go
Labels: Go

project lead
  yarn.lock
Labels: none
