Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Add: batchKey()
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
Labels: none

icDB: readEntry -> checkVerification
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

Update tests to match the new interface
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Labels: none

icDB: verifyEntry -> verifyRemoteBatch
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Fix: revert on same chain ID
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

periodically bootstarp [goreleaser]
  committee/p2p/boot.go
Labels: Go

[goreleaser]
  services/stiprelayer/main.go
Labels: Go

devops docs
  .github/workflows/solidity.yml
  packages/solidity-devops/vercel.package.json
Labels: none

devops fix
  .github/workflows/solidity.yml
Labels: none

symbol fix
  .github/workflows/solidity.yml
Labels: none

fix path
  packages/solidity-devops/README.md
Labels: none

autodoc
  .github/workflows/solidity.yml
Labels: none

package.json fix
  packages/contracts-communication/vercel.package.json
Labels: none

rerun job
  .github/workflows/solidity.yml
  packages/contracts-communication/.env.example
Labels: none

Revert "rerun job"
  .github/workflows/solidity.yml
  packages/contracts-communication/.env.example
Labels: none

docs
  packages/solidity-devops/.gitignore
Labels: none

docs in gitignore
  packages/contracts-communication/.gitignore
Labels: none

upterm for debug
  .github/workflows/solidity.yml
Labels: none

docs
  .github/workflows/solidity.yml
  packages/solidity-devops/README.md
Labels: none

revert me
  packages/contracts-communication/package.json
Labels: none

Revert "revert me"
  packages/contracts-communication/package.json
Labels: none

devops docs (#2241)
  .github/workflows/solidity.yml
  packages/solidity-devops/.gitignore
  packages/solidity-devops/README.md
  packages/solidity-devops/vercel.package.json
Labels: none

devops docs (#2241)
  .github/workflows/solidity.yml
  packages/solidity-devops/.gitignore
  packages/solidity-devops/README.md
  packages/solidity-devops/vercel.package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

fix string literal
  .github/workflows/solidity.yml
  packages/contracts-communication/README.md
Labels: none

interchain contract docs
  .github/workflows/solidity.yml
  packages/contracts-interchain/vercel.package.json
Labels: none

interchain contract docs (#2242)
  .github/workflows/solidity.yml
  packages/contracts-interchain/vercel.package.json
Labels: none

coderabbit cleanup
  .coderabbit.yaml
Labels: none

Remove todo
  .github/workflows/solidity.yml
Labels: none

fix quoting
  .coderabbit.yaml
Labels: none

coderabbit cleanup (#2244)
  .coderabbit.yaml
Labels: none

coderabbit cleanup (#2244)
  .coderabbit.yaml
Labels: none

fix contributing.md spacing
  CONTRIBUTING.md
Labels: none

fix contributing.md spacing (#2245)
  CONTRIBUTING.md
Labels: none

fix contributing.md spacing (#2245)
  CONTRIBUTING.md
Labels: none

nit: remove extraneous directives from stiprelayer
  services/stiprelayer/go.mod
Labels: none

nit: remove extraneous directives from stiprelayer (#2246)
  services/stiprelayer/go.mod
Labels: none

nit: remove extraneous directives from stiprelayer (#2246)
  services/stiprelayer/go.mod
Labels: none

updating to use snowscan
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/package.json
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
