Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

RFQ relayer checks gas before committing to request (#2215)
  services/rfq/relayer/service/statushandler.go
Labels: Go

RFQ relayer checks gas before committing to request (#2215)
  services/rfq/relayer/service/statushandler.go
Labels: Go

Uses status to determine completion/reversion in downstream component
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
Labels: M-synapse-interface

Replaces with status
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

Mark potentially undefined Chain name
  packages/synapse-interface/pages/pool/PoolBody.tsx
Labels: M-synapse-interface

Remove unnecessary prop for LoadingDots
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
Labels: M-synapse-interface

Mark potentially undefined Chain name (#2218)
  packages/synapse-interface/pages/pool/PoolBody.tsx
Labels: M-synapse-interface

Mark potentially undefined Chain name (#2218)
  packages/synapse-interface/pages/pool/PoolBody.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Add refunder role, modify test setup
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/test/FastBridge.t.sol
Labels: none

Clarify initial timestamp in tests
  packages/contracts-rfq/foundry.toml
Labels: none

Define unit tests for new prove/refund workflows
  packages/contracts-rfq/test/FastBridge.t.sol
Labels: none

Feat: rm proving period
  packages/contracts-rfq/contracts/FastBridge.sol
Labels: none

Feat: different refund periods
  packages/contracts-rfq/contracts/FastBridge.sol
Labels: none

Remove stuff that's already in AccessControl
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
Labels: none

Update test and script
  packages/contracts-rfq/script/FastBridge.s.sol
  packages/contracts-rfq/test/FastBridge.t.sol
Labels: none

Update test with custom errors
  packages/contracts-rfq/test/FastBridge.t.sol
Labels: none

Feat: use AccessControlEnumerable
  packages/contracts-rfq/contracts/Admin.sol
Labels: none

Add `solidity-devops` package
  package.json
  packages/contracts-rfq/package.json
Labels: none

Rm broadcast folder
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831049.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831763.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831771.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831793.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190115.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190123.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190142.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209634.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209657.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209980.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210076.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210169.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474075.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474652.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474700.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704475328.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829920.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829927.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829947.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995462.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995597.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995658.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189759.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189778.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209557.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209577.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704474223.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704474225.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704829842.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704829847.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995397.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995419.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-latest.json
Labels: none

Add devops configs
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/.gitignore
  packages/contracts-rfq/configs/global/FastBridge.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/foundry.toml
Labels: none

Chore: consistent formatting across packages
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
Labels: none

Add broadcast to gitignore
  packages/contracts-rfq/.gitignore
Labels: none

Add deployment script
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/remappings.txt
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
Labels: none

Add configuration script
  packages/contracts-rfq/configs/global/FastBridge.json
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
Labels: none

Add bash scripts
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
Labels: none

feat(solidity-devops): print init code hash before CREATE2 deployment
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

feat(solidity-devops): print init code hash before CREATE2 deployment
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Revert "Publish"
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Revert "Publish"
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Revert "feat(solidity-devops): print init code hash before CREATE2 deployment"
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Revert "feat(solidity-devops): print init code hash before CREATE2 deployment"
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Print initCodeHash before CREATE2 deployment
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Print initCodeHash before CREATE2 deployment (#2220)
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Print initCodeHash before CREATE2 deployment (#2220)
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none
