Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

lol
  packages/synapse-interface/utils/toHexStr.ts
Labels: M-synapse-interface

SDK: synapse router on Blast (#2211)
  packages/sdk-router/src/constants/addresses.ts
Labels: none

SDK: synapse router on Blast (#2211)
  packages/sdk-router/src/constants/addresses.ts
Labels: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

fix rfq docs
  services/rfq/api/cmd/commands.go
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/metadata/metadata.go
Labels: Go

stip
  services/stiprelayer/cmd/commands.go
  services/stiprelayer/main.go
Labels: Go

fix rfq docs (#2213)
  services/rfq/api/cmd/commands.go
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/metadata/metadata.go
  services/stiprelayer/cmd/commands.go
  services/stiprelayer/main.go
Labels: Go

fix rfq docs (#2213)
  services/rfq/api/cmd/commands.go
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/metadata/metadata.go
  services/stiprelayer/cmd/commands.go
  services/stiprelayer/main.go
Labels: Go

Add "Swap" button state
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
Labels: M-synapse-interface

Stake button detects insufficient balance based on user input compared to balance
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Disable Unstake button when input greater than staked balance
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Unstake Button text when input too great
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

add blast to config
  contrib/promexporter/config/config.go
  contrib/promexporter/internal/types/chainID.go
Labels: Go

Update check for no lp token balance
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Remove isCompleted and isReverted after verifying status replaces
  packages/synapse-interface/slices/_transactions/reducer.ts
Labels: M-synapse-interface

Update check for tx isComplete & isReverted in useBridgeTxUpdater to status
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
Labels: M-synapse-interface

Remove status variables in _Transaction
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

...
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Trim trailing zeroes after balances
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Trim trailing zeroes off stake pool lp data
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Feat: add evm-cctp-contracts as submodule
  .gitmodules
Labels: none

Rm unused var
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Remove unused imports on Swap page
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Fix: wrap handleSeen in gasMiddleware
  services/rfq/relayer/service/statushandler.go
Labels: Go

w
  packages/synapse-interface/utils/slippage.ts
Labels: M-synapse-interface

Feat: add CCTPMethod to cctp relayer config
  services/cctp-relayer/config/config.go
Labels: Go

Fix: remove gasMiddleware from handleRelayCompleted call
  services/rfq/relayer/service/statushandler.go
Labels: Go

Feta: add gasMiddleware to commitPending, commitConfirmed, remove from handleRelayCompleted
  services/rfq/relayer/service/statushandler.go
Labels: Go

Add conditions for when Approve button label appears
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
Labels: M-synapse-interface

Actions dropdown positioning
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Improve error handling
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Feat: add relayTypes.MessageType enum
  services/cctp-relayer/config/config.go
  services/cctp-relayer/types/message.go
  services/cctp-relayer/types/type.go
Labels: Go

Feat: add placeholder funcs for each cctp type
  services/cctp-relayer/relayer/relayer.go
Labels: Go

Feat: add CircleCCTPAddress to chain config
  services/cctp-relayer/config/chain.go
Labels: Go

WIP: contract setup
  services/cctp-relayer/relayer/relayer.go
Labels: Go

Feat: implement receiveMessage()
  services/cctp-relayer/relayer/relayer.go
Labels: Go

Feat: add circlecctp package for circle's MessageTransmitter go bindings
  services/cctp-relayer/contracts/circlecctp/circlecctp.abigen.go
  services/cctp-relayer/contracts/circlecctp/circlecctp.contractinfo.json
  services/cctp-relayer/contracts/circlecctp/circlecctp.metadata.go
  services/cctp-relayer/contracts/circlecctp/doc.go
  services/cctp-relayer/contracts/circlecctp/generate.go
Labels: Go

Feat: add topics.go for circlecctp pkg
  services/cctp-relayer/contracts/circlecctp/topics.go
Labels: Go

Feta: use real MessageTransmitter contract for event parsing
  services/cctp-relayer/relayer/relayer.go
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
