Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

updating to use snowscan (#2247)
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/package.json
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface

updating to use snowscan (#2247)
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/package.json
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface

Add tests for verifying slightly modified entry
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

Fix: entry index when checking verification
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

Feat: add more tracing around depositForBurn()
  services/rfq/relayer/inventory/circle.go
Labels: Go

Fix: check for nil transactor
  services/rfq/relayer/inventory/circle.go
Labels: Go

WIP: add ParseSender() helper
  services/cctp-relayer/relayer/util.go
  services/cctp-relayer/relayer/util_test.go
Labels: Go

Fix: TestParseSender
  services/cctp-relayer/relayer/util_test.go
Labels: Go

Feat: add address <> bytes32 helpers, remove GetTxSender()
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/util.go
  services/rfq/relayer/inventory/circle.go
Labels: Go

Feat: add tracing around succesful sender parsing
  services/cctp-relayer/relayer/circle.go
Labels: Go

Feat: add block_number tracing
  services/cctp-relayer/relayer/circle.go
Labels: Go

Cleanup: remove unused MessageType from db model
  services/cctp-relayer/types/message.go
Labels: Go

why wasnt this enum...
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
Labels: M-synapse-interface

Cleanup: reuse ctx for handler spans
  services/cctp-relayer/relayer/circle.go
Labels: Go

Cleanup: add handleMessageSent() and handleMessageReceived() for rebalance manager
  services/rfq/relayer/inventory/circle.go
Labels: Go

bg color
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

bg color
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

Feat: split MessageTransmitterAddress and TokenMessengerAddress in cctp relayer
  services/cctp-relayer/config/chain.go
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/relayer.go
Labels: Go

WIP: impl handleDepositForBurn()
  services/cctp-relayer/relayer/circle.go
Labels: Go

Cleanup: add getMessagePayload() helper
  services/cctp-relayer/relayer/circle.go
Labels: Go

move dark mode class to LandingPageWrapper
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

move dark mode class to LandingPageWrapper
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

replace tailwind Card with BridgeCard wrapper component for Bridge and Swap pages
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

replace tailwind Card with BridgeCard wrapper component for Bridge and Swap pages
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

MinMaxButton style
  packages/synapse-interface/components/buttons/MiniMaxButton.tsx
Labels: M-synapse-interface

MinMaxButton style
  packages/synapse-interface/components/buttons/MiniMaxButton.tsx
Labels: M-synapse-interface

Feat: add topics for depositForBurn event
  services/cctp-relayer/contracts/tokenmessenger/topics.go
Labels: Go

Feat: cctp relayer listens for depositForBurn instead of messageSent
  services/cctp-relayer/relayer/circle.go
Labels: Go

ToToken width bugfix
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
Labels: M-synapse-interface

ToToken width bugfix
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
Labels: M-synapse-interface

Remove previous dest address settings state + component
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridgeDisplaySlice.ts
  packages/synapse-interface/store/store.ts
Labels: M-synapse-interface

Optimize OutputContianer address prop passed into DestinationAddressInput, remove previous component
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Clean Bridge imports
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/hooks.ts
Labels: M-synapse-interface

bugfix: chain select hover colors
  packages/synapse-interface/styles/chains.ts
Labels: M-synapse-interface

bugfix: chain select hover colors
  packages/synapse-interface/styles/chains.ts
Labels: M-synapse-interface

move fill color to top level
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
Labels: M-synapse-interface

move fill color to top level
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
Labels: M-synapse-interface

Revert "move fill color to top level"
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
Labels: M-synapse-interface

Revert "move fill color to top level"
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
Labels: M-synapse-interface

move icon fill color to parent
  packages/synapse-interface/components/icons/DropDownArrowSvg.tsx
Labels: M-synapse-interface
