Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Make FastBridgeV1 tests extendable, add parity tests for V2
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeErrors.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: none

ignore committee
  go.work
Labels: none

Add fix for menu reopening bug
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
Labels: M-synapse-interface

Fix: test build
  services/rfq/relayer/service/relayer.go
Labels: Go

Risk event handling with message
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/utils/globalEventEmitter.ts
  packages/synapse-interface/utils/hooks/useRiskEvent.tsx
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface

Atomic check+update status
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: none

Add TODO notes
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Labels: none

to create one my first destroy
  packages/synapse-interface/components/AnimatedOverlay.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Chore: improve naming
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: none

Check destination relayer
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: none

Chore: `forge fmt` settings
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
Labels: none

WIP: set dynamic gas pricing in integration test
  services/rfq/e2e/setup_test.go
Labels: Go

fix explorer link
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui

WIP: fee pricer constructor returns err
  services/rfq/relayer/pricer/calls.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/service/relayer.go
Labels: Go

the aids driven narcoleptic dillatante that wrote firefox should be shout with a 18mm gatling gun with bullets dipped in lemon juice
  packages/synapse-interface/styles/transitions.ts
Labels: M-synapse-interface

make connected hover over better
  packages/synapse-interface/components/Portfolio/components/PortfolioConnectButton.tsx
Labels: M-synapse-interface

LOL crazy old files some of which were done by monke in nerv days
  packages/synapse-interface/constants/abis/mastermind.json
  packages/synapse-interface/constants/abis/migrator.json
Labels: M-synapse-interface

more unused imports...like c'mon
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
Labels: M-synapse-interface

monke now convinced someone's IDE isnt correctly deduping imports
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

cleaned up from
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui

buttonProperties is literally always defined. makes no sense to conditionally render
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
Labels: M-synapse-interface

be consistant...
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Labels: M-synapse-interface

Explorer UI fix (#2024)
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui

Explorer UI fix (#2024)
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
Labels: M-explorer-ui

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
Labels: M-explorer-ui

animated.div literally does nothing here & just causes lag when laptop battery is low or low power devices
  packages/synapse-interface/components/AnimatedOverlay.tsx
  packages/synapse-interface/components/toast/index.tsx
Labels: M-synapse-interface

rename
  packages/synapse-interface/components/OverlayTransition.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

WIP: supply mock call data
  services/rfq/relayer/pricer/calls.go
Labels: Go

Cleanup: remove logs
  services/rfq/relayer/pricer/calls.go
Labels: Go

Cleanup: remove logs
  services/rfq/relayer/pricer/calls.go
Labels: Go

monke need to lift soon
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainSelector.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

details matter
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface

make warning style match
  packages/synapse-interface/components/Warning.tsx
Labels: M-synapse-interface

sharpen up details
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
Labels: M-synapse-interface

minor
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/IntegrationSection.tsx
Labels: M-synapse-interface

rewrites
  agents/go.mod
  agents/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/signer/signer/awssigner/mock.go
  ethergo/signer/signer/awssigner/signer.go
  ethergo/signer/signer/awssigner/unsafe.go
  ethergo/signer/signer/suite_test.go
  go.work
  make/scripts/tidy.sh
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: Go

use tools in ethergo
  go.work.sum
  services/rfq/go.mod
  services/rfq/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

go work sync fix
  agents/go.mod
  agents/go.sum
  make/repo.Makefile
  services/explorer/go.mod
  services/explorer/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
Labels: none

move rfqdecoder [goreleaser]
  make/go.Makefile
  services/rfq/.goreleaser.yml
  services/rfq/README.md
  services/rfq/tools/rfqdecoder/main.go
  tools/go.mod
  tools/go.sum
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
