Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Update tests
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Update deploy script
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: none

more cleanup
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

Chore: docs, nonce TODO
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

fix base_test
  ethergo/backends/base/base_test.go
Labels: Go

Make Interchain App interface minimalistic
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Start doing InterchainAppBase
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
  packages/contracts-communication/contracts/events/InterchainAppBaseEvents.sol
Labels: none

update transaction client
  ethergo/backends/base/base.go
Labels: Go

resend
  ethergo/backends/base/base.go
Labels: Go

fix anvil impersonation issue (#2106)
  ethergo/backends/anvil/README.md
  ethergo/backends/anvil/client.go
  ethergo/backends/base/base.go
  ethergo/backends/base/base_test.go
  ethergo/backends/base/mocks/confirmation_client.go
Labels: Go

fix anvil impersonation issue (#2106)
  ethergo/backends/anvil/README.md
  ethergo/backends/anvil/client.go
  ethergo/backends/base/base.go
  ethergo/backends/base/base_test.go
  ethergo/backends/base/mocks/confirmation_client.go
Labels: Go

promexporter fix
  contrib/promexporter/go.mod
  ethergo/backends/base/base.go
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/scribe/graphql/server/graph/model/models_gen.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/types.resolvers.go
Labels: Go

downgrade ethereum
  agents/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/screener-api/go.mod
  core/go.mod
  ethergo/go.mod
  go.work.sum
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/stiprelayer/go.mod
  tools/go.mod
Labels: none

Revert "downgrade ethereum"
  agents/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/screener-api/go.mod
  core/go.mod
  ethergo/go.mod
  go.work.sum
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/stiprelayer/go.mod
  tools/go.mod
Labels: none

Revert "promexporter fix"
  contrib/promexporter/go.mod
  ethergo/backends/base/base.go
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/scribe/graphql/server/graph/model/models_gen.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/types.resolvers.go
Labels: Go

Revert "more cleanup"
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

Revert "more dependencies"
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

Revert "more dependency bumps"
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: none

ethergo fix
  ethergo/backends/base/base.go
Labels: Go

Updates copy
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface

unnecessary fragment
  packages/synapse-interface/components/Portfolio/components/PortfolioContent.tsx
Labels: M-synapse-interface

Expose fee getter in InterchainClient
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

needs commit msg
  packages/synapse-interface/components/ConnectionIndicators.tsx
  packages/synapse-interface/components/Pools/PoolCard/PoolHeader.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioConnectButton.tsx
  packages/synapse-interface/components/bridgeSwap/TokenSelector.tsx
Labels: M-synapse-interface

Set app config
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
  packages/contracts-communication/contracts/events/InterchainAppBaseEvents.sol
Labels: none

make naming consisttant & kill dead page
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Link remote app
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
  packages/contracts-communication/contracts/events/InterchainAppBaseEvents.sol
Labels: none

Add thin wrapper for setting a linked app
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

Add/remove trusted modules
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
  packages/contracts-communication/contracts/events/InterchainAppBaseEvents.sol
Labels: none

Implement default values for module lists
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

Set execution service
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
  packages/contracts-communication/contracts/events/InterchainAppBaseEvents.sol
Labels: none

Send interchain message
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

remove useless classname
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Overridable getter for app config
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

minor ticker code cleanup
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

minor ticker code cleanup
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

simplify qtrid
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Implement minimal app functions
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

WIP: use origin instead of origin tx hash for rebalance updating
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
Labels: Go

remove legacy keep/celo dependency (#2102)
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/backends/base/base.go
  ethergo/chain/chain_impl.go
  ethergo/chain/client/config.go
  ethergo/chain/client/metered.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: Go

remove legacy keep/celo dependency (#2102)
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/backends/base/base.go
  ethergo/chain/chain_impl.go
  ethergo/chain/client/config.go
  ethergo/chain/client/metered.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: Go
