Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

fix: typo
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add missing tests for call payload
  packages/contracts-core/test/harnesses/libs/ByteStringHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Add: call payload casts, slicing
  packages/contracts-core/contracts/libs/ByteString.sol
  packages/contracts-core/test/harnesses/libs/ByteStringHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
  packages/contracts-core/test/tools/libs/ByteStringTools.t.sol
  packages/contracts-core/test/utils/SynapseConstants.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Add: adjusting arguments in system call payload
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove duplicated tests (SystemContract.t.sol)
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: adjust security arguments instead of appending them
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: future TODOs
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

tests: adjust arguments
  packages/contracts-core/test/harnesses/system/SystemContractHarness.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

test: invalid "recipient" value in SystemRouter
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove unused formatter
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

simplify naming for formatAdjustedSystemCall
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/contracts/system/SystemRouter.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

test: security args set correctly by SystemRouter
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

multicall optimization + docs
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix up some grpc
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  services/scribe/api/server.go
Labels: Go

Apply suggestions from code review
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

abstract scribe
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  agents/agents/executor/suite_test.go
Labels: Go

clean up code
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  services/scribe/api/server.go
Labels: Go

staging
  agents/agents/executor/executor.go
Labels: Go

fix agents linting
  agents/contracts/attestationcollector/doc.go
  agents/contracts/destination/doc.go
  agents/contracts/destination/generate.go
  agents/contracts/notarymanager/doc.go
  agents/contracts/test/attestationharness/doc.go
  agents/contracts/test/destinationharness/doc.go
  agents/contracts/test/headerharness/doc.go
  agents/types/message.go
Labels: Go

test gh actions
  .github/workflows/lint.yml
Labels: none

ççc
  .github/workflows/lint.yml
Labels: none

err handling
  services/explorer/consumer/parser/messagebusparser.go
Labels: Go

lint it up
  services/explorer/consumer/parser/messagebusparser.go
Labels: Go

order guarantee
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
Labels: Go

Optimizing explorer querying (#343)
  services/explorer/api/resolver_test.go
  services/explorer/consumer/fetcher/scribefetcher.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

Optimizing explorer querying (#343)
  services/explorer/api/resolver_test.go
  services/explorer/consumer/fetcher/scribefetcher.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

init (#347)
  charts/explorer/.helmignore
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/NOTES.txt
  charts/explorer/templates/_helpers.tpl
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/ingress.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/templates/serviceaccount.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
  make/helm.Makefile
  make/scripts/chart-dirs.sh
Labels: M-charts

init (#347)
  charts/explorer/.helmignore
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/NOTES.txt
  charts/explorer/templates/_helpers.tpl
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/ingress.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/templates/serviceaccount.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
  make/helm.Makefile
  make/scripts/chart-dirs.sh
Labels: M-charts

yaml rename
  .github/workflows/goreleaser.yml
  agents/.goreleaser.yml
  core/.goreleaser.yml
  ethergo/.goreleaser.yml
  services/explorer/.goreleaser.yml
  services/omnirpc/.goreleaser.yml
  services/scribe/.goreleaser.yml
  tools/.goreleaser.yml
Labels: none

yaml rename (#353)
  .github/workflows/goreleaser.yml
  agents/.goreleaser.yml
  core/.goreleaser.yml
  ethergo/.goreleaser.yml
  services/explorer/.goreleaser.yml
  services/omnirpc/.goreleaser.yml
  services/scribe/.goreleaser.yml
  tools/.goreleaser.yml
Labels: none

yaml rename (#353)
  .github/workflows/goreleaser.yml
  agents/.goreleaser.yml
  core/.goreleaser.yml
  ethergo/.goreleaser.yml
  services/explorer/.goreleaser.yml
  services/omnirpc/.goreleaser.yml
  services/scribe/.goreleaser.yml
  tools/.goreleaser.yml
Labels: none

catch
  services/explorer/consumer/fetcher/bridgeconfigfetcher.go
  services/explorer/consumer/parser/swapparser.go
Labels: Go

path
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/swapparser.go
Labels: Go

context and key
  services/explorer/backfill/chain.go
  services/explorer/consumer/parser/swapparser.go
Labels: Go

stream
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  services/scribe/api/static/swagger/types/v1/service.swagger.json
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/grpc/client/rest/README.md
  services/scribe/grpc/client/rest/api/swagger.yaml
  services/scribe/grpc/client/rest/api_scribe_service.go
  services/scribe/grpc/client/rest/docs/ScribeServiceApi.md
  services/scribe/grpc/client/rest/docs/StreamResultOfV1StreamLogsResponse.md
  services/scribe/grpc/client/rest/docs/V1StreamLogsRequest.md
  services/scribe/grpc/client/rest/docs/V1StreamLogsResponse.md
  services/scribe/grpc/client/rest/model_stream_result_of_v1_stream_logs_response.go
  services/scribe/grpc/client/rest/model_v1_stream_logs_request.go
  services/scribe/grpc/client/rest/model_v1_stream_logs_response.go
  services/scribe/grpc/proto/types/v1/service.proto
  services/scribe/grpc/server/server.go
  services/scribe/grpc/types/types/v1/service.pb.go
  services/scribe/grpc/types/types/v1/service.pb.gw.go
  services/scribe/grpc/types/types/v1/service_grpc.pb.go
Labels: Go

fix agents linting (#352)
  .github/workflows/lint.yml
  agents/contracts/attestationcollector/doc.go
  agents/contracts/destination/doc.go
  agents/contracts/destination/generate.go
  agents/contracts/notarymanager/doc.go
  agents/contracts/test/attestationharness/doc.go
  agents/contracts/test/destinationharness/doc.go
  agents/contracts/test/headerharness/doc.go
  agents/types/message.go
Labels: Go

fix agents linting (#352)
  .github/workflows/lint.yml
  agents/contracts/attestationcollector/doc.go
  agents/contracts/destination/doc.go
  agents/contracts/destination/generate.go
  agents/contracts/notarymanager/doc.go
  agents/contracts/test/attestationharness/doc.go
  agents/contracts/test/destinationharness/doc.go
  agents/contracts/test/headerharness/doc.go
  agents/types/message.go
Labels: Go

cache
  services/explorer/backfill/chain.go
  services/explorer/consumer/fetcher/scribefetcher.go
Labels: Go

logs
  services/explorer/consumer/fetcher/pricefetcher.go
Labels: Go

little stuff
  agents/agents/executor/executor.go
  services/scribe/grpc/server/server.go
  services/scribe/node/scribe.go
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
