Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

revert a couple resolver changes
  services/explorer/api/suite_test.go
  services/explorer/config/doc.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer_test.go
  services/scribe/api/data_test.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
Labels: Go

cleaning up
  services/explorer/api/server.go
  services/explorer/config.yaml
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/scribe/api/data_test.go
  services/scribe/backfill/chain_test.go
Labels: Go

small
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/cmd/commands.go
Labels: Go

lint
  services/explorer/api/server.go
Labels: Go

fix comments re: Guard/Notary verification
  packages/contracts-core/contracts/hubs/OriginHub.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix suggestAttestation comment
  packages/contracts-core/contracts/hubs/OriginHub.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

update abi
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

err fix
  services/explorer/config/err.go
Labels: Go

clarify use of enums in OriginHub (#288)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/hubs/OriginHub.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

clarify use of enums in OriginHub (#288)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/hubs/OriginHub.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Fix: fuzzing in proxy tests (#283)
  packages/contracts-core/foundry.toml
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Fix: fuzzing in proxy tests (#283)
  packages/contracts-core/foundry.toml
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Revert "tip validation"
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

regenerate agents
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

Validate tips in `dispatch()` (#284)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/test/Origin.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Validate tips in `dispatch()` (#284)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/test/Origin.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

index notary
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add agent indexes
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

index notary in Abstract Registry (#290)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

index notary in Abstract Registry (#290)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

some config refactoring and comments
  services/explorer/cmd/commands.go
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/config/config_test.go
  services/explorer/config/contract.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/parser.go
  services/explorer/testutil/clickhouse/clickhouse.go
Labels: Go

small
  services/explorer/config/config.go
  services/explorer/consumer/backfill/suite_test.go
Labels: Go

add tracer
  .github/workflows/goreleaser.yml
  core/go.mod
  core/go.sum
  core/metrics/handlertype_string.go
  core/metrics/metrics.go
  core/metrics/newrelic.go
  core/metrics/readme.md
  docker/omnirpc.Dockerfile
  docker/omnirpc.ubuntu.Dockerfile
  services/omnirpc/.goreleaser.yaml
Labels: M-docker, Go

fixing logic + test + query
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/scribe_test.go
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/event.go
  services/scribe/db/log_test.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
Labels: Go

api test
  services/explorer/consumer/client/queries/queries.graphql
  services/scribe/api/data_test.go
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
Labels: Go

db tests
  services/scribe/api/data_test.go
  services/scribe/db/log_test.go
Labels: Go

Update log_test.go
  services/scribe/db/log_test.go
Labels: Go

lint
  services/scribe/api/data_test.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/log_test.go
Labels: Go

gen
  services/explorer/consumer/client/client.go
  services/explorer/consumer/client/resolver-client/server.go
Labels: Go

add metrics
  core/go.mod
  core/go.sum
  core/metrics/datadog.go
  core/metrics/handlertype_string.go
  core/metrics/metrics.go
  core/metrics/newrelic.go
  core/metrics/null.go
  core/metrics/tracer.go
  services/omnirpc/proxy/server.go
Labels: Go

v2
  services/scribe/backfill/contract.go
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

revert goroutine limit
  services/scribe/backfill/contract.go
Labels: Go

first pass
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/contracts/libs/Auth.sol
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/test/libs/Report.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

enforce signature length
  packages/contracts-core/contracts/libs/Auth.sol
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/test/libs/Report.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Apply suggestions from code review
  packages/contracts-core/contracts/libs/Report.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Apply suggestions for Report tests
  packages/contracts-core/test/libs/Report.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: terminology
  packages/contracts-core/contracts/libs/Report.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate agents
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

Enforce Non-Compact ECDSA Signatures in TypedMemViews (#293)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/contracts/libs/Auth.sol
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/test/libs/Report.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
