Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Upgrades to 0.0.49 in React & Next examples
  packages/widget/examples/with-next/app/App.tsx
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Upgrades to 0.0.49 in React & Next examples (#2011)
  packages/widget/examples/with-next/app/App.tsx
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Upgrades to 0.0.49 in React & Next examples (#2011)
  packages/widget/examples/with-next/app/App.tsx
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Fixes origin and dest chain names in receipt
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/Receipt.tsx
Labels: none

Fixes origin and dest chain names in receipt (#2012)
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/Receipt.tsx
Labels: none

Fixes origin and dest chain names in receipt (#2012)
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/Receipt.tsx
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Upgrades example app deps
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Add RFQ event decoder (#1909)
  tools/rfqdecoder/main.go
Labels: Go

Add RFQ event decoder (#1909)
  tools/rfqdecoder/main.go
Labels: Go

Upgrades example app deps (#2013)
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Upgrades example app deps (#2013)
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Use DropdownMenu
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
Labels: M-synapse-interface

useCloseOnOutsideClick DropdownMenu
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
Labels: M-synapse-interface

Remove extraneous popover
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Proper jsx naming for svg props
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/icons/DownArrow.tsx
Labels: M-synapse-interface

Lint files
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
Labels: M-synapse-interface

Rm testing code
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/TestProgressBar.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface

Feat: add WithMetrics option for arbitrum SDK, remove extra method
  ethergo/sdks/arbitrum/options.go
  ethergo/sdks/arbitrum/sdk.go
  ethergo/submitter/config/estimation.go
Labels: Go

Feat: use GasEstimator interface in submitter
  ethergo/submitter/submitter.go
Labels: Go

Cleanup: move estimator.go outside of submitter config pkg
  ethergo/submitter/estimator.go
  ethergo/submitter/submitter.go
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

TransactionSupport
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Labels: M-synapse-interface

Determine when to show TransactionSupport
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
Labels: M-synapse-interface

WIP: add getGasEstimate() in pricer
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

WIP: add example call impls
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

WIP: add getCall() helper
  services/rfq/relayer/pricer/calls.go
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

Feat: use getGasEstimate()
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

Add back comments
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
Labels: M-synapse-interface

Feat: build contracts with clients
  services/rfq/relayer/pricer/calls.go
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

fuck typescript
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/buttons/MiniMaxButton.tsx
  packages/synapse-interface/components/ui/tailwind/Card.tsx
Labels: M-synapse-interface

chain and token nudge visuals
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
Labels: none

typo fix
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
Labels: M-synapse-interface

Entire transaction same color
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Add className prop to RightArrow icon
  packages/synapse-interface/components/icons/RightArrow.tsx
Labels: M-synapse-interface

Clean up styling
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/icons/RightArrow.tsx
Labels: M-synapse-interface
