Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

ticker scroll progress checkpoint
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/css-modules/ticker.module.css
Labels: M-synapse-interface

ticker scroll progress checkpoint
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/css-modules/ticker.module.css
Labels: M-synapse-interface

ticker scroll progress checkpoint 2
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

ticker scroll progress checkpoint 2
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

consolidated SelectTokenButton
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/AvailableChains.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/ButtonContent.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/Coin.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/TokenBalance.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/index.tsx
  packages/synapse-interface/components/buttons/SelectSpecificNetworkButton.tsx
Labels: M-synapse-interface

update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2090)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2090)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

need to do the same w/ network btn
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
Labels: M-synapse-interface

network btn consolidation
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/bridgeSwap/SelectNetworkButton/index.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/Coin.tsx
Labels: M-synapse-interface

gg
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/ButtonContent.tsx
  packages/synapse-interface/components/bridgeSwap/SelectTokenButton/index.tsx
Labels: M-synapse-interface

Address & Chain should really be made global types
  packages/synapse-interface/components/Portfolio/components/ChainTokens.tsx
  packages/synapse-interface/components/Portfolio/components/EmptyPortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/components/HoverTokenAndBalance.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/utils/sortTokens.ts
  packages/synapse-interface/utils/transformCalculateLiquidityInput.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface

remove sinner chart
  charts/sinner/.helmignore
  charts/sinner/Chart.lock
  charts/sinner/Chart.yaml
  charts/sinner/templates/NOTES.txt
  charts/sinner/templates/_helpers.tpl
  charts/sinner/templates/configmap.yaml
  charts/sinner/templates/indexer_deployment.yaml
  charts/sinner/templates/ingress.yaml
  charts/sinner/templates/server_deployment.yaml
  charts/sinner/templates/server_hpa.yaml
  charts/sinner/templates/service.yaml
  charts/sinner/templates/serviceaccount.yaml
  charts/sinner/templates/servicemonitor.yaml
  charts/sinner/templates/tests/test-connection.yaml
  charts/sinner/values.yaml
Labels: M-charts

hm this could be promising
  packages/synapse-interface/global.d.ts
  packages/synapse-interface/tsconfig.json
Labels: M-synapse-interface

nvmd global might slow build times
  packages/synapse-interface/global.d.ts
Labels: M-synapse-interface

rm unused hook
  packages/synapse-interface/components/stake/StakeCard.tsx
  packages/synapse-interface/utils/hooks/useTxHistory.ts
Labels: M-synapse-interface

`forge fmt`
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

Use AccessControl in ExecutionFees
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

Specify events and custom errors
  packages/contracts-communication/contracts/events/ExecutionFeesEvents.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
Labels: none

Define the tests with new scenarios
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

Update implementation to pass the tests
  packages/contracts-communication/contracts/ExecutionFees.sol
Labels: none

Modify tests: - Allow adding fees for already recorded executor - Allow recording executor when no fees exist
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

Update implementation
  packages/contracts-communication/contracts/ExecutionFees.sol
Labels: none

Add more views
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
Labels: none

Add tests for the new views
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
Labels: none

Update mappings
  packages/contracts-communication/contracts/ExecutionFees.sol
Labels: none

Chore: cleanup
  packages/contracts-communication/contracts/ExecutionFees.sol
Labels: none

Simplify implementation by making mappings public
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
Labels: none

Update tests
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
Labels: none

Update IApp interface to pass the message
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Pass message to the app
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Allow to specify higher gas limit
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Make execute payable
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Define test with requested gas airdrop
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Implement gas airdrop passing
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Use unified dune query for all STIP transaction types (#2066)
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go
