Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Use unified dune query for all STIP transaction types (#2066)
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: Go

rm more dead code
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/stake/StakeCard.tsx
  packages/synapse-interface/utils/actions/withdrawStake.tsx
  packages/synapse-interface/utils/bigint/format.ts
  packages/synapse-interface/utils/getTokenOnChain.tsx
  packages/synapse-interface/utils/helpers/hasBalance.ts
  packages/synapse-interface/utils/hooks/useSettings.tsx
Labels: M-synapse-interface

better naming
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/NoSearchResultsFound.tsx
Labels: M-synapse-interface

fix lint isuse
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/db/datastore_test.go
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

Feat: message passing (#2094)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Fix: start inventory manager
  services/rfq/relayer/service/relayer.go
Labels: Go

moar repeats
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/SearchOverlayContent.tsx
Labels: M-synapse-interface

authz
  committee/go.mod
  committee/p2p/boot.go
  committee/p2p/validator.go
Labels: Go

WIP: add cctp contract setup for integration test
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
Labels: Go

keccak not being called kekkek is why we cant have nice things
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/bridgeSwap/SelectNetworkButton/index.tsx
Labels: M-synapse-interface

hunting fat people should not only be legal, but encouraged.
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificTokenButton.tsx
Labels: M-synapse-interface

working ticker v1
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

working ticker v1
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

make peers
  committee/p2p/export_test.go
  committee/p2p/p2p_test.go
Labels: Go

Revert " make peers"
  committee/p2p/export_test.go
  committee/p2p/p2p_test.go
Labels: Go

1234567 i cant even count to 11
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/utils/helpers/sortByPriorityRankAndBalance.tsx
Labels: M-synapse-interface

add client nonce to event
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Labels: none

do some cleanup
  sin-executor/contracts/interchainclient/eventtype_string.go
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchainclient/parser.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.abigen.go
  sin-executor/contracts/mocks/interchainappmock/interchainappmock.contractinfo.json
  sin-executor/executor/executor.go
Labels: Go

i know that we havent met but i know your vibe
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
Labels: M-synapse-interface

fix broken contract
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

updated abi
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/db/db.go
  sin-executor/executor/executor.go
Labels: Go

contract fixes [sin-executor still broken
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/db/db.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
Labels: Go

remove thing that does nothing
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
Labels: M-synapse-interface

pause and restart ticker properly
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

pause and restart ticker properly
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

angel with a shotgun
  packages/synapse-interface/components/Pools/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/stake/index.tsx
Labels: M-synapse-interface

pass 2
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/typecast.go
Labels: Go

imock
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Revert "imock"
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

standardize some shit
  packages/synapse-interface/actions/approveErc20Token.ts
  packages/synapse-interface/actions/harvestLpPool.ts
  packages/synapse-interface/actions/stakeLpToken.ts
  packages/synapse-interface/actions/swapPoolAddLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidityOneToken.ts
  packages/synapse-interface/actions/unstakeLpToken.ts
  packages/synapse-interface/constants/abis/avSwapWrapper.ts
  packages/synapse-interface/constants/abis/swapEthWrapper.ts
  packages/synapse-interface/constants/abis/synapseRouter.ts
  packages/synapse-interface/constants/abis/usdtAbi.ts
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/utils/actions/getCorePoolData.ts
  packages/synapse-interface/utils/actions/getPoolApyData.ts
  packages/synapse-interface/utils/actions/getPrices.ts
  packages/synapse-interface/utils/actions/getStakedBalance.ts
  packages/synapse-interface/utils/getSwapDepositContractFields.ts
Labels: M-synapse-interface

nanananananana
  packages/synapse-interface/contexts/UserProvider.tsx
Labels: M-synapse-interface

hmmmmmm
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface

fuck fucking typescript fucking aids driven development
  packages/synapse-interface/constants/abis/avSwapWrapper.ts
  packages/synapse-interface/constants/abis/swapEthWrapper.ts
  packages/synapse-interface/constants/abis/synapseRouter.ts
  packages/synapse-interface/constants/abis/usdtAbi.ts
  packages/synapse-interface/utils/getSwapDepositContractFields.ts
Labels: M-synapse-interface

stuck
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

stuck
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

move play-pause listeners into useEffect
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

move play-pause listeners into useEffect
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

ticker accelerate and decelerate
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

ticker accelerate and decelerate
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

merge ticker acceleration - cleanup
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface
