Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Feat: ping pong app (#2191)
  packages/contracts-communication/configs/global/PingPongApp.testnet.json
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/apps/OwnableApp.sol
  packages/contracts-communication/contracts/apps/PingPongApp.sol
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
  packages/contracts-communication/remappings.txt
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionService.s.sol
  packages/contracts-communication/script/config/ConfigureOwnableApp.s.sol
  packages/contracts-communication/script/config/ConfigurePingPongApp.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
Labels: Go

Experiment w/ toolchain fix [goreleaser] (see: ethereum-optimism/optimism#9641)
  committee/go.mod
Labels: none

speedup goreleser clones
  .github/workflows/goreleaser-actions.yml
Labels: none

Fix: don't terminate process on command fail
  packages/solidity-devops/js/utils/utils.js
Labels: none

Chore: log if no new deployments
  packages/solidity-devops/js/forgeScriptRun.js
Labels: none

Revert "Experiment w/ toolchain fix [goreleaser] (see: ethereum-optimism/optimism#9641)"
  committee/go.mod
Labels: none

speedup goreleser clones (#2202)
  .github/workflows/goreleaser-actions.yml
Labels: none

speedup goreleser clones (#2202)
  .github/workflows/goreleaser-actions.yml
Labels: none

Add recursive lint
  .github/workflows/go.yml
  make/repo.Makefile
  make/scripts/lint.sh
Labels: none

pro bump [goreleaser]
  .github/workflows/goreleaser-actions.yml
Labels: none

fix deploy [goreleaser]
  sin-executor/testutil/deployers.go
Labels: Go

Update make/scripts/lint.sh
  make/scripts/lint.sh
Labels: none

Add recursive lint (#2204)
  .github/workflows/go.yml
  make/repo.Makefile
  make/scripts/lint.sh
Labels: none

Add recursive lint (#2204)
  .github/workflows/go.yml
  make/repo.Makefile
  make/scripts/lint.sh
Labels: none

solidity-devops: log error instead of terminating (#2203)
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/utils.js
Labels: none

solidity-devops: log error instead of terminating (#2203)
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/utils.js
Labels: none

Rename withdraw/deposit reset function
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Add separate for module entries with aux data
  packages/contracts-communication/contracts/libs/ModuleEntry.sol
  packages/contracts-communication/test/harnesses/ModuleEntryLibHarness.sol
  packages/contracts-communication/test/libs/ModuleEntryLib.t.sol
Labels: none

Adjust tests
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

InterchainModule: fill module data on src chain
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

InterchainModule: handle relayed entry+data
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

SynapseModule: fill gas data
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Introduce SynapseGasOracle
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracle.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

SynapseModule: receive gas data
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Update GasOracleMock references
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/script/testnet-deploy.sh
  packages/contracts-communication/test/ExecutionService.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Update gas oracle mock
  packages/contracts-communication/test/mocks/SynapseGasOracleMock.sol
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Add param to the error and update unit tests
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Update implementation to satisfy the tests
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
Labels: none

getUserStakedBalance()
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Make other errors more explicit and update their tests
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: none

Chore: fix linter warnings
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/Options.sol
Labels: none

Implement explicit errors
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

Update SynapseModule tests
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: none

wtf
  packages/synapse-interface/pages/stake/[routerIndex].tsx
Labels: M-synapse-interface

[goreleaser] do not reinstall go instead, pass go collect
  .github/workflows/goreleaser-actions.yml
Labels: none

Update packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

do not overwrite goreleaser go version
  .github/workflows/goreleaser-actions.yml
Labels: none

core fix
  core/README.md
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
