Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

historical proofs generation (#327)
  packages/contracts-core/test/HistoricalProofGenerator.t.sol
  packages/contracts-core/test/utils/HistoricalProofGenerator.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

historical proofs generation (#327)
  packages/contracts-core/test/HistoricalProofGenerator.t.sol
  packages/contracts-core/test/utils/HistoricalProofGenerator.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Revert "tests for tracking active domains"
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

adjust new tests for GlobalNotaryRegistry
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/tools/registry/GlobalNotaryRegistryTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

adapt testing suite to latest changes
  packages/contracts-core/test/harnesses/OriginHarness.t.sol
  packages/contracts-core/test/suite/libs/Message.t.sol
  packages/contracts-core/test/suite/libs/SystemMessage.t.sol
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
  packages/contracts-core/test/tools/OriginTools.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
  packages/contracts-core/test/utils/SynapseTestSuite.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add tests for new libs
  packages/contracts-core/test/harnesses/libs/ByteStringHarness.t.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove SystemMessage lib
  packages/contracts-core/contracts/libs/SynapseTypes.sol
  packages/contracts-core/contracts/libs/SystemMessage.sol
  packages/contracts-core/test/harnesses/libs/SystemMessageHarness.t.sol
  packages/contracts-core/test/suite/libs/SystemMessage.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove signature length from Auth
  packages/contracts-core/contracts/libs/Auth.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: better naming for ByteString.arguments()
  packages/contracts-core/contracts/libs/ByteString.sol
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

ops, forgot to update this part
  packages/contracts-core/test/harnesses/libs/ByteStringHarness.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

coverage for multicall wrappers
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

coverage for system call verification
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate agents
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
Labels: Go

init
  services/scribe/backfill/chain.go
  services/scribe/config/chain.go
Labels: Go

add chunk size to config
  services/scribe/backfill/chain.go
  services/scribe/config/chain.go
Labels: Go

remove superfluous chainbackfiller vars
  services/scribe/backfill/chain.go
Labels: Go

comment revisions w simon
  services/scribe/backfill/chain.go
Labels: Go

optimize
  services/scribe/backfill/chain.go
Labels: Go

Update Attestation: include destination domain
  packages/contracts-core/contracts/libs/Attestation.sol
  packages/contracts-core/test/harnesses/libs/AttestationHarness.t.sol
  packages/contracts-core/test/suite/libs/Attestation.t.sol
  packages/contracts-core/test/tools/libs/AttestationTools.t.sol
  packages/contracts-core/test/utils/SynapseTestSuite.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Update: Report
  packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/test/suite/libs/Report.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Update: Registry, Hubs
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/suite/hubs/AttestationHub.t.sol
  packages/contracts-core/test/suite/hubs/ReportHub.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Update: Destination
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/events/DestinationHubEvents.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/tools/DestinationTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Update: Origin
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/test/harnesses/OriginHarness.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/tools/OriginTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Update: AttestationCollector
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/test/suite/AttestationCollector.t.sol
  packages/contracts-core/test/tools/AttestationCollectorTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Scribe - backfilling blocktimes in concurrent chunks (#330)
  services/scribe/backfill/chain.go
  services/scribe/config/chain.go
Labels: Go

Scribe - backfilling blocktimes in concurrent chunks (#330)
  services/scribe/backfill/chain.go
  services/scribe/config/chain.go
Labels: Go

init
  services/scribe/backfill/chain.go
Labels: Go

lint
  services/scribe/backfill/chain.go
Labels: Go

logging
  services/scribe/backfill/chain.go
Labels: Go

update check
  services/scribe/backfill/chain.go
Labels: Go

reduce backoff time
  services/scribe/backfill/chain.go
Labels: Go

reduce backoff time
  services/scribe/backfill/chain.go
Labels: Go

lint
  services/scribe/backfill/chain.go
Labels: Go

ports
  charts/explorer/values.yaml
Labels: M-charts

just some clarifying comments
  services/scribe/backfill/contract.go
  services/scribe/db/datastore/sql/base/failedlog.go
Labels: Go

remove a log format var
  services/scribe/backfill/chain.go
Labels: Go

Consolidating scribe context handling (#332)
  services/scribe/backfill/chain.go
Labels: Go

Consolidating scribe context handling (#332)
  services/scribe/backfill/chain.go
Labels: Go

Apply suggestions from code review
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

new
  charts/explorer/values.yaml
Labels: M-charts
