Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

readonly
  charts/explorer/values.yaml
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/db/sql/store.go
  services/explorer/testutil/newtestenv.go
Labels: M-charts, Go

end chainCtx context
  services/scribe/backfill/chain.go
Labels: Go

add logging
  services/scribe/backfill/contract.go
Labels: Go

add logging (#334)
  services/scribe/backfill/contract.go
Labels: Go

add logging (#334)
  services/scribe/backfill/contract.go
Labels: Go

bitnami
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/values.yaml
Labels: M-charts

nc
  charts/explorer/values.yaml
Labels: M-charts

testing pod
  charts/explorer/values.yaml
Labels: M-charts

9999999
  charts/explorer/values.yaml
Labels: M-charts

Track active domains in `GlobalNotaryRegistry` (#325)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/tools/registry/GlobalNotaryRegistryTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Track active domains in `GlobalNotaryRegistry` (#325)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/tools/registry/GlobalNotaryRegistryTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

regenerate agents
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/itransactor_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/headerharness/headerharness.abigen.go
  agents/contracts/test/headerharness/headerharness.contractinfo.json
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.abigen.go
  agents/contracts/test/tipsharness/tipsharness.contractinfo.json
Labels: Go

Add hook for domain becoming active/inactive
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Test coverage for the added hook
  packages/contracts-core/test/harnesses/DestinationHarness.t.sol
  packages/contracts-core/test/harnesses/events/GlobalNotaryRegistryHarnessEvents.sol
  packages/contracts-core/test/harnesses/registry/GlobalNotaryRegistryHarness.t.sol
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/tools/registry/GlobalNotaryRegistryTools.t.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: Report.sol
  packages/contracts-core/contracts/libs/Report.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

regenerate agents
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/icaller_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

t
  charts/explorer/values.yaml
Labels: M-charts

replicas
  charts/explorer/values.yaml
Labels: M-charts

ports
  charts/explorer/values.yaml
Labels: M-charts

subnet
  charts/explorer/values.yaml
Labels: M-charts

TZ
  charts/explorer/values.yaml
Labels: M-charts

kill zookeeper
  charts/explorer/values.yaml
Labels: M-charts

test port
  charts/explorer/values.yaml
Labels: M-charts

rework AttestationAccepted event
  packages/contracts-core/contracts/AttestationCollector.sol
  packages/contracts-core/contracts/events/AttestationCollectorEvents.sol
  packages/contracts-core/contracts/events/AttestationHubEvents.sol
  packages/contracts-core/contracts/events/DestinationHubEvents.sol
  packages/contracts-core/contracts/hubs/AttestationHub.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/test/tools/AttestationCollectorTools.t.sol
  packages/contracts-core/test/tools/DestinationTools.t.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix test: expect AttestationAccepted
  packages/contracts-core/test/tools/AttestationCollectorTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

delay
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/values.yaml
  charts/scribe/values.yaml
Labels: M-charts

update scribe version
  charts/scribe/Chart.yaml
Labels: M-charts

scribe
  charts/explorer/values.yaml
  charts/scribe/values.yaml
Labels: M-charts

start format chain.go
  services/scribe/backfill/chain.go
Labels: Go

missed
  services/scribe/backfill/chain.go
Labels: Go

delay
  charts/explorer/values.yaml
Labels: M-charts

lint
  charts/explorer/templates/server_deployment.yaml
Labels: M-charts

contract.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/event.go
Labels: Go

nuke config
  charts/scribe/values.yaml
Labels: M-charts

filter.go
  services/scribe/backfill/filter.go
Labels: Go

scribe.go
  services/scribe/backfill/scribe.go
Labels: Go

server.go
  services/scribe/api/server.go
Labels: Go

omnirpc timeout
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/values.yaml
  charts/omnirpc/Chart.yaml
  charts/omnirpc/templates/deployment.yaml
  charts/scribe/Chart.lock
  charts/scribe/Chart.yaml
Labels: M-charts

time out please
  charts/explorer/values.yaml
Labels: M-charts

node/scribe.go
  services/scribe/node/scribe.go
Labels: Go
