Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Clean, revert back to 60s timeout
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/isTransactionReceiptError.ts
Labels: M-synapse-interface

Update DB interface
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDBEvents.sol
Labels: none

Update Module interface
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Labels: none

Continue working on Source Chain tests
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

Add revert scenarios on source chain
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

Add tests for write + request verification
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

more boot
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

Add TypeCasts utils
  packages/contracts-communication/contracts/libs/TypeCasts.sol
  packages/contracts-communication/test/harnesses/TypeCastsHarness.sol
  packages/contracts-communication/test/libs/TypeCasts.t.sol
Labels: none

Add more revert tests
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

Implement public views
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Complete source chain state-changing functions
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

this info is now in SDK so cruft can be removed
  packages/synapse-interface/constants/bridge.ts
Labels: M-synapse-interface

rm more redundant
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/swap.ts
Labels: M-synapse-interface

disable autocomplete
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
Labels: M-synapse-interface

manually checking for mount is recipie for pain
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
Labels: M-synapse-interface

kaizen
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/helpers/useIsFocused.ts
  packages/synapse-interface/components/Portfolio/helpers/useIsMounted.ts
Labels: M-synapse-interface

Minimum rebate
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface

remove dead/old urls
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface

trying out more minimalist style
  packages/synapse-interface/components/BridgeSwapOutputNumber.tsx
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/ui/tailwind/TabItem.tsx
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

possible working impl
  go.work.sum
Labels: none

susd
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  packages/synapse-interface/assets/icons/susd.svg
Labels: M-synapse-interface, Go

dark mode
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

dark mode
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

Set gasEstimate to undefined initially
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

monke
  packages/synapse-interface/components/BridgeSwapOutputNumber.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
Labels: M-synapse-interface

monke finding things
  packages/synapse-interface/components/InteractiveInputRow.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
Labels: M-synapse-interface

fail at eventual consistency
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

Add default estimated gas for testing
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

time to clean
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/ChainSelector.tsx
  packages/synapse-interface/components/bridgeSwap/OutputNumber.tsx
Labels: M-synapse-interface

modularize ChainSelector
  packages/synapse-interface/components/StateManagedBridge/FromChainSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainSelector.tsx
  packages/synapse-interface/components/bridgeSwap/ChainSelector.tsx
Labels: M-synapse-interface

rm more redundant shit
  packages/synapse-interface/components/StateManagedBridge/ToChainSelector.tsx
  packages/synapse-interface/components/bridgeSwap/ChainSelector.tsx
Labels: M-synapse-interface

rm unused import
  packages/synapse-interface/components/bridgeSwap/ChainSelector.tsx
Labels: M-synapse-interface

modularize TokenSelector
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
  packages/synapse-interface/components/bridgeSwap/TokenSelector.tsx
Labels: M-synapse-interface

cleaner arrow
  packages/synapse-interface/components/bridgeSwap/TokenSelector.tsx
Labels: M-synapse-interface

Log when isTransactionReceiptError
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

addd peer discovery, more crap to try to resolve issue
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

generate txs
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
Labels: M-synapse-interface

generate txs
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
Labels: M-synapse-interface

no quorum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

hi
  committee/go.mod
  committee/go.sum
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
