Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

onSuccessWithdraw()
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

onSuccessDeposit()
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Make gas limit configurable
  packages/contracts-communication/contracts/apps/PingPongApp.sol
Labels: none

Fix import in the script
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
Labels: none

Trim lp balance in Stake pool
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Set initial stakedBalance amount/reward to bigint
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/slices/poolUserDataSlice.ts
Labels: M-synapse-interface

Updates bridge map (#2189)
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/findValidTokens.ts
Labels: none

Updates bridge map (#2189)
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/findValidTokens.ts
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Update User pool token staked balance on individual pool body
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
Labels: M-synapse-interface

Script to configure PingPong
  packages/contracts-communication/configs/global/PingPongApp.testnet.json
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureOwnableApp.s.sol
  packages/contracts-communication/script/config/ConfigurePingPongApp.s.sol
Labels: none

Deploy PingPong apps
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/op_sepolia/PingPongApp.json
Labels: none

Fix .sh options, add ping pong to workflows
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

Refactor; use poolUserData slice to display staked balance in individual pool page
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
Labels: M-synapse-interface

Fix: set execution service & client
  packages/contracts-communication/script/config/ConfigureOwnableApp.s.sol
Labels: none

Update Pool LP balances after stake/unstake so pools page shows accurate balances
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Clean
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Clean
  packages/synapse-interface/pages/pool/PoolBody.tsx
Labels: M-synapse-interface

Chore: chainId ordering
  packages/sdk-router/src/constants/chainIds.ts
Labels: none

Add Blast to the list of RFQ-supported chains
  packages/sdk-router/src/constants/chainIds.ts
Labels: none

Sdk: blast rfq (#2192)
  packages/sdk-router/src/constants/chainIds.ts
Labels: none

Sdk: blast rfq (#2192)
  packages/sdk-router/src/constants/chainIds.ts
Labels: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface

Remove isFetching, use isLoading for fetched pool attributes instead
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/slices/poolDataSlice.ts
Labels: M-synapse-interface

try to keep retardation to controlled lvl mkay
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Add pools convenience store hooks
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/slices/pools/hooks.ts
Labels: M-synapse-interface

Use pools state hooks to replace useSelector instances
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
Labels: M-synapse-interface

Remove unused imports
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
Labels: M-synapse-interface

better claim btn should standardize btn
  packages/synapse-interface/components/stake/StakeCard.tsx
Labels: M-synapse-interface

Clean + organize imports
  packages/synapse-interface/pages/pool/NoPoolBody.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/pages/pools/index.tsx
Labels: M-synapse-interface

remove repeated props & make buttons consistant
  packages/synapse-interface/components/InteractiveInputRowButton.tsx
  packages/synapse-interface/components/Pools/pool/PoolBody.tsx
  packages/synapse-interface/components/Pools/pool/PoolInfoSection/InfoSectionCard.tsx
  packages/synapse-interface/components/Pools/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/components/Pools/pool/components/LiquidityManagementTabs.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/stake/StakeCard.tsx
  packages/synapse-interface/components/ui/tailwind/Button.tsx
  packages/synapse-interface/components/ui/tailwind/Card.tsx
Labels: M-synapse-interface

simplify exp
  packages/synapse-interface/components/Pools/PoolCard/DisplayBalances.tsx
Labels: M-synapse-interface

simplify
  packages/synapse-interface/components/Pools/PoolCard/PoolCardBody.tsx
Labels: M-synapse-interface

gm
  packages/synapse-interface/components/Pools/PoolCard/PoolCardBody.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface

Update User LP staked balances when navigating to new pool
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
Labels: M-synapse-interface

[goreleaser]
  services/explorer/node/explorer.go
Labels: Go

Use isLoading to display loading dots on pool data
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingDots.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
Labels: M-synapse-interface

isTransactionUserRejectedError
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/utils/isTransactionUserRejectedError.ts
Labels: M-synapse-interface
