Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2221)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

update bl (#2221)
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Bump solidity-devops version
  packages/contracts-rfq/package.json
Labels: none

WIP: revert relayer
  services/cctp-relayer/relayer/relayer.go
Labels: Go

Init Countdown file
  packages/synapse-interface/components/Countdown/Countdown.tsx
Labels: M-synapse-interface

Feat: add CCTPHandler interface
  services/cctp-relayer/relayer/handler.go
  services/cctp-relayer/relayer/relayer.go
Labels: Go

Fix: tests
  services/cctp-relayer/relayer/export_test.go
  services/cctp-relayer/relayer/relayer_test.go
  services/cctp-relayer/relayer/suite_test.go
Labels: Go

Feat: move SynapseCCTPHandler to new file
  services/cctp-relayer/relayer/handler.go
  services/cctp-relayer/relayer/synapse.go
Labels: Go

WIP: skeleton circleCCTPHandler
  services/cctp-relayer/relayer/circle.go
Labels: Go

Feat: add util.go with dest chain ID parser
  services/cctp-relayer/relayer/util.go
Labels: Go

Adds useBridgeSelections helper for consumer selection awareness
  packages/widget/README.md
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/components/ui/TokenSelect.tsx
  packages/widget/src/hooks/useBridgeSelectionData.ts
  packages/widget/src/index.tsx
  packages/widget/src/types/index.d.ts
Labels: none

WIP: flesh out circleCCTPHandler funcs
  services/cctp-relayer/contracts/circlecctp/topics.go
  services/cctp-relayer/relayer/circle.go
Labels: Go

Construct routing to Countdown
  packages/synapse-interface/components/Countdown/Countdown.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

clean up bridge card component
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

Expands useBridgeSelections output with token address, refactors structure
  packages/widget/README.md
  packages/widget/src/hooks/useBridgeSelectionData.ts
  packages/widget/src/types/index.d.ts
Labels: none

Countdown title
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

clean up bridge card component (#2224)
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

clean up bridge card component (#2224)
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

feat(widget): adds useBridgeSelections helper for consumer selection awareness (#2217)
  packages/widget/README.md
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/components/ui/TokenSelect.tsx
  packages/widget/src/hooks/useBridgeSelectionData.ts
  packages/widget/src/index.tsx
  packages/widget/src/types/index.d.ts
Labels: none

feat(widget): adds useBridgeSelections helper for consumer selection awareness (#2217)
  packages/widget/README.md
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/components/ui/TokenSelect.tsx
  packages/widget/src/hooks/useBridgeSelectionData.ts
  packages/widget/src/index.tsx
  packages/widget/src/types/index.d.ts
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

calculateTimeUntilTarget
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

Display remaining time
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

Ensure always 2 digis for minutes and seconds
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

Ensure two digits for hours
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

useIntervalTimer to update time remaining every second
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

Style Countdown
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

Add link for Ethernow
  packages/synapse-interface/pages/countdown/index.tsx
Labels: M-synapse-interface

Rename path to /4844, move useIntervalTimer to util hooks
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/4844/index.tsx
  packages/synapse-interface/utils/hooks/useIntervalTimer.ts
Labels: M-synapse-interface

Filter out showing Countdown path
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface

Style for Mobile
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface

Feat: add GetMessageByHash to relayer db
  services/cctp-relayer/db/relayer_db.go
  services/cctp-relayer/db/sql/base/message.go
Labels: Go

Feat: impl handleMessageReceived
  services/cctp-relayer/relayer/circle.go
Labels: Go

Feat: add tracing to circleCCTPHandler
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/synapse.go
Labels: Go
