Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

remove some stuff
  committee/p2p/boot.go
  committee/p2p/broadcaster.go
Labels: Go

5 second boot
  committee/p2p/boot.go
Labels: Go

fix buttons
  packages/synapse-interface/components/StateManagedSwap/SwapExchangeRateInfo.tsx
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/OutputNumber.tsx
  packages/synapse-interface/components/bridgeSwap/TokenSelector.tsx
  packages/synapse-interface/pages/bridge/TokenMenuItem.tsx
Labels: M-synapse-interface

fix input
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
Labels: M-synapse-interface

better feel btn
  packages/synapse-interface/components/buttons/TransactionButton.tsx
Labels: M-synapse-interface

rotate on click
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
Labels: M-synapse-interface

Ticker import
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

Ticker import
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

menu double-hover stub
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

menu double-hover stub
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

dont know why so many is mounted checks r necessary
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/bridgeSwap/ConnectStatusIndicator.tsx
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/utils/hooks/useHasMounted.ts
Labels: M-synapse-interface

header sub-menus
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/header.module.css
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/marquee.module.css
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

header sub-menus
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/header.module.css
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/marquee.module.css
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

wip
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

wip
  packages/synapse-interface/pages/teaser/Header.tsx
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

fix import statement
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

fix import statement
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

useIsTxReverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getTransactionReceipt.ts
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface

revertTransaction reducer
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
Labels: M-synapse-interface

Update store for tx reverts in useBridgeTxUpdater
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
Labels: M-synapse-interface

Update useIsTxReverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getTransactionReceipt.ts
Labels: M-synapse-interface

build out crdt db
  committee/db/base/model.go
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/db/db.go
  committee/db/mysql/mysql.go
  committee/go.mod
  committee/go.sum
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: Go

Add reverted status display based on Transaction isReverted stored value
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
Labels: M-synapse-interface

Add ExclamationIcon
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/icons/ExclamationIcon.tsx
Labels: M-synapse-interface

Do not show TransactionSupport when Tx is reverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

add crdt per validator
  committee/node/node.go
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

Implement SynapseModule w/ ECREcover Around InterchainDB contract + TEsts
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
Labels: none

kill it
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

finish libp2p
  committee/p2p/boot.go
Labels: Go

fix typo in event name
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
Labels: none

f
  committee/node/node.go
  packages/contracts-communication/contracts/IInterchainModule.sol
Labels: Go

RM old IInterchainModule, delete Interchain.sol code ahead of DB Integration
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/test/OPL1L2MultiModuleE2E.t.sol
Labels: none

rename to InterchainClient
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/test/Interchain.t.sol
  packages/contracts-communication/test/InterchainClientV1.sol
Labels: none

interchainSend()
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

helical loader
  packages/synapse-interface/components/bridgeSwap/GenericOutputContainer.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingHelix.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingInfinity.tsx
  packages/synapse-interface/styles/global.css
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface

interchainReceive() and corresponding test
  packages/contracts-communication/contracts/IInterchain.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/mocks/MockL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/mocks/MockL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/OPL1L2Module.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

remove forge console.log
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Add interfaces for SynapseModule & InterchainClient
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Interchain + InterchainDB integration (#2046)
  packages/contracts-communication/contracts/IInterchain.sol
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/mocks/MockL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/mocks/MockL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/OPL1L2Module.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/Interchain.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/OPL1L2MultiModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

update
  committee/config/config.go
  committee/contracts/mocks/noopinterchain/noopinterchain.abigen.go
  committee/contracts/mocks/noopinterchain/noopinterchain.contractinfo.json
  committee/contracts/synapsemodule/eventtype_string.go
  committee/contracts/synapsemodule/parser.go
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/contracts/synapsemodule/topics.go
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/db/connect/sql.go
  committee/db/db.go
  committee/db/mysql/mysql.go
  committee/db/sqlite/sqlite.go
  committee/db/suite_test.go
  committee/db/synapserequeststatus_string.go
  committee/node/e2e_test.go
  committee/node/node.go
  committee/node/suite_test.go
  committee/p2p/p2p_test.go
  committee/testutil/deployers.go
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/contracts/mocks/NoOpInterchain.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: Go
