Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Fix: wrap stip params in query_parameters key
  services/stiprelayer/relayer/dune.go
Labels: Go

Chore: `forge fmt`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: none

Add `InterchainTransaction` library (#2086)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: none

init execution service + gas oralce
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/GasOracle.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
Labels: none

gasoracle
  packages/contracts-communication/contracts/GasOracle.sol
Labels: none

Feat: add extra tracing to stiprelayer
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
Labels: Go

remove gasoracle for later pr
  packages/contracts-communication/contracts/GasOracle.sol
Labels: none

Fix: move performance out of query params
  services/stiprelayer/relayer/dune.go
Labels: Go

Fixes linting
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/debug/logPromise.ts
  yarn.lock
Labels: none

fix global imports
  packages/contracts-communication/test/ExecutionFees.t.sol
Labels: none

add OZ Address library
  packages/contracts-communication/contracts/ExecutionFees.sol
Labels: none

test
  packages/sdk-router/README.md
Labels: none

nav menu hover bugfixes
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/css-modules/navmenu.module.css
Labels: M-synapse-interface

nav menu hover bugfixes
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/css-modules/navmenu.module.css
Labels: M-synapse-interface

add bounce on cta mouseenter
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/icons/RightArrow.tsx
Labels: M-synapse-interface

add bounce on cta mouseenter
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/icons/RightArrow.tsx
Labels: M-synapse-interface

Remove throws for tests
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

fix committee tests
  committee/node/e2e_test.go
  committee/node/suite_test.go
  committee/testutil/contracttype.go
  committee/testutil/contracttypeimpl_string.go
Labels: Go

ticker time format improvements
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

ticker time format improvements
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

hero hover experiment
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

hero hover experiment
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

remove hero anchor ref
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

remove hero anchor ref
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

add arrow bounce to faux bridge
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

add arrow bounce to faux bridge
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

change nav hover scroll position bug
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

change nav hover scroll position bug
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

responsive improvements
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

responsive improvements
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/NavMenu.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

larger hero hover area
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

larger hero hover area
  packages/synapse-interface/pages/teaser/Hero.tsx
Labels: M-synapse-interface

Showing/hiding rebate based on cap (#2085)
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
Labels: M-synapse-interface

Showing/hiding rebate based on cap (#2085)
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
Labels: M-synapse-interface

gosimple
  committee/cmd/cmd.go
  committee/cmd/commands.go
  committee/contracts/interchaindb/doc.go
  committee/contracts/mocks/gasoraclemock/doc.go
  committee/db/sqlite/sqlite.go
Labels: Go

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

SDK Speedup via caching (#2062)
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/debug/logPromise.ts
  packages/sdk-router/tsconfig.json
  yarn.lock
Labels: none

SDK Speedup via caching (#2062)
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/debug/logPromise.ts
  packages/sdk-router/tsconfig.json
  yarn.lock
Labels: none

so much more redundant i missed removingv on first pass
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/bridgeSwap/TokenButton/AvailableChains.tsx
  packages/synapse-interface/components/bridgeSwap/TokenButton/TokenBalance.tsx
Labels: M-synapse-interface
