Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

one chain, one contract
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
Labels: Go

stream
  agents/agents/executor/executor.go
  services/scribe/grpc/server/server.go
Labels: Go

remove routine
  agents/agents/executor/executor.go
  services/scribe/grpc/server/server.go
Labels: Go

stash
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/consumer/fetcher/scribefetcher.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/messagebusparser.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/node/explorer.go
  services/explorer/node/explorer_test.go
Labels: Go

init
  services/scribe/backfill/chain.go
Labels: Go

scribe
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/logger.go
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

Update chain.go
  services/scribe/backfill/chain.go
Labels: Go

Scribe speed up (#354)
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/logger.go
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

Scribe speed up (#354)
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/logger.go
  services/scribe/db/datastore/sql/mysql/store.go
Labels: Go

scribe update
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/backfill/chain.go
  services/explorer/cmd/commands.go
  services/explorer/db/sql/store.go
  services/explorer/node/explorer_test.go
  services/explorer/testutil/newtestenv.go
Labels: Go

Update chain.go
  services/scribe/backfill/chain.go
Labels: Go

init
  services/explorer/config.yaml
  services/explorer/consumer/fetcher/pricefetcher.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
Labels: Go

scribe speed up
  services/scribe/backfill/chain.go
Labels: Go

scribe speed up
  services/scribe/backfill/chain.go
Labels: Go

Delete config.yaml
  services/explorer/config.yaml
Labels: none

first
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/event.go
Labels: Go

lint n gen
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/mocks/event_db.go
Labels: Go

up
  services/explorer/consumer/fetcher/pricefetcher.go
  services/explorer/consumer/parser/bridgeparser.go
Labels: Go

comment
  services/scribe/db/datastore/sql/base/log.go
Labels: Go

Update event.go
  services/scribe/db/event.go
Labels: Go

ascending filter logs in range (#356)
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/event.go
  services/scribe/db/mocks/event_db.go
Labels: Go

ascending filter logs in range (#356)
  services/scribe/db/datastore/sql/base/log.go
  services/scribe/db/event.go
  services/scribe/db/mocks/event_db.go
Labels: Go

small
  services/explorer/consumer/fetcher/pricefetcher.go
  services/explorer/consumer/parser/bridgeparser.go
Labels: Go

sped
  services/scribe/backfill/contract.go
  services/scribe/backfill/filter.go
Labels: Go

benchmarking
  services/scribe/backfill/filter.go
Labels: Go

log
  services/scribe/backfill/filter.go
Labels: Go

Update filter.go
  services/scribe/backfill/filter.go
Labels: Go

Scribe Speed up (#357)
  services/scribe/backfill/contract.go
  services/scribe/backfill/filter.go
Labels: Go

Scribe Speed up (#357)
  services/scribe/backfill/contract.go
  services/scribe/backfill/filter.go
Labels: Go

lint
  agents/go.mod
  agents/go.sum
  services/scribe/grpc/server/server.go
Labels: Go

undo silent
  services/scribe/db/datastore/sql/sqlite/store.go
Labels: Go

agents lint
  agents/agents/executor/executor.go
  agents/agents/executor/suite_test.go
  agents/go.mod
  agents/go.sum
Labels: Go

Update filter.go
  services/scribe/backfill/filter.go
Labels: Go

stash
  services/scribe/backfill/filter.go
Labels: Go

apply review suggestions + more assembly docs
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

first
  services/scribe/client/clients.go
  services/scribe/client/doc.go
Labels: Go

fixes
  services/scribe/client/clients.go
Labels: Go

privatize :p
  agents/config/config.go
  services/scribe/client/clients.go
Labels: Go

goland being dumb
  agents/config/config.go
Labels: Go

Create an embedded and remote scribe struct. (#360)
  services/scribe/client/clients.go
  services/scribe/client/doc.go
Labels: Go
