Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Sorts auto selected token option by priority rank
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/utils/findValidToken.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface

Chore: executable filemode
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeScriptRunString.js
Labels: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Fix: usage, script
  packages/solidity-devops/js/forgeScriptRunString.js
Labels: none

Fix: solidity-devops bin exports (#2186)
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeScriptRunString.js
  packages/solidity-devops/package.json
Labels: none

Fix: solidity-devops bin exports (#2186)
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeScriptRunString.js
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Labels: none

Use newer package, remove dupe scripts
  packages/contracts-communication/package.json
Labels: none

New naming :happy:
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

correcting chain ids and adding usdb
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: Go

linting nits
  services/explorer/graphql/client/client.go
Labels: Go

Sorts auto selected token option by priority rank (#2184)
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/utils/findValidToken.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface

Sorts auto selected token option by priority rank (#2184)
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/utils/findValidToken.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

removing changes to generated files [goreleaser]
  services/explorer/graphql/client/client.go
Labels: Go

Feat: add more tracing around rebalance trigger
  services/rfq/relayer/inventory/manager.go
Labels: Go

Updates bridge map
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/findValidTokens.ts
Labels: none

Graphql Additions (#2187)
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: Go

Graphql Additions (#2187)
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: Go

Fix explorer client gen
  services/explorer/graphql/client/client.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: Go

promexporter regen
  contrib/promexporter/internal/gql/explorer/models.gen.go
Labels: Go

fix again
  services/explorer/api/server_test.go
Labels: Go

Feat: add MaxRebalanceAmount and getter test
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Fix explorer client gen (#2190)
  contrib/promexporter/internal/gql/explorer/models.gen.go
  services/explorer/api/server_test.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: Go

Fix explorer client gen (#2190)
  contrib/promexporter/internal/gql/explorer/models.gen.go
  services/explorer/api/server_test.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: Go

Add isFetching prop to PoolDataState to track initial load, separate fetching from mount
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/slices/poolDataSlice.ts
Labels: M-synapse-interface

Feat: incorporate MaxRebalanceAmount and test
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
Labels: Go

Feat: use big.Float for MaxRebalanceAmount parsing
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: Go

Chore: fix shellcheck errors
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

Feat: add check for address match in cctp event
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

Add stakedBalance to poolUserData slice
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/slices/poolUserDataSlice.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface

Refetch pool token balances after withdraw
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/slices/portfolio/reducer.ts
Labels: M-synapse-interface

make styling more indicitive
  packages/synapse-interface/components/Pools/PoolCard/PoolCardBody.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Deploy scripts for communication testnet (#2185)
  package.json
  packages/contracts-communication/.env.example
  packages/contracts-communication/.gitignore
  packages/contracts-communication/configs/global/ExecutionService.testnet.json
  packages/contracts-communication/configs/global/InterchainAppExample.testnet.json
  packages/contracts-communication/configs/global/InterchainClientV1.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
  packages/contracts-communication/deployments/eth_sepolia/.chainId
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/.chainId
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
  packages/contracts-communication/devops.json
  packages/contracts-communication/foundry.toml
  packages/contracts-communication/package.json
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureClientV1.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionFees.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionService.s.sol
  packages/contracts-communication/script/config/ConfigureSynapseModule.s.sol
  packages/contracts-communication/script/deploy/DeployInterchainClientV1.s.sol
  packages/contracts-communication/script/deploy/DeployNoArgs.s.sol
  packages/contracts-communication/script/deploy/DeploySynapseModule.s.sol
  packages/contracts-communication/script/deploy/DeployWithMsgSender.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

Post deposit + withdraw updates all pool data including user
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
Labels: M-synapse-interface

Isolate OwnableApp abstraction
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/OwnableApp.sol
Labels: none

Add PingPongApp
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/apps/PingPongApp.sol
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
