Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Fix: quoter calls Start() on fee pricer
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/relayer.go
Labels: Go

useOverlaySearch modularization
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/utils/hooks/useOverlaySearch.tsx
Labels: M-synapse-interface

lol
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
Labels: M-synapse-interface

convert one-off style to native tailwind style
  packages/synapse-interface/components/landing/shared.tsx
Labels: M-synapse-interface

use semantic header tag for header
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface

unify bridge and landing page widths with footer
  packages/synapse-interface/components/icons/LandingIcons/CrossChainExchangeIcon.tsx
  packages/synapse-interface/components/icons/LandingIcons/MultiChainGamingIcon.tsx
  packages/synapse-interface/components/icons/LandingIcons/UniversalMoneyMarketsIcon.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
  packages/synapse-interface/pages/landing/sections/UseCasesSection.tsx
Labels: M-synapse-interface

useSearchOverlay quick docs
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/utils/hooks/useOverlaySearch.tsx
Labels: M-synapse-interface

unify use case svgs
  packages/synapse-interface/components/icons/LandingIcons/CrossChainExchangeIcon.tsx
  packages/synapse-interface/components/icons/LandingIcons/MultiChainGamingIcon.tsx
  packages/synapse-interface/components/icons/LandingIcons/UniversalMoneyMarketsIcon.tsx
Labels: M-synapse-interface

ignore files
  .codeclimate.yml
Labels: none

ignore files (#2031)
  .codeclimate.yml
Labels: none

ignore files (#2031)
  .codeclimate.yml
Labels: none

add footer padding on mobile
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
Labels: M-synapse-interface

also ignore globs
  .codeclimate.yml
Labels: none

also ignore globs (#2032)
  .codeclimate.yml
Labels: none

also ignore globs (#2032)
  .codeclimate.yml
Labels: none

way more effecient & easier to read using builtings vs manual js
  packages/synapse-interface/pages/bridge/SlideSearchBox.tsx
Labels: M-synapse-interface

fix fuzzy search since monke keeps forgetting optimism starts with o
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/constants/fuseOptions.ts
Labels: M-synapse-interface

buttonStyle literally never fucking used
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
Labels: M-synapse-interface

literally a lodash for that
  packages/synapse-interface/components/Portfolio/Transaction/components/EstimatedDuration.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
Labels: M-synapse-interface

Custom gas limit for transaction
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

search results container
  packages/synapse-interface/components/SearchResultsContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
Labels: M-synapse-interface

Start writing the unit tests
  packages/contracts-communication/remappings.txt
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

modularize
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
Labels: M-synapse-interface

might be weird edge case issue need to fix tbd
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
Labels: M-synapse-interface

feels faster this way lol
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/styles/transitions.ts
Labels: M-synapse-interface

add prettier border
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
Labels: M-synapse-interface

make more consistant
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

hero placeholder
  packages/synapse-interface/pages/teaser/SynapseIcon.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

hero placeholder
  packages/synapse-interface/pages/teaser/SynapseIcon.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

getGasEstimate
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/getGasEstimate.ts
Labels: M-synapse-interface

failed attempt 1
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  committee/p2p/readme.md
  committee/p2p/types.go
  go.work.sum
Labels: Go

failed attempt 2
  committee/p2p/boot.go
Labels: Go

Use bumped estimated gas when origin chain is Polygon
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/getGasEstimate.ts
Labels: M-synapse-interface

Clean
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Rm getGasEstimate
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/getGasEstimate.ts
Labels: M-synapse-interface

Track when transaction receipt error occurs
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

isTransactionReceiptError util, fetch origin balances if error is transaction receipt
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/isTransactionReceiptError.ts
Labels: M-synapse-interface

Bump timeout to 60s
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface

Create more robust error handling for checking if transaction receipt error
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/isTransactionReceiptError.ts
Labels: M-synapse-interface

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
