Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

WIP: enforce only one row affected in rebalance update
  services/rfq/relayer/reldb/base/rebalance.go
Labels: Go

WIP: don't track origin tx hash for now
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

Add checks around interchain client
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

Add example app
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
Labels: none

Remove unneeded event ExecutionRequested variables
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
Labels: none

Feat: write proof of execution
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

gg
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

ticker loading state
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

ticker loading state
  packages/synapse-interface/pages/teaser/Ticker.tsx
Labels: M-synapse-interface

FUCKING MERGE YOU NARCOLEPTIC MIDGET
  packages/sdk-router/src/router/synapseRouter.ts
Labels: none

how bout now bitch
  packages/sdk-router/src/router/synapseCCTPRouter.ts
Labels: none

dafuq
  packages/synapse-interface/utils/providers/SynapseProvider.tsx
Labels: M-synapse-interface

Interchain client cleanup (#2105)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: none

Remove nonce from InterchainTransaction struct
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: none

use explorer data
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/icons/PulseDot.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

use explorer data
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/icons/PulseDot.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

Return txId and dbNonce back to App when sending a message
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: none

Use dbNonce in appReceive
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Remove client nonce
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: none

Interchain tx/db nonce (#2112)
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: none

Update base apps to use the latest interface
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
Labels: none

WIP: logs
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

move general files to /components
  packages/synapse-interface/components/WIP-wrapper-components/Footer.tsx
  packages/synapse-interface/components/WIP-wrapper-components/NavMenu.tsx
  packages/synapse-interface/components/WIP-wrapper-components/SynapseLogo.tsx
  packages/synapse-interface/components/WIP-wrapper-components/Ticker.tsx
  packages/synapse-interface/components/WIP-wrapper-components/Wrapper.tsx
  packages/synapse-interface/components/icons/PulseDot.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/utils/fakeDataGen/explorerDataCall.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

move general files to /components
  packages/synapse-interface/components/WIP-wrapper-components/Footer.tsx
  packages/synapse-interface/components/WIP-wrapper-components/NavMenu.tsx
  packages/synapse-interface/components/WIP-wrapper-components/SynapseLogo.tsx
  packages/synapse-interface/components/WIP-wrapper-components/Ticker.tsx
  packages/synapse-interface/components/WIP-wrapper-components/Wrapper.tsx
  packages/synapse-interface/components/icons/PulseDot.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/utils/fakeDataGen/explorerDataCall.tsx
  packages/synapse-interface/utils/fakeDataGen/teaserMarquee.tsx
Labels: M-synapse-interface

ticker todos
  packages/synapse-interface/components/WIP-wrapper-components/Ticker.tsx
  packages/synapse-interface/components/WIP-wrapper-components/Wrapper.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

ticker todos
  packages/synapse-interface/components/WIP-wrapper-components/Ticker.tsx
  packages/synapse-interface/components/WIP-wrapper-components/Wrapper.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
Labels: M-synapse-interface

Updates copy (#2107)
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface

Updates copy (#2107)
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

2098 regen
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/testutil/contracttypeimpl_string.go
Labels: Go

interchain base fix
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/testutil/contracttypeimpl_string.go
Labels: Go

App versioning
  packages/contracts-communication/contracts/apps/InterchainAppBase.sol
Labels: none

Rename AppBase to AppV1
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/events/InterchainAppV1Events.sol
Labels: none

Functions to add/remove multiple verifiers
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none

Chore: cleanup
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: none

Remove unused func
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

Add test coverage for new management funcs
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Labels: none

Chore: keep test function names consistent
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Labels: none

Scaffold incentivized permisionless claiming
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: none
