Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

More `InterchainModule` errors
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

fix build [goreleaser]
  committee/.goreleaser.yml
Labels: none

i cant even
  packages/synapse-interface/components/Pools/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Implement tests for fee collector management
  packages/contracts-communication/contracts/events/ThresholdECDSAModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IThresholdECDSAModule.sol
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Management.t.sol
Labels: none

kill every1
  packages/synapse-interface/components/Pools/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/bridgeSwap/GenericOutputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/SearchResults.tsx
  packages/synapse-interface/components/bridgeSwap/SearchResultsContainer.tsx
  packages/synapse-interface/components/stake/StakeCard.tsx
Labels: M-synapse-interface

Fix: use the entry hash for signing
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Labels: none

Implement `feeCollector` management
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

dramatically simplify pages
  packages/synapse-interface/pages/bridge/DisplayType.tsx
Labels: M-synapse-interface

Start doing source tests
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Source.t.sol
Labels: none

remove more unused abis
  packages/synapse-interface/constants/abis/bridgeConfig.json
  packages/synapse-interface/constants/abis/erc20.json
  packages/synapse-interface/constants/abis/weth.json
  packages/synapse-interface/utils/sortTokens.ts
Labels: M-synapse-interface

rename file [goreleaser]
  docker/committee.Dockerfile
Labels: M-docker

need to lift soon
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/components/bridgeSwap/OverlayTransition.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

memoization in so many places literally adds MORE overhead
  packages/synapse-interface/components/bridgeSwap/ConnectStatusIndicator.tsx
Labels: M-synapse-interface

Add GasOracle interface
  packages/contracts-communication/contracts/interfaces/IGasOracle.sol
  packages/contracts-communication/test/mocks/GasOracleMock.sol
Labels: none

ticker hover
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/header.module.css
  packages/synapse-interface/pages/teaser/strings.tsx
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

ticker hover
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/header.module.css
  packages/synapse-interface/pages/teaser/strings.tsx
  packages/synapse-interface/pages/teaser/ticker.module.css
Labels: M-synapse-interface

Update path matching to highlight Bridge
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

make pool loding better
  packages/synapse-interface/components/Pools/PoolCard/PoolCardBody.tsx
  packages/synapse-interface/components/Pools/PoolCard/index.tsx
Labels: M-synapse-interface

fix import order
  packages/synapse-interface/components/Pools/PoolCard/PoolCardBody.tsx
Labels: M-synapse-interface

make button clickier
  packages/synapse-interface/components/Pools/PoolCard/PoolActionOptions.tsx
  packages/synapse-interface/components/Pools/PoolCard/index.tsx
Labels: M-synapse-interface

Ensure all routes highlight, including /pool
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface

Refactor TopBarNavLink
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
Labels: M-synapse-interface

redundant chex
  packages/synapse-interface/components/Pools/PoolCard/PoolActionOptions.tsx
  packages/synapse-interface/components/Pools/PoolCards.tsx
Labels: M-synapse-interface

Update `verifyEntry()` interface
  packages/contracts-communication/contracts/interfaces/IThresholdECDSAModule.sol
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

lol
  packages/synapse-interface/components/Pools/PoolCards.tsx
Labels: M-synapse-interface

Remove unneeded prop
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface

format ticker timestamp
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
Labels: M-synapse-interface

format ticker timestamp
  packages/synapse-interface/pages/teaser/Ticker.tsx
  packages/synapse-interface/pages/teaser/strings.tsx
Labels: M-synapse-interface

hm
  packages/synapse-interface/components/ConnectionIndicators.tsx
Labels: M-synapse-interface

Update Mobile nav elements
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface

lets see if this builds
  packages/synapse-interface/.eslintrc.js
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/slices/portfolio/hooks.ts
Labels: M-synapse-interface

Hide Destination explorer link in Transaction Menu when tx is reverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Allow Transaction to be clearable if reverted
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

cf build
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Add source chain tests
  packages/contracts-communication/test/modules/ThresholdECDSAModule.Source.t.sol
Labels: none

Implement source chain funcs
  packages/contracts-communication/contracts/modules/ThresholdECDSAModule.sol
Labels: none

Show Block explorer icons in Transaction Menu
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
Labels: M-synapse-interface

Add conditions to fetch for tx revert status
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getTransactionReceipt.ts
Labels: M-synapse-interface

Add tests: `bytes` for signatures instead of `bytes[]`
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/harnesses/ThresholdECDSALibHarness.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: none

Implement library update
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
Labels: none
