Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

generating agents
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  agents/types/parity_test.go
Labels: Go

Add: prefixing arguments to system call payload
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Add: call payload casts, slicing
  packages/contracts-core/contracts/libs/ByteString.sol
  packages/contracts-core/test/harnesses/libs/ByteStringHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
  packages/contracts-core/test/tools/libs/ByteStringTools.t.sol
  packages/contracts-core/test/utils/SynapseConstants.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add missing tests for call payload
  packages/contracts-core/test/harnesses/libs/ByteStringHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

adjust tests: prepend arguments
  packages/contracts-core/test/harnesses/system/SystemContractHarness.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: prepend extra arguments instead of appending
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove duplicated tests (SystemContract.t.sol)
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

remove unused formatter
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

simplify naming for existing formatters
  packages/contracts-core/contracts/libs/SystemCall.sol
  packages/contracts-core/contracts/system/SystemRouter.sol
  packages/contracts-core/test/harnesses/libs/SystemCallHarness.t.sol
  packages/contracts-core/test/suite/libs/ByteString.t.sol
  packages/contracts-core/test/suite/libs/SystemCall.t.sol
  packages/contracts-core/test/tools/system/SystemRouterTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

test
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/swapparser.go
Labels: Go

test2
  services/explorer/consumer/parser/utils_test.go
Labels: Go

lint
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/consumer/parser/utils_test.go
Labels: Go

initial
  agents/agents/executor/doc.go
  agents/agents/executor/executor.go
Labels: Go

init
  services/scribe/backfill/contract.go
  services/scribe/cmd/commands.go
Labels: Go

init
  services/explorer/consumer/fetcher/scribefetcher.go
Labels: Go

test: invalid "recipient" value in SystemRouter
  packages/contracts-core/test/suite/system/SystemRouter.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

make maxConfirmations a file var
  services/scribe/cmd/commands.go
Labels: Go

removing .vscode/launch.json
  .vscode/launch.json
Labels: none

gitignore
  .gitignore
  .vscode/launch.json
Labels: none

Adding more fall back clients to scribe (#342)
  services/scribe/backfill/contract.go
  services/scribe/cmd/commands.go
Labels: Go

Adding more fall back clients to scribe (#342)
  services/scribe/backfill/contract.go
  services/scribe/cmd/commands.go
Labels: Go

nuke blocktime stuff
  services/explorer/api/resolver_test.go
  services/explorer/consumer/fetcher/scribefetcher.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

fix: docs
  packages/contracts-core/contracts/system/SystemRouter.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

init
  services/explorer/contracts/contracts/MessageBusUpgradeableV1_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestMessageBusUpgradeable.sol
  services/explorer/contracts/messagebus/generate.go
  services/explorer/contracts/messagebus/helpers.go
  services/explorer/contracts/messagebus/messaging.abigen.go
  services/explorer/contracts/messagebus/messaging.contractinfo.json
  services/explorer/contracts/messagebus/messaging.metadata.go
  services/explorer/contracts/messagebus/sendreceive.go
  services/explorer/contracts/messagebus/testmessage/doc.go
  services/explorer/contracts/messagebus/testmessagebus/doc.go
  services/explorer/contracts/messagebus/testmessagebus/generate.go
  services/explorer/contracts/messagebus/testmessagebus/helpers.go
  services/explorer/contracts/messagebus/topics.go
  services/explorer/testutil/buildtypes.go
  services/explorer/types/messagebus/doc.go
  services/explorer/types/messagebus/event.go
  services/explorer/types/messagebus/eventtype.go
  services/explorer/types/messagebus/eventtype_string.go
Labels: Go

abi
  services/explorer/contracts/messagebus/testmessagebus/testmessagebus.abigen.go
  services/explorer/contracts/messagebus/testmessagebus/testmessagebus.contractinfo.json
  services/explorer/contracts/messagebus/testmessagebus/testmessagebus.metadata.go
Labels: Go

abis
  services/explorer/contracts/messagebus/generate.go
  services/explorer/contracts/messagebus/messagebus.abigen.go
  services/explorer/contracts/messagebus/messagebus.contractinfo.json
  services/explorer/contracts/messagebus/messagebus.metadata.go
Labels: Go

look at structure
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  agents/agents/executor/logger.go
  agents/agents/executor/suite_test.go
  agents/go.mod
  agents/go.sum
Labels: Go

remove unneeded fields
  agents/agents/executor/executor.go
Labels: Go

test infra
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/messagebusparser.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/contracts/messagebus/helpers.go
  services/explorer/contracts/messagebus/testmessage/doc.go
  services/explorer/contracts/messagebus/testmessagebus/helpers.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/writer.go
  services/explorer/db/writer_test.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/testcontracts/contract_test.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/contracttypeimpl_string.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/manager.go
  services/explorer/testutil/testcontracts/suite_test.go
  services/explorer/testutil/testcontracts/typecast.go
  services/explorer/testutil/testcontracts/typecast_test.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
Labels: Go

message bus
  services/explorer/consumer/parser/messagebusparser.go
  services/explorer/consumer/parser/utils.go
  services/explorer/contracts/bridge/testbridge/doc.go
  services/explorer/contracts/bridge/testbridgev1/doc.go
  services/explorer/contracts/messagebus/generate.go
  services/explorer/contracts/messagebus/testmessagebus/doc.go
  services/explorer/contracts/messagebus/testmessagebus/generate.go
  services/explorer/contracts/swap/testswap/doc.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/writer.go
Labels: Go

init
  charts/explorer/.helmignore
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/NOTES.txt
  charts/explorer/templates/_helpers.tpl
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/ingress.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/templates/service.yaml
  charts/explorer/templates/serviceaccount.yaml
  charts/explorer/templates/tests/test-connection.yaml
  charts/explorer/values.yaml
  make/helm.Makefile
  make/scripts/chart-dirs.sh
Labels: M-charts

gen
  services/explorer/consumer/parser/utils.go
  services/explorer/db/mocks/consumer_db.go
Labels: Go

init
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/contracts/bridge/withdraw.go
  services/explorer/db/sql/model.go
  services/explorer/types/bridge/event.go
Labels: Go

add unit tests for hash functions
  packages/contracts-core/test/suite/libs/TypedMemView.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: words()
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

fix: check results of precompile calls
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: clarify implicit precompile addresses
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

simplify nibbleHex()
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: constants instead of literals, more docs
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: docs for indexing functions
  packages/contracts-core/contracts/libs/TypedMemView.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical
