Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

Getting more failed linters to pass
  agents/contracts/attestationcollector/generate.go
  agents/contracts/notarymanager/generate.go
  agents/contracts/test/headerharness/generate.go
  agents/types/message.go
Labels: Go

hold on
  services/scribe/backfill/contract.go
  services/scribe/backfill/logger.go
Labels: Go

Added constructor for Attestation that takes raw bytes
  agents/agents/notary/notary_test.go
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/attestationcollector/parser.go
  agents/contracts/destination/destination.abigen.go
  agents/contracts/destination/parser.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  agents/types/attestation.go
Labels: Go

fixing infinite recursive calls
  agents/contracts/attestationcollector/parser.go
  agents/contracts/destination/parser.go
  agents/go.mod
  agents/go.sum
  agents/types/attestation.go
Labels: Go

check
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/templates/server_deployment.yaml
  charts/explorer/values.yaml
  make/helm.Makefile
Labels: M-charts

helm is gone helm is gone
  charts/explorer/templates/indexer_deployment.yaml
  charts/explorer/values.yaml
Labels: M-charts

delay
  charts/explorer/values.yaml
Labels: M-charts

yeah
  charts/explorer/values.yaml
Labels: M-charts

touch ups
  charts/scribe/Chart.yaml
  charts/scribe/values.yaml
  make/helm.Makefile
Labels: M-charts

lil cleaning
  charts/explorer/values.yaml
Labels: M-charts

logging
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/filter.go
  services/scribe/backfill/logger.go
  services/scribe/backfill/scribe.go
Labels: Go

make hooks more generic: notary added/removed
  packages/contracts-core/contracts/registry/DomainNotaryRegistry.sol
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

add hooks to harnesses
  packages/contracts-core/test/harnesses/DestinationHarness.t.sol
  packages/contracts-core/test/harnesses/events/NotaryRegistryHarnessEvents.sol
  packages/contracts-core/test/harnesses/registry/DomainNotaryRegistryHarness.t.sol
  packages/contracts-core/test/harnesses/registry/GlobalNotaryRegistryHarness.t.sol
  packages/contracts-core/test/utils/SynapseEvents.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

coverage for the new hooks
  packages/contracts-core/test/suite/AttestationCollector.t.sol
  packages/contracts-core/test/suite/registry/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/tools/AttestationCollectorTools.t.sol
  packages/contracts-core/test/tools/registry/DomainNotaryRegistryTools.t.sol
  packages/contracts-core/test/tools/registry/GlobalNotaryRegistryTools.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

move hooks into abstract registry
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/contracts/registry/DomainNotaryRegistry.sol
  packages/contracts-core/contracts/registry/GlobalNotaryRegistry.sol
  packages/contracts-core/test/harnesses/DestinationHarness.t.sol
  packages/contracts-core/test/harnesses/hubs/AttestationHubHarness.t.sol
  packages/contracts-core/test/harnesses/hubs/ReportHubHarness.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

Refactor/scribe (#337)
  services/scribe/api/server.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/export_test.go
  services/scribe/backfill/filter.go
  services/scribe/backfill/filter_test.go
  services/scribe/backfill/logger.go
  services/scribe/backfill/scribe.go
  services/scribe/backfill/suite_test.go
  services/scribe/cmd/cmd.md
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/event.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/types.resolvers.go
  services/scribe/graphql/server/graph/utils.go
  services/scribe/node/scribe.go
Labels: Go

Refactor/scribe (#337)
  services/scribe/api/server.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/chain_test.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/export_test.go
  services/scribe/backfill/filter.go
  services/scribe/backfill/filter_test.go
  services/scribe/backfill/logger.go
  services/scribe/backfill/scribe.go
  services/scribe/backfill/suite_test.go
  services/scribe/cmd/cmd.md
  services/scribe/db/datastore/sql/base/lastblocktime.go
  services/scribe/db/event.go
  services/scribe/db/mocks/event_db.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/types.resolvers.go
  services/scribe/graphql/server/graph/utils.go
  services/scribe/node/scribe.go
Labels: Go

README.md
  services/explorer/README.md
Labels: none

chain.go
  services/explorer/backfill/chain.go
Labels: Go

fetcher.go
  services/explorer/consumer/fetcher.go
Labels: Go

parser.go
  services/explorer/consumer/parser.go
Labels: Go

utils.go
  services/explorer/consumer/utils.go
Labels: Go

model.go
  services/explorer/db/sql/model.go
Labels: Go

reader.go & writer.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/writer.go
Labels: Go

queries.resolver.go & queryutils.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

explorer.go
  services/explorer/node/explorer.go
Labels: Go

lint and gen
  services/explorer/backfill/chain.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/parser.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/node/explorer.go
Labels: Go

update README.md TODO
  services/explorer/README.md
Labels: none

Skipping test that for notary_test.go
  agents/agents/notary/notary_test.go
  agents/contracts/notarymanager/NotaryManager.sol
Labels: Go

Update packages/contracts-core/contracts/libs/Report.sol
  packages/contracts-core/contracts/libs/Report.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

parser.go -> bridgeparser.go & swapparser.go
  services/explorer/consumer/bridgeparser.go
  services/explorer/consumer/swapparser.go
  services/explorer/consumer/utils.go
Labels: Go

restructure consumer
  services/explorer/README.md
  services/explorer/api/server.go
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher/bridgeconfigfetcher.go
  services/explorer/consumer/fetcher/doc.go
  services/explorer/consumer/fetcher/logger.go
  services/explorer/consumer/fetcher/scribefetcher.go
  services/explorer/consumer/fetcher/swapfetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/doc.go
  services/explorer/consumer/parser/logger.go
  services/explorer/consumer/parser/parser_test.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/consumer/parser/utils.go
  services/explorer/consumer/utils.go
  services/explorer/graphql/server/gin.go
  services/explorer/graphql/server/graph/resolver.go
  services/explorer/node/explorer.go
Labels: Go

update README.go
  services/explorer/README.md
Labels: none

Adding constants for positional indices in serialization function that deal with rawBytes
  agents/contracts/notarymanager/NotaryManager.sol
  agents/types/attestation.go
  agents/types/parity_test.go
Labels: Go

Adding go.sum after running go mod tidy
  core/go.sum
Labels: none

Adding more go.sum after running go mod tidy
  services/omnirpc/go.sum
Labels: none

adding more go.sum files
  ethergo/go.sum
  services/explorer/go.sum
  services/scribe/go.sum
  tools/go.sum
Labels: none

bunch of stuff
  services/explorer/config.yaml
  services/explorer/consumer/fetcher/logger.go
  services/explorer/consumer/fetcher/pricefetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/logger.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/logger.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/consumer/parser/utils.go
  services/explorer/consumer/parser/utils_test.go
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
Labels: Go

test
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/swapparser.go
Labels: Go

Making minor nit changes after code review
  agents/contracts/attestationcollector/attestationcollector_test.go
  agents/contracts/destination/destination_test.go
  agents/db/datastore/sql/base/model.go
  agents/db/datastore/sql/base/monitor.go
  agents/types/encoder_test.go
  agents/types/parity_test.go
Labels: Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
