Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

update pool ids for minichef
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface

Fixes number of decimals shown
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

FE Adds Blast (#2139)
  packages/synapse-interface/assets/chains/blast.svg
  packages/synapse-interface/assets/explorer/blast.svg
  packages/synapse-interface/assets/icons/usdb.png
  packages/synapse-interface/assets/icons/usdb.svg
  packages/synapse-interface/components/HarmonyCheck.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/cypress/fixtures/bridge.json
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface

FE Adds Blast (#2139)
  packages/synapse-interface/assets/chains/blast.svg
  packages/synapse-interface/assets/explorer/blast.svg
  packages/synapse-interface/assets/icons/usdb.png
  packages/synapse-interface/assets/icons/usdb.svg
  packages/synapse-interface/components/HarmonyCheck.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/cypress/fixtures/bridge.json
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Adds blast
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: none

Adds blast (#2176)
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: none

Adds blast (#2176)
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: none

Refetch pool data after withdraw tx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

update pool info
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
Labels: M-synapse-interface

update pool info (#2177)
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
Labels: M-synapse-interface

update pool info (#2177)
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
Labels: M-synapse-interface

Update pool balances after Deposit
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

potential chain undefined
  packages/synapse-interface/components/Pools/PoolHeader.tsx
  packages/synapse-interface/components/Wallet.tsx
Labels: M-synapse-interface

.
  packages/synapse-interface/components/Wallet.tsx
Labels: M-synapse-interface

potential chain undefined (#2179)
  packages/synapse-interface/components/Pools/PoolHeader.tsx
Labels: M-synapse-interface

potential chain undefined (#2179)
  packages/synapse-interface/components/Pools/PoolHeader.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

working explorer and updating interface bridge map
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/synapse-constants/constants/assets/chains/blast.svg
  packages/synapse-constants/constants/assets/explorer/blast.svg
  packages/synapse-constants/constants/assets/icons/usdb.svg
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-constants/unsupportedTokens.txt
  packages/synapse-interface/constants/bridgeMap.ts
Labels: M-explorer-ui, M-synapse-interface

fixing usdb typo
  packages/synapse-constants/constants/tokens/bridgeable.ts
Labels: none

typos fixed and built
  packages/synapse-constants/package.json
Labels: none

Reverts usdc.e change
  packages/synapse-interface/constants/bridgeMap.ts
Labels: M-synapse-interface

fix generation and republish
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/symbolOverrides.json
  packages/synapse-constants/package.json
  packages/synapse-constants/unsupportedTokens.txt
Labels: none

fixing graphql to support blast
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
Labels: Go

Deploy GasOracle mocks
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/script/testnet-deploy.sh
Labels: none

Add config scripts
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureClientV1.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionFees.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionService.s.sol
  packages/contracts-communication/script/config/ConfigureSynapseModule.s.sol
  packages/contracts-communication/script/testnet-config.sh
Labels: none

Add testnet configs
  packages/contracts-communication/configs/global/ExecutionService.testnet.json
  packages/contracts-communication/configs/global/InterchainAppExample.testnet.json
  packages/contracts-communication/configs/global/InterchainClientV1.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
Labels: none

Moves blast up list of switch networks
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface

Feat/graphql add blast (#2182)
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/synapse-constants/constants/assets/chains/blast.svg
  packages/synapse-constants/constants/assets/explorer/blast.svg
  packages/synapse-constants/constants/assets/icons/usdb.svg
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/data/symbolOverrides.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-interface/constants/bridgeMap.ts
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
Labels: M-explorer-ui, M-synapse-interface, Go

Feat/graphql add blast (#2182)
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/synapse-constants/constants/assets/chains/blast.svg
  packages/synapse-constants/constants/assets/explorer/blast.svg
  packages/synapse-constants/constants/assets/icons/usdb.svg
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/data/symbolOverrides.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-interface/constants/bridgeMap.ts
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
Labels: M-explorer-ui, M-synapse-interface, Go

Try fixing exports
  packages/solidity-devops/package.json
Labels: none

Another futile attempt at finding a good name
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeScriptRunString.js
  packages/solidity-devops/package.json
Labels: none

Moves blast up list of switch networks (#2183)
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface

Moves blast up list of switch networks (#2183)
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface
