Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

do not overwrite goreleaser go version (#2207)
  .github/workflows/goreleaser-actions.yml
  core/README.md
Labels: none

do not overwrite goreleaser go version (#2207)
  .github/workflows/goreleaser-actions.yml
  core/README.md
Labels: none

Update configs
  packages/contracts-communication/configs/global/ExecutionService.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
Labels: none

Chore: interchain explicit errors (#2206)
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: none

Update claim flow to refetch staked balance after tx executes
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/utils/hooks/usePendingTxWrapper.tsx
Labels: M-synapse-interface

Cleanup: lint
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/rebalance.go
Labels: Go

resetUserStakeData()
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

group imports
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

this doesnt need to be recomputed every func call
  packages/synapse-interface/utils/tokens/flattenPausedTokens.ts
Labels: M-synapse-interface

Refactor; getUserLpTokenAllowance, clean up useEffects with refactored fns
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Remove unused tx state
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

sp
  packages/synapse-interface/utils/route/swap/generateSwapPossibilities.ts
Labels: M-synapse-interface

Hide bridge fee
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

regen
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
Labels: Go

usePriceDataState
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Pools/PoolCard/index.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/stake/StakeCardTitle.tsx
  packages/synapse-interface/slices/price/hooks.ts
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface

Add SynapseRouter address on Blast
  packages/sdk-router/src/constants/addresses.ts
Labels: none

gm
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
Labels: M-synapse-interface

[REVERT IN PROD] Use local SDK for testing FE
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Remove Fee component
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

Chore: update solidity-devops to latest
  packages/contracts-communication/package.json
Labels: none

Clarify function that catches error in Stake
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

Wrap getTxRevertStatus in try..catch for semantic error handling
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
Labels: M-synapse-interface

Clean imports
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

Revert "[REVERT IN PROD] Use local SDK for testing FE"
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Clean imports on StakeCard
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface

holy shit so many of these calls are serial...why
  packages/synapse-interface/components/ConnectionIndicators.tsx
  packages/synapse-interface/components/Pools/PoolCard/PoolHeader.tsx
  packages/synapse-interface/utils/actions/getPoolApyData.ts
Labels: M-synapse-interface

actually do the requests in parallel so its fast
  packages/synapse-interface/utils/actions/getPrices.ts
Labels: M-synapse-interface

promise.all unnecessary for 1 req
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
Labels: M-synapse-interface

kekek
  packages/synapse-interface/utils/actions/getPoolApyData.ts
Labels: M-synapse-interface

speed
  packages/synapse-interface/utils/actions/getPoolApyData.ts
Labels: M-synapse-interface

lfg
  packages/synapse-interface/utils/actions/getPoolApyData.ts
Labels: M-synapse-interface

can useAppDispatch since alreaady typed...
  packages/synapse-interface/slices/portfolio/hooks.ts
Labels: M-synapse-interface

Remove bridge fee (#2209)
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

Remove bridge fee (#2209)
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: M-synapse-interface

remove unused import
  packages/synapse-interface/components/Pools/pool/poolManagement/DepositButton.tsx
Labels: M-synapse-interface

import order & removing unused imports
  packages/synapse-interface/components/Pools/pool/PoolBody.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/components/Pools/pool/poolManagement/index.tsx
Labels: M-synapse-interface

fix bug in transformCalculateLiquidityInput where it would incorrectly say theres no weth in pool of wethIndex was 0
  packages/synapse-interface/utils/transformCalculateLiquidityInput.ts
Labels: M-synapse-interface

Refetch allowances after allowance tx executes
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface
