Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

lint
  services/explorer/testutil/clickhouse/clickhouse.go
Labels: Go

nuke upterm
  .github/workflows/go.yml
Labels: none

data_test to resolver_test
  services/explorer/api/resolver_test.go
Labels: Go

paginate
  .github/workflows/go.yml
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

oops, fix workflow
  .github/workflows/go.yml
Labels: none

gen
  services/explorer/db/mocks/consumer_db.go
Labels: Go

add token metadata retrieval for swaps
  services/explorer/cmd/cmd.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/parser.go
Labels: Go

latestbridgetxn tests and partial info adding
  services/explorer/api/resolver_test.go
  services/explorer/consumer/parser.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

lint and such
  services/explorer/api/resolver_test.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

Refactor swap and add pricing getting
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/parser.go
  services/explorer/consumer/tokenSymbolToCoinGeckoID.yaml
  services/explorer/consumer/utils.go
  services/explorer/consumer/utils_test.go
  services/explorer/contracts/swap/fee.go
  services/explorer/contracts/swap/liquidity.go
  services/explorer/contracts/swap/loan.go
  services/explorer/contracts/swap/rampa.go
  services/explorer/contracts/swap/swap.go
  services/explorer/db/sql/model.go
  services/explorer/types/swap/event.go
Labels: Go

arg max
  services/explorer/db/sql/reader.go
Labels: Go

lint and comments
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/parser.go
  services/explorer/contracts/swap/liquidity.go
  services/explorer/contracts/swap/loan.go
  services/explorer/contracts/swap/swap.go
Labels: Go

make fields required
  services/explorer/api/resolver_test.go
  services/explorer/consumer/parser.go
  services/explorer/db/sql/reader.go
Labels: Go

some comments
  services/explorer/graphql/server/graph/schema/queries.graphql
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: none

fix: better nonce handling
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/libs/Merkle.sol
  packages/contracts-core/test/ProofGenerator.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

feat: return values for origin.dispatch()
  packages/contracts-core/contracts/Origin.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

chore: simplify formatting in dispatch
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/libs/Message.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

gen
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
Labels: Go

finish comments and remove unnecessary field
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: Go

init
  services/explorer/consumer/parser.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/scribe/db/datastore/sql/sqlite/store.go
Labels: Go

chore: fancy syntax sugar
  packages/contracts-core/contracts/Origin.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

private functions, some other stuff
  services/explorer/db/consumerinterface.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

GQL query refactor
  services/explorer/consumer/parser.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/scribe/db/datastore/sql/sqlite/store.go
Labels: Go

clean code
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/consumer/utils.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: Go

small
  services/explorer/api/server.go
Labels: Go

update chain test
  services/explorer/consumer/backfill/chain_test.go
Labels: Go

Destination cleanup (#203)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/testutil/deployers.go
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/test/Client.t.sol
  packages/contracts-core/test/Destination.t.sol
  packages/contracts-core/test/SystemRouter.t.sol
  packages/contracts-core/test/harnesses/DestinationHarness.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Destination cleanup (#203)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/testutil/deployers.go
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/hubs/DestinationHub.sol
  packages/contracts-core/test/Client.t.sol
  packages/contracts-core/test/Destination.t.sol
  packages/contracts-core/test/SystemRouter.t.sol
  packages/contracts-core/test/harnesses/DestinationHarness.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

regenerate contracts
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/itransactor_generated.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
Labels: Go

addressing some issues
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/parser.go
  services/explorer/consumer/utils.go
  services/explorer/contracts/swap/liquidity.go
  services/explorer/contracts/swap/loan.go
Labels: Go

trajan comment fixes
  services/explorer/api/resolver_test.go
  services/explorer/api/suite_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/logger.go
  services/explorer/consumer/parser.go
Labels: Go

more fixed
  .golangci.yml
  services/explorer/consumer/parser.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: Go

log sender error
  services/explorer/consumer/parser.go
Labels: Go

move db from reader to writer for consumerinterface
  services/explorer/db/consumerinterface.go
Labels: Go

add goreleaser workflow for docker images (pre-req to helm)
  docker/explorer.Dockerfile
  services/explorer/.goreleaser.yaml
Labels: M-docker

add goreleaser workflow for docker images (pre-req to helm)
  docker/explorer.Dockerfile
  services/explorer/.goreleaser.yaml
Labels: M-docker

unsafe_db and test specific non-error
  agents/domains/evm/queue.go
  ethergo/signer/signer/kmssigner/kmsmock/internal/server_gen.go
  services/explorer/api/resolver_test.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/parser.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
Labels: Go

gen
  services/explorer/db/mocks/consumer_db.go
Labels: Go

Return value for Origin.dispatch() (#245)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/itransactor_generated.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/libs/Merkle.sol
  packages/contracts-core/contracts/libs/Message.sol
  packages/contracts-core/test/ProofGenerator.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go

Return value for Origin.dispatch() (#245)
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/itransactor_generated.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/messageharness/messageharness.abigen.go
  agents/contracts/test/messageharness/messageharness.contractinfo.json
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/OriginHub.sol
  packages/contracts-core/contracts/libs/Merkle.sol
  packages/contracts-core/contracts/libs/Message.sol
  packages/contracts-core/test/ProofGenerator.t.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Go
