Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'

Throw error if transaction is rejected by User, ensure depositTxn() finally sets isLoading to false
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
Labels: M-synapse-interface

Apply User rejected flow in withdrawTxn()
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
Labels: M-synapse-interface

Update isTransactionReceiptError to also check for TransactionNotFoundError
  packages/synapse-interface/utils/isTransactionReceiptError.ts
Labels: M-synapse-interface

Clean
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
Labels: M-synapse-interface

Update balances on Swap after transacion receipt returned
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingDots.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

onSuccessSwap
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface

Clear swap input after successful swap executed
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
Labels: M-synapse-interface

fix: packages/contracts-core/package.json & packages/contracts-core/yarn.lock to reduce vulnerabilities
  packages/contracts-core/package.json
  packages/contracts-core/yarn.lock
Labels: 2-reviewers, M-contracts

adding blast to graphql query
  packages/explorer-ui/graphql/queries/index.ts
Labels: M-explorer-ui

adding blast to graphql query (#2196)
  packages/explorer-ui/graphql/queries/index.ts
Labels: M-explorer-ui

adding blast to graphql query (#2196)
  packages/explorer-ui/graphql/queries/index.ts
Labels: M-explorer-ui

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
Labels: M-explorer-ui

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
Labels: M-explorer-ui

so much of this needs to be organized
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveToken.tsx
  packages/synapse-interface/utils/findValidToken.ts
Labels: M-synapse-interface

monke simplify
  packages/synapse-interface/utils/route/bridge/generateRoutePossibilities.ts
  packages/synapse-interface/utils/route/bridge/getFromChainIds.ts
  packages/synapse-interface/utils/route/bridge/getFromTokens.ts
  packages/synapse-interface/utils/route/bridge/getToChainIds.ts
  packages/synapse-interface/utils/route/bridge/getToTokens.ts
  packages/synapse-interface/utils/route/bridge/getTokenAndChainId.ts
  packages/synapse-interface/utils/route/swap/generateSwapPossibilities.ts
  packages/synapse-interface/utils/route/swap/getSwapFromChainIds.ts
  packages/synapse-interface/utils/route/swap/getSwapFromTokens.ts
  packages/synapse-interface/utils/route/swap/getSwapToTokens.ts
  packages/synapse-interface/utils/route/types.ts
Labels: M-synapse-interface

the files were literally identitical in function sans the routes...
  packages/synapse-interface/utils/route/bridge/getToTokens.ts
  packages/synapse-interface/utils/route/getToTokensFunc.tsx
  packages/synapse-interface/utils/route/swap/getSwapToTokens.ts
Labels: M-synapse-interface

another 200+ line repeat. 3 and monke get a cookie
  packages/synapse-interface/utils/route/bridge/getFromTokens.ts
  packages/synapse-interface/utils/route/getFromTokensFunc.tsx
  packages/synapse-interface/utils/route/swap/getSwapFromTokens.ts
Labels: M-synapse-interface

fix typo & revert smth in last hr caused vercel not 2 build
  packages/synapse-interface/components/ui/tailwind/Button.tsx
Labels: M-synapse-interface

clip progress bar correctly
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

they wanna see me fail, love to see me down
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
Labels: M-synapse-interface

tryna kick me out
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface

Enable volume based risk thresholds [goreleaser]
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/internal/risk.go
  contrib/screener-api/screener/internal/risk_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/setup.go
Labels: Go

lint
  contrib/screener-api/screener/internal/risk.go
Labels: Go

Enable volume based risk thresholds [goreleaser] (#2197)
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/internal/risk.go
  contrib/screener-api/screener/internal/risk_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/setup.go
Labels: Go

Enable volume based risk thresholds [goreleaser] (#2197)
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/internal/risk.go
  contrib/screener-api/screener/internal/risk_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/setup.go
Labels: Go

Refactor config to use slice for chains and add ChainID field; adjust executor logic accordingly
  sin-executor/config/config.go
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
Labels: Go

Create whitelist in config
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: Go

Screener/whitelist (#2199)
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: Go

Screener/whitelist (#2199)
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: Go

explorerr goreleaser (#2193)
  services/explorer/node/explorer.go
Labels: Go

explorerr goreleaser (#2193)
  services/explorer/node/explorer.go
Labels: Go

SIN Executor Config Chain ID restructure (#2198)
  sin-executor/config/config.go
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
Labels: Go

New deployments + Added Configuration for Execution Service
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
  packages/contracts-communication/script/config/ConfigureExecutionService.s.sol
Labels: none

fix failed to resolve ds-test/test.sol?
  packages/contracts-communication/remappings.txt
Labels: none

regen sin-executor
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
Labels: Go

deprecate explorer [goreleaser]
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker

sha256 sum [goreleaser]
  docker/goreleaser/Dockerfile
Labels: M-docker

upgrade goreleaser to support go 1.22 (#2200)
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker

upgrade goreleaser to support go 1.22 (#2200)
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker

Update .goreleaser.yml [goreleaser]
  committee/.goreleaser.yml
Labels: none
