Repository synapsecns/sanguine, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-make, M-docker, M-integration, M-contracts, M-explorer-ui, M-synapse-interface, M-Codeowners, M-charts, C-Protocol-Critical, Go

Revert "hi"
  committee/go.mod
  committee/go.sum
Labels: none

Revert "no quorum"
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
Labels: Go

Revert "addd peer discovery, more crap to try to resolve issue"
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/p2p/p2p_test.go
  go.work.sum
Labels: Go

Fix: end pollGasEstimates span
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

there r many files to nuke soon :D
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/GenericOutputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/OutputNumber.tsx
  packages/synapse-interface/components/bridgeSwap/TokenSelector.tsx
Labels: M-synapse-interface

gimme a sign
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenSelector.tsx
Labels: M-synapse-interface

forgot to rm log
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Labels: M-synapse-interface

add testutil for relayer
  committee/Makefile
  committee/contracts/synapsemodule/doc.go
  committee/contracts/synapsemodule/generate.go
  committee/contracts/synapsemodule/helpers.go
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.metadata.go
  committee/go.mod
  committee/go.sum
  committee/p2p/boot.go
  committee/relayer/doc.go
  committee/relayer/relayer.go
  committee/testutil/contracttype.go
  committee/testutil/contracttypeimpl_string.go
  committee/testutil/deployers.go
  committee/testutil/doc.go
  committee/testutil/suite_test.go
  committee/testutil/typecast.go
  packages/contracts-communication/.gitignore
  packages/contracts-communication/flatten.sh
  packages/contracts-communication/package.json
Labels: Go

value prop placeholder
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/marquee.module.css
Labels: M-synapse-interface

value prop placeholder
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/marquee.module.css
Labels: M-synapse-interface

WIP: use quote request to get calls
  services/rfq/relayer/pricer/calls.go
  services/rfq/relayer/pricer/fee_pricer.go
Labels: Go

Type useBridgeTxStatus return shape
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/hooks/useBridgeTxStatus.tsx
Labels: none

Feat: pass quote request to fee calculation
  services/rfq/relayer/quoter/quoter.go
Labels: Go

Fix: quoter calls Start() on fee pricer
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/relayer.go
Labels: Go

Add AnimatedProgressBar
  packages/widget/src/components/AnimatedProgressBar.tsx
  packages/widget/src/components/Transaction.tsx
Labels: none

Style ProgressBar
  packages/widget/src/components/Transaction.tsx
Labels: none

Fix classname typo
  packages/widget/src/components/Transaction.tsx
Labels: none

footer stub
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

footer stub
  packages/synapse-interface/pages/teaser/index.tsx
Labels: M-synapse-interface

Add closing par
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ToggleTabs.tsx
Labels: none

switch to db
  committee/db/base/block.go
  committee/db/base/doc.go
  committee/db/base/model.go
  committee/db/base/signrequest.go
  committee/db/base/store.go
  committee/db/connect/sql.go
  committee/db/db.go
  committee/db/doc.go
  committee/db/mysql/mysql.go
  committee/db/sqlite/sqlite.go
  committee/db/suite_test.go
  committee/db/synapserequeststatus_string.go
  committee/listener/doc.go
  committee/listener/listener.go
  committee/metadata/metadata.go
  committee/relayer/relayer.go
  services/rfq/relayer/reldb/base/model.go
Labels: Go

SynapseModule: Move Estimate Fee & transfer fee to SynapseGasService
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
Labels: none

workaround 4 readability
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface

i dont know whats worth fighting for or why i have to scream
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/components/bridgeSwap/ConnectStatusIndicator.tsx
Labels: M-synapse-interface

holy crap theres so much dogcrap copypasta code...
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
Labels: M-synapse-interface

kill some dead puppies. we shall call them undead puppies
  packages/synapse-interface/components/StateManagedBridge/FromChainSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapChainSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapFromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/bridgeSwap/GenericInputContainer.tsx
Labels: M-synapse-interface

there are just too many times that humans have tried to look inside of me
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
Labels: M-synapse-interface

Add revert tests for same chain id
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Labels: none

Rework `readEntry` to use a single module
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

Check that dest chain is not the same as local
  packages/contracts-communication/contracts/InterchainDB.sol
Labels: none

Add initial unit tests for Destination interactions
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDBEvents.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

mock initial app config to scaffold execution layer
  packages/contracts-communication/contracts/InterchainApp.sol
Labels: none

Add unit tests for `readEntry`
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

Isolate InterchainEntry operations into a library
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.s.sol
Labels: none

Start using InterchainEntry library
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.s.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Labels: none

Add tests with dataHash = 0
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

Change the error interface
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

Should revert in readEntry
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

Fix: incorrect test
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: none

Implement destination DB functions
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
Labels: none

.github/labeler.yml:

2-reviewers:
  - 'packages/contracts-core/**/*'

M-ci:
  - any: ['\.github/**/*']

M-make:
  - any: ['make/**/*', '**/Makefile', '**/*.Makefile']

M-docker:
  - any: ['docker/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-contracts:
  - any: ['packages/contracts-core/**/*']

M-explorer-ui:
  - any: ['packages/explorer-ui/**/*']

M-synapse-interface:
  - any: ['packages/synapse-interface/**/*']

M-Codeowners:
  - any: ['CODEOWNERS']

M-charts:
  - any: ['charts/**/*']

C-Protocol-Critical:
  - 'packages/contracts-core/**/*.sol'

Go:
  - '**/*.go'
