Repository synapsecns/sanguine, pull requests merged in 2023-07, with the labels that each got.

#1095 Fix Tx Confirmation Bug
  ethergo/submitter/README.md
  ethergo/submitter/queue.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
Labels: go, size/s

#1096 switch newrelic driver to use otlp
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  core/metrics/newrelic.go
  core/metrics/newrelic/doc.go
  core/metrics/newrelic/gorm.go
  core/metrics/newrelic/gorm_test.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, size/l

#1097 strategy matrix fix
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/helm-test.yml
  .github/workflows/ui-preview.yaml
Labels: M-ci, size/xs

#1098 At Nonce Querying by Txhash
  ethergo/submitter/db/mocks/service.go
  ethergo/submitter/db/service.go
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/db_test.go
  ethergo/submitter/status.go
  ethergo/submitter/submissionstate_string.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
  ethergo/submitter/suite_test.go
Labels: go, size/s

#1100 fix typo for build
  packages/synapse-interface/pages/bridge/BridgeWatcher/DestinationTx.tsx
Labels: M-synapse-interface, size/xs

#1091 CCTP relayer listens for `CircleRequestFulfilled` events
  services/cctp-relayer/db/relayer_db.go
  services/cctp-relayer/db/relayer_test.go
  services/cctp-relayer/db/sql/base/message.go
  services/cctp-relayer/db/sql/base/model.go
  services/cctp-relayer/relayer/export_test.go
  services/cctp-relayer/relayer/relayer.go
  services/cctp-relayer/relayer/relayer_test.go
  services/cctp-relayer/types/message.go
Labels: go, size/s

#1101 Improve OTLP
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/handlertype_string.go
  core/metrics/jaeger.go
  core/metrics/metrics.go
  core/metrics/newrelic.go
  core/metrics/otlp.go
  core/metrics/otlptransporttype_string.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/proxy/forwarder.go
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, size/m

#1105 improve git change docs
  contrib/git-changes-action/README.md
Labels: size/xs

#1102 Clears input value after successful bridge transaction
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/utils/bridgeWatcher.ts
Labels: M-synapse-interface, size/xs

#1108 Updated scribe helm chart
  charts/agents/Chart.lock
  charts/agents/Chart.yaml
  charts/scribe/Chart.yaml
  charts/scribe/templates/indexer_deployment.yaml
  charts/scribe/templates/server_deployment.yaml
  charts/scribe/values.yaml
Labels: M-charts, size/xs

#1106 Anvil Update
  .github/workflows/go.yml
  core/bytemap/example_test.go
  core/commandline/shell.go
  core/config/build-info.go
  core/dbcommon/consistentname_test.go
  core/dbcommon/gormlog.go
  core/metrics/README.md
  core/ptr.go
  core/ptr_test.go
  ethergo/backends/README.md
  ethergo/backends/anvil/README.md
  ethergo/backends/ganache/auth.go
  ethergo/backends/ganache/auth_test.go
  ethergo/backends/ganache/docs.go
  ethergo/backends/ganache/ganache.go
  ethergo/backends/ganache/ganache_test.go
  ethergo/backends/ganache/suite_test.go
  ethergo/submitter/README.md
  ethergo/util/chunk.go
  ethergo/util/pointer.go
  ethergo/util/pointer_test.go
  services/scribe/grpc/types/types/v1/native_test.go
Labels: M-ci, go, size/m

#1113 Pauses UNIDX
  packages/synapse-interface/constants/tokens/index.tsx
Labels: M-synapse-interface, size/xs

#1115 fix docker image description bug
  .github/workflows/goreleaser-actions.yml
  CODEOWNERS
  agents/README.md
  contrib/git-changes-action/README.md
  contrib/release-copier-action/README.md
  contrib/terraform-provider-helmproxy/readme.md
  contrib/terraform-provider-iap/README.md
  contrib/terraform-provider-kubeproxy/README.md
  contrib/tfcore/README.md
  contrib/tfcore/READMe.md
  core/README.md
  docker/agents.Dockerfile
  docker/explorer.Dockerfile
  docker/git-changes-action.Dockerfile
  docker/goreleaser/Dockerfile
  docker/jaeger-ui/Dockerfile
  docker/omnirpc.Dockerfile
  docker/release-copier-action.Dockerfile
  docker/scribe.Dockerfile
  ethergo/README.md
  services/cctp-relayer/README.md
  services/explorer/README.md
  services/omnirpc/README.md
  services/scribe/cmd/cmd.md
  tools/README.md
Labels: M-ci, M-docker, size/s

#1103 Add `RelayerAPIServer`
  services/cctp-relayer/api/api.go
  services/cctp-relayer/api/doc.go
  services/cctp-relayer/api/param.go
  services/cctp-relayer/api/server.go
  services/cctp-relayer/api/server_test.go
  services/cctp-relayer/api/suite_test.go
  services/cctp-relayer/attestation/api.go
  services/cctp-relayer/attestation/circleapi.go
  services/cctp-relayer/attestation/doc.go
  services/cctp-relayer/attestation/mockapi.go
  services/cctp-relayer/cmd/commands.go
  services/cctp-relayer/config/config.go
  services/cctp-relayer/relayer/relayer.go
  services/cctp-relayer/relayer/relayer_test.go
  services/cctp-relayer/types/state.go
Labels: go, size/m

#1120 Fix: allow API to return results with decimals
  packages/rest-api/app.ts
  packages/rest-api/package.json
  yarn.lock
Labels: size/xs

#1110 allow every chain to show volume even if 0 upon scrolling through graph
  packages/explorer-ui/components/misc/ToolTip.tsx
Labels: M-explorer-ui, size/xs

#1112 Fixes total locked display
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
Labels: M-synapse-interface, size/xs

#1107 Add CCTP event indexing to explorer
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/config.yaml
  services/explorer/config/config.go
  services/explorer/configCheck.yaml
  services/explorer/configHalf.yaml
  services/explorer/configOrigin.yaml
  services/explorer/consumer/parser/cctpparser.go
  services/explorer/consumer/parser/messagebusparser.go
  services/explorer/consumer/parser/utils.go
  services/explorer/contracts/cctp/cctp.abigen.go
  services/explorer/contracts/cctp/cctp.contractinfo.json
  services/explorer/contracts/cctp/cctp.metadata.go
  services/explorer/contracts/cctp/generate.go
  services/explorer/contracts/cctp/helpers.go
  services/explorer/contracts/cctp/request.go
  services/explorer/contracts/cctp/testcctp/generate.go
  services/explorer/contracts/cctp/testcctp/helpers.go
  services/explorer/contracts/cctp/testcctp/testcctp.abigen.go
  services/explorer/contracts/cctp/testcctp/testcctp.contractinfo.json
  services/explorer/contracts/cctp/testcctp/testcctp.metadata.go
  services/explorer/contracts/cctp/topics.go
  services/explorer/contracts/contracts/SynapseCCTPV1_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseCCTPV1.sol
  services/explorer/db/sql/model.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
  services/explorer/node/explorer.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/contracttypeimpl_string.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/manager.go
  services/explorer/testutil/testcontracts/typecast.go
  services/explorer/testutil/testcontracts/typecast_test.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
  services/explorer/types/cctp/doc.go
  services/explorer/types/cctp/event.go
  services/explorer/types/cctp/eventtype.go
  services/explorer/types/cctp/eventtype_string.go
Labels: go, size/l

#1126 Update name
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs

#1127 Fix/synapse UI usdc
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs

#1128 Add scroll after network changes during approval flow
  packages/synapse-interface/components/Portfolio/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface, size/s

#1130 Contract path links out directly to contracts in docs
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/cypress/e2e/navigation.cy.ts
  packages/synapse-interface/cypress/fixtures/navigation.json
Labels: M-synapse-interface, size/xs

#1129 Feat/synapse UI warning handler
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/impairedChains.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/s

#1132 Add document title
  packages/synapse-interface/pages/_document.tsx
Labels: M-synapse-interface, size/xs

#1134 Feat/synapse UI portfolio update
  packages/synapse-interface/components/Portfolio/PortfolioAccordion.tsx
  packages/synapse-interface/components/Portfolio/PortfolioConnectButton.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Labels: M-synapse-interface, size/m

#1135 Remove prior toast before showing new
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1139 Cleans input for non numbers, fixes decimals input issue
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1140 Fixes sending msg value for Bigint
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1144 pause USDB
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1141 Fixes USDT on Ethereum approvals, button label positioning
  packages/synapse-interface/actions/approveErc20Token.ts
  packages/synapse-interface/components/InteractiveInputRow.tsx
  packages/synapse-interface/constants/abis/usdtAbi.ts
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface, size/m, needs-yarn-install

#1148 Updates UNIDX
  packages/synapse-interface/constants/tokens/index.tsx
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1151 Hotfix/synapse bigint state
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1153 Clear go-gen on master for cctp relayer
  services/cctp-relayer/db/sql/base/base.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/main.go
Labels: go, size/xs, needs-go-generate-services/cctp-relayer

#1019 Adds Segment
  packages/synapse-interface/components/StateManagedBridge/ChainSlideOver.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/OriginChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/TokenSlideOver.tsx
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
  packages/synapse-interface/contexts/WalletAnalyticsProvider.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/slices/bridgeSlice.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/tsconfig.json
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveAndStake.tsx
  packages/synapse-interface/utils/actions/approveAndWithdraw.tsx
  packages/synapse-interface/utils/actions/claimStake.tsx
  packages/synapse-interface/utils/actions/withdrawStake.tsx
  packages/synapse-interface/utils/approveToken.tsx
  packages/synapse-interface/utils/shortenAddress.ts
  yarn.lock
Labels: go, Stale, needs-go-generate-agents, needs-go-generate-contrib/tfcore, M-synapse-interface, size/l, needs-yarn-install, needs-go-generate-contrib/terraform-provider-iap

#1156 Adds try catch on bigint formatters, fixes decimal issue on apy tooltip
  packages/synapse-interface/components/ApyTooltip.tsx
  packages/synapse-interface/utils/bigint/format.ts
Labels: M-synapse-interface, size/s, needs-yarn-install

#1161 metric logging hotfix
  agents/go.mod
  agents/go.sum
  core/go.mod
  core/go.sum
  core/metrics/base.go
  core/metrics/noopexporter.go
  core/metrics/noopexporter_test.go
  ethergo/backends/mocks/simulated_test_backend.go
  ethergo/chain/mocks/chain.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/api/suite_test.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/grpc/client/rest/api_scribe_service.go
Labels: go, needs-go-generate-services/omnirpc, needs-go-generate-ethergo, needs-go-generate-tools, needs-go-generate-core, needs-go-generate-agents, needs-go-generate-services/scribe, needs-go-generate-services/explorer, needs-go-generate-contrib/git-changes-action, size/s, needs-go-generate-contrib/release-copier-action, needs-go-generate-services/cctp-relayer

#1163 Update explorer server
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/queryutils.go
Labels: go, size/xs

#1164 use resty by default
  services/omnirpc/http/client.go
Labels: go, size/xs

#1160 Add revert resolver tool
  tools/.goreleaser.yml
  tools/revertresolver/README.md
  tools/revertresolver/main.go
Labels: go, size/s

#1166 remove legacy prometheus/grafana implementation
  agents/go.mod
  agents/go.sum
  core/README.md
  core/go.mod
  core/go.sum
  core/prom/config.go
  core/prom/doc.go
  core/prom/handler.go
  core/prom/handler_test.go
  core/prom/helper.go
  core/prom/logging.go
  core/prom/suite_test.go
  ethergo/backends/mocks/simulated_test_backend.go
  ethergo/chain/chain_impl.go
  ethergo/chain/chainwatcher/block_broadcaster.go
  ethergo/chain/chainwatcher/contract_watcher.go
  ethergo/chain/chainwatcher/height.go
  ethergo/chain/chainwatcher/mocks/block_height_watcher.go
  ethergo/chain/client/metered.go
  ethergo/chain/client/mocks/metered_evm_client.go
  ethergo/chain/mocks/chain.go
  ethergo/chain/watcher/contract_watcher.go
  ethergo/chain/watcher/contractwatcher_test.go
  ethergo/chain/watcher/height_test.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Labels: go, size/m

#1171 Fixes DFK_USDC/NUSD issue on DFK
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs

#1179 simplify metrics endpoint
  contrib/promexporter/exporters/exporter.go
  core/ginhelper/server.go
Labels: go, size/xs

#1173 Explorer Bridgewatcher
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/queries.graphql
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: go, size/m

#1180 explorer metrics/tracing
  .github/workflows/cypress.yml
  .github/workflows/go.yml
  .github/workflows/helm-test.yml
  .github/workflows/packages.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/promexporter/internal/gql/explorer/client.gen.go
  contrib/promexporter/internal/gql/explorer/contrib/main.go
  contrib/promexporter/internal/gql/explorer/models.gen.go
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/api/server.go
  services/explorer/api/server_test.go
  services/explorer/api/suite_test.go
  services/explorer/backfill/chain_test.go
  services/explorer/backfill/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/consumer/fetcher/scribefetcher.go
  services/explorer/db/sql/store.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/explorer/graphql/server/gin.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/main.go
  services/explorer/metadata/metadata.go
  services/explorer/node/explorer.go
  services/explorer/node/explorer_test.go
  services/explorer/node/suite_test.go
  services/explorer/testutil/newtestenv.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/proxy/server.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/model/models_gen.go
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/types.resolvers.go
  tools/go.mod
  tools/go.sum
Labels: M-ci, go, size/l

#1178 Scribe gql tracing
  agents/go.mod
  services/explorer/go.mod
  services/scribe/api/server.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/gin.go
Labels: go, needs-go-generate-agents, needs-go-generate-services/explorer, size/xs

#1182 log txsubmitter exit
  ethergo/submitter/submitter.go
Labels: go, size/xs

#1185 [release copier] fix tempdir creation
  contrib/release-copier-action/copier/copier.go
Labels: go, size/xs

#1184 Prom Exporter Updates
  README.md
  contrib/promexporter/README.md
  contrib/promexporter/config/config.go
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/go.mod
  core/metrics/consistentnames.go
  services/explorer/api/server.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/go.mod
Labels: go, size/l

#1188 add metrics port
  core/ginhelper/server.go
  core/metrics/README.md
  core/metrics/base.go
  core/os.go
  core/os_test.go
  ethergo/go.mod
  ethergo/go.sum
Labels: go, size/s

#1189 Added prometheus ports to omnirpc helm chart
  charts/agents/Chart.lock
  charts/agents/Chart.yaml
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/omnirpc/Chart.yaml
  charts/omnirpc/templates/deployment.yaml
  charts/omnirpc/templates/ingress.yaml
  charts/omnirpc/templates/service.yaml
  charts/omnirpc/templates/servicemonitor.yaml
  charts/omnirpc/templates/tests/test-connection.yaml
  charts/omnirpc/values.yaml
  charts/promexporter/Chart.yaml
  charts/promexporter/templates/servicemonitor.yaml
  charts/scribe/Chart.lock
  charts/scribe/Chart.yaml
Labels: M-charts, size/s

#1167 Feat/rest api upgrade
  packages/rest-api/README.md
  packages/rest-api/app.ts
  packages/rest-api/package.json
  packages/rest-api/tsconfig.json
Labels: size/m
