Repository synapsecns/sanguine, pull requests merged in 2023-10, with the labels that each got.

#1410 Percentage conversion
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/utils/bigint/format.ts
Labels: M-synapse-interface, size/xs

#1398 Improve Executor README
  agents/agents/executor/README.md
Labels: size/xs

#1418 Fix explorer fe destination contract link
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui, size/xs

#1419 Fix/activity pending
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/TransactionOptions.tsx
  packages/synapse-interface/slices/transactions/updater.tsx
Labels: M-synapse-interface, size/xs

#1382 SDK: cleanup
  packages/sdk-router/jest.config.js
  packages/sdk-router/package.json
  packages/sdk-router/src/SynapseCCTPRouter.test.ts
  packages/sdk-router/src/SynapseCCTPRouter.ts
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/index.ts
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/index.ts
  packages/sdk-router/src/operations/pools.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/router/index.ts
  packages/sdk-router/src/router/query.test.ts
  packages/sdk-router/src/router/query.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/router/types.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/synapseRouter.test.ts
  packages/sdk-router/src/synapseRouter.ts
  packages/sdk-router/src/utils/deadlines.test.ts
  packages/sdk-router/src/utils/deadlines.ts
  packages/sdk-router/src/utils/types.ts
  yarn.lock
Labels: size/l

#1426 cleanup stale
  .github/workflows/close-stale.yml
Labels: M-ci, size/xs

#1433 Fix: lint
  packages/synapse-interface/constants/blacklist.ts
Labels: M-synapse-interface, size/xs

#1428 Updated charts to use v2 version of autoscaling kube API
  charts/agents/Chart.lock
  charts/agents/Chart.yaml
  charts/cctp/Chart.yaml
  charts/cctp/templates/hpa.yaml
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/configmap.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/explorer/values.yaml
  charts/omnirpc/Chart.yaml
  charts/omnirpc/templates/hpa.yaml
  charts/scribe/Chart.lock
  charts/scribe/Chart.yaml
  charts/scribe/templates/server_hpa.yaml
Labels: M-charts, size/s

#1437 Fixed hpa spec of services
  charts/agents/Chart.lock
  charts/agents/Chart.yaml
  charts/cctp/Chart.yaml
  charts/cctp/templates/hpa.yaml
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/explorer/templates/server_hpa.yaml
  charts/omnirpc/Chart.yaml
  charts/omnirpc/templates/hpa.yaml
  charts/scribe/Chart.lock
  charts/scribe/Chart.yaml
  charts/scribe/templates/server_hpa.yaml
Labels: M-charts, size/s

#1441 fix lint
  packages/synapse-interface/constants/blacklist.ts
Labels: M-synapse-interface, size/s

#1412 Feat/input quotes
  packages/synapse-interface/components/InteractiveInputRow.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
  packages/synapse-interface/components/buttons/ButtonLoadingDots.tsx
  packages/synapse-interface/components/buttons/ButtonLoadingSpinner.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingDots.tsx
  packages/synapse-interface/cypress/e2e/landing.cy.ts
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/hooks.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/bridge/updater.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/calculateEstimatedTransactionTime.tsx
  packages/synapse-interface/utils/hasOnlyZeroes.ts
Labels: M-synapse-interface, size/m

#1422 feat/bridge-housekeeping
  packages/synapse-interface/assets/chains/bnb.svg
  packages/synapse-interface/assets/chains/boba.svg
  packages/synapse-interface/assets/chains/canto.svg
  packages/synapse-interface/assets/chains/dfk.svg
  packages/synapse-interface/assets/chains/ethereum.svg
  packages/synapse-interface/assets/chains/metis.svg
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/utils/bigint/format.ts
Labels: M-synapse-interface, size/s

#1416 [Snyk] Security upgrade postcss from 8.4.27 to 8.4.31
  packages/synapse-interface/components/Portfolio/SearchBar.tsx
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1375 Fraud reporting improvements
  agents/README.md
  agents/agents/executor/executor_utils.go
  agents/agents/guard/README.md
  agents/agents/guard/calls.go
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
  agents/agents/guard/guard.go
  agents/contracts/inbox/parser.go
  agents/contracts/lightinbox/parser.go
  agents/types/fraud_attestation.go
  agents/types/fraud_snapshot.go
  agents/types/state_validation_data.go
Labels: go, Stale, size/m

#1409 Last indexed cleanup scribe/agents testing optimization
  services/scribe/cmd/cmd.md
  services/scribe/config/config.go
  services/scribe/grpc/server/server.go
  services/scribe/service/indexer/indexer.go
  services/scribe/service/scribe.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter

#1377 Retry.WithBackoff for all agents.
  agents/agents/executor/executor.go
  agents/agents/executor/executor_utils.go
  agents/agents/guard/guard.go
  agents/agents/notary/notary.go
  agents/config/executor/config.go
  agents/go.mod
Labels: go, size/m

#1455 Fix/masquerade checksum
  packages/synapse-interface/components/Portfolio/SearchBar.tsx
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/isValidAddress.tsx
Labels: M-synapse-interface, size/xs

#1430 Fix: ToB-01 (attestation nonce overflow)
  packages/contracts-core/contracts/hubs/SnapshotHub.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/xs

#1432 Fix: ToB-04 (summit tip upper bound)
  packages/contracts-core/contracts/GasOracle.sol
  packages/contracts-core/contracts/libs/Constants.sol
  packages/contracts-core/contracts/libs/Errors.sol
  packages/contracts-core/test/suite/GasOracle.GasData.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/xs

#1442 Fix: ToB-19 update dependencies
  packages/contracts-core/package.json
  yarn.lock
Labels: M-contracts, 2-reviewers, size/xs

#1450 Fix: ToB-12 (two step ownership)
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/GasOracle.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/Summit.sol
  packages/contracts-core/contracts/base/MessagingBase.sol
  packages/contracts-core/contracts/inbox/StatementInbox.sol
  packages/contracts-core/contracts/manager/BondingManager.sol
  packages/contracts-core/contracts/manager/LightManager.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/xs

#1460 Updates primary Arbitrum RPC URL
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#1459 Add Contract Bytecode Size CI check
  .github/workflows/foundry-tests.yml
  packages/contracts-core/README.md
Labels: M-ci, M-contracts, 2-reviewers, size/xs

#1461 updates prom exporter
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
Labels: go, size/l

#1405 New pools page
  packages/synapse-interface/components/InteractiveInputRow.tsx
  packages/synapse-interface/components/InteractiveInputRowButton.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/components/Pools/PoolHeader.tsx
  packages/synapse-interface/components/TokenInput.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/icons/ClaimIcon.tsx
  packages/synapse-interface/components/icons/DepositIcon.tsx
  packages/synapse-interface/components/icons/DownArrow.tsx
  packages/synapse-interface/components/icons/RightArrow.tsx
  packages/synapse-interface/components/icons/StakeIcon.tsx
  packages/synapse-interface/components/icons/UnstakeIcon.tsx
  packages/synapse-interface/components/icons/WithdrawIcon.tsx
  packages/synapse-interface/components/loading/LoadingPoolCard.tsx
  packages/synapse-interface/components/loading/LoadingRow.tsx
  packages/synapse-interface/components/ui/tailwind/Card.tsx
  packages/synapse-interface/components/ui/tailwind/TabItem.tsx
  packages/synapse-interface/components/ui/tailwind/Tabs.tsx
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/CurrencyReservesCard.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/InfoSectionCard.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/pages/pool/components/AugmentWithUnits.tsx
  packages/synapse-interface/pages/pool/components/LiquidityManagementTabs.tsx
  packages/synapse-interface/pages/pool/components/PoolTitle.tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/NoStakeCard.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
  packages/synapse-interface/pages/stake/[routerIndex].tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/slices/portfolio/reducer.ts
  packages/synapse-interface/slices/priceDataSlice.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/tailwind.config.js
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
  packages/synapse-interface/utils/actions/getStakedBalance.ts
  packages/synapse-interface/utils/hooks/useTokenBalance.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/l

#1458 FE: enable horizontal overscroll allowing browser gestures
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface, size/xs

#1469 Test/yarn fix
  .github/actions/setup-nodejs/action.yml
  .github/workflows/packages.yml
  packages/sdk-router/yarn.lock
Labels: M-ci, size/xs, needs-yarn-install

#1466 Fix PR Metadata and Downstream issues
  .github/actions/add-label/README.md
  .github/actions/add-label/action.yml
  .github/actions/remove-label/README.md
  .github/actions/remove-label/action.yml
  .github/actions/setup-nodejs/action.yml
  .github/workflows/go.yml
  .github/workflows/packages.yml
Labels: M-ci, go, size/s

#1473 Soft fail in cases where label is not present
  .github/actions/remove-label/action.yml
Labels: M-ci, size/xs

#1465 Cache submitter gas block
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
Labels: go, needs-go-generate-agents, size/s

#1446 Fix/reset output
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/bridge/updater.tsx
Labels: M-synapse-interface, size/xs

#1472 Fix: incorrect fuzz tests
  packages/contracts-core/test/suite/Summit.t.sol
  packages/contracts-core/test/suite/client/BaseClient.t.sol
  packages/contracts-core/test/suite/hubs/ExecutionHub.t.sol
  packages/contracts-core/test/suite/manager/BondingManager.t.sol
  packages/contracts-core/test/suite/manager/LightManager.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/s

#1449 Fix: ToB-08 (indefinite stuck disputes)
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/interfaces/InterfaceDestination.sol
  packages/contracts-core/test/mocks/DestinationMock.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/s

#1453 Fix: ToB-22 (using `msg.value` in a loop)
  packages/contracts-core/contracts/client/BaseClient.sol
  packages/contracts-core/contracts/client/MessageRecipient.sol
  packages/contracts-core/contracts/client/PingPongClient.sol
  packages/contracts-core/contracts/client/TestClient.sol
  packages/contracts-core/test/harnesses/client/BaseClientHarness.t.sol
  packages/contracts-core/test/suite/client/BaseClient.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/s

#1463 Fix: tips scaling in `Summit`
  packages/contracts-core/contracts/Summit.sol
  packages/contracts-core/contracts/events/SummitEvents.sol
  packages/contracts-core/test/suite/SummitTips.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/s

#1462 Fix: Zellic-3.3 (safety checks missing)
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/ExecutionHub.sol
  packages/contracts-core/contracts/interfaces/IExecutionHub.sol
  packages/contracts-core/contracts/interfaces/InterfaceBondingManager.sol
  packages/contracts-core/contracts/interfaces/InterfaceOrigin.sol
  packages/contracts-core/contracts/manager/BondingManager.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/suite/hubs/ExecutionHub.t.sol
  packages/contracts-core/test/suite/manager/BondingManager.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/s

#1482 [explorer] add required params to gql server
  contrib/promexporter/internal/gql/explorer/models.gen.go
  services/explorer/api/resolver_test.go
  services/explorer/db/consumerinterface.go
  services/explorer/db/mocks/consumer_db.go
  services/explorer/db/sql/reader.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: go, size/s

#1485 Escape SQL in non-paramaterized queries at resolver level
  core/dbcommon/escape.go
  core/dbcommon/escape_test.go
  make/go.Makefile
  services/explorer/graphql/server/gin.go
  services/explorer/graphql/server/graph/interceptor/doc.go
  services/explorer/graphql/server/graph/interceptor/intercept.go
Labels: go, needs-go-generate-agents, size/s

#1476 Make agents tests faster
  .github/workflows/go.yml
  agents/testutil/simulated_backends_suite.go
Labels: M-ci, go, needs-go-generate-agents, size/xs

#1486 cf
  package.json
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m, needs-yarn-install

#1494 Fix Nil Pointer
  services/cctp-relayer/relayer/relayer.go
Labels: go, size/xs, needs-go-generate-services/cctp-relayer

#1497 Adds missing chainId
  packages/synapse-interface/constants/tokens/sushiMaster.ts
Labels: M-synapse-interface, size/xs

#1500 remove archives from contributing
  CONTRIBUTING.md
Labels: size/xs

#1499 [sinner] add start readme
  services/sinner/README.md
Labels: size/s

#1498 Use Iota Types for sinner contract_type
  services/sinner/config/indexer/config.go
  services/sinner/config/indexer/contracttype_string.go
Labels: go, size/xs

#1501 SDK: support for CCTP on Base
  packages/sdk-router/src/constants/chainIds.ts
Labels: size/xs

#1512 Upgrade Go
  core/server/server.go
  core/server/server_test.go
  docker/goreleaser/Dockerfile
Labels: go, M-docker, needs-go-generate-agents, size/s

#1436 Fix: ToB-14 (tips with eoa recipient)
  packages/contracts-core/contracts/hubs/ExecutionHub.sol
  packages/contracts-core/contracts/libs/SafeCall.sol
  packages/contracts-core/test/harnesses/libs/SafeCallHarness.t.sol
  packages/contracts-core/test/mocks/CalleeMocks.t.sol
  packages/contracts-core/test/suite/hubs/ExecutionHub.t.sol
  packages/contracts-core/test/suite/libs/SafeCall.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/s

#1483 Fix: ToB-20 (missing events)
  packages/contracts-core/contracts/GasOracle.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/Summit.sol
  packages/contracts-core/contracts/events/GasOracleEvents.sol
  packages/contracts-core/contracts/events/OriginEvents.sol
  packages/contracts-core/contracts/events/SummitEvents.sol
  packages/contracts-core/test/suite/GasOracle.GasData.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/suite/SummitTips.t.sol
  packages/contracts-core/test/utils/events/ProductionEvents.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/xs

#1515 Explorer UI Update: Added all relevant token logos and symbols for CCTP addition
  packages/explorer-ui/assets/icons/crvusd.svg
  packages/explorer-ui/assets/icons/ftm.svg
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/constants/networks.ts
  packages/explorer-ui/constants/tokens/basic.ts
  packages/explorer-ui/constants/tokens/mintable.ts
Labels: M-explorer-ui, size/s

#1503 CCTP for Base
  packages/synapse-interface/assets/icons/crvusd.svg
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/generateMaps.js
Labels: M-synapse-interface, size/s

#1502 Fix Pool Page via pre-render
  packages/synapse-interface/pages/pool/[poolId].tsx
Labels: M-synapse-interface, size/xs

#1513 Upgrades Next.js to 13.5.6
  packages/synapse-interface/next.config.js
  packages/synapse-interface/nvmrc-loader.js
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m

#1457 Fix: ToB-21 (unsafe casts)
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/Summit.sol
  packages/contracts-core/contracts/base/MessagingBase.sol
  packages/contracts-core/contracts/events/StatementInboxEvents.sol
  packages/contracts-core/contracts/hubs/ExecutionHub.sol
  packages/contracts-core/contracts/hubs/SnapshotHub.sol
  packages/contracts-core/contracts/hubs/StateHub.sol
  packages/contracts-core/contracts/inbox/StatementInbox.sol
  packages/contracts-core/contracts/interfaces/IExecutionHub.sol
  packages/contracts-core/contracts/interfaces/ISnapshotHub.sol
  packages/contracts-core/contracts/interfaces/IStatementInbox.sol
  packages/contracts-core/contracts/libs/ChainContext.sol
  packages/contracts-core/contracts/libs/memory/Attestation.sol
  packages/contracts-core/contracts/libs/memory/ByteString.sol
  packages/contracts-core/contracts/libs/memory/Receipt.sol
  packages/contracts-core/contracts/libs/memory/Snapshot.sol
  packages/contracts-core/contracts/libs/memory/State.sol
  packages/contracts-core/contracts/libs/stack/GasData.sol
  packages/contracts-core/contracts/libs/stack/Header.sol
  packages/contracts-core/contracts/libs/stack/Number.sol
  packages/contracts-core/contracts/libs/stack/Request.sol
  packages/contracts-core/contracts/libs/stack/Tips.sol
  packages/contracts-core/contracts/manager/AgentManager.sol
  packages/contracts-core/contracts/manager/BondingManager.sol
  packages/contracts-core/test/harnesses/client/ReentrantApp.t.sol
  packages/contracts-core/test/harnesses/libs/ChainContextHarness.t.sol
  packages/contracts-core/test/harnesses/libs/memory/SnapshotHarness.t.sol
  packages/contracts-core/test/mocks/hubs/ExecutionHubMock.t.sol
  packages/contracts-core/test/mocks/hubs/SnapshotHubMock.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/GasOracle.MinimumTips.t.sol
  packages/contracts-core/test/suite/GasOracle.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/suite/Summit.t.sol
  packages/contracts-core/test/suite/hubs/ExecutionHub.t.sol
  packages/contracts-core/test/suite/inbox/Inbox.t.sol
  packages/contracts-core/test/suite/inbox/LightInbox.t.sol
  packages/contracts-core/test/suite/libs/ChainContext.t.sol
  packages/contracts-core/test/suite/libs/memory/Snapshot.t.sol
  packages/contracts-core/test/suite/manager/BondingManager.t.sol
  packages/contracts-core/test/suite/manager/LightManager.t.sol
  packages/contracts-core/test/utils/libs/FakeIt.t.sol
  packages/contracts-core/test/utils/libs/Random.t.sol
  packages/contracts-core/test/utils/libs/SynapseStructs.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/m

#1514 Sinner: resolvers and updating db read functions
  services/sinner/api/resolver_test.go
  services/sinner/api/server.go
  services/sinner/contracts/origin/parser.go
  services/sinner/db/event.go
  services/sinner/db/mocks/event_db.go
  services/sinner/db/model/model.go
  services/sinner/db/read_test.go
  services/sinner/db/sql/base/read.go
  services/sinner/go.mod
  services/sinner/graphql/client/client.go
  services/sinner/graphql/client/queries/queries.graphql
  services/sinner/graphql/server/graph/helper.go
  services/sinner/graphql/server/graph/model/models_gen.go
  services/sinner/graphql/server/graph/queries.resolvers.go
  services/sinner/graphql/server/graph/resolver/server.go
  services/sinner/graphql/server/graph/schema/queries.graphql
  services/sinner/graphql/server/graph/schema/types.graphql
  services/sinner/graphql/server/graph/types.resolvers.go
  services/sinner/service/indexer.go
Labels: go, size/l

#1524 Adds sUSD and all other CCTP enabled assets and Fallback
  packages/explorer-ui/assets/icons/susd.svg
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/constants/tokens/basic.ts
  packages/explorer-ui/utils/addressToDecimals.ts
Labels: M-explorer-ui, size/xs

#1445 Fix: ToB-05 (destination chain agent root)
  packages/contracts-core/contracts/events/AgentManagerEvents.sol
  packages/contracts-core/contracts/interfaces/IAgentManager.sol
  packages/contracts-core/contracts/interfaces/InterfaceBondingManager.sol
  packages/contracts-core/contracts/interfaces/InterfaceLightManager.sol
  packages/contracts-core/contracts/libs/Constants.sol
  packages/contracts-core/contracts/libs/Errors.sol
  packages/contracts-core/contracts/manager/AgentManager.sol
  packages/contracts-core/contracts/manager/BondingManager.sol
  packages/contracts-core/contracts/manager/LightManager.sol
  packages/contracts-core/test/suite/manager/AgentManager.t.sol
  packages/contracts-core/test/suite/manager/BondingManager.t.sol
  packages/contracts-core/test/suite/manager/LightManager.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/m

#1519 Fix: ToB-11 (dispute collusion)
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/Summit.sol
  packages/contracts-core/contracts/base/AgentSecured.sol
  packages/contracts-core/contracts/hubs/ExecutionHub.sol
  packages/contracts-core/contracts/interfaces/IAgentSecured.sol
  packages/contracts-core/contracts/libs/Constants.sol
  packages/contracts-core/contracts/libs/Errors.sol
  packages/contracts-core/contracts/libs/Structures.sol
  packages/contracts-core/test/mocks/base/AgentSecuredMock.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/DestinationSynapse.t.sol
  packages/contracts-core/test/suite/Summit.t.sol
  packages/contracts-core/test/suite/SummitTips.t.sol
  packages/contracts-core/test/suite/base/AgentSecured.t.sol
  packages/contracts-core/test/suite/hubs/ExecutionHub.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/m

#1526 Fix: chi-01 (agent root passing)
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/interfaces/InterfaceDestination.sol
  packages/contracts-core/test/mocks/DestinationMock.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/DestinationSynapse.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, needs-go-generate-agents, size/s
