Repository synapsecns/sanguine, pull requests merged in 2023-12, with the labels that each got.

#1593 Sdk: fix flaky tests
  .github/workflows/packages.yml
  .gitignore
  packages/sdk-router/.env.example
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
  yarn.lock
Labels: M-ci, size/m, needs-yarn-install

#1594 updating list
  packages/synapse-interface/constants/blacklist.ts
Labels: M-synapse-interface, size/xs

#1592 Typo fix, rename to Liquity
  packages/explorer-ui/constants/tokens/basic.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-explorer-ui, M-synapse-interface, size/xs

#1600 remove wrongly commited files
  .github/workflows/labeler.yml
  packages/contracts-core/Dest.sol
  packages/contracts-core/classDiagram.svg
Labels: needs-yarn-install

#1603 pause bsc
  packages/synapse-interface/constants/chains/index.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1599 Update Token List to use estimatedBridgeTime from SDK
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  yarn.lock
Labels: M-synapse-interface, size/m

#1602 Fixes gasdrop to null when toChain is Eth
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1608 Add More Monitoring
  contrib/promexporter/README.md
  contrib/promexporter/cmd/commands.go
  contrib/promexporter/config/config.go
  contrib/promexporter/config/config_test.go
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/go.mod
  contrib/promexporter/internal/decoders/common.go
  contrib/promexporter/internal/decoders/doc.go
  contrib/promexporter/internal/decoders/gettokenbyid.go
  contrib/promexporter/internal/types/chainID.go
  contrib/promexporter/internal/types/chainID_test.go
  contrib/promexporter/internal/types/chainid_string.go
  core/slice.go
  core/slice_test.go
  ethergo/chain/client/client.go
  services/omnirpc/client/client.go
Labels: go, needs-go-generate-agents, size/l

#1590 Only use anvil for tests that require increaseTime() cheatcode
  .github/workflows/go.yml
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
  agents/go.mod
  agents/go.sum
  agents/testutil/simulated_backends_suite.go
  ethergo/backends/anvil/anvil.go
  services/sinner/go.mod
  services/sinner/go.sum
Labels: M-ci, go, needs-go-generate-agents, size/s

#1613 update for possibly undefined
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
Labels: M-synapse-interface, size/s

#1619 Fixes copy
  packages/synapse-interface/pages/landing/sections/UseCasesSection.tsx
Labels: M-synapse-interface, size/xs

#1621 Fe: polygon usdc and usdc.e
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/symbolOverrides.json
Labels: M-synapse-interface, size/xs

#1623 Add Native USDC to explorer UI
  packages/explorer-ui/constants/tokens/basic.ts
Labels: M-explorer-ui, size/xs

#1617 feat: Add Polygon support to New CCTP Router Contracts
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: size/xs

#1626 adding cctp contracts to the explorer UI
  packages/explorer-ui/constants/networks.ts
Labels: M-explorer-ui, size/xs

#1631 adding frax support on polygon
  packages/explorer-ui/constants/tokens/basic.ts
Labels: M-explorer-ui, size/xs

#1628 Quote Update Implementation
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
  rfq/quoting-api/client/client.go
  rfq/quoting-api/client/client_test.go
  rfq/quoting-api/client/doc.go
  rfq/quoting-api/client/suite_test.go
  rfq/quoting-api/cmd/commands.go
  rfq/quoting-api/config.yaml
  rfq/quoting-api/internal/config/config.go
  rfq/quoting-api/internal/db/db.go
  rfq/quoting-api/internal/db/db_test.go
  rfq/quoting-api/internal/rest/auth/auth.go
  rfq/quoting-api/internal/rest/rest.go
  rfq/quoting-api/internal/rest/rest_test.go
  rfq/quoting-api/internal/testutil/contracts.go
  rfq/quoting-api/models/models.go
  rfq/rfq-relayer/.gitignore
  rfq/rfq-relayer/cmd/commands.go
  rfq/rfq-relayer/config.yaml
  rfq/rfq-relayer/db/model/model.go
  rfq/rfq-relayer/db/sql/base/read.go
  rfq/rfq-relayer/db/sql/sqlite/store.go
  rfq/rfq-relayer/go.mod
  rfq/rfq-relayer/service/listener/listener.go
  rfq/rfq-relayer/service/queue/queue.go
  rfq/rfq-relayer/service/quote/quote.go
  rfq/rfq-relayer/service/quote/quote_test.go
  rfq/rfq-relayer/service/quote/suite_test.go
  rfq/rfq-relayer/service/relayer.go
  rfq/rfq-relayer/service/routines.go
Labels: go, needs-go-generate-agents, size/m

#1634 remove eip-155 considerations from arbitrary data signing
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Labels: go, size/xs

#1661 remove eip-155 considerations from arbitrary data signing (#1634)
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Labels: go, size/xs

#1663 upgrade wagmi/core
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs

#1664 Release: Wagmi FE Upgrade
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Labels: go, needs-go-generate-services/omnirpc, M-explorer-ui, M-synapse-interface, size/l, needs-yarn-install, needs-go-generate-services/cctp-relayer, needs-go-generate-contrib/promexporter, needs-go-generate-services/sinner

#1665 Fix/update wagmi main
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m

#1667 Fe/fix exclusion
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/constants/blacklist.ts
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m

#1669 Fe/unpause arbitrum
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/xs

#1670 Adds protocol fees to RFQ
  README.md
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/script/FastBridge.s.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
Labels: go, size/l, needs-go-generate-services/rfq

#1658 Sdk: expose bridge tx status
  packages/sdk-router/src/abi/SynapseCCTP.json
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/logs.ts
Labels: size/l

#1673 fix/transaction-polling
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/abi/SynapseCCTP.json
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/logs.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/slices/transactions/updater.tsx
Labels: M-synapse-interface, size/l

#1671 Updates Submitter
  agents/go.mod
  agents/go.sum
  agents/types/utils.go
  contrib/promexporter/config/config.go
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  ethergo/backends/anvil/anvil.go
  ethergo/backends/base/base.go
  ethergo/backends/simulated/chain.go
  ethergo/chain/chain_impl.go
  ethergo/client/client.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/chain_queue.go
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/suite_test.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
  ethergo/util/export_test.go
  ethergo/util/transactor.go
  ethergo/util/transactor_test.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
Labels: go, size/l

#1684 Add `FeePricer` to quoter
  agents/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/release-copier-action/go.mod
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/tfcore/go.mod
  core/go.mod
  ethergo/go.mod
  go.work
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/e2e/setup_test.go
  services/rfq/go.mod
  services/rfq/relayer/README.md
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
  services/scribe/go.mod
  services/sinner/go.mod
  tools/go.mod
Labels: go, needs-go-generate-services/scribe, needs-go-generate-services/explorer, size/m, needs-go-generate-services/sinner

#1688 remove tunnel functionality
  core/go.mod
  core/go.sum
  core/tunnel/internal/check.go
  core/tunnel/internal/internal.go
  core/tunnel/internal/proxy.go
  core/tunnel/internal/proxy_test.go
  core/tunnel/moe/doc.go
  core/tunnel/moe/export_test.go
  core/tunnel/moe/moe.go
  core/tunnel/moe/ssh.go
  core/tunnel/moe/ssh_test.go
  core/tunnel/ngrok/doc.go
  core/tunnel/ngrok/ngrok.go
  core/tunnel/options.go
  core/tunnel/provider.go
  core/tunnel/provider_string.go
  core/tunnel/suite_test.go
  core/tunnel/tunnel.go
  core/tunnel/tunnel_test.go
  core/tunnel/types/provider.go
Labels: go, size/m

#1679 Remove `Price` and add `FixedFee` params to quote schema
  agents/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/release-copier-action/go.mod
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/tfcore/go.mod
  core/go.mod
  ethergo/go.mod
  go.work
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/api_db_test.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/go.mod
  services/rfq/relayer/README.md
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
  services/scribe/go.mod
  services/sinner/go.mod
  tools/go.mod
Labels: go, size/m, needs-go-generate-services/sinner

#1690 Fix failing test (not enough pool liquidity)
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs

#1683 SDK: fix native value
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/utils/handleNativeToken.ts
Labels: size/s

#1691 SDK: generalize modules
  packages/sdk-router/src/module/index.ts
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/module/synapseModule.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/router/index.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/router/types.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/m

#1694 Hides Harmony
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/constants/chains/index.tsx
Labels: M-synapse-interface, size/xs

#1697 Temp remove Harmony from integration tests
  packages/synapse-interface/cypress/fixtures/bridge.json
Labels: M-synapse-interface, size/xs

#1700 pause harmony
  packages/synapse-interface/constants/chains/index.tsx
Labels: M-synapse-interface, size/xs

#1702 SDK: fix exclude cctp tests
  packages/sdk-router/src/sdk.test.ts
Labels: size/m

#1696 Move dotenv to dev deps
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/index.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs

#1706 SDK: update bindings
  packages/sdk-router/src/abi/FastBridge.json
  packages/sdk-router/src/typechain/FastBridge.ts
  packages/sdk-router/src/typechain/SynapseBridge.ts
  packages/sdk-router/src/typechain/SynapseCCTPRouter.ts
  packages/sdk-router/src/typechain/SynapseRouter.ts
  packages/sdk-router/src/typechain/common.ts
Labels: size/l

#1704 fe unp
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Labels: M-synapse-interface, size/xs

#1681 new rfq with fixed chain gas
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190115.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190123.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190142.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189759.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189778.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-latest.json
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/libs/UniversalToken.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/listener/listener_test.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/l

#1701 Unpause harmony
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/constants/chains/index.tsx
Labels: M-synapse-interface, size/xs

#1685 [goreleaser] Updated explorer indexer for migration
  services/explorer/config/indexer/config.go
  services/explorer/consumer/parser/cctpparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: go, size/s

#1715 lint fix
  packages/synapse-interface/constants/blacklist.ts
Labels: M-synapse-interface, size/xs

#1716 SDK: all quotes, Query modifications
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/m

#1717 SDK: further generalize modules
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/deadlines.test.ts
  packages/sdk-router/src/utils/deadlines.ts
Labels: size/s

#1720 Fix: signature V value
  agents/types/utils.go
Labels: go, size/xs

#1723 Docs: contribution workflow
  README.md
Labels: size/s
