Repository synapsecns/sanguine, pull requests merged in 2023-08, with the labels that each got.

#1197 Revert "Feat/rest api upgrade (#1167)"
  packages/rest-api/README.md
  packages/rest-api/app.ts
  packages/rest-api/package.json
  packages/rest-api/tsconfig.json
Labels: size/m

#1199 fix yarn cache path
  .github/actions/setup-nodejs/action.yml
Labels: M-ci, size/xs

#1204 republish api
  packages/sdk-router/README.md
Labels: size/xs

#1200 api fixes
  .github/workflows/ui-preview.yaml
  packages/rest-api/.gitignore
  packages/rest-api/.nvmrc
  packages/rest-api/README.md
  packages/rest-api/package.json
  packages/rest-api/src/app.test.ts
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/chains.json
  packages/rest-api/src/config/tokens.json
  packages/rest-api/tsconfig.json
  packages/sdk-router/Procfile
  packages/synapse-interface/README.md
  yarn.lock
Labels: M-ci, M-synapse-interface, size/m

#1215 Fixed explorer and scribe service monitor labels
  charts/agents/Chart.lock
  charts/agents/Chart.yaml
  charts/explorer/Chart.yaml
  charts/explorer/templates/servicemonitor.yaml
  charts/scribe/Chart.yaml
  charts/scribe/templates/servicemonitor.yaml
Labels: M-charts, size/xs

#1205 Adds Base chainId & router address to sdk
  packages/sdk-router/src/constants/index.ts
  packages/sdk-router/src/sdk.ts
Labels: size/xs

#1191 Adds Base to fe
  packages/synapse-interface/actions/swapPoolCalculateAddLiquidity.ts
  packages/synapse-interface/assets/chains/base.svg
  packages/synapse-interface/components/TokenBalance.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/master.tsx
  packages/synapse-interface/constants/tokens/poolMaster.tsx
  packages/synapse-interface/constants/tokens/swapMaster.ts
  packages/synapse-interface/cypress/fixtures/bridge.json
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/landing/sections/IntegrationSection.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/CurrencyReservesCard.tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/bigint/format.ts
  packages/synapse-interface/utils/poolDataFuncs.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#1220 add label for codeowners changes
  .github/labeler.yml
Labels: M-ci, size/xs

#1221 Fix: sdk deadlines
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/deadlines.ts
Labels: size/xs

#1222 Adjust base router and add bridgewatcher base block confs
  packages/synapse-interface/actions/swapPoolCalculateAddLiquidity.ts
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/tokens/swapMaster.ts
Labels: M-synapse-interface, size/xs

#1227 Add base to explorer ui
  packages/explorer-ui/assets/networks/base.png
  packages/explorer-ui/assets/networks/base.svg
  packages/explorer-ui/assets/networks/download.jpeg
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/constants/networks.ts
  packages/explorer-ui/constants/tokens/basic.ts
  packages/explorer-ui/graphql/queries/index.ts
  packages/synapse-interface/constants/bridge.ts
Labels: M-explorer-ui, M-synapse-interface, size/s

#1216 Fix Stake Card Input Lag
  packages/synapse-interface/pages/stake/StakeCard.tsx
Labels: M-synapse-interface, size/xs

#1217 Fix/base apy
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
  packages/synapse-interface/utils/bigint/format.ts
Labels: M-synapse-interface, size/s

#1169 Feat/synapse UI mobile bridge
  packages/synapse-interface/components/ChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OriginChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/input/TokenAmountInput/SelectTokenDropdown.tsx
  packages/synapse-interface/components/ui/tailwind/Card.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  yarn.lock
Labels: M-synapse-interface, size/l

#1230 Based Promexporter
  contrib/promexporter/config/config.go
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
Labels: go, size/m

#1229 Fix/unsupported network
  packages/synapse-interface/components/InteractiveInputRow.tsx
  packages/synapse-interface/components/Portfolio/PortfolioAccordion.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OriginChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/components/input/TokenAmountInput/SelectTokenDropdown.tsx
  packages/synapse-interface/components/input/TokenAmountInput/index.tsx
  packages/synapse-interface/pages/bridge/BridgeWatcher/index.tsx
  packages/synapse-interface/pages/bridge/SlideSearchBox.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridgeSlice.ts
  packages/synapse-interface/utils/sortTokens.ts
Labels: M-synapse-interface, size/m, needs-go-generate-contrib/promexporter

#1150 Feat/synapse UI portfolio store
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioAccordion.tsx
  packages/synapse-interface/components/Portfolio/PortfolioConnectButton.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OriginChainLabel.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/components/StateManagedBridge/TokenSlideOver.tsx
  packages/synapse-interface/pages/bridge/TokenMenuItem.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/hooks.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/portfolio/actions.ts
  packages/synapse-interface/slices/portfolio/hooks.ts
  packages/synapse-interface/slices/portfolio/reducer.ts
  packages/synapse-interface/store/hooks.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
  packages/synapse-interface/utils/hooks/usePortfolioBalances.tsx
  packages/synapse-interface/utils/sortTokens.ts
Labels: M-synapse-interface, size/l

#1234 explorer deploy fix
  packages/explorer-ui/.nvmrc
  packages/explorer-ui/README.md
Labels: M-explorer-ui, size/xs

#1235 Fix:sdk same chain ids
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/s

#1187 [omnirpc] instrument latency checks
  agents/go.sum
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/go.sum
  core/bytes_test.go
  core/ginhelper/server.go
  core/metrics/README.md
  core/metrics/base.go
  core/os.go
  core/os_test.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/chainmanager/manager.go
  services/omnirpc/chainmanager/manager_test.go
  services/omnirpc/client/suite_test.go
  services/omnirpc/cmd/commands.go
  services/omnirpc/go.mod
  services/omnirpc/main.go
  services/omnirpc/metadata/buildinfo.go
  services/omnirpc/metadata/doc.go
  services/omnirpc/proxy/server.go
  services/omnirpc/proxy/suite_test.go
  services/omnirpc/rpcinfo/export_test.go
  services/omnirpc/rpcinfo/latency.go
  services/omnirpc/rpcinfo/latency_test.go
  services/omnirpc/testhelper/server.go
  services/scribe/go.mod
  services/scribe/go.sum
Labels: go, size/m

#1238 Explorer Test Hotfix
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  core/retry/retry.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/README.md
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/consumer/client/resolver-client/server.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/server.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/types.resolvers.go
  tools/go.mod
  tools/go.sum
Labels: go, size/l

#1240 Remove CCTP prefix from bridge kappas
  services/explorer/config.yaml
  services/explorer/consumer/parser/cctpparser.go
Labels: go, size/xs

#1245 Error for prediction if create3 not deployed
  packages/contracts-core/script/utils/DeployerUtils.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/xs

#1250 add unidx on base
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs

#1255 fe/fix
  packages/synapse-interface/components/Portfolio/ConnectWalletButton.tsx
Labels: M-synapse-interface, size/xs

#1256 Fe/fix
  packages/synapse-interface/components/Portfolio/ConnectWalletButton.tsx
  packages/synapse-interface/constants/blacklist.ts
Labels: M-synapse-interface, size/s

#1258 RPC fallbacks (first to fallback URL, second to wagmi publicProvider)
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/s

#1251 Adds Rabby wallet
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface, size/xs

#1263 [CCTP Relayer] fix context leak
  services/cctp-relayer/relayer/relayer.go
Labels: go, size/xs

#1264 cleanup relayer go.sum
  services/cctp-relayer/go.sum
Labels: size/xs

#1265 update foundry tag
  ethergo/backends/anvil/anvil.go
  ethergo/backends/anvil/client.go
Labels: go, size/s

#1267 Add Otterscan to anvil driver
  ethergo/backends/anvil/anvil.go
  ethergo/backends/anvil/options.go
  ethergo/backends/anvil/suite_test.go
Labels: go, size/s

#1231 Executor messages to summit
  agents/agents/executor/db/sql/base/crosstable.go
  agents/agents/executor/db/sql/base/message.go
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  agents/agents/executor/executor_utils.go
  agents/agents/executor/types/contract_type.go
  agents/agents/executor/types/contracttype_string.go
  agents/contracts/summit/eventtype_string.go
  agents/contracts/summit/parser.go
  agents/contracts/summit/topics.go
  agents/domains/evm/destination.go
  agents/go.mod
  agents/go.sum
  agents/testutil/simulated_backends_suite.go
  agents/types/base_message.go
  agents/types/message.go
Labels: go, size/m

#1269 Checks if balance is enough on bridge txn button
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Labels: M-synapse-interface, size/xs

#1272 Fe: avax native usdt
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs

#1273 fix omnirpc port default behavior
  services/omnirpc/cmd/flags.go
Labels: go, size/xs

#1276 [agents] fix test flakes
  agents/agents/agentsintegration/suite_test.go
  agents/contracts/summit/suite_test.go
  agents/contracts/summit/summit_test.go
  agents/domains/domain.go
  agents/domains/evm/bondingmanager_test.go
  agents/domains/evm/destination_test.go
  agents/domains/evm/evm_test.go
  agents/domains/evm/export_test.go
  agents/domains/evm/filter.go
  agents/domains/evm/lightmanager_test.go
  agents/domains/evm/logger.go
  agents/domains/evm/origin.go
  agents/domains/evm/origin_test.go
  agents/domains/evm/suite_test.go
  agents/domains/evm/summit_test.go
  agents/domains/evm/testclient_test.go
  agents/go.mod
  ethergo/backends/anvil/anvil.go
  ethergo/deployer/registry.go
  ethergo/manager/manager.go
Labels: go, size/m

#1277 omnirpc chains endpoint
  services/omnirpc/client/client.go
  services/omnirpc/client/client_test.go
  services/omnirpc/proxy/server.go
Labels: go, size/s

#1281 Second attempt at fixing agents flakes
  .github/workflows/go.yml
  .github/workflows/sonar.yml
  agents/testutil/simulated_backends_suite.go
  core/README.md
  core/metrics/localmetrics/local.go
  core/metrics/metrics_test.go
  ethergo/backends/anvil/anvil.go
  ethergo/backends/anvil/options.go
Labels: M-ci, go, size/s

#1271 Fix toast error msg when user rejects request from wallet
  packages/synapse-interface/components/toast/ToastContent.tsx
  packages/synapse-interface/utils/txErrorHandler.tsx
Labels: M-synapse-interface, size/xs

#1286 SDK: add "exclude cctp" flag to `bridgeQuote`
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/s

#1262 Adds check for rawVal existence
  packages/synapse-interface/utils/bigint/format.ts
Labels: M-synapse-interface, size/xs

#1257 agents md
  agents/agents/executor/cmd/cmd.md
  agents/agents/guard/cmd/cmd.md
  agents/agents/notary/cmd/cmd.md
Labels: size/m

#1287 Extra state reports
  agents/agents/guard/db/agent_root_test.go
  agents/agents/guard/db/crosstable_test.go
  agents/agents/guard/db/guard_db.go
  agents/agents/guard/db/sql/base/agent_root.go
  agents/agents/guard/db/sql/base/base.go
  agents/agents/guard/db/sql/base/crosstable.go
  agents/agents/guard/db/sql/base/dispute.go
  agents/agents/guard/db/sql/base/model.go
  agents/agents/guard/db/sql/base/relayable_agent_status.go
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
  agents/agents/guard/guard.go
  agents/agents/guard/utils.go
  agents/domains/domain.go
  agents/domains/evm/inbox.go
  agents/domains/evm/lightinbox.go
  agents/testutil/simulated_backends_suite.go
  agents/types/agent_status_relayed_state.go
  agents/types/agent_tree.go
Labels: go, size/m

#1291 add core copyfile func
  core/os.go
  core/os_test.go
Labels: go, size/s

#1296 Fixes slippage percentage
  packages/synapse-interface/components/SwapExchangeRateInfo.tsx
  packages/synapse-interface/pages/swap/SwapCard.tsx
  packages/synapse-interface/utils/bigint/format.ts
Labels: M-synapse-interface, size/s

#1288 Submitter and Retries for Fraud
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
  agents/agents/guard/guard.go
  agents/agents/notary/notary.go
  agents/config/agent_config.go
  agents/domains/domain.go
  agents/domains/evm/bondingmanager.go
  agents/domains/evm/inbox.go
  agents/domains/evm/lightinbox.go
  agents/domains/evm/lightmanager.go
  core/retry/retry.go
Labels: go, size/m

#1300 add debug flag
  agents/agents/guard/cmd/commands.go
  agents/agents/notary/cmd/commands.go
Labels: go, size/xs
