Repository synapsecns/sanguine, pull requests merged in 2023-09, with the labels that each got.

#1301 change to embedded scribe rpc url
  agents/agents/executor/cmd/commands.go
Labels: go, size/xs

#1302 Notary Fix Origin State
  agents/agents/executor/executor_test.go
  agents/agents/notary/notary.go
  agents/go.mod
  agents/go.sum
  agents/testutil/simulated_backends_suite.go
Labels: go, size/s

#1304 update promexporter config
  contrib/promexporter/config/config.go
Labels: go, size/xs

#1305 bump go version
  .github/workflows/go.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/detector/detector.go
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/README.md
  core/go.mod
  core/go.sum
  core/toml/doc.go
  core/toml/marshaller.go
  core/toml/marshaller_test.go
  core/toml/suite_test.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/manager/manager.go
  ethergo/submitter/util_test.go
  go.work
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: M-ci, go, size/l

#1306 remove datadog to speed up builds
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/datadog.go
  core/metrics/datadog_test.go
  core/metrics/doc.go
  core/metrics/export_test.go
  core/metrics/handlertype_string.go
  core/metrics/metrics.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Labels: go, needs-go-generate-services/explorer, size/l

#1310 SDK: Add optimism CCTP
  packages/sdk-router/src/constants/index.ts
Labels: size/xs

#1309 Handling no toChainId, paused chain/tokens
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/constants/existingBridgeRoutes.ts
  packages/synapse-interface/constants/tokens/index.ts
  packages/synapse-interface/slices/bridge/reducer.ts
Labels: M-synapse-interface, size/xs

#1260 Removes address from Segment event title
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
Labels: Stale, M-synapse-interface, size/xs

#1252 Fixes pool deposits on Avalanche
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/getSwapDepositContractFields.ts
Labels: M-synapse-interface, size/xs

#1292 [Snyk] Security upgrade cypress from 12.17.2 to 13.0.0
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1314 yarn
  yarn.lock
Labels: size/xs

#1315 Metis USDC
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/xs

#1316 Maps pool tokens to correct addresses
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/s

#1317 Deprecate pool
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/xs

#1322 Fixes Harmony stable pool token import
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/xs

#1329 Fix: SDK failing test
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs

#1321 Renames Connect to Switch Network
  packages/synapse-interface/components/StateManagedBridge/ConnectionIndicators.tsx
Labels: M-synapse-interface, size/xs

#1325 Adds back USDT to Klaytn pool
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/xs

#1333 Fixes decimals
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface, size/xs

#1326 Sufficient balance useMemo to update when chain/token updates
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Labels: M-synapse-interface, size/xs

#1336 vercel workflow fix
  .github/workflows/solidity.yml
  .gitignore
Labels: M-ci, size/xs

#1337 fix prod deploy
  .github/workflows/solidity.yml
Labels: M-ci, size/xs

#1332 Checks if route is CCTP before presenting note
  packages/synapse-interface/components/Warning.tsx
Labels: M-synapse-interface, size/s

#1340 upgrade actions (required for synapsecns/sanguine#1339)
  .github/workflows/changesets.yml
  .github/workflows/clean-up-pr-caches.yml
  .github/workflows/codeql.yaml
  .github/workflows/cypress.yml
  .github/workflows/devcontainer.yml
  .github/workflows/fail-on-needs-generate.yaml
  .github/workflows/foundry-tests.yml
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/helm-release.yml
  .github/workflows/helm-test.yml
  .github/workflows/jaeger-ui.yml
  .github/workflows/label-requires-reviews.yml
  .github/workflows/label-statuses.yml
  .github/workflows/lerna.yaml
  .github/workflows/lint.yml
  .github/workflows/packages.yml
  .github/workflows/solidity.yml
  .github/workflows/sonar.yml
  .github/workflows/ui-preview.yaml
Labels: M-ci, size/s

#1341 Adds WETH on Metis
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/index.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/getPrices.ts
  packages/synapse-interface/utils/bridgeWatcher.ts
  packages/synapse-interface/utils/matchSymbolWithinPool.ts
  packages/synapse-interface/utils/transformCalculateLiquidityInput.ts
Labels: M-synapse-interface, size/s

#1347 Contract Version Bump
  packages/contracts-core/package.json
Labels: M-contracts, 2-reviewers, size/xs

#1348 Make Contracts installable for Docs
  .github/workflows/lerna.yaml
  packages/contracts-core/package.json
Labels: M-ci, M-contracts, 2-reviewers, size/xs

#1349 Update Github Readme
  CONTRIBUTING.md
  README.md
  agents/README.md
  assets/interchain-logo.svg
  assets/logo.svg
  docker/goreleaser/readme.md
  docker/jaeger-ui/README.md
  ethergo/README.md
  packages/contracts-core/README.md
  packages/contracts-core/package.json
  packages/explorer-ui/components/layouts/MainLayout/PageFooter.tsx
  packages/explorer-ui/components/layouts/MainLayout/index.tsx
  packages/explorer-ui/utils/urls/index.ts
  packages/sdk-router/README.md
  packages/sdk-router/package.json
  packages/synapse-interface/components/ActionCardFooter.tsx
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/bridge/BridgeWatcher/BridgeEvent.tsx
  packages/synapse-interface/pages/landing/sections/ExplorerSection.tsx
Labels: M-contracts, 2-reviewers, M-docker, M-explorer-ui, M-synapse-interface, size/m

#1353 Increments banner version
  packages/synapse-interface/components/Banner.tsx
Labels: M-synapse-interface, size/xs

#1354 Add Interchain Networks route
  packages/synapse-interface/cypress/fixtures/navigation.json
Labels: M-synapse-interface, size/xs

#1339 Fraud Report Final Touches 🎉
  .github/workflows/go.yml
Labels: M-ci, go, size/xs

#1357 Fix/white-screen
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenSelector.tsx
Labels: M-synapse-interface, size/xs

#1360 switch to more detailed tweet link
  packages/synapse-interface/components/Banner.tsx
Labels: M-synapse-interface, size/xs

#1320 Moves title info to metadata
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveAndWithdraw.tsx
Labels: M-synapse-interface, size/xs

#1363 update gql useMv to true
  packages/synapse-interface/graphql/GetUserHistoricalTransactions.graphql
  packages/synapse-interface/graphql/GetUserPendingTransactions.graphql
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/slices/transactions/updater.tsx
Labels: M-synapse-interface, size/m

#1365 add vercel instrumentation
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  yarn.lock
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1367 Fix: lint graphql codegen
  packages/synapse-interface/codegen.ts
  packages/synapse-interface/slices/api/generated.ts
  yarn.lock
Labels: M-synapse-interface, size/l

#1371 Use `gotestsum` to retry individually failed tests
  .github/workflows/go.yml
  agents/agents/guard/fraud_test.go
Labels: M-ci, go, size/s

#1268 Script for bridge map generation
  packages/synapse-interface/package.json
  packages/synapse-interface/scripts/abi/IDefaultPool.json
  packages/synapse-interface/scripts/abi/IERC20Metadata.json
  packages/synapse-interface/scripts/abi/SwapQuoter.json
  packages/synapse-interface/scripts/abi/SynapseCCTP.json
  packages/synapse-interface/scripts/abi/SynapseCCTPRouter.json
  packages/synapse-interface/scripts/abi/SynapseRouter.json
  packages/synapse-interface/scripts/data/ignoredBridgeSymbols.json
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/data/symbolOverrides.json
  packages/synapse-interface/scripts/generateMaps.js
Labels: M-synapse-interface, size/l

#1374 fix bug introduced by #1371
  .github/workflows/go.yml
  core/README.md
Labels: M-ci, size/xs

#1376 fix wrong domain in deploy script
  packages/contracts-core/script/DeployMessaging003Base.s.sol
  packages/contracts-core/script/DeployMessaging003LightChain.s.sol
  packages/contracts-core/script/DeployMessaging003SynChain.s.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/xs

#1379 Readme typo
  CONTRIBUTING.md
Labels: size/xs

#1368 Feat/lazy query polling
  packages/synapse-interface/slices/transactions/updater.tsx
Labels: M-synapse-interface, size/xs

#1383 remove unused scribe config params
  services/scribe/config/config.go
  services/scribe/config/config_test.go
  services/scribe/service/scribe_test.go
Labels: go, size/xs

#1390 remove label action
  .github/label-requires-reviews.yml
  .github/workflows/label-requires-reviews.yml
  .github/workflows/lint.yml
  .github/workflows/sonar.yml
  .github/workflows/ui-preview.yaml
Labels: M-ci, size/xs

#1399 Fix git-changes-action when module was unchanged
  .github/workflows/close-stale.yml
  .github/workflows/fail-on-needs-generate.yaml
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/helm-test.yml
  .github/workflows/jaeger-ui.yml
  contrib/git-changes-action/README.md
  contrib/git-changes-action/main.go
Labels: M-ci, go, size/s

#1402 Use Latest Git-Changes Action
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Labels: M-ci, size/xs

#1403 don't run on master
  .github/workflows/clean-up-pr.yml
  .github/workflows/go.yml
Labels: M-ci, size/xs

#1404 softfail cleanup
  .github/workflows/clean-up-pr.yml
  .github/workflows/go.yml
Labels: M-ci, size/xs

#1396 Adds balance chain tokens for chain dropdown
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/s

#1406 Feat/window focus polling redo
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/slices/transactions/updater.tsx
  yarn.lock
Labels: M-synapse-interface, size/xs

#1378 Feat/portfolio searchbar
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioAccordion.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioConnectButton.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionExplorerLink.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/slices/portfolio/actions.ts
  packages/synapse-interface/slices/portfolio/hooks.ts
  packages/synapse-interface/slices/portfolio/reducer.ts
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/tailwind.config.js
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
  packages/synapse-interface/utils/isValidAddress.tsx
  packages/synapse-interface/utils/shortenAddress.ts
  packages/synapse-interface/utils/sortTokens.ts
  packages/synapse-interface/utils/validators.ts
Labels: M-synapse-interface, size/l

#1407 Fix white screen error
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Labels: M-synapse-interface, size/xs

#1411 Removes deprecated warning message
  packages/synapse-interface/components/Warning.tsx
Labels: M-synapse-interface, size/xs
