Repository synapsecns/sanguine, pull requests merged in 2023-11, with the labels that each got.

#1527 Feat/interrupted service banner
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/s

#1522 Replaces Snowtrace with Avascan
  packages/explorer-ui/constants/networks.ts
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-explorer-ui, M-synapse-interface, size/xs

#1520 SDK: return estimated bridge time along with the quotes
  packages/sdk-router/src/constants/index.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/router/types.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/m

#1523 Scribe: Add get log range ascending to API
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/api/data_test.go
  services/scribe/cmd/cmd.md
  services/scribe/graphql/client/client.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/schema/queries.graphql
  services/scribe/service/indexer/indexer_test.go
Labels: go, needs-go-generate-agents, size/m

#1531 Sdk: bridge module naming
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/router/types.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/s

#1518 Reduces number of total RPC calls on Pools page
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/components/Pools/PoolHeader.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/utils/actions/getPoolApyData.ts
  packages/synapse-interface/utils/actions/getPoolData.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#1474 Feat/activity pending fallback
  packages/synapse-interface/actions/approveErc20Token.ts
  packages/synapse-interface/actions/harvestLpPool.ts
  packages/synapse-interface/actions/stakeLpToken.ts
  packages/synapse-interface/actions/swapPoolAddLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidityOneToken.ts
  packages/synapse-interface/actions/unstakeLpToken.ts
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/graphql/GetDestinationBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetOriginBridgeTxFallback.graphql
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/slices/application/actions.ts
  packages/synapse-interface/slices/application/hooks.ts
  packages/synapse-interface/slices/application/reducer.ts
  packages/synapse-interface/slices/application/updater.tsx
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/approveToken.tsx
  packages/synapse-interface/utils/checkTransactionsExist.ts
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
  packages/synapse-interface/utils/isValidAddress.tsx
  packages/synapse-interface/utils/trimTrailingZeroesAfterDecimal.ts
  packages/synapse-interface/utils/types/index.tsx
  yarn.lock
Labels: M-synapse-interface, size/l

#1535 Fixes destructure typing mismatch on using prepareWriteContract
  packages/synapse-interface/actions/harvestLpPool.ts
  packages/synapse-interface/actions/stakeLpToken.ts
  packages/synapse-interface/actions/swapPoolAddLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidityOneToken.ts
  packages/synapse-interface/actions/unstakeLpToken.ts
Labels: M-synapse-interface, size/xs

#1530 Remove service interrupted banner
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface, size/xs

#1532 Handles unloaded origin chain
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/utils/calculateEstimatedTransactionTime.tsx
Labels: M-synapse-interface, size/xs

#1536 Deposits on non-ETH gas token pools
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
Labels: M-synapse-interface, size/xs

#1540 Removes deprecated field
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
Labels: M-synapse-interface, size/xs

#1533 Updates Metis Minichef contract
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Pools/PoolHeader.tsx
  packages/synapse-interface/constants/chainlink.ts
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
  packages/synapse-interface/slices/priceDataSlice.ts
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveAndStake.tsx
  packages/synapse-interface/utils/actions/claimStake.tsx
  packages/synapse-interface/utils/actions/getPoolApyData.ts
  packages/synapse-interface/utils/actions/getPrices.ts
  packages/synapse-interface/utils/actions/getStakedBalance.ts
  packages/synapse-interface/utils/actions/withdrawStake.tsx
  packages/synapse-interface/utils/contracts/useMiniChefContract.ts
  packages/synapse-interface/utils/hasAllPrices.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#1541 fe/updated time remaining pending transaction
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
Labels: M-synapse-interface, size/s

#1534 Routing selection update, expanded test suite for realistic routing options
  packages/synapse-interface/__tests__/__fixtures__/mockRoutes.ts
  packages/synapse-interface/__tests__/getFromChainIds.test.ts
  packages/synapse-interface/__tests__/getFromTokens.test.ts
  packages/synapse-interface/__tests__/getToChainIds.test.ts
  packages/synapse-interface/__tests__/getToTokens.test.ts
  packages/synapse-interface/jest.config.mjs
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/utils/routeMaker/getToChainIds.ts
  packages/synapse-interface/utils/routeMaker/getToTokens.ts
Labels: M-synapse-interface, size/l

#1542 Update instances of fromToken to resolve potential undefined errors
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/updater.tsx
Labels: M-synapse-interface, size/xs

#1546 Fe/move pending bridge transactions
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/portfolio/updater.tsx
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/store/reducer.ts
Labels: M-synapse-interface, size/s

#1544 Read raw `value`
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
Labels: M-synapse-interface, size/xs

#1548 Fe/bridge input reset behavior
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/slices/application/updater.tsx
Labels: M-synapse-interface, size/xs

#1551 Fe/fix white screen
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
Labels: M-synapse-interface, size/xs

#1550 Adds spender address to eth syn sushi token
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/constants/tokens/sushiMaster.ts
Labels: M-synapse-interface, size/xs

#1539 Anvil backend log cleanup
  ethergo/backends/anvil/anvil.go
Labels: go, needs-go-generate-agents, size/xs

#1549 fix/explorer-icons
  packages/synapse-interface/assets/explorer/arbitrum.png
  packages/synapse-interface/assets/explorer/arbitrum.svg
  packages/synapse-interface/assets/explorer/aurora.png
  packages/synapse-interface/assets/explorer/aurora.svg
  packages/synapse-interface/assets/explorer/avalanche.png
  packages/synapse-interface/assets/explorer/avalanche.svg
  packages/synapse-interface/assets/explorer/basescan.png
  packages/synapse-interface/assets/explorer/basescan.svg
  packages/synapse-interface/assets/explorer/boba.png
  packages/synapse-interface/assets/explorer/boba.svg
  packages/synapse-interface/assets/explorer/bscscan.png
  packages/synapse-interface/assets/explorer/bscscan.svg
  packages/synapse-interface/assets/explorer/canto.png
  packages/synapse-interface/assets/explorer/canto.svg
  packages/synapse-interface/assets/explorer/cronos.png
  packages/synapse-interface/assets/explorer/cronos.svg
  packages/synapse-interface/assets/explorer/dfk-chain.png
  packages/synapse-interface/assets/explorer/dfk-chain.svg
  packages/synapse-interface/assets/explorer/dogecoin.png
  packages/synapse-interface/assets/explorer/dogecoin.svg
  packages/synapse-interface/assets/explorer/etherscan.png
  packages/synapse-interface/assets/explorer/etherscan.svg
  packages/synapse-interface/assets/explorer/fantom.png
  packages/synapse-interface/assets/explorer/fantom.svg
  packages/synapse-interface/assets/explorer/harmony.png
  packages/synapse-interface/assets/explorer/harmony.svg
  packages/synapse-interface/assets/explorer/klaytn.png
  packages/synapse-interface/assets/explorer/klaytn.svg
  packages/synapse-interface/assets/explorer/metis.png
  packages/synapse-interface/assets/explorer/metis.svg
  packages/synapse-interface/assets/explorer/moonbeam.png
  packages/synapse-interface/assets/explorer/moonbeam.svg
  packages/synapse-interface/assets/explorer/moonriver.png
  packages/synapse-interface/assets/explorer/moonriver.svg
  packages/synapse-interface/assets/explorer/optimism.png
  packages/synapse-interface/assets/explorer/optimism.svg
  packages/synapse-interface/assets/explorer/polygon.png
  packages/synapse-interface/assets/explorer/polygon.svg
  packages/synapse-interface/assets/explorer/terra.png
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/s

#1552 Fix: submitter should always call `updateOldTxStatuses()`
  ethergo/submitter/chain_queue.go
Labels: go, needs-go-generate-agents, size/xs

#1555 Fix CC Flake
  .codeclimate.yml
Labels: size/xs

#1556 Upgrades to latest vercel cli package
  .github/workflows/ui-preview.yaml
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Labels: M-ci, M-synapse-interface, size/xs

#1559 Update metis icons
  packages/synapse-interface/assets/chains/metis.svg
  packages/synapse-interface/assets/explorer/metis.svg
Labels: M-synapse-interface, size/xs

#1569 Add templating to scribe configmap
  charts/agents/Chart.lock
  charts/agents/Chart.yaml
  charts/explorer/Chart.lock
  charts/explorer/Chart.yaml
  charts/omnirpc/Chart.yaml
  charts/omnirpc/values.yaml
  charts/scribe/Chart.lock
  charts/scribe/Chart.yaml
  charts/scribe/templates/configmap.yaml
Labels: M-charts, size/s

#1566 Update avascan link
  packages/explorer-ui/constants/networks.ts
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-explorer-ui, M-synapse-interface, size/xs

#1576 add solana nav bar and banner
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface, size/xs

#1577 Fix: use older foundry nigthly for `forge doc`
  .github/workflows/solidity.yml
Labels: M-ci, size/xs

#1579 lint:fix
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface, size/xs

#1580 Update cypress integration tests for new route
  packages/synapse-interface/cypress/fixtures/navigation.json
Labels: M-synapse-interface, size/xs

#1545 Feat/fallback pending states
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/TransactionOptions.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/icons/DownArrow.tsx
  packages/synapse-interface/slices/portfolio/updater.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface, size/m

#1582 Limit concurrency in the SDK tests
  packages/sdk-router/jest.config.js
Labels: size/xs

#1584 add address to blacklist
  packages/synapse-interface/constants/blacklist.ts
Labels: M-synapse-interface, size/xs

#1567 FE: new paths for crvUSD, LUSD and FRAX on Mainnet (Synapse X)
  packages/synapse-interface/assets/icons/lusd.svg
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
Labels: M-synapse-interface, size/s

#1581 Fix: exclude unclaimed admin fees from pool's displayed reserves
  packages/synapse-interface/utils/actions/getPoolData.ts
Labels: M-synapse-interface, size/xs

#1547 Adds query params, synchronizing with bridge & swap states
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/utils/hooks/useSyncQueryParamsWithBridgeState.ts
  packages/synapse-interface/utils/hooks/useSyncQueryParamsWithSwapState.ts
  packages/synapse-interface/utils/routeMaker/getToChainIds.ts
Labels: M-synapse-interface, size/s

#1568 Synapse Explorer updates for ETH Linked Pool additions
  packages/explorer-ui/assets/icons/lusd.svg
  packages/explorer-ui/constants/tokens/basic.ts
  packages/explorer-ui/pages/_app.tsx
  packages/explorer-ui/public/_document.js
  packages/explorer-ui/public/manifest.json
Labels: M-explorer-ui, size/xs
