Repository synapsecns/sanguine, pull requests merged in 2023-06, with the labels that each got.

#1006 Deprecate IP Switcher
  services/explorer/consumer/fetcher/pricefetcher.go
  services/explorer/consumer/fetcher/tokenprice/cache.go
Labels: go, size/s

#1020 Fix README Link
  README.md
Labels: size/xs

#1025 fix goreleaser
  .github/workflows/devcontainer.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/jaeger-ui.yml
  contrib/git-changes-action/README.md
Labels: M-ci, size/xs

#1026 fix content permissions regressed in #1025
  .github/workflows/goreleaser-actions.yml
  contrib/git-changes-action/README.md
Labels: M-ci, size/xs

#1029 fix ui-preview worfklow when matrix vector contains no values
  .github/workflows/ui-preview.yaml
Labels: M-ci, size/xs

#1030 speedup foundry snapshot a bit
  .github/workflows/foundry-tests.yml
Labels: M-ci, size/xs

#1033 Fixes Vercel build on sdk-router versioning issue
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/xs

#1037 FE: Zero amount on destination input should stay placeholder text
  packages/synapse-interface/components/input/TokenAmountInput/index.tsx
Labels: M-synapse-interface, size/xs

#1035 Removes 404ing portfolio link
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface, size/xs

#1039 Removing dependency from core to ethergo since ethergo depends on core
  agents/testutil/simulated_backends_suite.go
  agents/testutil/suite_test.go
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  core/testsuite/suite.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
Labels: go, size/s

#1042 removing agents/db that is old code
  agents/agents/executor/db/datastore/sql/sqlite/store.go
  agents/db/datastore/sql/base/block.go
  agents/db/datastore/sql/base/chainid_test.go
  agents/db/datastore/sql/base/doc.go
  agents/db/datastore/sql/base/export_test.go
  agents/db/datastore/sql/base/message.go
  agents/db/datastore/sql/base/model.go
  agents/db/datastore/sql/base/model_test.go
  agents/db/datastore/sql/base/suite_test.go
  agents/db/datastore/sql/base/txqueue.go
  agents/db/datastore/sql/doc.go
  agents/db/datastore/sql/mysql/doc.go
  agents/db/datastore/sql/mysql/logger.go
  agents/db/datastore/sql/mysql/store.go
  agents/db/datastore/sql/sqlite/doc.go
  agents/db/datastore/sql/sqlite/logger.go
  agents/db/datastore/sql/sqlite/store.go
  agents/db/datastore/sql/store.go
  agents/db/db_test.go
  agents/db/doc.go
  agents/db/error.go
  agents/db/message.go
  agents/db/message_test.go
  agents/db/mocks/tx_queue_db.go
  agents/db/txqueue_test.go
  agents/domains/evm/queue.go
  agents/domains/evm/queue_test.go
Labels: go, size/l

#1045 Hotfix: Add Klaytn JEWEL address
  packages/synapse-interface/constants/tokens/master.tsx
Labels: M-synapse-interface, size/xs

#1041 [executor] more concise model name getter for #987
  agents/agents/executor/db/datastore/sql/base/base_store.go
  agents/agents/executor/db/datastore/sql/base/base_store_test.go
  agents/agents/executor/db/datastore/sql/base/crosstable.go
  agents/agents/executor/db/datastore/sql/base/logger.go
  agents/agents/executor/db/datastore/sql/mysql/store.go
  agents/agents/executor/db/datastore/sql/sqlite/store.go
Labels: go, size/s

#1049 Revert "[executor] more concise model name getter for #987"
  agents/agents/executor/db/datastore/sql/base/base_store.go
  agents/agents/executor/db/datastore/sql/base/base_store_test.go
  agents/agents/executor/db/datastore/sql/base/crosstable.go
  agents/agents/executor/db/datastore/sql/base/logger.go
  agents/agents/executor/db/datastore/sql/mysql/store.go
  agents/agents/executor/db/datastore/sql/sqlite/store.go
Labels: go, size/s

#1052 Making notary add itself to its remote chain
  agents/agents/exampleagent/exampleagent_test.go
  agents/agents/notary/notary.go
  agents/agents/notary/notary_test.go
  agents/contracts/test/pingpongclient/pingpongclient.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.contractinfo.json
  agents/domains/domain.go
  agents/domains/evm/bondingmanager.go
  agents/domains/evm/lightinbox.go
  agents/domains/evm/lightmanager.go
  agents/go.mod
  agents/go.sum
  agents/testutil/typecast.go
  agents/types/agent_flag_type.go
  agents/types/agentflagtype_string.go
Labels: go, needs-go-generate-agents, size/m

#1044 Feat/synapse UI token ordering
  packages/synapse-interface/components/misc/TokenSlideOver.tsx
  packages/synapse-interface/constants/tokens/master.tsx
  packages/synapse-interface/constants/tokens/poolMaster.tsx
  packages/synapse-interface/constants/tokens/sushiMaster.tsx
  packages/synapse-interface/constants/tokens/swapMaster.ts
  packages/synapse-interface/pages/bridge/BridgeCard.tsx
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/utils/actions/getSortedBridgableTokens.tsx
  packages/synapse-interface/utils/actions/useApproveAndStake.tsx
  packages/synapse-interface/utils/actions/useClaimStake.tsx
  packages/synapse-interface/utils/actions/useWithdrawStake.tsx
  packages/synapse-interface/utils/hooks/usePortfolioBalances.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#1047 Fix/stake page approvals
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/utils/actions/approveAndStake.tsx
  packages/synapse-interface/utils/actions/getTokenAllowance.ts
Labels: M-synapse-interface, size/xs

#1050 Feat/synapse UI bridge mobile max
  packages/synapse-interface/components/input/TokenAmountInput/index.tsx
Labels: M-synapse-interface, size/s

#1055 disable confirm checks on scribe
  services/scribe/node/scribe.go
Labels: go, needs-go-generate-agents, size/xs

#1059 SDK Multiple Routers (CCTP) Integration
  packages/sdk-router/README.md
  packages/sdk-router/package.json
  packages/sdk-router/src/SynapseCCTPRouter.test.ts
  packages/sdk-router/src/SynapseCCTPRouter.ts
  packages/sdk-router/src/abi/SynapseCCTPRouter.json
  packages/sdk-router/src/constants/index.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/typechain/SynapseCCTPRouter.ts
  packages/sdk-router/src/utils/types.ts
  packages/synapse-interface/README.md
  packages/synapse-interface/components/pairTxKappa.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: needs-go-generate-services/omnirpc, needs-go-generate-ethergo, needs-go-generate-agents, needs-go-generate-services/scribe, needs-go-generate-services/explorer, M-synapse-interface, size/l, needs-yarn-install

#1061 yarn patch
  README.md
Labels: size/xs

#1062 yarn & sdk
  packages/sdk-router/src/synapseRouter.ts
Labels: size/xs

#1063 FE sdk v201
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs

#1064 test fe deploy
  packages/synapse-interface/package.json
  packages/synapse-interface/store/store.ts
  yarn.lock
Labels: M-synapse-interface, size/m, needs-yarn-install

#1071 charts
  charts/cctp/Chart.lock
  charts/cctp/Chart.yaml
  charts/cctp/values.yaml
Labels: M-charts, size/xs

#1069 Fix ts-lint
  packages/sdk-router/src/SynapseCCTPRouter.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/synapseRouter.ts
  packages/synapse-interface/store/store.ts
Labels: M-synapse-interface, size/xs

#1075 fix properties
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: size/xs

#1051 V3 Testnet
  agents/agents/executor/cmd/doc.go
  agents/agents/executor/config/chain.go
  agents/agents/executor/executor.go
  agents/agents/notary/notary.go
  agents/domains/domain.go
  agents/domains/evm/lightinbox.go
  agents/domains/evm/logger.go
  agents/testcli/main.go
Labels: go, needs-go-generate-agents, size/xs

#1077 Go generate in agents to get contract interfaces
  agents/contracts/test/pingpongclient/pingpongclient.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.contractinfo.json
Labels: go, size/xs

#1076 Fix: proper YAML parsing for submitter config
  ethergo/submitter/config/config.go
  ethergo/submitter/config/config_test.go
Labels: go, size/xs

#1079 Adds toasts
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1078 Add YAML tag for submitter `GasEstimate`
  ethergo/submitter/chain_queue.go
  ethergo/submitter/config/config.go
  ethergo/submitter/config/config_test.go
Labels: go, size/xs

#1083 bump sdk version
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs

#1082 Supports pending state for approving tx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1067 Slows down switch animation
  packages/synapse-interface/components/buttons/SwitchButton.tsx
Labels: M-synapse-interface, size/xs, needs-yarn-install

#1068 Refactor Agents CLI/Config
  agents/agents/agentsintegration/agentsintegration_test.go
  agents/agents/executor/cmd/commands.go
  agents/agents/executor/config/doc.go
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  agents/agents/executor/testutils.go
  agents/agents/guard/cmd/commands.go
  agents/agents/guard/guard.go
  agents/agents/guard/guard_test.go
  agents/agents/guard/testutils.go
  agents/agents/notary/cmd/commands.go
  agents/agents/notary/notary.go
  agents/agents/notary/notary_test.go
  agents/agents/notary/testutils.go
  agents/config/agent_config.go
  agents/config/config.go
  agents/config/db.go
  agents/config/domain.go
  agents/config/domain_test.go
  agents/config/executor/chain.go
  agents/config/executor/chain_test.go
  agents/config/executor/config.go
  agents/config/executor/config_test.go
  agents/config/executor/db.go
  agents/config/executor/doc.go
  agents/config/executor/scribe.go
  agents/config/executor/suite_test.go
  agents/domains/evm/evm.go
  agents/domains/evm/evm_test.go
  agents/testutil/simulated_backends_suite.go
Labels: go, size/m

#1089 CCTP relayer backoff respects context
  services/cctp-relayer/config/config.go
  services/cctp-relayer/config/config_test.go
  services/cctp-relayer/relayer/relayer.go
Labels: go, size/xs

#1084 Adds BridgeWatcher support for Synapse CCTP contracts
  packages/synapse-interface/constants/abis/synapseCCTP.json
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/tokens/master.tsx
  packages/synapse-interface/pages/bridge/BridgeWatcher/DestinationTx.tsx
  packages/synapse-interface/pages/bridge/BridgeWatcher/index.tsx
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/bridgeWatcher.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/s

#1090 Adds multicall data to support token balance queries on extra networks
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/constants/tokens/master.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface, size/s

#1086 Monitoring tools (Otel Metrics)
  agents/agents/agentsintegration/agentsintegration_test.go
  agents/agents/executor/executor_test.go
  agents/contracts/test/pingpongclient/pingpongclient.abigen.go
  agents/contracts/test/pingpongclient/pingpongclient.contractinfo.json
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/config/build-info.go
  core/go.mod
  core/go.sum
  core/metrics/base.go
  core/metrics/datadog.go
  core/metrics/meter.go
  core/metrics/meter_test.go
  core/metrics/metrics.go
  core/metrics/null.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/backfill/backend.go
  services/scribe/backfill/chain.go
  services/scribe/backfill/contract.go
  services/scribe/backfill/contract_test.go
  services/scribe/backfill/fetcher.go
  services/scribe/backfill/fetcher_test.go
  services/scribe/cmd/cmd.md
  services/scribe/config/chain.go
  services/scribe/db/datastore/sql/base/lastindexed.go
  services/scribe/db/datastore/sql/base/receipt.go
  services/scribe/db/datastore/sql/mysql/store.go
  services/scribe/db/datastore/sql/sqlite/store.go
  services/scribe/db/suite_test.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/node/scribe.go
  services/scribe/node/scribe_test.go
  tools/go.mod
  tools/go.sum
Labels: go, size/l
