Repository synapsecns/sanguine, pull requests merged in 2024-08, with the labels that each got.

#2957 feat(sdk-router)!: add support for FastBridgeRouterV2
  packages/sdk-router/README.md
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
Labels: size/s, Sol, Typescript

#2919 feat(relconfig): decimals config validation
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/suite_test.go
Labels: go, size/s

#2969 feat(synapse-interface): use origin user address for getting bridge quotes
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useGasEstimator.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#2970 fix(rfq-relayer): context leak
  services/rfq/relayer/inventory/manager.go
Labels: go, size/xs

#2981 Updates FastBridgeRouterAddress
  packages/synapse-interface/scripts/generateMaps.js
Labels: javascript, M-synapse-interface, size/xs

#2983 fear(widget): Adds Linea
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-react/package.json
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: size/s, Sol, Typescript

#2982 refactor(rfq): move chain utils to new `util` pkg
  .github/workflows/go.yml
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relapi/client_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/util/doc.go
  services/rfq/util/util.go
Labels: M-ci, go, size/s

#2958 feat(rfq-api): filter old quotes
  .github/workflows/go.yml
  services/rfq/api/config/config.go
  services/rfq/api/rest/export_test.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
Labels: M-ci, go, size/s

#2964 feat(rfq-relayer): faster quote generation
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/xs

#2984 fix(rfq): miscellaneous context leaks
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/pricer/fee_pricer.go
Labels: go, size/xs

#2917 feat(rfq-relayer): add MaxBalance param
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/s

#2988 docs(synapse-interface): maintenance readme
  packages/synapse-interface/README.md
Labels: M-synapse-interface, size/s

#2899 feat(rfq-relayer): extra checks around `canClaim()`
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#2995 feat(synapse-interface): Linea USDT
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#2971 feat(synapse-interface): validate rfq quotes
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/pages/teaser/#index.tsx
Labels: M-synapse-interface, size/xs

#2996 Adds Linea USDT support
  packages/widget/src/constants/bridgeable.ts
Labels: size/xs, Sol, Typescript

#2993 feat(widget): switch button
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/SwitchButton.tsx
Labels: size/s

#2998 feat(synapse-interface): canto upgrade maintenance
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#2991 rookout
  .dockerignore
  agents/.goreleaser.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/.goreleaser.yml
  contrib/opbot/.goreleaser.yml
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/.goreleaser.yml
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/.goreleaser.yml
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/config/build-info.go
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/internal/const.go
  core/metrics/rookout.go
  docker/agents.Dockerfile
  docker/explorer.Dockerfile
  docker/git-changes-action.Dockerfile
  docker/omnirpc.Dockerfile
  docker/opbot.Dockerfile
  docker/promexporter.Dockerfile
  docker/rfq-api.Dockerfile
  docker/rfq-relayer.Dockerfile
  docker/screener-api.Dockerfile
  docker/scribe.Dockerfile
  ethergo/.goreleaser.yml
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/.goreleaser.yml
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/.goreleaser.yml
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/.goreleaser.yml
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/.goreleaser.yml
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/.goreleaser.yml
  services/scribe/go.mod
  services/scribe/go.sum
Labels: go, M-docker, size/m, needs-go-generate-contrib/promexporter, M-deps

#3004 update dfk model
  contrib/promexporter/internal/gql/dfk/models.gen.go
Labels: go

#3001 feat(rfq-relayer): pending rebalance monitoring
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/service/otel.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#3002 feat(rfq-guard): proof checks
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/service/handlers.go
Labels: go, size/s

#3012 docs(rfq): withdrawal CLI documentation
  docs/bridge/docs/rfq/Relayer/Relayer.md
Labels: size/xs, M-docs

#3010 fix(rfq-relayer): balance refresh fixes
  ethergo/client/capture_client.go
  services/rfq/relayer/inventory/manager.go
Labels: go, size/xs

#3013 fix(synapse-interface): catch refresh quote
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#2985 [goreleaser] Explorer fix bridgewithdraw event
  services/explorer/consumer/parser/bridgeparser.go
Labels: go, size/xs

#3017 feat(synapse-interface): Extracts wallet state into slice
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/bridgeDisplaySlice.ts
  packages/synapse-interface/slices/wallet/hooks.ts
  packages/synapse-interface/slices/wallet/reducer.ts
  packages/synapse-interface/store/reducer.ts
Labels: M-synapse-interface, size/s, Sol, Typescript

#3014 fix(synapse-interface): disable bridge ui pending wallet
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Activity/Transaction/Transaction.tsx
  packages/synapse-interface/components/Activity/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/TokenSelector.tsx
  packages/synapse-interface/components/ui/types.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/s, Sol, Typescript

#3018 [wip] feat(synapse-interface): track bridge quoted tokens
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/s, Sol, Typescript

#3015 fix(synapse-interface): don't adjust `payload.value` that SDK already handles
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/utils/hooks/useGasEstimator.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3027 maintenance(synapse-interface): canto pause
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#3007 RFQ API Auth Cache
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
Labels: go, size/s

#3020 feat(listener): add `ListenerName` db field
  ethergo/listener/db/service.go
  ethergo/listener/db/store.go
  ethergo/listener/options.go
  ethergo/listener/suite_test.go
  services/rfq/guard/service/guard.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#3011 [wip] feat(synapse-interface): track quoted input
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/s, Sol, Typescript

#2994 feat(rfq-relayer): add mutex on committable balance consumption
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/s

#3033 fix(synapse-interface): hide Blast WETH
  packages/synapse-interface/constants/tokens/index.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3021 feat(synapse-interface): bridge state validations
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeSelections.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m, Sol, Typescript

#3035 [do not merge] isTyping example with bridge quote state update
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/s

#3030 fix(listener): latest block query
  ethergo/listener/db/store.go
  services/rfq/relayer/reldb/db_test.go
Labels: go, size/s

#3037 Update blacklist.json
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#3036 revert(relayer): potential deadlock
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/s

#3032 feat(relapi): get QuoteRequest by txhash
  services/rfq/relayer/relapi/client.go
  services/rfq/relayer/relapi/client_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/server.go
Labels: go, size/s

#3041 Updating rfq contracts in docs
  docs/bridge/docs/rfq/Contracts.md
Labels: size/xs, M-docs

#3042 feat(rfq-relayer): highly concurrent e2e test
  services/rfq/e2e/rfq_test.go
Labels: go, size/s

#3039 feat(rfq-relayer): add balances mutex
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/s

#3000 first pass at updating RFQ relayer documentation
  docs/bridge/docs/rfq/API/API.md
  docs/bridge/docs/rfq/Contracts.md
  docs/bridge/docs/rfq/Relayer/Relayer.md
Labels: size/xs, M-docs

#3040 fix(promexporter) add new external relayer
  contrib/promexporter/exporters/relayer.go
Labels: go, size/xs

#3046 feat(widget): adds METIS token support
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: size/s, Sol, Typescript

#3050 feat(listener): add listener_name as otel attribute
  ethergo/listener/listener.go
  ethergo/listener/options.go
  ethergo/listener/otel.go
Labels: go, size/xs

#3052 Exports metis
  packages/widget/src/index.tsx
Labels: size/xs

#3054 hotfix(widget): metamask wallet_addEthereumChain blockExplorerUrls
  packages/widget/src/utils/actions/switchNetwork.ts
Labels: size/xs, Sol, Typescript

#3060 basic listener docs
  .github/workflows/goreleaser-actions.yml
  ethergo/.goreleaser.yml
  ethergo/examples/usdclistener/main.go
  ethergo/listener/README.md
  ethergo/listener/logo.png
Labels: M-ci, go, size/s

#3019 feat(synapse-interface): bridge quote state validations
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/FromChainSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenSelector.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeSelections.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/pages/teaser/#index.tsx
  packages/synapse-interface/pages/teaser/FauxBridge.tsx
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/bridgeQuote/hooks.ts
  packages/synapse-interface/slices/bridgeQuote/reducer.ts
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
  packages/synapse-interface/utils/hooks/useIsBridgeApproved.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/l, Sol, Typescript

#3053 feat(widget): Script to check token exports match bridgeable.ts
  packages/widget/package.json
  packages/widget/src/scripts/check-token-exports.js
Labels: javascript, size/xs

#3066 standardize middleware
  contrib/opbot/botmd/botmd.go
  contrib/opbot/config/config.go
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  core/go.mod
  core/go.sum
  core/metrics/instrumentation/slackertrace/doc.go
  core/metrics/instrumentation/slackertrace/otel.go
  core/metrics/instrumentation/slackertrace/tracing.go
  go.work.sum
Labels: go, size/s, M-deps

#3064 [fix][explorer ui] units for time elapsed
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui, size/xs

#3069 maintenance(synapse-interface): extend canto pause
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#3070 maintenace(synapse-interface): display remaining days
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
Labels: M-synapse-interface, size/xs

#2992 feat(widget): visual update
  packages/widget/src/components/AvailableBalance.tsx
  packages/widget/src/components/Receipt.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ChainOption.tsx
  packages/widget/src/components/ui/SwitchButton.tsx
  packages/widget/src/components/ui/TokenOption.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/components/ui/TokenSelect.tsx
  packages/widget/src/hooks/useCurrentTokenBalance.ts
  packages/widget/src/state/slices/wallet/reducer.ts
Labels: size/s, Sol, Typescript

#3073 fix(rfq-relayer): check request status before forwarding
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#2900 feat(synapse-interface): bridge quote uuid
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
  packages/synapse-interface/utils/convertUuidToUnix.ts
  packages/synapse-interface/utils/hooks/useApplicationListener.ts
  packages/synapse-interface/utils/hooks/useIntervalTimer.ts
  packages/synapse-interface/utils/hooks/useStaleQuoteUpdater.ts
  packages/synapse-interface/utils/hooks/useTransactionListener.ts
  packages/synapse-interface/utils/time.ts
  packages/synapse-interface/utils/txErrorHandler.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: javascript, M-synapse-interface, size/s, Sol, Typescript

#3049 REST API Migration
  packages/rest-api/package.json
  packages/rest-api/src/app.test.ts
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/chains.json
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/constants/chains.ts
  packages/rest-api/src/types/index.d.ts
  packages/rest-api/tsconfig.json
  yarn.lock
Labels: size/l, Sol, Typescript, M-deps

#3076 feat(opbot): add screener to opbot
  contrib/opbot/botmd/botmd.go
  contrib/opbot/botmd/commands.go
  contrib/opbot/cmd/commands.go
  contrib/opbot/config/config.go
  contrib/opbot/go.mod
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/model.go
Labels: go, size/s

#3083 [git-changes-action] add all modules output
  contrib/git-changes-action/main.go
Labels: go, size/xs

#3062 feat(rfq-relayer): wait for finality before proving
  services/rfq/guard/guardconfig/config.go
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/s

#3082 fix(opbot): fix refund forever
  contrib/opbot/botmd/commands.go
Labels: go, size/s
