Repository synapsecns/sanguine, pull requests merged in 2024-11, with the labels that each got.

#3359 serve swagger [SLT-449]
  packages/rest-api/src/app.ts
Labels: size/xs, Sol, Typescript

#3354 fixing swagger docs
  packages/rest-api/swagger.json
Labels: size/xs

#3362 chore(rest-api): rename swagger.json to openapi.json [SLT-449]
  docs/bridge/docs/02-Bridge/02-REST-API.md
  packages/rest-api/src/app.ts
Labels: size/xs, Sol, Typescript, M-docs

#3360 add go client stub [SLT-449]
  .codecov.yml
  CONTRIBUTING.md
  README.md
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/promexporter/internal/gql/explorer/models.gen.go
  contrib/restclient/.goreleaser.yml
  contrib/restclient/Makefile
  contrib/restclient/README.md
  contrib/restclient/client.gen.go
  contrib/restclient/client_test.go
  contrib/restclient/doc.go
  contrib/restclient/generate.go
  contrib/restclient/go.mod
  contrib/restclient/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/ginhelper/server.go
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, size/l, needs-go-generate-services/rfq, M-deps

#3365 platform bump [SLT-452]
  CONTRIBUTING.md
  tools/abigen/README.md
  tools/abigen/internal/generate.go
Labels: go, size/xs

#3356 feat(contracts-rfq): save destination chain ID for requested bridges [SLT-423]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: size/s, needs-go-generate-services/rfq

#3357 refactor(contracts-rfq): fix compiler warnings in tests
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/integration/FastBridge.MulticallTarget.t.sol
Labels: size/xs, needs-go-generate-services/rfq

#3370 test(explorer): fix the amount in withdraw parity test
  services/explorer/backfill/chain_test.go
Labels: go, size/xs

#3364 proposed mods for feat/guard-v2 [SLT-422]
  services/rfq/guard/guardconfig/config.go
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/handlers.go
Labels: go, size/s, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, needs-go-generate-contrib/opbot

#3374 update moonbeam / moonriver assets
  packages/synapse-interface/assets/chains/moonbeam.svg
  packages/synapse-interface/assets/chains/moonriver.svg
Labels: M-synapse-interface, size/xs

#3260 [SLT-315] refactor(opbot): use gql api
  contrib/opbot/botmd/botmd.go
  contrib/opbot/botmd/commands.go
  contrib/opbot/botmd/commands_test.go
  contrib/opbot/botmd/export_test.go
  contrib/opbot/config/config.go
  contrib/opbot/internal/client.go
  contrib/opbot/internal/model.go
  ethergo/chaindata/chaindata.go
Labels: go, size/m, needs-go-generate-services/rfq

#3376 update moonbeam assets for constants / sdk
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/chains/moonbeam.svg
  packages/synapse-interface/assets/chains/moonriver.svg
  packages/synapse-interface/assets/icons/movr.svg
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: M-synapse-interface, size/s, Sol, Typescript

#3379 test(sdk-router): error console cleanup
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs, Sol, Typescript

#3378 Fix API decimals handling
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/tests/swapTxInfoRoute.test.ts
  packages/rest-api/src/validations/validateDecimals.ts
Labels: size/s, Sol, Typescript

#3312 feat(opbot): add additional relay check [SLT-359]
  contrib/opbot/botmd/commands.go
  core/bytes.go
Labels: go, size/s, needs-go-generate-services/rfq

#3381 refactor(contracts-rfq): relax pragmas
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/contracts/interfaces/IMulticallTarget.sol
  packages/contracts-rfq/contracts/interfaces/IZapRecipient.sol
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
  packages/contracts-rfq/contracts/libs/Errors.sol
  packages/contracts-rfq/contracts/utils/MulticallTarget.sol
  packages/contracts-rfq/test/MulticallTarget.t.sol
  packages/contracts-rfq/test/harnesses/MulticallTargetHarness.sol
  packages/contracts-rfq/test/mocks/ExcessiveReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/IncorrectReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NoOpContract.sol
  packages/contracts-rfq/test/mocks/NoReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NonPayableRecipient.sol
  packages/contracts-rfq/test/mocks/RecipientMock.sol
Labels: size/xs

#3383 Allow GET requests re CORS
  packages/rest-api/src/app.ts
Labels: size/xs, Sol, Typescript

#3384 chore(synapse-interface): Removes banner
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface, size/xs

#3372 activeQuote depositAmount [SLT-464]
  services/rfq/api/db/api_db.go
  services/rfq/api/docs/docs.go
  services/rfq/api/model/request.go
  services/rfq/api/model/response.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/rfq_test.go
  services/rfq/api/rest/server_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/m, needs-go-generate-services/rfq

#3390 docs: fix direct link
  docs/bridge/docusaurus.config.ts
Labels: size/xs, Sol, Typescript, M-docs

#3394 feat(rfq-relayer): regenerate with updated fastbridgev2 and zap terminology [SLT-442]
  services/rfq/contracts/fastbridgev2/fastbridgev2.abigen.go
  services/rfq/contracts/fastbridgev2/fastbridgev2.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemockv2/fastbridgemockv2.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemockv2/fastbridgemockv2.contractinfo.json
  services/rfq/contracts/testcontracts/recipientmock/recipientmock.abigen.go
  services/rfq/contracts/testcontracts/recipientmock/recipientmock.contractinfo.json
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/relapi/server_test.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/model_test.go
Labels: go, size/l, needs-go-generate-services/rfq

#3388 feat(rfq-api): don't respond to passive quotes for requests with zap params [SLT-430, SLT-432]
  services/rfq/api/model/request.go
  services/rfq/api/rest/rfq_test.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/ws.go
Labels: go, size/s, needs-go-generate-services/rfq

#3395 feat(rfq-relayer): apply zap fee to dest amount for active quotes [SLT-465]
  services/rfq/api/model/request.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/s

#3396 docs: websocket documentation for active quoting
  docs/bridge/docs/04-Routers/RFQ/API/index.md
Labels: size/xs, M-docs

#3371 [DNM] Bridge endpoint consolidation [SLT-453]
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/swapController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/swagger.json
Labels: size/s, Sol, Typescript

#3353 [DO NOT MERGE] Explorer Updates
  packages/explorer-ui/graphql/queries/index.ts
  packages/rfq-indexer/api/src/types/index.ts
  services/explorer/backfill/chain_test.go
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/contracts/fastbridge/request.go
  services/explorer/contracts/fastbridge/topics.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/types/fastbridge/eventtype.go
  services/explorer/types/fastbridge/eventtype_string.go
Labels: go, M-explorer-ui, size/m, needs-go-generate-contrib/promexporter, Sol, Typescript

#3382 feat(contracts-rfq): rework permisionless cancellation [SLT-489]
  packages/contracts-rfq/contracts/AdminV2.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2Errors.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Management.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.RefundV1.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
Labels: size/m

#3392 fix(rfq-api): enforce max quote age for passive quotes [SLT-463]
  services/rfq/api/config/config.go
  services/rfq/api/rest/export_test.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/server_test.go
Labels: go, size/s, needs-go-generate-services/rfq

#3401 Fixing REST API docs to include route changes
  docs/bridge/docs/02-Bridge/02-REST-API.md
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/swagger.json
Labels: size/xs, Sol, Typescript, M-docs

#3400 Updating the bridge map
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/icons/wld.svg
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/index.tsx
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: M-synapse-interface, size/m, needs-go-generate-contrib/promexporter, Sol, Typescript

#3375 feat(opbot): add tx hash after refund [SLT-460]
  contrib/opbot/botmd/commands.go
Labels: go, size/xs

#3391 fix(rfq-relayer): respond with failure if quote amount is zero [SLT-459]
  services/rfq/api/rest/rfq_test.go
  services/rfq/api/rest/server.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3387 feat(rfq-api): add v2 contracts to rfq api endpoint [SLT-429]
  contrib/opbot/botmd/commands.go
  services/rfq/api/client/suite_test.go
  services/rfq/api/config/config.go
  services/rfq/api/model/response.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/e2e/setup_test.go
Labels: go, size/s, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3352 feat(contracts-rfq): Token Zap [SLT-389]
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.TokenZapV1.Dst.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.TokenZapV1.Src.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/mocks/VaultManyArguments.sol
  packages/contracts-rfq/test/mocks/VaultMock.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Labels: size/l, needs-go-generate-services/rfq

#3399 feat(rfq-api): check both relayer role and quoter role
  services/rfq/api/rest/server.go
  services/rfq/contracts/fastbridgev2/fastbridgev2.abigen.go
  services/rfq/contracts/fastbridgev2/fastbridgev2.contractinfo.json
  services/rfq/e2e/setup_test.go
Labels: go, size/l, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3406 test(contracts-rfq): gas bench for `TokenZapV1`
  packages/contracts-rfq/test/mocks/SimpleVaultMock.sol
  packages/contracts-rfq/test/mocks/VaultManyArguments.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
Labels: size/s, needs-go-generate-services/rfq

#3407 build(contracts-rfq): increase optimizer runs to 1M [SLT-294]
  packages/contracts-rfq/foundry.toml
Labels: size/xs

#3409 refactor(contracts-rfq): reorganise imports
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/AdminV2.sol
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/libs/UniversalToken.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.RefundV1.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/MulticallTarget.t.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
  packages/contracts-rfq/test/integration/FastBridge.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.TokenZapV1.Dst.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.TokenZapV1.Src.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/mocks/VaultMock.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Labels: size/s, needs-go-generate-services/rfq

#3410 refactor(contracts-rfq): mark new methods as `V2`
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.TokenZapV1.Src.t.sol
Labels: size/s, needs-go-generate-services/rfq

#3418 fix(contracts-rfq): `TokenZapV1` native gas token behaviour [SLT-389]
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/test/mocks/WETHMock.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Labels: size/m, needs-go-generate-services/rfq

#3402 Feat/fb v2 docs [SLT-476]
  cspell.json
  docs/bridge/docs/01-About/index.md
  docs/bridge/docs/02-Bridge/01-SDK.md
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/get-contract-addresses.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/get-open-quote-requests.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/get-quotes.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/index.md
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/initiate-an-active-rfq.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/listen-for-active-rf-qs.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/relay-ack.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/sidebar.ts
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/upsert-quote.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/upsert-quotes.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/quoteId.md
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/riskFactors.md
  docs/bridge/docs/03-RFQ/30-Proving/index.md
  docs/bridge/docs/03-RFQ/40-Claiming/index.md
  docs/bridge/docs/03-RFQ/50-Canceling/index.md
  docs/bridge/docs/03-RFQ/60-Security/index.md
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/dashboard.png
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/index.md
  docs/bridge/docs/03-RFQ/75-Exclusivity/index.md
  docs/bridge/docs/03-RFQ/90-Misc/index.md
  docs/bridge/docs/03-RFQ/index.md
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/04-Routers/RFQ/index.md
  docs/bridge/docs/05-Contracts/06-RFQ.md
  docs/bridge/docusaurus.config.ts
  packages/rest-api/swagger.json
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/rest/server.go
Labels: go, size/l, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, Sol, Typescript, M-docs

#3419 add jekyl config
  _config.yml
Labels: size/xs

#3411 Reducing dependency bloat
  packages/sdk-router/package.json
  packages/synapse-constants/package.json
Labels: size/xs

#3421 Revert "Reducing dependency bloat"
  packages/sdk-router/package.json
  packages/synapse-constants/package.json
Labels: size/xs
