Repository synapsecns/sanguine, pull requests merged in 2024-09, with the labels that each got.

#3086 fix(opbot): small logic error fix
  contrib/opbot/botmd/commands.go
  contrib/opbot/config/config.go
Labels: go, size/xs

#3087 feat(opbot): print explorer refund tx link
  contrib/opbot/botmd/commands.go
Labels: go, size/xs

#3085 chore(synapse-interface): tailwind intellisense setting
  .vscode/settings.json
  packages/synapse-interface/components/ConnectionIndicators.tsx
  packages/synapse-interface/components/StateManagedBridge/AvailableBalance.tsx
  packages/synapse-interface/components/StateManagedBridge/MaxButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/components/ui/BridgeAmountContainer.tsx
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/components/ui/BridgeSectionContainer.tsx
  packages/synapse-interface/components/ui/NewTag.tsx
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/SlideSearchBox.tsx
Labels: M-synapse-interface, size/s, M-vscode-settings

#3075 fix(rfq-relayer): e2e test flakes
  agents/testutil/simulated_backends_suite.go
  ethergo/backends/anvil/anvil.go
  ethergo/backends/anvil/suite_test.go
  ethergo/submitter/suite_test.go
  packages/rest-api/package.json
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/relapi/server_test.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#3090 feat(sdk): Reduces FastBridge deadline to two hours
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Labels: size/xs, Sol, Typescript

#3003 refactor(rfq-relayer): rebalancing with multiple tokens
  .golangci.yml
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/export_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/inventory/rebalance_test.go
  services/rfq/relayer/inventory/scroll.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/l

#3100 fix(synapse-interface): Fixes logo
  packages/synapse-interface/assets/explorer/etherscan.svg
Labels: M-synapse-interface, size/xs

#3098 Feat/eip191recov
  services/rfq/api/rest/auth.go
  services/rfq/api/rest/server_test.go
Labels: go, size/s

#3093 ignore rookout on go 1.23
  core/metrics/rookout.go
Labels: go, size/xs

#3102 Updating es.json
  packages/synapse-interface/messages/es.json
Labels: M-synapse-interface, size/xs

#3103 docs(rfq-relayer): update rebalancing documentation
  docs/bridge/docs/rfq/Relayer/Relayer.md
Labels: size/xs, M-docs

#3104 fe/updating-quote
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3109 fix(synapse-interface): Prevents extra vertical scroll when disconnected
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/xs

#3101 feat(synapse-interface): numerical input format
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m, needs-yarn-install, M-deps

#3110 Update french translation
  packages/synapse-interface/messages/fr.json
Labels: M-synapse-interface, size/xs

#3105 [WIP] stale quote animation
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useStaleQuoteUpdater.ts
Labels: M-synapse-interface, size/s, Sol, Typescript

#3108 [SLT-131] +X-API-Version http header, +versions.json
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/versions.go
Labels: go, size/s, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, needs-go-generate-contrib/opbot

#3112 Updating Arabic translation
  packages/synapse-interface/messages/ar.json
Labels: M-synapse-interface, size/xs, needs-yarn-install

#3077 [SLT-143] chore(ci): bump golangci-lint
  .github/workflows/go.yml
  ethergo/backends/anvil/anvil.go
  ethergo/examples/usdclistener/main.go
  services/rfq/api/rest/auth.go
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/service/handlers.go
Labels: M-ci, go, size/s

#3111 update grafana docs links
  docs/bridge/docs/Observability.md
Labels: size/xs, M-docs

#3115 fix(synapse-interface): Fixes tooltip
  packages/synapse-interface/components/ApyTooltipData.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
Labels: M-synapse-interface, size/s

#3114 feat(promexporter): add some tracing
  contrib/promexporter/exporters/exporter.go
Labels: go, size/xs

#3113 [SLT-151] fix(omnirpc): change expected version
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
Labels: go, size/xs

#3097 fixing explorer UI bug
  packages/synapse-constants/constants/tokens/bridgeable.ts
Labels: size/xs, Sol, Typescript

#2933 [SLT-149] feat(rfq): relay rate limiting
  docs/bridge/docs/rfq/Relayer/Relayer.md
  ethergo/listener/listener.go
  ethergo/listener/mocks/contract_listener.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server_test.go
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/guard/service/guard.go
  services/rfq/relayer/limiter/limiter.go
  services/rfq/relayer/limiter/limiter_test.go
  services/rfq/relayer/limiter/suite_test.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/mocks/quoter.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/export_test.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/util/util.go
Labels: go, size/m, M-docs

#3118 feat(synapse-interface): Adds simplified Chinese translation support
  packages/synapse-interface/components/LanguageSelector.tsx
  packages/synapse-interface/next.config.js
Labels: javascript, M-synapse-interface, size/xs

#3078 feat(contracts-rfq): Multicall target abstraction [SLT-134]
  packages/contracts-rfq/contracts/interfaces/IMulticallTarget.sol
  packages/contracts-rfq/contracts/utils/MulticallTarget.sol
  packages/contracts-rfq/test/MulticallTarget.t.sol
  packages/contracts-rfq/test/harnesses/MulticallTargetHarness.sol
Labels: size/m

#3120 [SLT-153] API version docs updt
  docs/bridge/docs/rfq/API/API.md
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
Labels: go, size/s, M-docs

#3121 remove mnd linter
  .golangci.yml
Labels: size/xs

#3099 [SLT-141] feat(metrics): multiple exports
  core/go.mod
  core/metrics/README.md
  core/metrics/export_test.go
  core/metrics/multiexporter.go
  core/metrics/multiexporter_test.go
  core/metrics/otlp.go
  core/metrics/otlp_test.go
  core/metrics/rookout.go
Labels: go, size/m

#3122 API method updates
  packages/rest-api/src/app.ts
Labels: size/s, Sol, Typescript

#3126 [SLT-157] feat(rest-api): Refactor for RESTful architectural standardization
  packages/rest-api/.babelrc
  packages/rest-api/.eslintrc.js
  packages/rest-api/jest.config.js
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/constants/index.ts
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/controllers/getBridgeTxStatusController.ts
  packages/rest-api/src/controllers/getDestinationTxController.ts
  packages/rest-api/src/controllers/getSynapseTxIdController.ts
  packages/rest-api/src/controllers/indexController.ts
  packages/rest-api/src/controllers/swapController.ts
  packages/rest-api/src/controllers/swapTxInfoController.ts
  packages/rest-api/src/controllers/tokenListController.ts
  packages/rest-api/src/middleware/showFirstValidationError.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/getBridgeTxStatusRoute.ts
  packages/rest-api/src/routes/getDestinationTxRoute.ts
  packages/rest-api/src/routes/getSynapseTxIdRoute.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
  packages/rest-api/src/services/synapseService.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/tests/getBridgeTxStatusRoute.test.ts
  packages/rest-api/src/tests/getDestinationTxRoute.test.ts
  packages/rest-api/src/tests/getSynapseTxIdRoute.test.ts
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/tests/swapTxInfoRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
  packages/rest-api/src/utils/findTokenInfo.ts
  packages/rest-api/src/utils/formatBNToString.ts
  packages/rest-api/src/utils/getTokenDecimals.ts
  packages/rest-api/src/validations/validateTokens.ts
  packages/rest-api/tsconfig.json
  yarn.lock
Labels: javascript, size/l, needs-yarn-install, Sol, Typescript, M-deps

#3132 feat(opbot): experimental logger
  contrib/opbot/botmd/botmd.go
  contrib/opbot/botmd/commands.go
  contrib/opbot/go.mod
Labels: go, size/xs, needs-go-generate-contrib/opbot

#3092 [SLT-152] feat(opbot): descending traces timestamp support
  contrib/opbot/botmd/commands.go
Labels: go, size/xs

#3139 fixing restapi gh actions flake
  packages/rest-api/package.json
  yarn.lock
Labels: size/m, M-deps

#3133 REST API Improvements [SLT-179]
  packages/rest-api/jest.config.js
  packages/rest-api/package.json
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/controllers/swapController.ts
  packages/rest-api/src/controllers/swapTxInfoController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/tests/swapTxInfoRoute.test.ts
  packages/rest-api/src/utils/isTokenAddress.ts
  packages/rest-api/src/utils/isTokenSupportedOnChain.ts
  packages/rest-api/src/utils/tokenAddressToToken.ts
  packages/rest-api/src/utils/tokenSymbolToToken.ts
  packages/rest-api/src/validations/validateTokens.ts
Labels: javascript, size/m, Sol, Typescript

#3136 merging rfq indexer into monorepo [SLT-164] [SLT-176]
  lerna.json
  package.json
  packages/rfq-indexer/README.md
  packages/rfq-indexer/api/..prettierrc.js
  packages/rfq-indexer/api/.eslintrc.js
  packages/rfq-indexer/api/.gitignore
  packages/rfq-indexer/api/README.md
  packages/rfq-indexer/api/nixpacks.toml
  packages/rfq-indexer/api/package.json
  packages/rfq-indexer/api/src/constants/abis/FastBridgeV2.ts
  packages/rfq-indexer/api/src/constants/networkConfig.ts
  packages/rfq-indexer/api/src/db/index.ts
  packages/rfq-indexer/api/src/graphql/queries/queries.graphql
  packages/rfq-indexer/api/src/graphql/resolvers.ts
  packages/rfq-indexer/api/src/graphql/schema.ts
  packages/rfq-indexer/api/src/graphql/types/events.graphql
  packages/rfq-indexer/api/src/index.ts
  packages/rfq-indexer/api/src/tsconfig.json
  packages/rfq-indexer/api/src/types/index.ts
  packages/rfq-indexer/api/src/utils/overrideJsonBigIntSerialization.ts
  packages/rfq-indexer/indexer/.env.example
  packages/rfq-indexer/indexer/.eslintrc.json
  packages/rfq-indexer/indexer/.gitignore
  packages/rfq-indexer/indexer/.nvmrc
  packages/rfq-indexer/indexer/.prettier.json
  packages/rfq-indexer/indexer/README.md
  packages/rfq-indexer/indexer/abis/FastBridgeV2.ts
  packages/rfq-indexer/indexer/package.json
  packages/rfq-indexer/indexer/ponder-env.d.ts
  packages/rfq-indexer/indexer/ponder.config.ts
  packages/rfq-indexer/indexer/ponder.schema.ts
  packages/rfq-indexer/indexer/src/index.ts
  packages/rfq-indexer/indexer/src/types.ts
  packages/rfq-indexer/indexer/src/utils/chains.ts
  packages/rfq-indexer/indexer/src/utils/formatAmount.ts
  packages/rfq-indexer/indexer/src/utils/generateEntryId.ts
  packages/rfq-indexer/indexer/src/utils/tokens.ts
  packages/rfq-indexer/indexer/tsconfig.json
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/l, Sol, Typescript, M-deps

#3150 boba pause
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#3156 fix(synapse-interface): Reorders validation to check existence first
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/getBridgeTxStatusRoute.ts
  packages/rest-api/src/routes/getDestinationTxRoute.ts
  packages/rest-api/src/routes/getSynapseTxIdRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/utils/bridgeRouteMapping.ts
Labels: size/s, Sol, Typescript

#3158 fix(synapse-interface): Fix boba pause
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#3159 feat(rest-api): Adds Swagger for api docs [SLT-205]
  packages/rest-api/.eslintrc.js
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/controllers/bridgeTxStatusController.ts
  packages/rest-api/src/controllers/destinationTxController.ts
  packages/rest-api/src/controllers/synapseTxIdController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/destinationTxRoute.ts
  packages/rest-api/src/routes/getBridgeTxStatusRoute.ts
  packages/rest-api/src/routes/getDestinationTxRoute.ts
  packages/rest-api/src/routes/getSynapseTxIdRoute.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/synapseTxIdRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
  packages/rest-api/src/swagger.ts
  packages/rest-api/src/tests/bridgeTxStatusRoute.test.ts
  packages/rest-api/src/tests/destinationTxRoute.test.ts
  packages/rest-api/src/tests/synapseTxIdRoute.test.ts
  yarn.lock
Labels: size/l, needs-yarn-install, Sol, Typescript, M-deps

#3160 Pulls version from package json
  packages/rest-api/src/swagger.ts
Labels: size/xs, needs-yarn-install, Sol, Typescript

#3161 Require vs import due to file location
  packages/rest-api/src/swagger.ts
Labels: size/xs, needs-yarn-install, Sol, Typescript

#3162 feat(rest-api): Prevent caching of api docs
  packages/rest-api/src/app.ts
Labels: size/xs, needs-yarn-install, Sol, Typescript

#3138 feat(contracts-rfq): relay/prove/claim with different address [SLT-130]
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IMulticallTarget.sol
  packages/contracts-rfq/contracts/libs/Errors.sol
  packages/contracts-rfq/contracts/libs/UniversalToken.sol
  packages/contracts-rfq/contracts/utils/MulticallTarget.sol
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Management.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Parity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ProtocolFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/l, needs-yarn-install

#3164 fix(promexporter): make spans better
  contrib/promexporter/exporters/exporter.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter

#3157 changing native token address standard [SLT-210]
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/middleware/normalizeNativeTokenAddress.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/tests/destinationTokensRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/tests/swapTxInfoRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
  packages/rest-api/src/utils/tokenAddressToToken.ts
Labels: size/s, needs-yarn-install, Sol, Typescript

#3167 Refactoring rfq-indexer API and adding swagger docs [SLT-228]
  packages/rfq-indexer/api/package.json
  packages/rfq-indexer/api/src/.babelrc
  packages/rfq-indexer/api/src/app.ts
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/invalidRelaysController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/refundedAndRelayedController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/index.ts
  packages/rfq-indexer/api/src/jest.config.js
  packages/rfq-indexer/api/src/middleware/showFirstValidationError.ts
  packages/rfq-indexer/api/src/queries/claimsQueries.ts
  packages/rfq-indexer/api/src/queries/depositsQueries.ts
  packages/rfq-indexer/api/src/queries/index.ts
  packages/rfq-indexer/api/src/queries/proofsQueries.ts
  packages/rfq-indexer/api/src/queries/refundsQueries.ts
  packages/rfq-indexer/api/src/queries/relaysQueries.ts
  packages/rfq-indexer/api/src/routes/conflictingProofsRoute.ts
  packages/rfq-indexer/api/src/routes/index.ts
  packages/rfq-indexer/api/src/routes/invalidRelaysRoute.ts
  packages/rfq-indexer/api/src/routes/pendingTransactionsRoute.ts
  packages/rfq-indexer/api/src/routes/refundedAndRelayedRoute.ts
  packages/rfq-indexer/api/src/routes/transactionIdRoute.ts
  packages/rfq-indexer/api/src/swagger.ts
  packages/rfq-indexer/api/src/utils/isTransaction.ts
  packages/rfq-indexer/api/src/utils/nestResults.ts
  yarn.lock
Labels: javascript, size/l, needs-yarn-install, Sol, Typescript, M-deps

#3168 Fix READ.me
  README.md
  packages/rfq-indexer/README.md
Labels: size/xs, needs-yarn-install

#3145 chore: solidity vscode settings
  .vscode/settings.json
  packages/contracts-core/.vscode/settings.json
  packages/contracts-rfq/.vscode/settings.json
  packages/solidity-devops/.vscode/settings.json
Labels: size/xs, M-vscode-settings

#3134 fix(opbot): use submitter get tx status [SLT-158]
  contrib/opbot/botmd/commands.go
Labels: go, size/xs

#3152 fix(synapse-interface): Additional checks on screen [SLT-166]
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/utils/screenAddress.ts
  yarn.lock
Labels: M-synapse-interface, size/m, Sol, Typescript, M-deps

#3165 fix(api): formatted bridge fee amount [SLT-227]
  packages/rest-api/src/controllers/bridgeController.ts
Labels: size/xs, needs-yarn-install, Sol, Typescript

#3177 Fixes build issue
  docs/bridge/docs/Routers/RFQ/index.md
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  yarn.lock
Labels: size/m, Sol, Typescript, M-deps, M-docs

#3166 generate-limits-script
  packages/rest-api/package.json
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/scripts/data/bridgeLimitMap.json
  packages/synapse-interface/scripts/generateLimits.js
  packages/synapse-interface/scripts/utils/fetchBridgeQuote.js
Labels: javascript, go, M-synapse-interface, size/l, Sol, Typescript

#3178 fix(contracts-rfq): CI workflows [SLT-245]
  packages/contracts-core/package.json
  packages/contracts-rfq/.solhint.json
  packages/contracts-rfq/.solhintignore
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/package.json
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/MockERC20.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
  packages/contracts-rfq/test/UniversalTokenLibHarness.sol
  packages/solidity-devops/package.json
  yarn.lock
Labels: M-contracts, 2-reviewers, size/m, needs-go-generate-services/rfq, M-deps

#3179 feat(api): bridge limits [SLT-165]
  packages/rest-api/package.json
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/tests/bridgeLimitsRoute.test.ts
Labels: javascript, size/m, Sol, Typescript

#3182 fix(contracts-rfq): limit the amount of solhint warnings [SLT-245]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/package.json
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Parity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/s, needs-go-generate-services/rfq

#3181 ci: Solidity gas diff [SLT-259]
  .github/workflows/solidity.yml
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Labels: M-ci, size/s

#3186 fix(contracts-core): set very high gas limit for intensive tests [SLT-259]
  .github/workflows/solidity.yml
  packages/contracts-core/foundry.toml
Labels: M-contracts, 2-reviewers, size/xs

#3180 feat(rest-api): Adds validateRouteExists validation [SLT-260]
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeLimitsRoute.test.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/utils/bridgeRouteMapping.ts
  packages/rest-api/src/validations/validateRouteExists.ts
  packages/rest-api/src/validations/validateTokens.ts
Labels: size/s, Sol, Typescript

#3174 add duplicate command warning
  core/commandline/shell.go
Labels: go, size/xs, needs-go-generate-services/rfq

#3189 reduce solhint warnings on FbV2
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Labels: size/xs

#3193 ci: solidity gas diff options [SLT-267]
  .github/workflows/solidity.yml
Labels: M-ci, size/xs

#3169 prove w/ tx id [SLT-181]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: size/s

#3195 fix(sdk-router): disable ARB airdrop tests [SLT-261]
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs, Sol, Typescript

#3194 Fixing issue for wallet integration [SLT-270]
  packages/explorer-ui/pages/tx/[kappa].tsx
  packages/rest-api/src/controllers/destinationTxController.ts
  yarn.lock
Labels: M-explorer-ui, size/m, needs-yarn-install, Sol, Typescript, M-deps

#3170 store relayer on relay [SLT-182]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
Labels: needs-go-generate-agents, size/xs, needs-yarn-install

#3199 Trigger build
  packages/synapse-interface/README.md
Labels: M-synapse-interface, size/xs, needs-yarn-install

#3197 feat(synapse-interface): refund RFQ transaction [SLT-272]
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/_Transaction/helpers/calculateEstimatedTimeStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
  packages/synapse-interface/components/_Transaction/helpers/useTxRefundStatus.ts
  packages/synapse-interface/constants/abis/fastBridge.json
  packages/synapse-interface/constants/abis/fastBridgeRouter.json
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Labels: M-synapse-interface, size/l, Sol, Typescript

#3171 no empty sender recip [SLT-184]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: needs-go-generate-agents, size/xs, needs-yarn-install, needs-go-generate-services/rfq

#3172 rearrange refund validation checks [SLT-185]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: needs-go-generate-agents, size/xs, needs-yarn-install, needs-go-generate-services/rfq

#3196 fix(synapse-interface): Generalizes airdrop decimal display based on SDK gasAirdropAmount [SLT-269]
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/utils/getSignificantDecimals.ts
  packages/synapse-interface/utils/hooks/useCoingeckoPrice.ts
  yarn.lock
Labels: M-synapse-interface, size/m, Sol, Typescript, M-deps

#3200 FE-Release 2024-09-26 2
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/package.json
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/utils/getSignificantDecimals.ts
  packages/synapse-interface/utils/hooks/useCoingeckoPrice.ts
  yarn.lock
Labels: M-synapse-interface, size/m, Sol, Typescript, M-deps

#3183 REST API ReadME
  packages/rest-api/README.md
Labels: size/s

#3204 fix(contracts-rfq): gas estimation tests [SLT-275]
  .github/workflows/solidity.yml
  packages/contracts-rfq/test/FastBridgeV2.Dst.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.PFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: M-ci, size/m

#3173 status/proof mapping packing [SLT-186]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Parity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/s

#3206 adding originUserAddress for refunds [SLT-281]
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
Labels: size/s, Sol, Typescript

#3198 feat(rfq-relayer): relayer supports active quoting
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/model/response.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/rfq_test.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/suite_test.go
  services/rfq/api/rest/ws.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s, needs-go-generate-services/rfq

#3208 Add height/width fields for future constants upgrade integration
  packages/explorer-ui/components/misc/AssetImage.tsx
  packages/explorer-ui/components/misc/ChainImage.tsx
  packages/explorer-ui/components/misc/ChainInfo.tsx
Labels: M-explorer-ui, size/xs
