Repository synapsecns/sanguine, pull requests merged in 2024-07, with the labels that each got.

#2815 rfq: mimimal viable withdrawal api
  contrib/opbot/config/config.go
  ethergo/submitter/submitter.go
  go.work.sum
  services/rfq/relayer/cmd/cmd.go
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relapi/client.go
  services/rfq/relayer/relapi/export_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/handler_test.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/relapi/server_test.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
Labels: go, size/m, M-deps

#2831 fix(synapse-interface): max gas estimates
  packages/synapse-interface/utils/calculateGasCost.ts
  packages/synapse-interface/utils/hooks/useGasEstimator.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#2836 configure bundle analyzer
  .github/workflows/codeql.yaml
  .github/workflows/go.yml
  .github/workflows/lerna.yaml
  .github/workflows/packages.yml
  .github/workflows/solidity.yml
  .github/workflows/ui-preview.yaml
  CONTRIBUTING.md
  docs/bridge/docs/rfq/API/relay-ack.api.mdx
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  packages/contracts-rfq/package.json
  packages/explorer-ui/next.config.js
  packages/explorer-ui/package.json
  packages/sdk-router/package.json
  packages/sdk-router/tsdx.config.js
  packages/solidity-devops/package.json
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
  packages/synapse-interface/next.config.js
  packages/synapse-interface/package.json
  packages/widget/package.json
  packages/widget/rollup.config.js
  yarn.lock
Labels: M-ci, javascript, M-explorer-ui, M-synapse-interface, size/m, Sol, Typescript, M-deps, M-docs

#2846 RFQ API: add bulk quotes endpoint
  docs/bridge/docs/rfq/API/upsert-quotes.api.mdx
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/client/suite_test.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/model/request.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
Labels: go, size/m, M-docs

#2847 RFQ Quoter: generate quotes in parallel
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/xs

#2840 Add RFQ Guard
  docs/bridge/docs/rfq/Relayer/Relayer.md
  ethergo/backends/anvil/anvil.go
  ethergo/submitter/submitter.go
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/eventtype_string.go
  services/rfq/contracts/fastbridge/parser.go
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/guard/cmd/cmd.go
  services/rfq/guard/cmd/commands.go
  services/rfq/guard/guardconfig/config.go
  services/rfq/guard/guarddb/base/bridge.go
  services/rfq/guard/guarddb/base/doc.go
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/base/proven.go
  services/rfq/guard/guarddb/base/store.go
  services/rfq/guard/guarddb/connect/sql.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/guarddb/doc.go
  services/rfq/guard/guarddb/mysql/mysql.go
  services/rfq/guard/guarddb/pendingprovenstatus_string.go
  services/rfq/guard/guarddb/sqlite/sqlite.go
  services/rfq/guard/service/doc.go
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/doc.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/l, M-docs

#2848 bump dependencies
  .github/actions/add-label/action.yml
  .github/actions/remove-label/action.yml
  .github/workflows/close-stale.yml
  .github/workflows/codeql.yaml
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/helm-test.yml
  .github/workflows/labeler.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/opbot/botmd/commands.go
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/base.go
  core/metrics/instrumentation/otelginmetrics/config.go
  core/metrics/instrumentation/otelginmetrics/example/main.go
  core/metrics/instrumentation/otelginmetrics/middleware.go
  docker/goreleaser/Dockerfile
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/http/fasthttp.go
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/forwarder.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: M-ci, go, M-docker, size/l, M-deps

#2851 fix opbot issue in public chan (#2850)
  contrib/opbot/botmd/middleware.go
Labels: go, size/xs

#2852 RFQ Relayer: cap db semaphore
  services/rfq/relayer/service/relayer.go
Labels: go, size/xs

#2853 fix cctp submitter race
  services/cctp-relayer/relayer/relayer.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/xs

#2854 [rfq] metrics, hotfixes
  ethergo/listener/listener.go
  ethergo/listener/otel.go
  ethergo/listener/otel_generated.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#2856 RFQ Relayer: add request status count metric
  docs/bridge/docs/rfq/Relayer/Relayer.md
  services/rfq/go.mod
  services/rfq/relayer/dashboards/dashboard.json
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/otel.go
  services/rfq/relayer/service/otel_generated.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/m, M-docs

#2845 feat(withdrawal): print txhash of withdrawal
  .vscode/settings.json
  contrib/opbot/go.sum
  core/metrics/base.go
  core/metrics/metrics.go
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/util_test.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relapi/client.go
  services/rfq/relayer/relapi/client_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/relapi/server_test.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config_test.go
Labels: go, size/m, M-deps, M-vscode-settings

#2861 record status as string
  services/rfq/relayer/service/otel.go
  services/rfq/relayer/service/otel_generated.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2860 feat(widget): add unsupported network
  packages/widget/src/constants/chains.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/actions/switchNetwork.ts
Labels: size/s, Sol, Typescript

#2859 auto update gh pages
  .github/workflows/helm-release.yml
  .yamllint.yml
  index.yaml
Labels: M-ci, size/l

#2868 bump rfq img
  docs/bridge/docs/rfq/Relayer/dashboard.png
Labels: size/xs, M-docs

#2869 change to latest block number for default value in listener
  ethergo/listener/options.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2870 feat(synapse-interface): Dest address screener middleware
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/store/destinationAddressMiddleware.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface, size/s, Sol, Typescript

#2830 feat(sdk): Adds BSC to RFQ
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs, Sol, Typescript

#2874 FE LiFi: Revoke approvals
  packages/synapse-interface/pages/lifi/index.tsx
Labels: M-synapse-interface, size/s

#2875 deploy
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/sdk.test.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/lifi/index.tsx
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: M-synapse-interface, size/s, Sol, Typescript

#2873 Deploy RFQ FastBridge on BNB chain
  packages/contracts-rfq/deployments/bnb/.chainId
  packages/contracts-rfq/deployments/bnb/FastBridge.json
  packages/contracts-rfq/foundry.toml
Labels: size/xs

#2876 Fe/lifi approvals 2
  packages/synapse-interface/pages/lifi/index.tsx
Labels: M-synapse-interface, size/s

#2878 RFQ Guard: fixes
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2880 updating etherscan link in explorer-ui
  packages/synapse-constants/constants/chains/master.ts
Labels: size/xs, Sol, Typescript

#2828 Adds bridgeQuote to Segment
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/store/store.ts
Labels: Stale, M-synapse-interface, size/xs, Sol, Typescript

#2881 FE release [2024-07-17]
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/store/store.ts
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/service/handlers.go
Labels: go, M-explorer-ui, M-synapse-interface, size/xs, Sol, Typescript

#2832 chore(synapse-interface): format portfolio balances
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenVisualizer.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/AvailableBalance.tsx
Labels: M-synapse-interface, size/xs

#2882 flush traces on shutdown
  core/metrics/base.go
  core/metrics/otlp.go
Labels: go, size/s, needs-go-generate-services/rfq

#2883 fix(solidity-devops): correctly save new deployments when script entry function is not `run()`
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/deployments.js
Labels: javascript, size/xs

#2885 fix(synapse-interface): Fixes explorer link
  packages/synapse-interface/README.md
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#2887 FE Release 2024-07-17 #2
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/README.md
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs

#2891 Fix/namespace
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  core/README.md
  docker/goreleaser/Dockerfile
  services/rfq/guard/service/handlers.go
Labels: M-ci, go, M-docker, size/xs

#2892 revert namespace integration
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  core/README.md
  docker/goreleaser/Dockerfile
  services/rfq/guard/service/handlers.go
Labels: M-ci, go, M-docker, size/xs

#2893 use nsc for coverage
  .github/workflows/go.yml
  core/README.md
  core/processlog/options.go
  docker/goreleaser/Dockerfile
  ethergo/backends/anvil/options.go
Labels: M-ci, go, M-docker, size/xs, needs-go-generate-services/rfq

#2897 Fix/generate
  .github/workflows/goreleaser-actions.yml
  services/rfq/relayer/service/otel_generated.go
Labels: M-ci, go, size/xs

#2888 update dest tx hash before status/improve obversability
  core/go.mod
  core/metrics/spanutils.go
  core/retry/retry.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2898 [goreleaser] disable cache build
  .github/workflows/goreleaser-actions.yml
  docker/goreleaser/Dockerfile
  ethergo/backends/anvil/anvil.go
  services/rfq/e2e/setup_test.go
Labels: M-ci, go, M-docker, size/xs

#2890 feat(opbot): transaction age textblock
  contrib/opbot/botmd/commands.go
  contrib/opbot/go.mod
Labels: go, size/xs

#2895 chore(ginhelper): bump uuid to v8
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/ginhelper/server.go
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
Labels: go, size/s, needs-go-generate-services/rfq

#2884 Deploy `FastBridge` on testnets
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/configs/global/testnet/FastBridge.json
  packages/contracts-rfq/deployments/arb_sepolia/.chainId
  packages/contracts-rfq/deployments/arb_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/base_sepolia/.chainId
  packages/contracts-rfq/deployments/base_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/bnb_testnet/.chainId
  packages/contracts-rfq/deployments/bnb_testnet/FastBridge.json
  packages/contracts-rfq/deployments/eth_sepolia/.chainId
  packages/contracts-rfq/deployments/eth_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/op_sepolia/.chainId
  packages/contracts-rfq/deployments/op_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/scroll_sepolia/.chainId
  packages/contracts-rfq/deployments/scroll_sepolia/FastBridge.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
  packages/contracts-rfq/script/testnet-fb-config.sh
  packages/contracts-rfq/script/testnet-fb-deploy.sh
Labels: size/l

#2907 Update Screener Copy
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#2906 fix(opbot): fix opbot txage for l2s
  contrib/opbot/botmd/commands.go
  contrib/opbot/botmd/commands_test.go
  contrib/opbot/botmd/export_test.go
Labels: go, size/s

#2908 refactor(synapse-interface): bridge display settings logic
  packages/synapse-interface/components/StateManagedBridge/SettingsToggle.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/s

#2903 feat(sdk-router): add Blast, Linea support
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: size/xs, Sol, Typescript

#2902 fix(withdraw): wait for the withdrawal tx receipt
  services/rfq/relayer/cmd/commands.go
Labels: go, size/xs

#2909 [goreleaser] Adding new rfq deployments to explorer
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/graphql/queries/index.ts
  packages/synapse-constants/constants/assets/chains/index.ts
  packages/synapse-constants/constants/assets/chains/linea.svg
  packages/synapse-constants/constants/assets/explorer/index.ts
  packages/synapse-constants/constants/assets/explorer/linea.svg
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/constants/tokens/deprecated.ts
  packages/synapse-constants/constants/tokens/swapMaster.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/abi/IDefaultPool.json
  packages/synapse-constants/scripts/abi/IERC20Metadata.json
  packages/synapse-constants/scripts/abi/SwapQuoter.json
  packages/synapse-constants/scripts/abi/SynapseCCTP.json
  packages/synapse-constants/scripts/abi/SynapseCCTPRouter.json
  packages/synapse-constants/scripts/abi/SynapseRouter.json
  packages/synapse-constants/scripts/data/ignoredBridgeSymbols.json
  packages/synapse-constants/scripts/data/legacyTokens.json
  packages/synapse-constants/scripts/data/providers.json
  packages/synapse-constants/scripts/data/symbolOverrides.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-constants/scripts/utils/fetchRfqData.js
  packages/synapse-constants/scripts/utils/prettyPrintTs.js
  services/explorer/api/server_test.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
Labels: javascript, go, M-explorer-ui, size/m, needs-go-generate-contrib/promexporter, Sol, Typescript

#2921 refactor: useSynapsePauseData()
  packages/synapse-interface/components/Maintenance/functions/fetchJsonData.test.ts
  packages/synapse-interface/components/Maintenance/hooks/useSynapsePauseData.ts
  packages/synapse-interface/utils/hooks/useMaintenanceListener.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#2927 CCTP Relayer: cleanup
  services/cctp-relayer/cmd/commands.go
  services/cctp-relayer/db/sql/sqlite/sqlite.go
Labels: go, size/xs

#2926 increase default scribe timeout
  .github/workflows/goreleaser-actions.yml
  services/scribe/service/chain.go
Labels: M-ci, go, size/xs, needs-go-generate-contrib/promexporter

#2924 chore(rfq-api): better error
  services/rfq/relayer/reldb/base/quote.go
Labels: go, size/xs

#2913 RFQ Relayer: support pointers for config values
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/s

#2862 feat(metrics): add blocked and unblocked counter metrics to screener
  .github/workflows/goreleaser-actions.yml
  contrib/screener-api/screener/screener.go
Labels: M-ci, go, size/xs

#2879 Listener: tracing
  ethergo/listener/listener.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2894 RFQ Guard: add prometheus metrics for disputes
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/otel.go
  services/rfq/guard/service/otel_generated.go
Labels: go, size/s

#2871 refactor(promexporter): use `otelRecorder` observer pattern
  contrib/promexporter/config.yml
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/dfk.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/exporters/otel.go
  contrib/promexporter/exporters/otel_generated.go
  contrib/promexporter/exporters/submitter.go
  contrib/promexporter/exporters/util.go
  contrib/promexporter/go.mod
  contrib/promexporter/internal/decoders/gettokenbyid.go
Labels: go, size/l

#2837 feat(docs): submitter docs
  docs/bridge/docs/Services/Submitter.md
  ethergo/submitter/chain_queue.go
Labels: go, size/s, needs-go-generate-services/rfq, M-docs

#2929 [rfq] add withdraw tracing
  contrib/promexporter/exporters/util.go
  contrib/promexporter/internal/gql/explorer/models.gen.go
  contrib/screener-api/go.mod
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/server.go
Labels: go, size/xs

#2928 Updates Linea svg in synapse constants
  packages/synapse-constants/constants/assets/chains/linea.svg
  packages/synapse-constants/constants/assets/explorer/linea.svg
Labels: javascript, go, size/xs

#2930 trace txByNonce
  services/rfq/relayer/relapi/handler.go
Labels: go, size/xs

#2905 feat(synapse-interface): adds BSC, Blast, Linea to RFQ
  packages/synapse-interface/assets/chains/linea.svg
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/generateMaps.js
Labels: javascript, M-synapse-interface, size/s, Sol, Typescript

#2901 Linea + Blast RFQ FastBridge deployments
  packages/contracts-rfq/deployments/blast/.chainId
  packages/contracts-rfq/deployments/blast/FastBridge.json
  packages/contracts-rfq/deployments/linea/.chainId
  packages/contracts-rfq/deployments/linea/FastBridge.json
  packages/contracts-rfq/foundry.toml
Labels: size/xs

#2844 feat(synapse-interface): upgrade maintenance
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
  packages/synapse-interface/components/Maintenance/functions/fetchJsonData.test.ts
  packages/synapse-interface/components/Maintenance/functions/fetchJsonData.ts
  packages/synapse-interface/components/Maintenance/functions/getFurthestFutureDate.ts
  packages/synapse-interface/components/Maintenance/functions/isValidBridgeModule.ts
  packages/synapse-interface/components/Maintenance/hooks/useSynapsePauseData.ts
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/slices/maintenance/hooks.ts
  packages/synapse-interface/slices/maintenance/reducer.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/getBridgeModuleNames.ts
  packages/synapse-interface/utils/hooks/useFetchGasDataOnInterval.ts
  packages/synapse-interface/utils/hooks/useMaintenanceListener.ts
  packages/synapse-interface/utils/isChainIncluded.tsx
Labels: M-synapse-interface, size/m, Sol, Typescript

#2922 feat(synapse-interface): display small tx origin values
  packages/synapse-interface/components/Activity/Transaction/components/TransactionPayloadDetail.tsx
Labels: M-synapse-interface, size/xs

#2923 feat(synapse-interface): alternate eth address
  packages/synapse-interface/constants/tokens/index.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#2954 fix pending queue
  ethergo/listener/listener.go
  ethergo/submitter/db/mocks/service.go
  ethergo/submitter/db/service.go
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/db_test.go
  ethergo/submitter/metrics.go
  ethergo/submitter/queue.go
  ethergo/submitter/submitter_test.go
Labels: go, size/s

#2955 fix(synapse-interface): use rfq origin pools when generating bridge maps
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/abi/FastBridgeRouter.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/utils/fetchRfqData.js
Labels: javascript, M-synapse-interface, size/m, Sol, Typescript

#2956 feat(explorer-ui): `formatAmount`
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/utils/formatAmount.ts
Labels: M-explorer-ui, size/s, Sol, Typescript

#2963 add inflight quote cache
  services/rfq/relayer/inventory/inflight.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/options.go
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/s

#2961 feat(explorer): format raw transaction value
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/pages/tx/[kappa].tsx
  packages/explorer-ui/patch.ts
  packages/explorer-ui/tsconfig.json
  packages/explorer-ui/utils/formatBigIntToString.ts
Labels: M-explorer-ui, size/s, Sol, Typescript

#2967 RFQ Relayer: configure chain confirmations
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs

#2889 fix(screener): never checked cache for existing entries
  contrib/screener-api/chainalysis/chainalysisapi.go
Labels: go, size/xs, needs-go-generate-services/rfq
