Repository synapsecns/sanguine, pull requests merged in 2024-03, with the labels that each got.

#2140 SDK Adds Blast
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: size/xs

#2136 Fe/transaction faq
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
Labels: M-synapse-interface, size/s

#2139 FE Adds Blast
  packages/synapse-interface/assets/chains/blast.svg
  packages/synapse-interface/assets/explorer/blast.svg
  packages/synapse-interface/assets/icons/usdb.png
  packages/synapse-interface/assets/icons/usdb.svg
  packages/synapse-interface/components/HarmonyCheck.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/extraWagmiChains.ts
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/cypress/fixtures/bridge.json
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface, size/s

#2176 Widget: Adds blast
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: size/s

#2177 update pool info
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
Labels: M-synapse-interface, size/xs

#2178 release 03-01
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Pools/PoolCardBody.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/stake/StakeCardTitle.tsx
  packages/widget/CHANGELOG.md
  packages/widget/package.json
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: M-synapse-interface, size/s

#2179 potential chain undefined
  packages/synapse-interface/components/Pools/PoolHeader.tsx
Labels: M-synapse-interface, size/xs

#2182 Feat/graphql add blast
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/synapse-constants/constants/assets/chains/blast.svg
  packages/synapse-constants/constants/assets/explorer/blast.svg
  packages/synapse-constants/constants/assets/icons/usdb.svg
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/data/symbolOverrides.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-interface/constants/bridgeMap.ts
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
Labels: go, M-explorer-ui, M-synapse-interface, size/m

#2183 Moves blast up list of switch networks
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface, size/xs

#2186 Fix: solidity-devops bin exports
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeScriptRunString.js
  packages/solidity-devops/package.json
Labels: size/xs

#2184 Sorts auto selected token option by priority rank
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/utils/findValidToken.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/s

#2188 FE Release 2024-03-01
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeScriptRunString.js
  packages/solidity-devops/package.json
  packages/synapse-constants/constants/assets/chains/blast.svg
  packages/synapse-constants/constants/assets/explorer/blast.svg
  packages/synapse-constants/constants/assets/icons/usdb.svg
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/data/symbolOverrides.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Pools/PoolHeader.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/auxilliary.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/deprecated.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/utils/findValidToken.ts
  packages/synapse-interface/utils/types/index.tsx
  packages/synapse-interface/wagmiConfig.ts
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
Labels: go, M-explorer-ui, M-synapse-interface, size/m

#2187 Graphql Additions
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/partials.go
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: go, size/xs

#2190 Fix explorer client gen
  contrib/promexporter/internal/gql/explorer/models.gen.go
  services/explorer/api/server_test.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
Labels: go, size/s

#2185 Deploy scripts for communication testnet
  package.json
  packages/contracts-communication/.env.example
  packages/contracts-communication/.gitignore
  packages/contracts-communication/configs/global/ExecutionService.testnet.json
  packages/contracts-communication/configs/global/InterchainAppExample.testnet.json
  packages/contracts-communication/configs/global/InterchainClientV1.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
  packages/contracts-communication/deployments/eth_sepolia/.chainId
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/.chainId
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/InterchainAppExample.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
  packages/contracts-communication/devops.json
  packages/contracts-communication/foundry.toml
  packages/contracts-communication/package.json
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureClientV1.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionFees.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionService.s.sol
  packages/contracts-communication/script/config/ConfigureSynapseModule.s.sol
  packages/contracts-communication/script/deploy/DeployInterchainClientV1.s.sol
  packages/contracts-communication/script/deploy/DeployNoArgs.s.sol
  packages/contracts-communication/script/deploy/DeploySynapseModule.s.sol
  packages/contracts-communication/script/deploy/DeployWithMsgSender.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Labels: size/l, needs-yarn-install

#2189 Updates bridge map
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/findValidTokens.ts
Labels: size/xs

#2192 Sdk: blast rfq
  packages/sdk-router/src/constants/chainIds.ts
Labels: size/xs

#2180 Fe/pool transaction balance
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingDots.tsx
  packages/synapse-interface/pages/pool/NoPoolBody.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/slices/poolDataSlice.ts
  packages/synapse-interface/slices/poolUserDataSlice.ts
  packages/synapse-interface/slices/pools/hooks.ts
  packages/synapse-interface/slices/portfolio/reducer.ts
  packages/synapse-interface/utils/isTransactionReceiptError.ts
  packages/synapse-interface/utils/isTransactionUserRejectedError.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#2194 Fe/swap transaction balance
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/ui/tailwind/LoadingDots.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/s

#2196 Adding blast to graphql query -- Explorer FE support
  packages/explorer-ui/graphql/queries/index.ts
Labels: M-explorer-ui, size/xs

#2197 Enable volume based risk thresholds [goreleaser]
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/internal/risk.go
  contrib/screener-api/screener/internal/risk_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/setup.go
Labels: go, size/s, needs-go-generate-services/rfq

#2199 Screener/whitelist
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2193 explorerr goreleaser
  services/explorer/node/explorer.go
Labels: go, size/xs

#2198 SIN Executor Config Chain ID restructure
  sin-executor/config/config.go
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
Labels: go, size/xs

#2200 upgrade goreleaser to support go 1.22
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker, needs-go-generate-agents, size/xs, needs-go-generate-services/rfq

#2201 upgrade [goreleaser] to support go 1.22 (#2200)
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker

#2191 Feat: ping pong app
  packages/contracts-communication/configs/global/PingPongApp.testnet.json
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/apps/OwnableApp.sol
  packages/contracts-communication/contracts/apps/PingPongApp.sol
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
  packages/contracts-communication/remappings.txt
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionService.s.sol
  packages/contracts-communication/script/config/ConfigureOwnableApp.s.sol
  packages/contracts-communication/script/config/ConfigurePingPongApp.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
Labels: go, size/l, needs-yarn-install

#2204 Add recursive lint
  .github/workflows/go.yml
  make/repo.Makefile
  make/scripts/lint.sh
Labels: M-ci, size/xs

#2203 solidity-devops: log error instead of terminating
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/utils.js
Labels: size/xs

#2207 do not overwrite goreleaser go version
  .github/workflows/goreleaser-actions.yml
  core/README.md
Labels: M-ci, size/xs

#2206 Chore: interchain explicit errors
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: needs-go-generate-agents, size/s, needs-yarn-install, needs-go-generate-services/rfq

#2208 Fe/claim transaction balance
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/utils/hooks/usePendingTxWrapper.tsx
Labels: M-synapse-interface, size/s

#2209 Remove bridge fee
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/s

#2211 SDK: synapse router on Blast
  packages/sdk-router/src/constants/addresses.ts
Labels: size/xs

#2213 fix rfq docs
  services/rfq/api/cmd/commands.go
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/metadata/metadata.go
  services/stiprelayer/cmd/commands.go
  services/stiprelayer/main.go
Labels: go, size/xs

#2215 RFQ relayer checks gas before committing to request
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2218 Optional chaining for chain name filtering
  packages/synapse-interface/pages/pool/PoolBody.tsx
Labels: M-synapse-interface, size/xs

#2220 feat(solidity-devops): print init code hash before CREATE2 deployment
  packages/solidity-devops/src/deploy/Deployer.sol
Labels: size/xs

#2222 Release 3/6
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
  packages/solidity-devops/src/deploy/Deployer.sol
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/public/blacklist.json
  services/rfq/relayer/service/statushandler.go
Labels: go, M-synapse-interface, size/xs

#2217 feat(widget): adds useBridgeSelections helper for consumer selection awareness
  packages/widget/README.md
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/components/ui/TokenSelect.tsx
  packages/widget/src/hooks/useBridgeSelectionData.ts
  packages/widget/src/index.tsx
  packages/widget/src/types/index.d.ts
Labels: size/s

#2226 Fe/countdown
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/4844/index.tsx
  packages/synapse-interface/utils/hooks/useIntervalTimer.ts
Labels: M-synapse-interface, size/s

#2228 FE Release 2024-03-06
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/4844/index.tsx
  packages/synapse-interface/utils/hooks/useIntervalTimer.ts
  packages/widget/CHANGELOG.md
  packages/widget/README.md
  packages/widget/package.json
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/components/ui/TokenSelect.tsx
  packages/widget/src/hooks/useBridgeSelectionData.ts
  packages/widget/src/index.tsx
  packages/widget/src/types/index.d.ts
Labels: M-synapse-interface, size/m

#2229 promexporter blast config
  contrib/promexporter/config/config.go
  contrib/promexporter/internal/types/chainID.go
  contrib/promexporter/internal/types/chainid_string.go
Labels: go, size/xs

#2231 fix(synapse-interface): m.USDC priority ranking for display
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface, size/xs

#2232 fix(synapse-interface): Adds back time estimate
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/xs

#2233 Release 2024-03-07
  contrib/promexporter/config/config.go
  contrib/promexporter/internal/types/chainID.go
  contrib/promexporter/internal/types/chainid_string.go
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useFetchPricesOnInterval.ts
  packages/synapse-interface/utils/hooks/useSyncQueryParamsWithBridgeState.ts
Labels: go, M-synapse-interface, size/s

#2052 feat(synapse-interface): transaction status
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/getTransactionReceipt.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
  packages/synapse-interface/components/icons/ExclamationIcon.tsx
  packages/synapse-interface/constants/tokens/index.ts
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/tailwind.config.js
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
  packages/synapse-interface/wagmiConfig.ts
Labels: go, M-synapse-interface, size/s

#2079 feat(synapse-interface): post transaction balances
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/pages/pool/NoPoolBody.tsx
  packages/synapse-interface/pages/pool/PoolBody.tsx
  packages/synapse-interface/pages/pool/PoolInfoSection/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/pool/poolManagement/DepositButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/Withdraw.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/index.tsx
  packages/synapse-interface/pages/pools/PoolCard.tsx
  packages/synapse-interface/pages/pools/PoolCards.tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/slices/poolDataSlice.ts
  packages/synapse-interface/slices/poolUserDataSlice.ts
  packages/synapse-interface/slices/pools/hooks.ts
  packages/synapse-interface/slices/portfolio/reducer.ts
  packages/synapse-interface/utils/hooks/usePendingTxWrapper.tsx
  packages/synapse-interface/utils/isTransactionReceiptError.ts
  packages/synapse-interface/utils/isTransactionUserRejectedError.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#2214 feat(synapse-interface): update button states
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/pages/pool/poolManagement/WithdrawButton.tsx
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/s

#2210 regen rfq
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
Labels: go, size/xs

#2241 devops docs
  .github/workflows/solidity.yml
  packages/solidity-devops/.gitignore
  packages/solidity-devops/README.md
  packages/solidity-devops/vercel.package.json
Labels: M-ci, size/xs

#2242 interchain contract docs
  .github/workflows/solidity.yml
  packages/contracts-interchain/vercel.package.json
Labels: M-ci, size/xs

#2244 coderabbit cleanup
  .coderabbit.yaml
Labels: size/xs

#2245 fix contributing.md spacing
  CONTRIBUTING.md
Labels: size/xs

#2247 Updating to use SnowScan
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/package.json
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#2249 feat(widget): Updates readme on using web3Provider with older ethers version
  packages/widget/README.md
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: size/s

#2223 Deploy/fast bridge refunds
  package.json
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/.gitignore
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831049.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831763.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831771.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831793.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190115.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190123.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190142.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209634.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209657.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209980.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210076.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210169.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474075.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474652.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474700.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704475328.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829920.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829927.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829947.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995462.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995597.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995658.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189759.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189778.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209557.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209577.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704474223.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704474225.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704829842.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704829847.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995397.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995419.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-latest.json
  packages/contracts-rfq/configs/global/FastBridge.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/package.json
  packages/contracts-rfq/remappings.txt
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
Labels: needs-go-generate-agents, size/l, needs-yarn-install, needs-go-generate-services/rfq

#2219 Feat: fast bridge refunds
  package.json
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/.gitignore
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831049.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831763.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831771.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-1704831793.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190115.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190123.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1703190142.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209634.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209657.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209980.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210076.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210169.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474075.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474652.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704474700.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704475328.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829920.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829927.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704829947.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995462.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995597.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995658.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189759.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1703189778.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209557.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209577.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704474223.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704474225.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704829842.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704829847.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995397.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995419.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-latest.json
  packages/contracts-rfq/configs/global/FastBridge.json
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/package.json
  packages/contracts-rfq/remappings.txt
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
  packages/contracts-rfq/script/FastBridge.s.sol
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
Labels: size/l, needs-go-generate-services/rfq

#2254 feat(synapse-interface): complete countdown
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface, size/xs

#2256 RFQ relayer pauses relays if API is offline
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/s, needs-go-generate-services/rfq

#2258 feat(widget): More robust ethers v5 provider support
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
  packages/widget/src/utils/actions/approveErc20Token.ts
Labels: size/s

#2267 update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2260 feat(synapse-interface): maintenance notification components + eth dencun pause
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/EthDencunUpgrade.tsx
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/m

#2272 feat(synapse-interface): add back rebate
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/xs

#2271 FE Release 2024-03-12
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/EthDencunUpgrade.tsx
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/blacklist.json
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/quoterequeststatus_string.go
  services/rfq/relayer/service/chainindexer.go
Labels: go, M-synapse-interface, size/m

#2263 Add MinRebalanceAmount to RFQ relayer
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/s, needs-go-generate-services/rfq

#2274 feat(synapse-interface): ecotone and metis upgrade downtime, remove eth dencun
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/EthDencunUpgrade.tsx
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/Maintenance/Events/MetisUpgrade.tsx
  packages/synapse-interface/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useIntervalTimer.ts
Labels: M-synapse-interface, size/m

#2276 feat(synapse-interface): use both rebate displays in bridge card
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/xs

#2275 feat(synapse-interface): switch to previous rebate version
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/xs

#2281 FE Release 2024-03-13
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/Maintenance/Events/MetisUpgrade.tsx
  packages/synapse-interface/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/utils/hooks/useIntervalTimer.ts
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, M-synapse-interface, size/m

#2286 feat(widget): Adds txn support url
  packages/widget/src/components/TransactionSupport.tsx
  packages/widget/src/constants/index.ts
Labels: size/xs

#2273 remove vercel analytics
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface, size/xs

#2288 regen rfq
  services/rfq/api/client/suite_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/relapi/suite_test.go
Labels: go, size/l

#2287 fix(synapse-interface): deprecate unused dependencies
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/misc/ChainSlideOver.tsx
  packages/synapse-interface/components/misc/TokenSlideOver.tsx
  packages/synapse-interface/craco.config.js
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/pool/poolManagement/Deposit.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/checkCleanedValue.ts
  packages/synapse-interface/utils/displaySymbol.ts
  packages/synapse-interface/utils/getOrderedChains.ts
  packages/synapse-interface/utils/hooks/useDebounce.ts
  packages/synapse-interface/utils/hooks/useDebounce.tsx
  packages/synapse-interface/utils/hooks/useSettings.tsx
  packages/synapse-interface/utils/hooks/useTxHistory.ts
  packages/synapse-interface/utils/matchSymbolWithinPool.ts
  packages/synapse-interface/utils/remove0xPrefix.ts
  packages/synapse-interface/utils/toHexStr.ts
  packages/synapse-interface/utils/types/index.tsx
  packages/synapse-interface/utils/validateAndParseAddress.ts
  yarn.lock
Labels: M-synapse-interface, size/m

#2292 fix(synapse-interface): fixes explorer images
  packages/synapse-interface/assets/explorer/arbiscan.svg
  packages/synapse-interface/assets/explorer/aurora.svg
  packages/synapse-interface/assets/explorer/avalanche.svg
  packages/synapse-interface/assets/explorer/blast.svg
  packages/synapse-interface/assets/explorer/boba.svg
  packages/synapse-interface/assets/explorer/bscscan.svg
  packages/synapse-interface/assets/explorer/canto.svg
  packages/synapse-interface/assets/explorer/cronos.svg
  packages/synapse-interface/assets/explorer/dfk-chain.svg
  packages/synapse-interface/assets/explorer/dogecoin.svg
  packages/synapse-interface/assets/explorer/fantom.svg
  packages/synapse-interface/assets/explorer/ftmscan.svg
  packages/synapse-interface/assets/explorer/harmony.svg
  packages/synapse-interface/assets/explorer/klaytn.svg
  packages/synapse-interface/assets/explorer/metis.svg
  packages/synapse-interface/assets/explorer/moonbeam.svg
  packages/synapse-interface/assets/explorer/moonriver.svg
  packages/synapse-interface/assets/explorer/optimism.svg
  packages/synapse-interface/assets/explorer/polygon.svg
  packages/synapse-interface/assets/explorer/snowscan.svg
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/s

#2297 compress background image file
  packages/synapse-interface/public/landingBg.svg
Labels: M-synapse-interface, size/l

#2296 Update for removed pool
  packages/synapse-interface/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeMap.ts
Labels: M-synapse-interface, size/xs

#2300 Fe/compress landing images
  packages/synapse-interface/components/icons/LandingIcons/FauxBridge.tsx
  packages/synapse-interface/components/icons/LandingIcons/SynapseCircuit.tsx
  packages/synapse-interface/pages/landing/sections/BridgeSection.tsx
  packages/synapse-interface/pages/landing/sections/SecuritySection.tsx
Labels: M-synapse-interface, size/m

#2299 resetting synapse-constants bridge map for canto eth
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/package.json
Labels: size/xs

#2264 RFQ relayer continues generating quotes if one fails
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/s, needs-go-generate-services/rfq

#2255 Deploy new RFQ Contracts, update script to respond to Ctrl + C, add G…
  packages/contracts-rfq/configs/global/FastBridge.json
  packages/contracts-rfq/deployments/arbitrum/.chainId
  packages/contracts-rfq/deployments/arbitrum/FastBridge.json
  packages/contracts-rfq/deployments/mainnet/.chainId
  packages/contracts-rfq/deployments/mainnet/FastBridge.json
  packages/contracts-rfq/deployments/optimism/.chainId
  packages/contracts-rfq/deployments/optimism/FastBridge.json
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
Labels: size/l

#2304 feat(synapse-interface): update banner visuals
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/s

#2306 fix(widget): fixes broken klay img
  packages/widget/src/constants/bridgeable.ts
Labels: size/xs

#2307 Update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2309 fix(widget): Empty provider/connected address button state, updated image urls
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: size/s

#2277 Interchain unit tests
  packages/contracts-communication/.gitignore
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/ExecutionService.Fees.t.sol
  packages/contracts-communication/test/ExecutionService.Management.t.sol
  packages/contracts-communication/test/ExecutionService.t.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/libs/TypeCasts.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/mocks/SynapseGasOracleMock.sol
Labels: size/l

#2295 Synapse gas oracle v1
  packages/contracts-communication/configs/global/ExecutionService.testnet.json
  packages/contracts-communication/configs/global/SynapseGasOracleV1.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
  packages/contracts-communication/contracts/events/SynapseGasOracleV1Events.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracleV1.sol
  packages/contracts-communication/contracts/oracles/SynapseGasOracleV1.sol
  packages/contracts-communication/script/config/ConfigureSynapseGasOracleV1.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Getters.t.sol
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Management.t.sol
Labels: size/m

#2310 Adding JEWEL support for Metis and ETH
  packages/synapse-constants/README.md
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/package.json
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
Labels: M-synapse-interface, size/s

#2294 feat(synapse-interface): create template event maintenance components, remove ecotone + metis event maintenance components
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/EthDencunUpgrade.tsx
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/Maintenance/Events/MetisUpgrade.tsx
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/m

#2314 Add Jobs board
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/constants/urls/index.tsx
Labels: M-synapse-interface, size/xs

#2316 update JEWEL asset
  packages/synapse-constants/constants/assets/icons/index.ts
  packages/synapse-constants/constants/assets/icons/jewel.png
  packages/synapse-constants/constants/assets/icons/jewel.svg
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/icons/jewel.png
  packages/synapse-interface/assets/icons/jewel.svg
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface, size/xs

#2317 backup pre-aurelius
  sin-executor/executor/suite_test.go
  sin-executor/testutil/deployers.go
Labels: go, size/xs

#2321 2024-03-20 FE Release
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/constants/assets/icons/index.ts
  packages/synapse-constants/constants/assets/icons/jewel.png
  packages/synapse-constants/constants/assets/icons/jewel.svg
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/assets/icons/jewel.png
  packages/synapse-interface/assets/icons/jewel.svg
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/blacklist.json
Labels: M-explorer-ui, M-synapse-interface, size/s

#2322 Extend Metis
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
Labels: M-synapse-interface, size/xs

#2323 2024-03-20 FE release 2
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
Labels: M-synapse-interface, size/xs

#2324 fix(synapse-interface): replaces jewel png with svg
  packages/synapse-interface/assets/icons/jewel.png
  packages/synapse-interface/assets/icons/jewel.svg
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface, size/xs

#2311 feat(synapse-interface): remove 4844
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface, size/s

#2325 fix(synapse-interface): Lookup existing chain and token
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Labels: M-synapse-interface, size/s

#2326 FE release 2024-03-20 3
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/assets/icons/jewel.png
  packages/synapse-interface/assets/icons/jewel.svg
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/4844/index.tsx
Labels: M-synapse-interface, size/s

#2327 fix(synapse-interface): Removes unused images
  packages/synapse-interface/public/next.svg
  packages/synapse-interface/public/thirteen.svg
  packages/synapse-interface/public/vercel.svg
Labels: M-synapse-interface, size/xs

#2303 interchain batching prototype backend executor
  ethergo/backends/base/base.go
  ethergo/backends/base/trace.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/parser/tracely/README.md
  ethergo/parser/tracely/focus_opcode.go
  ethergo/parser/tracely/memory.go
  ethergo/parser/tracely/op.go
  ethergo/parser/tracely/request.go
  ethergo/parser/tracely/sep.go
  ethergo/parser/tracely/stack.go
  packages/contracts-communication/package.json
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/generate.go
  sin-executor/contracts/mocks/gasoraclemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/generate.go
  sin-executor/contracts/mocks/interchainapp/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.abigen.go
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: go, needs-go-generate-services/scribe, needs-go-generate-services/explorer, size/l

#2301 Feat/interchain batching prototype backend
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/mocks/gasoraclemock/generate.go
  committee/contracts/mocks/gasoraclemock/helpers.go
  committee/contracts/synapsemodule/eventtype_string.go
  committee/contracts/synapsemodule/parser.go
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/contracts/synapsemodule/topics.go
  committee/db/base/signrequest.go
  committee/db/db.go
  committee/node/node.go
  committee/testutil/contracttype.go
  committee/testutil/deployers.go
  ethergo/backends/base/base.go
  ethergo/backends/base/trace.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/parser/tracely/README.md
  ethergo/parser/tracely/focus_opcode.go
  ethergo/parser/tracely/memory.go
  ethergo/parser/tracely/op.go
  ethergo/parser/tracely/request.go
  ethergo/parser/tracely/sep.go
  ethergo/parser/tracely/stack.go
  packages/contracts-communication/package.json
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/generate.go
  sin-executor/contracts/mocks/gasoraclemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/generate.go
  sin-executor/contracts/mocks/interchainapp/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.abigen.go
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: go, size/l

#2328 feat(synapse-interface): improve maintenance event template, remove Metis pause
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/s

#2329 2024-03-21 FE Release
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/Events/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/next.svg
  packages/synapse-interface/public/thirteen.svg
  packages/synapse-interface/public/vercel.svg
Labels: M-synapse-interface, size/s

#2330 add fe-release to coderabbit
  .coderabbit.yaml
  .github/workflows/lint.yml
Labels: M-ci, size/xs

#2334 fix golangci-lint
  .github/workflows/go.yml
Labels: M-ci, size/xs

#2333 test(sdk-router): skip RFQ tests for tracking older txs
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs

#2336 remove package-docs
  package-docs/.nojekyll
  package-docs/README.md
  package-docs/classes/SynapseSDK.md
  package-docs/modules.md
  package.json
Labels: size/s

#2335 Add integration tests for `contracts-communication`
  packages/contracts-communication/contracts/apps/PingPongApp.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
Labels: needs-go-generate-agents, size/m, needs-yarn-install, needs-go-generate-services/rfq

#2337 instruct coderabbit not to rc
  .coderabbit.yaml
Labels: size/xs

#2338 remove prettier from contracts-core
  packages/contracts-core/.prettierignore
  packages/contracts-core/.prettierrc.js
  packages/contracts-core/package.json
  yarn.lock
Labels: M-contracts, 2-reviewers, size/xs

#2342 cleanup plugin
  packages/contracts-core/package.json
  yarn.lock
Labels: M-contracts, 2-reviewers, size/xs

#2339 fix(synapse-interface): Upgrades to wagmi to 1.3.5 to support scrollable chain list modal
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/s

#2344 Re-deploy Interchain Testnet Contracts
  packages/contracts-communication/configs/global/SynapseGasOracleV1.testnet.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/eth_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionService.json
  packages/contracts-communication/deployments/op_sepolia/GasOracleMock.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/op_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
Labels: size/l

#2349 App abstraction (go changes)
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/generate.go
  sin-executor/contracts/mocks/interchainapp/generate.go
  sin-executor/contracts/mocks/interchainapp/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/deployers.go
Labels: go, size/l

#2351 fix(synapse-interface): adds ETH to RFQ for rebates
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface, size/xs

#2354 fix(widget): Fixes decimal input with no leading zeros, wallet cancel on send
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
  packages/widget/src/utils/isOnlyZeroes.ts
Labels: size/s

#2358 fix go workflow
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/scan.yml
Labels: M-ci, size/xs

#2353 feat(synapse-interface): link destination address in transaction
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Labels: M-synapse-interface, size/xs

#2361 Banner for pausing USDB/WETH on Blast
  packages/synapse-interface/components/Maintenance/AnnouncementBanner.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapExchangeRateInfo.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/xs

#2362 update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2363 Fe/pause blast
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/xs

#2365 2024-03-26 release
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/s

#2137 feat(synapse-interface): destination address
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeWarnings.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/components/StateManagedBridge/components/CloseButton.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/components/ui/tailwind/Tooltip.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/hooks.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/bridgeDisplaySlice.ts
  packages/synapse-interface/utils/hooks/useAlternateBridgeQuotes.ts
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
  packages/synapse-interface/utils/isEmptyString.ts
Labels: M-synapse-interface, size/m

#2368 Fixes chain symbol
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#2364 feat(synapse-interface): unpause blast
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/pages/index.tsx
Labels: M-synapse-interface, size/xs

#2370 FE Release 03-27-2024
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeWarnings.tsx
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/SettingsSlideOver.tsx
  packages/synapse-interface/components/StateManagedBridge/components/CloseButton.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/components/ui/tailwind/Tooltip.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/slices/bridge/actions.ts
  packages/synapse-interface/slices/bridge/hooks.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/slices/bridgeDisplaySlice.ts
  packages/synapse-interface/utils/hooks/useAlternateBridgeQuotes.ts
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
  packages/synapse-interface/utils/isEmptyString.ts
Labels: M-synapse-interface, size/l

#2373 Fe/svg set namespace
  packages/synapse-interface/custom.d.ts
Labels: M-synapse-interface, size/xs

#2372 Submitter sets tx attributes upon reprocess
  ethergo/submitter/chain_queue.go
Labels: go, size/xs

#2377 App abstraction (statelessness, multiple clients)
  packages/contracts-communication/configs/global/InterchainAppExample.testnet.json
  packages/contracts-communication/configs/global/PingPongApp.testnet.json
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/apps/OwnableApp.sol
  packages/contracts-communication/contracts/apps/examples/ExampleAppV1.sol
  packages/contracts-communication/contracts/apps/examples/PingPongApp.sol
  packages/contracts-communication/contracts/events/AbstractICAppEvents.sol
  packages/contracts-communication/contracts/events/InterchainAppV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/package.json
  packages/contracts-communication/script/config/ConfigureAppExample.s.sol
  packages/contracts-communication/script/config/ConfigureAppV1.s.sol
  packages/contracts-communication/script/config/ConfigureExampleAppV1.s.sol
  packages/contracts-communication/script/config/ConfigurePingPongApp.s.sol
  packages/contracts-communication/test/apps/ICAppV1.Management.t.sol
  packages/contracts-communication/test/apps/ICAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/harnesses/ICAppV1Harness.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/interfaces/IInterchainAppV1Harness.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/generate.go
  sin-executor/contracts/mocks/interchainapp/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/deployers.go
Labels: go, size/l

#2379 Feat: resolve TODOs in `InterchainDB`
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
Labels: go, size/m

#2381 feat(synapse-interface): remove blast swap pause banner
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/xs

#2382 dedupe commitee listener
  committee/db/base/block.go
  committee/db/base/model.go
  committee/db/base/store.go
  committee/go.mod
  committee/listener/doc.go
  committee/listener/listener.go
  committee/node/node.go
Labels: go, size/m

#2383 feat(widget): adds planar example
  packages/widget/examples/landing-page/src/app/page.tsx
Labels: size/xs

#2367 feat(synapse-interface): removes STIP
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/constants/chainlink.ts
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
  packages/synapse-interface/slices/priceDataSlice.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/actions/getPrices.ts
  packages/synapse-interface/utils/hooks/useFetchPricesOnInterval.ts
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface, size/l

#2384 chore: use symlink for flatten.sh
  make/scripts/flatten.sh
  packages/contracts-communication/flatten.sh
  packages/contracts-core/script/sh/flatten.sh
  packages/contracts-rfq/flatten.sh
Labels: M-contracts, 2-reviewers, size/s

#2378 Feat: synapse execution service V1
  packages/contracts-communication/configs/global/SynapseExecutionServiceV1.testnet.json
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/contracts/events/SynapseExecutionServiceEvents.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/package.json
  packages/contracts-communication/script/config/ConfigureSynapseExecutionServiceV1.s.sol
  packages/contracts-communication/script/deploy/DeployProxy.s.sol
  packages/contracts-communication/script/deploy/DeploySynapseExecutionServiceV1.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  packages/contracts-communication/test/ExecutionService.Fees.t.sol
  packages/contracts-communication/test/ExecutionService.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Proxy.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/harnesses/SynapseExecutionServiceV1Harness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/proxy/ProxyTest.t.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/executionservice/helpers.go
  sin-executor/contracts/executionservice/parser.go
  sin-executor/contracts/executionservice/topics.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
  yarn.lock
Labels: go, size/l

#2380 Feat: legacy `MessageBus`
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/events/MessageBusEvents.sol
  packages/contracts-communication/contracts/legacy/interfaces/ILegacyReceiver.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/contracts/legacy/libs/LegacyMessage.sol
  packages/contracts-communication/contracts/legacy/libs/LegacyOptions.sol
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Dst.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Management.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Src.t.sol
  packages/contracts-communication/test/legacy/harnesses/LegacyMessageLibHarness.sol
  packages/contracts-communication/test/legacy/harnesses/LegacyOptionsLibHarness.sol
  packages/contracts-communication/test/legacy/libs/LegacyMessage.t.sol
  packages/contracts-communication/test/legacy/libs/LegacyOptions.t.sol
  packages/contracts-communication/test/legacy/mocks/LegacyReceiverMock.sol
Labels: size/m

#2387 fix(contracts-communication): improve `client.getInterchainFee()`
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/apps/examples/ExampleAppV1.sol
  packages/contracts-communication/contracts/apps/examples/PingPongApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/contracts/libs/Math.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/harnesses/ICAppV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/harnesses/MathLibHarness.sol
  packages/contracts-communication/test/interfaces/IInterchainAppV1Harness.sol
  packages/contracts-communication/test/legacy/MessageBus.Management.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/libs/MathLib.t.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
Labels: go, size/m

#2391 chore(git-changes-action): stage git changes action
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Labels: M-ci, size/xs

#2392 fix(contracts-communication): deploy proxy script
  packages/contracts-communication/script/deploy/DeployProxy.s.sol
Labels: size/xs

#2376 Submitter fetches pending transactions independently per chain
  ethergo/submitter/db/mocks/service.go
  ethergo/submitter/db/service.go
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/db_test.go
  ethergo/submitter/queue.go
Labels: go, size/s

#2394 fix(contracts-communication): cleanup scripts
  packages/contracts-communication/script/config/ConfigureAppV1.s.sol
  packages/contracts-communication/script/config/ConfigureClientV1.s.sol
  packages/contracts-communication/script/config/ConfigureSynapseGasOracleV1.s.sol
  packages/contracts-communication/script/config/ConfigureSynapseModule.s.sol
Labels: size/xs

#2398 feat(sdk-router): Add Base to the list of supported RFQ chains
  packages/sdk-router/src/constants/chainIds.ts
Labels: size/xs

#2390 feat(contracts-communication): Interchain versioning for batches
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/m

#2399 Add all CCTP supported chains to domain map
  services/cctp-relayer/relayer/chains.go
Labels: go, size/xs

#2393 feat(contracts-communication): Interchain versioning for transactions
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: size/s

#2404 FE Release 3-29-2
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/medianTime.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: size/xs

#2407 fix(sdk-router): Update default dest deadline
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Labels: size/xs

#2402 fix(contracts-communication): deduplicate versioning libraries
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/m
