Repository synapsecns/sanguine, pull requests merged in 2024-05, with the labels that each got.

#2525 Deploy: `FastBridge` to Scroll
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/deployments/scroll/.chainId
  packages/contracts-rfq/deployments/scroll/FastBridge.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/package.json
  yarn.lock
Labels: size/l

#2531 feat: interchain tx readiness
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
Labels: size/s

#2530 feat: interchain guard modules
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/script/config/ConfigureAppV1.s.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.NoOP.NoDrop.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.NoOP.WithDrop.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.WithOP.NoDrop.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.WithOP.WithDrop.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
Labels: size/l, needs-go-generate-services/rfq

#2536 feat: allow modules to signal non-existing batches and verify their value later
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: size/s, needs-go-generate-services/rfq

#2551 refactor(contracts-communication): fix complier and linter warnings
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/legacy/LegacyPingPong.sol
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/contracts/mocks/OptionsLibExport.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/script/config/ConfigureAppV1.s.sol
  packages/contracts-communication/script/config/legacy/ConfigureLegacyPingPong.s.sol
  packages/contracts-communication/script/config/legacy/ConfigureMessageBus.s.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
  packages/contracts-communication/test/integration/PingPong.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Src.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Management.t.sol
  packages/contracts-communication/test/legacy/libs/LegacyMessage.t.sol
  packages/contracts-communication/test/legacy/libs/LegacyOptions.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/libs/MathLib.t.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/libs/TypeCasts.t.sol
  packages/contracts-communication/test/libs/VersionedPayloadLib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Management.t.sol
  packages/contracts-communication/test/proxy/ProxyTest.t.sol
Labels: size/m, needs-go-generate-services/rfq

#2557 RFQ: fix config validation
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
Labels: go, size/s, needs-go-generate-services/rfq

#2553 fix(contracts-communication): check interchain receiver interface
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/harnesses/NoOpHarness.sol
Labels: size/s

#2552 feat(contracts-communication): expose batch getter in `InterchainDB`
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Labels: size/m, needs-go-generate-services/rfq

#2554 feat(sdk-router): Adds Scroll to SDK
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: size/xs

#2559 refactor(contracts-communication): make custom error names consistent
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/fees/ClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracleV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/legacy/LegacyReceiver.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/contracts/legacy/libs/LegacyOptions.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/BatchingV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/libs/VersionedPayload.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/contracts/oracles/SynapseGasOracleV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/fees/ClaimableFees.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Src.t.sol
  packages/contracts-communication/test/legacy/libs/LegacyOptions.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/libs/VersionedPayloadLib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Getters.t.sol
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Management.t.sol
Labels: size/l, needs-go-generate-services/rfq

#2561 RFQ: apply quote submission timeout to individual quotes
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2313 Add `QuoteOffsetBps` to RFQ quoter
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/m, needs-go-generate-services/rfq

#2563 RFQ: drop requests for unsupported chains
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#2558 feat(synapse-interface): add spectral token
  packages/synapse-constants/constants/assets/icons/spectral.svg
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/icons/spectral.svg
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
Labels: M-synapse-interface, size/s

#2560 fix(contracts-communication): gasOracle check in ExecutionService, remove batch decoding in Module
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/s, needs-go-generate-services/rfq

#2548 [goreleaser] Adding Scroll to explorer + token decimals fix
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/graphql/queries/index.ts
  packages/explorer-ui/package.json
  packages/synapse-constants/constants/assets/chains/scroll.svg
  packages/synapse-constants/constants/assets/explorer/scroll.svg
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/package.json
  services/explorer/api/server_test.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
Labels: go, M-explorer-ui, size/s, needs-go-generate-contrib/promexporter

#2566 fix(solidity-devops): use case insensitive check for address equality
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/js/utils/utils.js
Labels: size/xs

#2569 Pause SPEC
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#2586 Unpauses SPEC
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#2587 FE Release 2024-05-06-2
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#2588 Updates for coingecko api
  packages/synapse-interface/utils/hooks/useCoingeckoPrice.tsx
Labels: M-synapse-interface, size/xs

#2589 FE release 2024-05-06 3
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/utils/hooks/useCoingeckoPrice.tsx
Labels: M-synapse-interface, size/xs

#2591 feat(sdk-router): router cache error log
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
Labels: size/xs

#2593 feat(widget): error logs
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useBridgeTxStatus.tsx
  packages/widget/src/providers/Web3Provider.tsx
  packages/widget/src/utils/actions/fetchTokenBalances.ts
  packages/widget/src/utils/actions/switchNetwork.ts
  packages/widget/src/utils/formatBigIntToString.ts
  packages/widget/src/utils/getExplorerAddressLink.ts
  packages/widget/src/utils/getTxBlockExplorerLink.ts
  packages/widget/src/utils/getTxSynapseExplorerLink.ts
  packages/widget/src/utils/stringToBigInt.ts
Labels: size/xs

#2556 RFQ: support multiple rebalance methods
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/enum.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/relconfig/rebalancemethod_string.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/m, needs-go-generate-services/rfq

#2502 RFQ: add decimals cache
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#2592 CCTP: use chain listener instead of scribe
  services/cctp-relayer/cmd/commands.go
  services/cctp-relayer/config/chain.go
  services/cctp-relayer/config/config.go
  services/cctp-relayer/config/config_test.go
  services/cctp-relayer/db/relayer_db.go
  services/cctp-relayer/db/sql/base/base.go
  services/cctp-relayer/db/sql/mysql/store.go
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/relayer.go
  services/cctp-relayer/relayer/relayer_test.go
  services/cctp-relayer/relayer/suite_test.go
  services/cctp-relayer/relayer/synapse.go
  services/cctp-relayer/relayer/synapse_test.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/m, needs-go-generate-services/rfq

#2595 docs(contracts-communication): move natspec from interfaces
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/IClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IGasOracle.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracle.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracleV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/contracts/oracles/SynapseGasOracleV1.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Labels: size/m, needs-go-generate-services/rfq

#2597 fix(sdk-rouder): remove cache hydration
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Labels: size/s

#2598 Fe/format amount
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/utils/formatAmount.ts
  packages/synapse-interface/utils/getParsedBalance.ts
  packages/synapse-interface/utils/trimTrailingZeroesAfterDecimal.ts
Labels: M-synapse-interface, size/s

#2538 feat(webhook): add webhook
  .vscode/settings.json
  contrib/screener-api/client/client.go
  contrib/screener-api/config/config.go
  contrib/screener-api/db/db.go
  contrib/screener-api/db/db_test.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/db/sql/mysql/store.go
  contrib/screener-api/db/sql/store.go
  contrib/screener-api/db/suite_test.go
  contrib/screener-api/docs/docs.go
  contrib/screener-api/docs/swagger.json
  contrib/screener-api/docs/swagger.yaml
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/screener-api/main.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
  ethergo/go.mod
  services/rfq/go.mod
  services/rfq/go.sum
Labels: go, size/l, needs-go-generate-services/rfq, needs-go-generate-committee

#2562 rfq api cache
  services/rfq/api/rest/server.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2601 add trace to sync
  charts/screener/Chart.yaml
  charts/screener/templates/configmap.yaml
  contrib/screener-api/screener/screener.go
Labels: go, M-charts, size/xs, needs-go-generate-services/rfq

#2602 remove iconfig file
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2599 feat(contracts-communication): remove batching
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/examples/ExampleAppV1.sol
  packages/contracts-communication/contracts/apps/examples/PingPongApp.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/libs/BatchingV1.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/contracts/libs/ModuleEntry.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/harnesses/ICAppV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleEntryLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
  packages/contracts-communication/test/integration/PingPong.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Src.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.t.sol
  packages/contracts-communication/test/interfaces/IInterchainAppV1Harness.sol
  packages/contracts-communication/test/legacy/MessageBus.Dst.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
  packages/contracts-communication/test/libs/ModuleEntryLib.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/l

#2600 cctp relayer updates
  services/cctp-relayer/config/config.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/synapse.go
  services/cctp-relayer/types/state.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/s, needs-go-generate-services/rfq

#2596 [goreleaser] Add spectral coingecko ids for pricing
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: size/xs, needs-go-generate-contrib/promexporter

#2594 feat(widget): suppress console errors
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/widget/README.md
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useBridgeTxStatus.tsx
  packages/widget/src/index.tsx
  packages/widget/src/providers/Web3Provider.tsx
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
  packages/widget/src/utils/actions/switchNetwork.ts
  packages/widget/src/utils/formatBigIntToString.ts
  packages/widget/src/utils/getExplorerAddressLink.ts
  packages/widget/src/utils/getTxBlockExplorerLink.ts
  packages/widget/src/utils/getTxSynapseExplorerLink.ts
  packages/widget/src/utils/stringToBigInt.ts
  packages/widget/src/utils/suppressSynapseConsoleErrors.ts
Labels: size/s

#2437 feat(synapse-interface): bridge gas handler
  packages/synapse-interface/components/HoverTooltip.tsx
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioAssetActionButton.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenVisualizer.tsx
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/Portfolio/components/ViewSearchAddressBanner.tsx
  packages/synapse-interface/components/StateManagedBridge/AvailableBalance.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeWarnings.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/MaxButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/buttons/MiniMaxButton.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/slices/gasDataSlice.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/calculateGasCost.ts
  packages/synapse-interface/utils/formatAmount.ts
  packages/synapse-interface/utils/getParsedBalance.ts
  packages/synapse-interface/utils/hasOnlyZeroes.ts
  packages/synapse-interface/utils/hooks/useFetchGasDataOnInterval.ts
  packages/synapse-interface/utils/hooks/useGasEstimator.ts
  packages/synapse-interface/utils/trimTrailingZeroesAfterDecimal.ts
Labels: M-synapse-interface, size/l

#2608 add "and" on fe
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
Labels: M-synapse-interface, size/xs

#2605 fix(contracts-communication): default settings for Guard service
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/apps/examples/PingPongApp.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/ICAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.t.sol
Labels: size/s, needs-go-generate-services/rfq

#2614 RFQ API: unblock Start() call on role cache
  services/rfq/api/rest/server.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2612 feat(contracts-communication): default values for modules/required respones
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
Labels: size/m

#2613 RFQ: rebalance edge cases & refactoring
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relconfig/enum.go
  services/rfq/relayer/service/chainindexer.go
Labels: go, size/m, needs-go-generate-services/rfq

#2617 refactor(contracts-communication): move opinionated stuff into SynapseModule
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Labels: size/s

#2611 Dev Docs
  .github/workflows/goreleaser-actions.yml
  .github/workflows/solidity.yml
  .github/workflows/ui-preview.yaml
  CODEOWNERS
  docs/bridge/.gitignore
  docs/bridge/README.md
  docs/bridge/babel.config.js
  docs/bridge/docs/CCTP/Contracts.md
  docs/bridge/docs/CCTP/Overview.md
  docs/bridge/docs/CCTP/Relayer.md
  docs/bridge/docs/CCTP/_category_.json
  docs/bridge/docs/Observability.md
  docs/bridge/docs/Services/Omnirpc.md
  docs/bridge/docs/Services/Signer.md
  docs/bridge/docs/Services/Submitter.md
  docs/bridge/docs/rfq/API/API.md
  docs/bridge/docs/rfq/API/get-quotes.api.mdx
  docs/bridge/docs/rfq/API/sidebar.ts
  docs/bridge/docs/rfq/API/upsert-quote.api.mdx
  docs/bridge/docs/rfq/Contracts.md
  docs/bridge/docs/rfq/RFQ.md
  docs/bridge/docs/rfq/Relayer/Relayer.md
  docs/bridge/docs/rfq/_category_.json
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  docs/bridge/sidebars.ts
  docs/bridge/src/components/HomepageFeatures/index.tsx
  docs/bridge/src/components/HomepageFeatures/styles.module.css
  docs/bridge/src/css/custom.css
  docs/bridge/src/pages/index.module.css
  docs/bridge/src/pages/index.tsx
  docs/bridge/src/pages/markdown-page.md
  docs/bridge/static/.nojekyll
  docs/bridge/static/img/docusaurus-social-card.jpg
  docs/bridge/static/img/docusaurus.png
  docs/bridge/static/img/favicon.ico
  docs/bridge/static/img/logo.svg
  docs/bridge/static/img/undraw_docusaurus_mountain.svg
  docs/bridge/static/img/undraw_docusaurus_react.svg
  docs/bridge/static/img/undraw_docusaurus_tree.svg
  docs/bridge/tsconfig.json
  lerna.json
  package.json
  packages/docs/CHANGELOG.md
  packages/docs/docs/sdk/examples.md
  packages/docs/docs/sdk/index.md
  packages/docs/docs/sdk/usage.md
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/sidebars.js
  packages/docs/src/components/SdkFeatures/InstallSwitch.tsx
  packages/docs/src/pages/index.tsx
  services/rfq/api/README.md
  services/rfq/api/client/client.go
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/rest/handler.go
  yarn.lock
Labels: M-ci, go, size/l, M-Codeowners, needs-go-generate-services/rfq

#2618 cleanup
  CODEOWNERS
Labels: M-Codeowners

#2606 RFQ API: replace `otelresty` with `otelhhtp` package
  services/rfq/api/client/client.go
Labels: go, size/xs, needs-go-generate-services/rfq

#2619 fix(solidity-devops): update forge-std to 1.8.2
  packages/solidity-devops/package.json
  yarn.lock
Labels: size/xs

#2627 auto deploy vercel to prod (only vercel)
  .github/workflows/ui-preview.yaml
  docs/bridge/README.md
Labels: M-ci, size/xs

#2629 docs(contributing) add a guide on adding js packages
  .github/workflows/lerna.yaml
  CONTRIBUTING.md
  docs/bridge/README.md
Labels: M-ci, size/xs

#2631 doc release fix
  .github/workflows/ui-preview.yaml
  docs/bridge/README.md
Labels: M-ci, size/xs

#2634 Add rfq grafana dashboard and fix links
  docs/bridge/docs/rfq/Relayer/Relayer.md
  docs/bridge/docs/rfq/Relayer/dashboard.png
  services/rfq/relayer/dashboards/grafana.json
Labels: size/m

#2635 add scroll to promexporter
  contrib/promexporter/internal/gql/explorer/models.gen.go
Labels: go, size/xs

#2633 Submitter: bump MaxResultsPerChain
  ethergo/submitter/db/txdb/store.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, needs-go-generate-committee, needs-go-generate-sin-executor

#2636 regen fast bridge
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
Labels: go, size/xs

#2637 omnirpc doc fixes
  .yamllint.yml
  agents/go.mod
  agents/go.sum
  committee/go.mod
  committee/go.sum
  contrib/promexporter/go.sum
  docs/bridge/docs/Services/Omnirpc.md
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/README.md
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
  services/omnirpc/proxy/server.go
  services/omnirpc/swagger/collection.json
  services/omnirpc/swagger/gen.sh
  services/omnirpc/swagger/generate.go
  services/omnirpc/swagger/generator/main.go
  services/omnirpc/swagger/openapi.yaml
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  sin-executor/go.mod
  sin-executor/go.sum
Labels: go, size/l

#2638 fix typo
  services/omnirpc/README.md
Labels: needs-go-generate-services/explorer, size/xs, needs-go-generate-committee, needs-go-generate-sin-executor

#2640 feat(widget): spectral token
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
Labels: size/xs

#2526 feat(synapse-interface): Adds Scroll via RFQ
  packages/synapse-interface/assets/chains/scroll.svg
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/ui/NewTag.tsx
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/swap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/data/rfqResponse.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/utils/fetchRfqData.js
  packages/synapse-interface/scripts/utils/prettyPrintTs.js
  packages/synapse-interface/utils/getEstimatedBridgeTime.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/l

#2643 RFQ API: add GET /ack endpoint
  services/rfq/api/client/client.go
  services/rfq/api/config/config.go
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/model/request.go
  services/rfq/api/model/response.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/model.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/m

#2645 Submitter: lower retry interval
  ethergo/submitter/submitter.go
Labels: go, size/xs

#2647 Adjusts banner date
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface, size/xs

#2646 Add SPEC token pricing to the manual cache
  services/explorer/consumer/parser/tokendata/cache.go
Labels: go, needs-go-generate-services/explorer, size/xs

#2650 fix(screener): fix screener http 502
  contrib/screener-api/client/client.go
  contrib/screener-api/db/db_test.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/docs/docs.go
  contrib/screener-api/docs/swagger.json
  contrib/screener-api/docs/swagger.yaml
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: go, size/s
