Repository synapsecns/sanguine, pull requests merged in 2024-04, with the labels that each got.

#2409 remove qodana
  .github/workflows/scan.yml
  qodana.sarif.json
  qodana.yaml
Labels: M-ci, size/l

#2406 Fix: submitter ReplacedOrConfirmed condition
  ethergo/submitter/db/txdb/store.go
Labels: go, size/xs

#2411 Set submitter DefaultGasBumpPercentage to 10
  ethergo/submitter/config/config.go
Labels: go, size/xs

#2397 Deploy RFQ to Base
  packages/contracts-rfq/deployments/base/.chainId
  packages/contracts-rfq/deployments/base/FastBridge.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
Labels: size/l

#2418 feat(services/rfq): use one submitter
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/options.go
  services/cctp-relayer/relayer/relayer.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#2413 enforce txtype
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter.go
Labels: go, size/xs

#2421 Submitter: lower batch size from 50 to 1
  ethergo/submitter/db/txdb/store.go
Labels: go, size/xs

#2412 Submitter: bump fee cap with tip cap
  ethergo/chain/gas/cmp.go
  ethergo/chain/gas/cmp_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
Labels: go, size/xs

#2423 mark all replacedorconfirmed
  ethergo/submitter/db/txdb/store.go
Labels: go, size/xs

#2424 fix rfq error marshalling
  services/rfq/relayer/inventory/synapse.go
Labels: go, size/xs

#2429 don't clone submodules for change detection
  .github/workflows/go.yml
  core/README.md
Labels: M-ci, size/xs

#2425 fix event sourcing bug
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#2430 RFQ: failed rebalance does not block chain listener
  ethergo/listener/listener.go
  services/rfq/relayer/service/chainindexer.go
Labels: go, size/s

#2433 Allow metrics to be sync
  core/metrics/README.md
  core/metrics/base.go
Labels: go, size/xs

#2415 add tx decoder
  .github/workflows/lint.yml
  contrib/scripts/txdecoder.sh
Labels: M-ci, size/xs

#2434 updatel bl 04/03
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2436 Test autobump to new version
  packages/docs/package.json
Labels: size/xs

#2443 Adds engines to fix failing tests
  packages/coverage-aggregator/package.json
  yarn.lock
Labels: size/xs

#2444 stage #2355
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Labels: M-ci, size/xs

#2445 update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2389 feat(contracts-communication): Interchain versioning library
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/contracts/libs/VersionedPayload.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/harnesses/AppConfigLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/harnesses/VersionedPayloadLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/libs/VersionedPayloadLib.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.abigen.go
  sin-executor/contracts/mocks/optionslibexport/optionslibexport.contractinfo.json
  sin-executor/executor/executor_test.go
Labels: go, size/l

#2447 fix(solidity-devops): set only priority fee until foundry bug is fixed
  packages/solidity-devops/js/utils/chain.js
Labels: size/xs

#2448 Added BL addresses for DPRK and Kokomo exit scam
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2450 Adds private to covg aggregator
  packages/coverage-aggregator/package.json
Labels: size/xs

#2452 feat: v4 SIN testnet deployment
  packages/contracts-communication/.env.example
  packages/contracts-communication/configs/global/InterchainAppExample.testnet.json
  packages/contracts-communication/configs/global/InterchainClientV1.testnet.json
  packages/contracts-communication/configs/global/PingPongApp.testnet.json
  packages/contracts-communication/configs/global/SynapseGasOracleV1.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
  packages/contracts-communication/deployments/arb_sepolia/.chainId
  packages/contracts-communication/deployments/arb_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/arb_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/arb_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/arb_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/arb_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/arb_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/eth_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
  packages/contracts-communication/devops.json
  packages/contracts-communication/foundry.toml
  packages/contracts-communication/package.json
  packages/contracts-communication/script/deploy/DeployProxy.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  yarn.lock
Labels: size/m

#2454 Go changes for #2453
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/node/e2e_test.go
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
Labels: go, size/l

#2457 Removes jest due to version conflict
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m

#2355 Improve Dependency Resolution for Workflow Optimization
  contrib/git-changes-action/README.md
  contrib/git-changes-action/detector/doc.go
  contrib/git-changes-action/detector/export_test.go
  contrib/git-changes-action/detector/git/doc.go
  contrib/git-changes-action/detector/git/eventtype_string.go
  contrib/git-changes-action/detector/git/git.go
  contrib/git-changes-action/detector/git/ref.go
  contrib/git-changes-action/detector/module/depgraph.go
  contrib/git-changes-action/detector/module/detector.go
  contrib/git-changes-action/detector/module/detector_test.go
  contrib/git-changes-action/detector/module/doc.go
  contrib/git-changes-action/detector/module/export_test.go
  contrib/git-changes-action/detector/module/suite_test.go
  contrib/git-changes-action/detector/package/depgraph.go
  contrib/git-changes-action/detector/package/detector.go
  contrib/git-changes-action/detector/package/doc.go
  contrib/git-changes-action/main.go
Labels: go, size/m, 🙋 Bounty claim

#2432 Submitter/dynamic tx fees [goreleaser]
  ethergo/chain/gas/cmp.go
  ethergo/submitter/chain_queue.go
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
  ethergo/submitter/db/mocks/service.go
  ethergo/submitter/db/service.go
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
Labels: go, needs-go-generate-ethergo, size/m

#2442 Submitter: remove IsL2 param
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
Labels: go, needs-go-generate-services/omnirpc, needs-go-generate-ethergo, needs-go-generate-agents, size/xs, needs-go-generate-services/cctp-relayer, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, needs-go-generate-services/stiprelayer, needs-go-generate-committee, needs-go-generate-sin-executor

#2441 RFQ: check for zero address before approving contract
  services/rfq/relayer/inventory/manager.go
Labels: go, size/xs

#2468 [goreleaser] Submitter: adjust Gas Tip Minimum Comparison
  ethergo/submitter/submitter.go
Labels: go, needs-go-generate-ethergo, size/xs

#2469 chore: fix typo in promexporter readme
  contrib/promexporter/README.md
Labels: size/xs

#2473 Fix solidity CI workflow in `contracts-communication`
  .github/workflows/solidity.yml
Labels: M-ci, size/xs

#2470 Submitter: decrease default min gas price
  ethergo/submitter/chain_queue.go
  ethergo/submitter/config/config.go
  ethergo/submitter/config/config_test.go
  ethergo/submitter/submitter.go
Labels: go, needs-go-generate-ethergo, size/xs

#2472 [goreleaser] fix(contracts-communication): revert if not enough gas supplied; update `sin-executor` to use gas buffer
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  sin-executor/config/config.go
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
Labels: go, size/s

#2474 [goreleaser] Adding RFQ to the Explorer [goreleaser]
  services/explorer/api/resolver_test.go
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/config/indexer/config.go
  services/explorer/config/server/config.go
  services/explorer/consumer/fetcher/rfqfetcher.go
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/consumer/parser/utils.go
  services/explorer/contracts/contracts/SynapseRFQV1_flat.sol
  services/explorer/contracts/contracts/SynapseRFQV2_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseRFQV1.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseRFQV2.sol
  services/explorer/contracts/fastbridge/fastbridge.abigen.go
  services/explorer/contracts/fastbridge/fastbridge.contractinfo.json
  services/explorer/contracts/fastbridge/fastbridge.metadata.go
  services/explorer/contracts/fastbridge/generate.go
  services/explorer/contracts/fastbridge/helpers.go
  services/explorer/contracts/fastbridge/request.go
  services/explorer/contracts/fastbridge/testfastbridge/generate.go
  services/explorer/contracts/fastbridge/testfastbridge/helpers.go
  services/explorer/contracts/fastbridge/testfastbridge/testfastbridge.abigen.go
  services/explorer/contracts/fastbridge/testfastbridge/testfastbridge.contractinfo.json
  services/explorer/contracts/fastbridge/testfastbridge/testfastbridge.metadata.go
  services/explorer/contracts/fastbridge/topics.go
  services/explorer/db/sql/model.go
  services/explorer/db/sql/store.go
  services/explorer/db/sql/writer.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/node/explorer.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/contracttypeimpl_string.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/manager.go
  services/explorer/testutil/testcontracts/typecast.go
  services/explorer/testutil/testcontracts/typecast_test.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
  services/explorer/types/bridge/eventtype.go
  services/explorer/types/bridge/eventtype_string.go
  services/explorer/types/fastbridge/doc.go
  services/explorer/types/fastbridge/event.go
  services/explorer/types/fastbridge/eventtype.go
  services/explorer/types/fastbridge/eventtype_string.go
  services/explorer/types/utils.go
Labels: go, needs-go-generate-services/explorer, size/l

#2476 Add tracing in inventory manager
  services/rfq/relayer/inventory/manager.go
Labels: go, size/xs

#2477 RFQ: use separate gas threshold for origin and destination [goreleaser]
  services/rfq/relayer/inventory/manager.go
Labels: go, size/xs

#2478 RFQ: add TestHasSufficientGas
  services/rfq/relayer/inventory/manager_test.go
Labels: go, size/s

#2479 add dynamic gas limit setting inline of executor, remove old gas limi…
  sin-executor/config/config.go
  sin-executor/executor/executor.go
Labels: go, size/xs

#2488 FE Release 2024-04-11
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/package.json
  sin-executor/config/config.go
  sin-executor/executor/executor.go
Labels: go, M-synapse-interface, size/xs

#2490 feat(synapse-interface): Unpauses Metis
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
Labels: M-synapse-interface, size/xs

#2491 FE Release 2024-04-12
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs

#2492 Fe/paused chains json
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/public/pausedChains.json
Labels: M-synapse-interface, size/s

#2483 RFQ: take transactor.Value into account in gas middleware
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/s

#2493 Fe/maintenance add swap
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceWarningMessage.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/public/pausedChains.json
Labels: M-synapse-interface, size/s

#2496 [goreleaser] Fix: gas value check only for non-in-flight requests
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs

#2497 wrap workflow
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Labels: M-ci, size/xs

#2500 feat(synapse-interface): Removes auto-toggling chain & token selects on hover, replacing with click action
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/TokenSelector.tsx
Labels: M-synapse-interface, size/s

#2501 FE Release 2024-04-15 2
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/TokenSelector.tsx
  packages/synapse-interface/package.json
Labels: go, M-synapse-interface, size/s

#2481 [goreRFQ Explorer maintenence -- fixing sender/recipient
  services/explorer/config.yaml
  services/explorer/configOrigin.yaml
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/types/fastbridge/event.go
Labels: go, size/s, needs-go-generate-contrib/promexporter

#2465 Format exported synape PFP
  packages/synapse-interface/pages/returntomonke/ImageUploader.tsx
Labels: M-synapse-interface, size/s

#2506 fix(contracts-communication): Expose app config, finalize events
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/AbstractICAppEvents.sol
  packages/contracts-communication/contracts/events/ExecutionFeesEvents.sol
  packages/contracts-communication/contracts/events/InterchainAppV1Events.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/SynapseExecutionServiceEvents.sol
  packages/contracts-communication/contracts/events/SynapseGasOracleV1Events.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
Labels: go, size/l

#2507 feat(synapse-interface): pause optimism
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
Labels: M-synapse-interface, size/xs

#2504 Fe/pause bridge module
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/pauses/v1/pausedBridgeModules.json
  packages/synapse-interface/public/pauses/v1/pausedChains.json
Labels: M-synapse-interface, size/s

#2480 feat(synapse-interface): add chain native currency
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/icons/GasIcon.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/tokens/gasTokens.ts
  packages/synapse-interface/constants/tokens/index.ts
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#2510 Sin/testnet 5
  packages/contracts-communication/deployments/arb_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/arb_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/arb_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/arb_sepolia/LegacyPingPong.json
  packages/contracts-communication/deployments/arb_sepolia/MessageBus.json
  packages/contracts-communication/deployments/arb_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/arb_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/arb_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/LegacyPingPong.json
  packages/contracts-communication/deployments/eth_sepolia/MessageBus.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/eth_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
  packages/contracts-communication/script/misc/TopUpGas.s.sol
  packages/contracts-communication/script/misc/WithdrawGas.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  packages/contracts-communication/script/testnet-topup.sh
Labels: size/l

#2401 feat(synapse-interface): portfolio gas tokens
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/HoverTooltip.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenVisualizer.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/icons/GasIcon.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/tokens/index.ts
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
  packages/synapse-interface/utils/getParsedBalance.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m

#1735 Harmony rpc
  ethergo/backends/geth/geth.go
  ethergo/backends/mocks/simulated_test_backend.go
  ethergo/backends/simulated/chain.go
  ethergo/chain/client/client.go
  ethergo/chain/client/lifecycle.go
  ethergo/chain/client/mocks/evm_client.go
  ethergo/chain/client/mocks/metered_evm_client.go
  ethergo/chain/mocks/chain.go
  ethergo/client/client.go
  ethergo/client/hmy.go
  ethergo/client/methods.go
  ethergo/client/mocks/evm.go
  ethergo/submitter/config/iconfig_generated.go
  services/omnirpc/cmd/cmd.go
  services/omnirpc/cmd/commands.go
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
Labels: go, size/m, needs-go-generate-contrib/promexporter

#2460 feat(synapse-interface): Added /returntomonke pfp generator
  packages/synapse-interface/pages/returntomonke/ImageUploader.tsx
  packages/synapse-interface/pages/returntomonke/PfpGeneratorCard.tsx
  packages/synapse-interface/pages/returntomonke/index.tsx
  packages/synapse-interface/public/synpfpborder.png
Labels: M-synapse-interface, size/s

#2515 added Hedgey Finance Exploit address
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2455 feat(synapse-interface): stable dfk fallback rpc
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#2517 fix rfq race condition
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/xs

#2518 Respect context on rfq requests
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/s

#2513 submit-ahead flag
  services/omnirpc/cmd/commands.go
  services/omnirpc/cmd/flags.go
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
Labels: go, size/s, needs-go-generate-contrib/promexporter, needs-go-generate-sin-executor

#2519 Regen promexporter
  contrib/promexporter/internal/gql/explorer/models.gen.go
Labels: go, size/xs

#2527 ignore generated files
  .codeclimate.yml
Labels: size/xs

#2508 feat(synapse-interface): unpause optimism
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
Labels: M-synapse-interface, size/xs

#2523 Feat: interchain check conflicts
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Labels: size/s

#2524 feat: simplify payment of execution fees
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/ExecutionFeesEvents.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/events/SynapseExecutionServiceEvents.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/script/config/ConfigureClientV1.s.sol
  packages/contracts-communication/script/config/ConfigureExecutionFees.s.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Src.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
Labels: size/l

#2505 Submitter: add prometheus metrics
  ethergo/submitter/chain_queue.go
Labels: go, needs-go-generate-ethergo, needs-go-generate-services/explorer, size/s

#2520 RFQ: add quote submission timeout
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/xs

#2535 RFQ: rebalance threshold validation
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
Labels: go, size/s, needs-go-generate-services/rfq

#2537 add rfq api swagger docs
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/main.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/go.mod
  services/rfq/go.sum
Labels: go, size/m

#2503 RFQ: add prometheus metrics
  ethergo/submitter/chain_queue.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
Labels: go, size/m, needs-go-generate-committee

#2345 feat(synapse-interface): maintenance aggregator using PAUSED_CHAINS
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceBanner.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceWarningMessage.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
  packages/synapse-interface/components/Maintenance/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useFromChainListArray.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useToChainListArray.ts
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/public/pauses/v1/examples/paused-bridge-modules-example.json
  packages/synapse-interface/public/pauses/v1/examples/paused-chains-example.json
  packages/synapse-interface/public/pauses/v1/paused-bridge-modules.json
  packages/synapse-interface/public/pauses/v1/paused-chains.json
  packages/synapse-interface/utils/isChainIncluded.tsx
  packages/synapse-interface/utils/routeMaker/generateRoutePossibilities.ts
  packages/synapse-interface/utils/swapFinder/generateSwapPossibilities.ts
Labels: M-synapse-interface, size/l
