Repository synapsecns/sanguine, pull requests merged in 2024-02, with the labels that each got.

#1840 Add native ETH support to relayer
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/chain/util.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/m

#1937 fe/stip rewards
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/icons/ArrowUpRightIcon.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/utils/actions/getErc20TokenTransfers.ts
Labels: M-synapse-interface, size/m

#1895 Use checksummed addresses in RFQ config
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/db.go
Labels: go, size/s

#1957 Release/2024 02 01
  .github/workflows/goreleaser-actions.yml
  contrib/git-changes-action/README.md
  core/README.md
  docker/goreleaser/Dockerfile
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/icons/ArrowUpRightIcon.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/constants/existingSwapRoutes.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/utils/actions/getErc20TokenTransfers.ts
  packages/synapse-interface/utils/findTokenByAddressAndChainId.ts
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/chain/util.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
  services/stiprelayer/db/sql/base/store.go
  services/stiprelayer/db/stip_db.go
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipapi/server.go
  services/stiprelayer/stipconfig/config.go
Labels: M-ci, go, M-docker, M-synapse-interface, size/l

#1958 Adds prepare
  packages/widget/package.json
Labels: size/xs

#1959 Updates readme image links
  packages/widget/README.md
Labels: size/xs

#1960 remove DS_STORE
  packages/widget/.DS_Store
Labels: size/xs

#1898 Fe/refactor portfolio
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/components/ClearSearchButton.tsx
  packages/synapse-interface/components/Portfolio/components/ConnectWalletButton.tsx
  packages/synapse-interface/components/Portfolio/components/EmptyPortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/components/HoverClickableText.tsx
  packages/synapse-interface/components/Portfolio/components/NoSearchResultContent.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioAssetActionButton.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioConnectButton.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioNetwork.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenVisualizer.tsx
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/Portfolio/components/ViewSearchAddressBanner.tsx
  packages/synapse-interface/components/Portfolio/helpers/useIsFocused.ts
  packages/synapse-interface/components/Portfolio/helpers/useIsMounted.ts
  packages/synapse-interface/components/Portfolio/helpers/useSearchInputStatus.ts
Labels: M-synapse-interface, size/l

#1961 Widget/quote loading
  packages/widget/src/components/Widget.tsx
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
Labels: size/xs

#1962 Destination value
  packages/widget/src/components/Widget.tsx
Labels: size/xs

#1963 Updates widget lib
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/src/App.tsx
  packages/widget/examples/with-react/yarn.lock
Labels: size/xs

#1966 Updates dfk token and chains
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/Widget.tsx
Labels: size/xs

#1967 Fixes fallback rpc calls
  packages/widget/src/providers/SynapseProvider.tsx
Labels: size/s

#1965 Widget/input filter
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/SearchInput.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
Labels: size/m

#1968 Checks web3Provider existence before rendering
  packages/widget/src/index.tsx
Labels: size/xs

#1970 Widget/search input styling
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/SearchInput.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
Labels: size/xs

#1976 Widget/chain tabs appearance
  packages/widget/src/components/ui/ToggleTabs.tsx
Labels: size/s

#1972 Adds tabs to filter chains based on consumer provided target chains
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/icons/ConnectedIndicator.tsx
  packages/widget/src/components/ui/ChainOption.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/ChainSelect.tsx
  packages/widget/src/components/ui/ToggleTabs.tsx
  packages/widget/src/hooks/useChainInputFilter.ts
  packages/widget/src/index.tsx
  packages/widget/src/state/slices/bridge/reducer.ts
  packages/widget/src/types/index.d.ts
Labels: size/m

#1982 popover side-down transition
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/tailwind.config.js
Labels: size/xs

#1984 Widget/doc
  packages/widget/examples/landing-page/src/components/Instructions.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
Labels: size/xs

#1986 Don't use llama nodes for tests
  packages/sdk-router/src/constants/testProviders.ts
Labels: size/xs

#1981 Fix quoter tests
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/xs, needs-go-generate-services/rfq

#1983 Widget/popover appearance
  packages/widget/CHANGELOG.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/icons/ConnectedIndicator.tsx
  packages/widget/src/components/ui/ChainOption.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/SearchInput.tsx
  packages/widget/src/components/ui/ToggleTabs.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/utils/generateTheme.ts
Labels: size/s

#1989 Updates README with props and definitions
  packages/widget/README.md
Labels: size/xs

#1988 Widget/pending tx
  packages/widget/src/components/TimeRemaining.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Transactions.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/DropdownMenu.tsx
  packages/widget/src/hooks/useTransactionListener.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
  packages/widget/src/state/slices/bridgeTransaction/reducer.ts
  packages/widget/src/state/slices/transactions/reducer.ts
Labels: size/s

#1980 go work sync fix
  .codeclimate.yml
  .github/workflows/go.yml
  .github/workflows/scan.yml
  .golangci.yml
  README.md
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  qodana.sarif.json
  qodana.yaml
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/e2e/rfq_test.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: M-ci, go, needs-go-generate-agents, size/l, needs-go-generate-services/rfq

#1991 carry forward more reports
  .codecov.yml
Labels: size/xs

#1953 RFQ relayer config refactor
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/relconfig/iconfig_generated.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/l, needs-go-generate-services/rfq

#1992 Updates Metis minichef
  packages/synapse-interface/constants/minichef.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/utils/actions/getPoolApyData.ts
Labels: M-synapse-interface, size/s

#1985 Clears existing bridge quote before requesting new one
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/xs

#1993 Widget/tx support
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/TransactionSupport.tsx
Labels: size/s

#1996 Show Avalanche Native StableSwap Pool on Stake page
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/xs

#1995 Adds token and chain imgUrl
  packages/widget/src/components/ui/ChainOption.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenOption.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
  packages/widget/src/types/index.d.ts
Labels: size/s

#1999 Check tx is not finalized for showTransactionSupport
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Transactions.tsx
Labels: size/xs

#1998 Reset each quote and denests origin/destQuery
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useTransactionListener.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
Labels: size/xs

#2001 Fixes typos
  packages/widget/README.md
Labels: size/xs

#2000 Fix/coderabbit settings
  .coderabbit.yaml
  .github/workflows/scan.yml
Labels: M-ci, size/xs

#2003 Removes switch on chain select change
  packages/widget/src/components/Widget.tsx
Labels: size/xs

#1954 Add token price fetching to RFQ FeePricer
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/fetcher.go
  services/rfq/relayer/pricer/mocks/coingecko_price_fetcher.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s, needs-go-generate-services/rfq

#2004 Widget/landing page improvements
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/Appearance.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/Instructions.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/examples/landing-page/src/styles/globals.css
Labels: size/s

#2005 Updates pngs
  packages/widget/images/blue.png
  packages/widget/images/dark.png
  packages/widget/images/light.png
Labels: size/xs

#2008 Release/2024 02 9
  .coderabbit.yaml
  .github/workflows/scan.yml
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
  packages/widget/CHANGELOG.md
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/Appearance.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/Instructions.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/examples/landing-page/src/styles/globals.css
  packages/widget/images/blue.png
  packages/widget/images/dark.png
  packages/widget/images/light.png
  packages/widget/package.json
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/TransactionSupport.tsx
  packages/widget/src/components/Transactions.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ChainOption.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/TokenOption.tsx
  packages/widget/src/components/ui/TokenPopoverSelect.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
  packages/widget/src/hooks/useTransactionListener.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
  packages/widget/src/types/index.d.ts
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/fetcher.go
  services/rfq/relayer/pricer/mocks/coingecko_price_fetcher.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: M-ci, go, M-synapse-interface, size/l

#2009 fe update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2006 Updates README, typing
  packages/widget/README.md
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/examples/landing-page/src/components/GetStarted.tsx
  packages/widget/examples/landing-page/src/components/RecommendedParameters.tsx
  packages/widget/examples/landing-page/src/components/TokenAndChainCustomization.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
Labels: size/s

#2011 Upgrades to 0.0.49 in React & Next examples
  packages/widget/examples/with-next/app/App.tsx
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: size/l

#2012 Fixes origin and dest chain names in receipt
  packages/widget/examples/landing-page/src/app/page.tsx
  packages/widget/src/components/Receipt.tsx
Labels: size/xs

#1909 Add RFQ event decoder
  tools/rfqdecoder/main.go
Labels: go, size/s, needs-go-generate-contrib/promexporter

#2013 Upgrades example app deps
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: size/xs

#2017 Update Readme for STIP
  README.md
Labels: size/xs

#2024 Explorer UI fix
  packages/explorer-ui/pages/tx/[kappa].tsx
Labels: M-explorer-ui, size/xs

#2025 use ethergo in tools
  .coderabbit.yaml
  agents/go.mod
  agents/go.sum
  go.work.sum
  make/repo.Makefile
  services/explorer/go.mod
  services/explorer/go.sum
  services/rfq/.goreleaser.yml
  services/rfq/README.md
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/tools/rfqdecoder/main.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  tools/go.mod
Labels: go, needs-go-generate-agents, size/s, needs-go-generate-services/rfq

#2002 Fe/txn progress visuals
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/icons/DownArrow.tsx
  packages/synapse-interface/components/icons/RightArrow.tsx
  packages/synapse-interface/tailwind.config.js
Labels: M-synapse-interface, size/m

#2027 Upd SDK test: receive USDC via SynapseBridge on AVAX
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs

#989 omnirpc op
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/lint.yml
  .golangci.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/client/client.go
  contrib/screener-api/db/sql/sqlite/sqlite.go
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/ginhelper/experimental_logger.go
  core/ginhelper/server.go
  core/ginhelper/server_test.go
  core/ginhelper/suite_test.go
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/assets/deps.png
  core/metrics/base.go
  core/metrics/logger/doc.go
  core/metrics/logger/experimental.go
  core/metrics/logger/logger_generated.go
  core/metrics/metrics.go
  core/metrics/null.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/parser/rpc/rpc.go
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/README.md
  services/omnirpc/cmd/cmd.go
  services/omnirpc/cmd/commands.go
  services/omnirpc/cmd/flags.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/modules/README.md
  services/omnirpc/modules/confirmedtofinalized/const.go
  services/omnirpc/modules/confirmedtofinalized/doc.go
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/omnirpc/proxy/confirmable.go
  services/omnirpc/proxy/server.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: M-ci, go, needs-go-generate-agents, size/l, needs-go-generate-services/rfq

#2026 FE: update bridge map
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/data/providers.json
Labels: M-synapse-interface, size/xs

#2029 use klaytn icon for klay token
  packages/synapse-constants/constants/assets/icons/klay.svg
Labels: size/xs

#2030 Updates bridgeMap
  packages/widget/src/constants/bridgeMap.ts
Labels: size/s

#2031 ignore files
  .codeclimate.yml
Labels: size/xs

#2032 ignore globs
  .codeclimate.yml
Labels: size/xs

#2039 widget/closing-parenthesis
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ToggleTabs.tsx
Labels: size/xs

#2038 Widget/progress bar
  packages/widget/src/components/AnimatedProgressBar.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Transactions.tsx
  packages/widget/src/hooks/useBridgeTxStatus.tsx
Labels: size/s

#2042 Upgrades examples package versions
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-next/yarn.lock
  packages/widget/examples/with-react/package.json
  packages/widget/examples/with-react/yarn.lock
Labels: size/xs

#2046 Interchain + InterchainDB integration
  packages/contracts-communication/contracts/IInterchain.sol
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/mocks/MockL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/mocks/MockL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/OPL1L2Module.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/Interchain.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/OPL1L2MultiModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: needs-go-generate-agents, size/l, needs-go-generate-services/rfq

#2045 InterchainClient & Synapse Module InterchainDB Integration
  packages/contracts-communication/contracts/IInterchain.sol
  packages/contracts-communication/contracts/IInterchainModule.sol
  packages/contracts-communication/contracts/Interchain.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModuleEvents.sol
  packages/contracts-communication/contracts/mocks/MockL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/mocks/MockL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL1CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/IL2CrossDomainMessenger.sol
  packages/contracts-communication/contracts/modules/OPL1L2Module.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/Interchain.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/OPL1L2MultiModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: size/l, needs-go-generate-services/rfq

#2047 Solidity library for generic M/N signature verification
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/test/harnesses/ThresholdECDSALibHarness.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
Labels: needs-go-generate-agents, size/m, needs-go-generate-services/rfq

#2041 RFQ quoter retries unprofitable quotes
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s, needs-go-generate-services/rfq

#2049 Chore/reorganize events
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: size/xs

#2055 Interchain: Expose isExecutable View
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Labels: needs-go-generate-agents, size/s

#2056 Interchain: execution options (gas limit, gas airdrop, etc)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: size/s

#2050 Contracts/communication synapse module
  packages/contracts-communication/contracts/InterchainModule.sol
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IGasOracle.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseGasService.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/SynapseModuleE2E.t.sol
  packages/contracts-communication/test/SynapseModuleTest.sol
  packages/contracts-communication/test/harnesses/ThresholdECDSALibHarness.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/mocks/GasOracleMock.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/l

#2060 Add versioned options
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/OptionsLibHarness.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
Labels: size/s

#2059 Stip relayer min ARB transfer
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: go, size/xs

#2051 Fe/refactor navigation
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
Labels: M-synapse-interface, size/s

#2021 Address screener with message
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/utils/globalEventEmitter.ts
  packages/synapse-interface/utils/hooks/useRiskEvent.tsx
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface, size/s

#2036 Minimum rebate
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Labels: M-synapse-interface, size/s

#2063 Interfaces for execution
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutor.sol
Labels: needs-go-generate-agents, size/s, needs-go-generate-services/rfq

#2070 Contracts/communication update client interface
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: needs-go-generate-agents, size/s

#2068 Global db nonces in `InterchainDB`
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/m

#2064 Init basic script for testnet deploy
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-1708379237.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/dry-run/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379427.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-1708379439.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155111/run-latest.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381080.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-1708381086.json
  packages/contracts-communication/broadcast/MessagingBase.s.sol/11155420/run-latest.json
  packages/contracts-communication/script/MessagingBase.s.sol
Labels: size/l

#2072 Fe/vscode settings
  .vscode/settings.json
Labels: size/xs

#2074 Fix/entry verified event
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
Labels: needs-go-generate-agents, size/xs, needs-go-generate-services/rfq

#2076 Communication - Update IApp to use latest Client interface
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
Labels: needs-go-generate-agents, size/xs

#2048 Upgrades tailwind
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface, size/xs

#2075 move Activity to component folder
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
Labels: M-synapse-interface, size/xs

#2034 Fe/estimate gas
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#2081 client updates for #2077
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchainclient/parser.go
  sin-executor/contracts/interchainclient/topics.go
  sin-executor/db/base/transaction.go
  sin-executor/db/db.go
  sin-executor/db/model.go
  sin-executor/executor/executor.go
  sin-executor/go.mod
  sin-executor/go.sum
Labels: go, size/l

#2043 Small Rest API maintenance
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
Labels: size/l

#2087 Add `AppConfig` library
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/foundry.toml
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/AppConfigLibHarness.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: needs-go-generate-agents, size/s, needs-yarn-install, needs-go-generate-services/rfq

#2083 FE release (2024-02-22)
  .vscode/settings.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/config/Chains.ts
  packages/rest-api/src/config/bridgeMap.ts
  packages/rest-api/src/config/bridgeable.ts
  packages/rest-api/src/config/tokens.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Labels: M-synapse-interface, size/l

#2086 Add `InterchainTransaction` library
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Labels: size/s, needs-yarn-install

#2085 Showing/hiding rebate based on cap
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
Labels: M-synapse-interface, size/s

#2062 SDK Speedup via caching
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/debug/logPromise.ts
  packages/sdk-router/tsconfig.json
  yarn.lock
Labels: size/s

#2091 FE Release 2-22-2
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/debug/logPromise.ts
  packages/sdk-router/tsconfig.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/slices/feeAndRebateSlice.ts
  packages/widget/CHANGELOG.md
  packages/widget/package.json
  yarn.lock
Labels: M-synapse-interface, size/m

#2066 Use unified dune query for all STIP transaction types
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: go, size/s

#2094 Feat: message passing
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: size/xs, needs-yarn-install, needs-go-generate-services/rfq

#2082 Add ExecutionFees.sol collector contract & record upon execution serv…
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/ExecutionFeesEvents.sol
  packages/contracts-communication/contracts/interfaces/IExecutionFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/test/ExecutionFees.t.sol
  packages/contracts-communication/test/mocks/ExecutionFeesMock.sol
  packages/contracts-communication/test/mocks/ExecutionServiceMock.sol
Labels: size/m, needs-yarn-install

#2099 update bl
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2101 go 1.22 fixes for pyroscope
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, size/s

#2103 Update 25-2
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#2104 Fe release 2-25
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, M-synapse-interface, size/s

#2106 fix anvil impersonation issue
  ethergo/backends/anvil/README.md
  ethergo/backends/anvil/client.go
  ethergo/backends/base/base.go
  ethergo/backends/base/base_test.go
  ethergo/backends/base/mocks/confirmation_client.go
Labels: go, needs-go-generate-agents, size/s, needs-go-generate-services/rfq

#2102 remove legacy keep dependency
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/backends/base/base.go
  ethergo/chain/chain_impl.go
  ethergo/chain/client/config.go
  ethergo/chain/client/metered.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Labels: go, needs-go-generate-agents, needs-go-generate-services/explorer, size/l, needs-go-generate-services/rfq

#2105 Interchain client cleanup
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: needs-go-generate-agents, size/m, needs-yarn-install, needs-go-generate-services/rfq

#2112 Interchain tx/db nonce
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: size/s, needs-yarn-install

#2107 Updates copy
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface, size/xs

#2109 Feat/: base for interchain app
  packages/contracts-communication/contracts/apps/InterchainAppExample.sol
  packages/contracts-communication/contracts/apps/InterchainAppV1.sol
  packages/contracts-communication/contracts/events/InterchainAppV1Events.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Labels: needs-go-generate-agents, size/m, needs-yarn-install, needs-go-generate-services/rfq

#2120 FE Release 2024-02-27
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/client/client.go
  core/metrics/pyroscope.go
  ethergo/backends/anvil/README.md
  ethergo/backends/anvil/client.go
  ethergo/backends/base/base.go
  ethergo/backends/base/base_test.go
  ethergo/backends/base/mocks/confirmation_client.go
  ethergo/chain/chain_impl.go
  ethergo/chain/client/config.go
  ethergo/chain/client/metered.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/utils/screenAddress.ts
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/relconfig/config.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: go, M-synapse-interface, size/l

#2123 interchain
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
Labels: go, size/l

#2122 adds mod directive
  services/rfq/go.mod
Labels: size/xs, needs-go-generate-services/rfq

#2130 Fe/klay icon fix
  packages/synapse-interface/assets/icons/klay.svg
Labels: M-synapse-interface, size/xs

#2118 Feat: synapse module cleanup
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Labels: size/m, needs-yarn-install

#2132 Feat/owner address in constructor
  packages/contracts-communication/contracts/ExecutionFees.sol
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  packages/contracts-communication/test/ExecutionService.t.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
  packages/contracts-communication/test/harnesses/InterchainClientV1Harness.sol
Labels: needs-go-generate-agents, size/xs, needs-yarn-install, needs-go-generate-services/rfq

#2133 Feat: expose client address
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1Test.t.sol
Labels: needs-go-generate-agents, size/s, needs-yarn-install

#2131 Init solidity-devops package
  package.json
  packages/solidity-devops/.env.example
  packages/solidity-devops/.eslintrc.js
  packages/solidity-devops/.gitignore
  packages/solidity-devops/.prettierrc.js
  packages/solidity-devops/README.md
  packages/solidity-devops/deployments/arbitrum/.chainId
  packages/solidity-devops/deployments/aurora/.chainId
  packages/solidity-devops/deployments/dfk/.chainId
  packages/solidity-devops/devops.json
  packages/solidity-devops/foundry.toml
  packages/solidity-devops/js/run-str.js
  packages/solidity-devops/js/run.js
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/config.js
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/js/utils/env.js
  packages/solidity-devops/js/utils/forge.js
  packages/solidity-devops/js/utils/logger.js
  packages/solidity-devops/js/utils/options.js
  packages/solidity-devops/js/utils/utils.js
  packages/solidity-devops/js/utils/wallet.js
  packages/solidity-devops/package.json
  packages/solidity-devops/remappings.txt
  packages/solidity-devops/script/BasicContract.sol
  packages/solidity-devops/script/Script.s.sol
  packages/solidity-devops/src/SynapseScript.sol
  packages/solidity-devops/src/SynapseScript06.sol
  packages/solidity-devops/src/base/ChainAwareness.sol
  packages/solidity-devops/src/base/Logger.sol
  packages/solidity-devops/src/base/PathFinder.sol
  packages/solidity-devops/src/base/SynapseBaseScript.sol
  packages/solidity-devops/src/deploy/Deployer.sol
  packages/solidity-devops/src/deploy/DeploymentSaver.sol
  packages/solidity-devops/src/libs/StringUtils.sol
  packages/solidity-devops/src/reader/ChainAwareReader.sol
  packages/solidity-devops/src/reader/DataReader.sol
  packages/solidity-devops/src/writer/ChainAwareWriter.sol
  packages/solidity-devops/src/writer/DataWriter.sol
  packages/solidity-devops/test/harnesses/StringUtilsHarness.sol
  packages/solidity-devops/test/libs/StringUtils.t.sol
  yarn.lock
Labels: needs-go-generate-agents, size/l, needs-go-generate-services/rfq

#2129 Use Generic DB for listener
  ethergo/README.md
  ethergo/chain/listener/listener_test.go
  ethergo/chain/listener/suite_test.go
  ethergo/example/README.md
  ethergo/example/counter/counter.abigen.go
  ethergo/example/counter/counter.contractinfo.json
  ethergo/example/counter/counter.sol
  ethergo/example/deploymanager.go
  ethergo/listener/db/doc.go
  ethergo/listener/db/service.go
  ethergo/listener/db/store.go
  ethergo/listener/doc.go
  ethergo/listener/export_test.go
  ethergo/listener/listener.go
  ethergo/listener/listener_test.go
  ethergo/listener/suite_test.go
  services/rfq/e2e/rfq_test.go
  services/rfq/go.mod
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/reldb/base/block.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
  services/rfq/relayer/service/relayer.go
  services/rfq/testutil/deployers.go
Labels: go, needs-go-generate-agents, size/l, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#2135 update readme
  README.md
Labels: size/xs

#2141 ignore out-of-use submodule
  .gitmodules
Labels: size/xs
