Repository synapsecns/sanguine, pull requests merged in 2024-12, with the labels that each got.

#3424 add svg route
  packages/rest-api/package.json
  packages/rest-api/src/routes/addressIconRoute.ts
  packages/rest-api/src/routes/chainIconRoute.ts
  packages/rest-api/src/routes/index.ts
  yarn.lock
Labels: size/s, Sol, Typescript, M-deps

#3425 bump ts version
  packages/rest-api/package.json
Labels: size/xs

#3426 fix: update klaytn/kaia rpc url
  packages/rest-api/src/constants/chains.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-interface/constants/chains/master.tsx
  packages/widget/src/constants/chains.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3429 SIN relabels + typos
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/index.md
  docs/bridge/docs/03-RFQ/10-Quoting/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/riskFactors.md
  docs/bridge/docs/03-RFQ/30-Proving/index.md
  docs/bridge/docs/03-RFQ/40-Claiming/index.md
  docs/bridge/docs/03-RFQ/60-Security/index.md
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/index.md
  docs/bridge/docs/03-RFQ/index.md
Labels: size/xs, M-docs

#3430 typo
  docs/bridge/docs/03-RFQ/index.md
Labels: size/xs, M-docs

#3413 fix(rfq-relayer): gas estimation for zaps
  packages/contracts-rfq/package.json
  services/rfq/api/model/request.go
  services/rfq/contracts/bridgetransactionv2/bridgetransactionv2.abigen.go
  services/rfq/contracts/bridgetransactionv2/bridgetransactionv2.contractinfo.json
  services/rfq/contracts/bridgetransactionv2/bridgetransactionv2.metadata.go
  services/rfq/contracts/bridgetransactionv2/generate.go
  services/rfq/contracts/bridgetransactionv2/helper.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/chain/encoding.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/typecast.go
Labels: go, size/l, needs-go-generate-services/rfq

#3439 gitattribute foundry
  .gitattributes
Labels: size/xs

#3441 feat(docs): Add SYN to docs
  docs/bridge/docs/01-About/04-SYN.md
  docs/bridge/docs/05-Contracts/09-SYN.md
Labels: size/s, M-docs

#3442 feat(synapse-interface): Link to docs
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/toast/ToastContent.tsx
  packages/synapse-interface/components/toast/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3299 feat(rfq-relayer): fee pricer considers v2 CallValue and CallParams [SLT-320]
  ethergo/backends/anvil/anvil.go
  packages/contracts-rfq/package.json
  services/omnirpc/proxy/forward.go
  services/rfq/api/model/request.go
  services/rfq/contracts/bridgetransactionv2/bridgetransactionv2.abigen.go
  services/rfq/contracts/bridgetransactionv2/bridgetransactionv2.contractinfo.json
  services/rfq/contracts/bridgetransactionv2/bridgetransactionv2.metadata.go
  services/rfq/contracts/bridgetransactionv2/generate.go
  services/rfq/contracts/bridgetransactionv2/helper.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/chain/encoding.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/service/relayer.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/typecast.go
Labels: go, size/l, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3444 Adding new venues
  docs/bridge/docs/01-About/04-SYN.md
Labels: size/xs, M-docs

#3445 fe-release 12/8
  .gitattributes
  docs/bridge/CHANGELOG.md
  docs/bridge/docs/01-About/04-SYN.md
  docs/bridge/docs/03-RFQ/index.md
  docs/bridge/docs/05-Contracts/09-SYN.md
  docs/bridge/package.json
  packages/contracts-rfq/.solhintignore
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/harnesses/UniversalTokenLibHarness.sol
  packages/contracts-rfq/test/integration/MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/UniversalTokenLib.t.sol
  packages/contracts-rfq/test/mocks/FastBridgeMock.sol
  packages/contracts-rfq/test/mocks/MockERC20.sol
  packages/contracts-rfq/test/mocks/MockRevertingRecipient.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/toast/ToastContent.tsx
  packages/synapse-interface/components/toast/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
Labels: M-synapse-interface, size/s, Sol, Typescript, M-docs, fe-release

#3435 fix(contracts-rfq): FastBridge V2 prove race condition
  packages/contracts-rfq/contracts/AdminV2.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2Errors.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/test/FastBridgeV2.Management.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
Labels: size/m

#3451 fix(contracts-rfq): add `forwardTo` to ZapData for Zap Actions that don't forward assets to the user
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Labels: size/l, needs-go-generate-services/rfq

#3437 fix(contracts-rfq): configurable `deployBlock`
  packages/contracts-rfq/contracts/AdminV2.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Management.t.sol
Labels: size/s

#3433 feat(contracts-rfq): Synapse Intent Router
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultExtendedPool.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultPool.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IWETH9.sol
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
  packages/contracts-rfq/script/DeploySIR.s.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/mocks/DefaultPoolMock.sol
  packages/contracts-rfq/test/mocks/PoolMock.sol
  packages/contracts-rfq/test/mocks/SwapQuoterMock.sol
  packages/contracts-rfq/test/mocks/WETHMock.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Labels: size/l

#3458 fixing support link
  packages/synapse-interface/constants/urls/index.tsx
  packages/widget/src/constants/index.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3460 New developer blog post
  docs/bridge/blog-posts/2024-12-12-fastbridgev2-post.md
  docs/bridge/blog-posts/RFQFlow.tsx
Labels: size/m, M-docs

#3461 feat(synapse-interface): Adds Hyperliquid bridge & deposit support
  cspell.json
  docs/bridge/blog-posts/2024-12-12-fastbridgev2-post.md
  packages/synapse-interface/assets/chains/hyperliquid.svg
  packages/synapse-interface/components/HyperliquidDepositInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeQuoteResetTimer.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/HyperliquidDepositButton.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/existingBridgeRoutes.ts
  packages/synapse-interface/constants/index.ts
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Labels: M-synapse-interface, size/m, Sol, Typescript, M-docs

#3459 Making address (origin and dest) mandated in rest API
  docs/bridge/docs/02-Bridge/02-REST-API.md
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/swagger.json
Labels: size/s, Sol, Typescript, M-docs

#3464 Updating incentivized pools
  packages/synapse-constants/src/constants/tokens/poolMaster.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3468 Chain Pauses Update
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/sdk.test.ts
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/s, Sol, Typescript

#3470 chore: remove rookout
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/internal/const.go
  core/metrics/rookout.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Labels: go, size/m, needs-go-generate-services/rfq

#3480 Nav update
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3481 FE Release 2024-12-30
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs, Sol, Typescript, fe-release
