Repository synapsecns/sanguine, pull requests merged in 2024-10, with the labels that each got.

#3207 solhint warning fixes [SLT-287]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/s

#3202 feat(contracts-rfq): relayer exclusivity [SLT-187]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.Excl.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Parity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.Negative.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/m, needs-go-generate-services/rfq

#3209 Increments version
  packages/synapse-constants/package.json
Labels: size/xs

#3210 Increments version
  packages/synapse-constants/package.json
Labels: size/xs

#3211 Increments package.json version
  packages/synapse-constants/package.json
Labels: size/xs

#3213 bump constants version
  packages/synapse-constants/package.json
Labels: size/xs

#3214 FbV2 sender nonces [SLT-183]
  packages/contracts-rfq/.gitignore
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: size/xs

#3128 feat(rfq): active quoting API
  contrib/opbot/go.mod
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/db/activequoterequeststatus_string.go
  services/rfq/api/db/activequoteresponsestatus_string.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/base.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/model/request.go
  services/rfq/api/model/response.go
  services/rfq/api/model/util.go
  services/rfq/api/rest/auth.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/pubsub.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/rfq_test.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/api/rest/ws.go
  services/rfq/e2e/setup_test.go
  services/rfq/go.mod
  services/rfq/relayer/limiter/limiter_test.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/mocks/quoter.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/l, needs-go-generate-services/rfq

#3217 fix(contracts-rfq): gas bench tests for the views [SLT-275]
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
Labels: size/xs

#3222 Docs/fix
  docs/bridge/docs/05-Contracts/05-CCTP.md
  docs/bridge/docs/05-Contracts/06-RFQ.md
  docs/bridge/docs/06-Services/06-RFQ-Indexer-API.md
  packages/rfq-indexer/api/README.md
Labels: size/xs, M-docs

#3225 Hide Routes component
  docs/bridge/docs/01-About/03-Routes.md
  docs/bridge/docs/02-Bridge/04-Sample-Code.md
  docs/bridge/docs/02-Bridge/05-Supported-Routes.md
  docs/bridge/docs/02-Bridge/_05-Supported-Routes.md
  docs/bridge/docs/02-Bridge/index.md
Labels: size/xs, M-docs

#3223 fix(sdk-router): quote unmarshall hotfix [SLT-302]
  packages/sdk-router/src/rfq/api.ts
Labels: size/xs, Sol, Typescript

#3227 RFQ-Indexer Adding events
  docs/bridge/docs/06-Services/06-RFQ-Indexer-API.md
  packages/rfq-indexer/indexer/ponder.config.ts
  packages/rfq-indexer/indexer/ponder.schema.ts
  packages/rfq-indexer/indexer/src/index.ts
  packages/rfq-indexer/indexer/src/types.ts
  packages/rfq-indexer/indexer/src/utils/chains.ts
  packages/rfq-indexer/indexer/src/utils/generateEntryId.ts
Labels: size/m, Sol, Typescript, M-docs

#3229 feat(docs): Adds search
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  yarn.lock
Labels: size/s, Sol, Typescript, M-deps, M-docs

#3230 rest-api(fix): Denest keys for logs
  packages/rest-api/src/app.ts
  packages/rest-api/src/middleware/logger.ts
Labels: size/xs, Sol, Typescript

#3231 feat(rest-api): adds path to route request
  packages/rest-api/src/app.ts
Labels: size/xs, Sol, Typescript

#3234 respect prefers-color-scheme
  docs/bridge/docusaurus.config.ts
Labels: size/xs, Sol, Typescript, M-docs

#3224 fix constants publish [SLT-160]
  .github/workflows/ui-preview.yaml
  docs/bridge/package.json
  docs/bridge/src/components/Routes.tsx
  docs/bridge/src/components/USDC.tsx
  lerna.json
  packages/explorer-ui/components/misc/AssetImage.tsx
  packages/explorer-ui/components/misc/ChainImage.tsx
  packages/explorer-ui/components/misc/ChainInfo.tsx
  packages/explorer-ui/components/misc/MostActive.tsx
  packages/explorer-ui/components/misc/TokenOnChain.tsx
  packages/explorer-ui/components/misc/ToolTip.tsx
  packages/explorer-ui/components/pages/Home/UniversalSearch/index.tsx
  packages/explorer-ui/components/pages/Home/index.tsx
  packages/explorer-ui/package.json
  packages/explorer-ui/pages/chain/[chainId].tsx
  packages/explorer-ui/pages/token/[tokenAddress].tsx
  packages/explorer-ui/pages/tx/[kappa].tsx
  packages/explorer-ui/pages/txs/index.tsx
  packages/explorer-ui/utils/addressToDecimals.ts
  packages/explorer-ui/utils/addressToSymbol.ts
  packages/explorer-ui/utils/classes/Token.ts
  packages/explorer-ui/utils/styles/coins.ts
  packages/explorer-ui/utils/styles/networks.ts
  packages/explorer-ui/utils/urls/index.ts
  packages/explorer-ui/yarn.lock
  packages/synapse-constants/package.json
  packages/synapse-constants/rollup.config.js
  yarn.lock
Labels: M-ci, javascript, M-explorer-ui, size/l, Sol, Typescript, M-deps, M-docs

#3235 update ga [SLT-316]
  docs/bridge/package.json
  packages/explorer-ui/package.json
  packages/explorer-ui/pages/_app.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  yarn.lock
Labels: M-explorer-ui, M-synapse-interface, size/xs, M-deps, M-docs

#3239 RFQ-Indexer DB updates
  packages/rfq-indexer/indexer/ponder.schema.ts
  packages/rfq-indexer/indexer/src/index.ts
Labels: size/xs, Sol, Typescript

#3238 fe release label workflow
  .github/workflows/labeler.yml
Labels: M-ci, size/xs

#3243 Paro/rfq indexer updates suggs
  packages/rfq-indexer/api/README.md
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/disputesController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/db/index.ts
  packages/rfq-indexer/api/src/graphql/queries/queries.graphql
  packages/rfq-indexer/api/src/graphql/resolvers.ts
  packages/rfq-indexer/api/src/graphql/types/events.graphql
  packages/rfq-indexer/api/src/queries/disputesQueries.ts
  packages/rfq-indexer/api/src/queries/index.ts
  packages/rfq-indexer/api/src/queries/proofsQueries.ts
  packages/rfq-indexer/api/src/routes/disputesRoute.ts
  packages/rfq-indexer/api/src/routes/index.ts
  packages/rfq-indexer/api/src/routes/pendingTransactionsRoute.ts
  packages/rfq-indexer/api/src/types/index.ts
Labels: size/m, Sol, Typescript

#3242 ci: add `contracts-core` to the ignored paths list
  .github/renovate.json
Labels: M-ci, size/xs

#3215 feat(contracts-rfq): arbitrary calls without additional native value [SLT-233]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeRecipient.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.Excl.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.Negative.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/mocks/ExcessiveReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/IncorrectReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NoOpContract.sol
  packages/contracts-rfq/test/mocks/NoReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NonPayableRecipient.sol
  packages/contracts-rfq/test/mocks/RecipientMock.sol
Labels: size/m, needs-go-generate-services/rfq

#3250 FE Release only for #3238
  .github/renovate.json
  .github/workflows/labeler.yml
  docs/bridge/CHANGELOG.md
  docs/bridge/docs/01-About/03-Routes.md
  docs/bridge/docs/02-Bridge/04-Code-Examples.md
  docs/bridge/docs/02-Bridge/05-Supported-Routes.md
  docs/bridge/docs/02-Bridge/_05-Supported-Routes.md
  docs/bridge/docs/02-Bridge/index.md
  docs/bridge/package.json
  docs/bridge/src/components/Routes.tsx
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeRecipient.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/package.json
  packages/contracts-rfq/test/FastBridgeV2.Dst.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.Excl.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.Negative.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/mocks/ExcessiveReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/IncorrectReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NoOpContract.sol
  packages/contracts-rfq/test/mocks/NoReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NonPayableRecipient.sol
  packages/contracts-rfq/test/mocks/RecipientMock.sol
  packages/rfq-indexer/api/CHANGELOG.md
  packages/rfq-indexer/api/README.md
  packages/rfq-indexer/api/package.json
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/disputesController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/db/index.ts
  packages/rfq-indexer/api/src/graphql/queries/queries.graphql
  packages/rfq-indexer/api/src/graphql/resolvers.ts
  packages/rfq-indexer/api/src/graphql/types/events.graphql
  packages/rfq-indexer/api/src/queries/disputesQueries.ts
  packages/rfq-indexer/api/src/queries/index.ts
  packages/rfq-indexer/api/src/queries/proofsQueries.ts
  packages/rfq-indexer/api/src/routes/disputesRoute.ts
  packages/rfq-indexer/api/src/routes/index.ts
  packages/rfq-indexer/api/src/routes/pendingTransactionsRoute.ts
  packages/rfq-indexer/api/src/types/index.ts
Labels: M-ci, size/l, Sol, Typescript, M-docs

#3249 Docs/blog api img
  docs/bridge/blog-posts/2024-10-10-rest-api-post.md
  docs/bridge/blog-posts/authors.yml
  docs/bridge/blog-posts/rest-api-flow.png
  docs/bridge/blog-posts/welcome.md
  docs/bridge/docs/02-Bridge/05-Supported-Routes.md
  docs/bridge/docs/02-Bridge/_05-Supported-Routes.md
  docs/bridge/docusaurus.config.ts
  docs/bridge/src/components/APIFlow.tsx
  docs/bridge/src/css/custom.css
  docs/bridge/src/pages/index.tsx
Labels: size/m, Sol, Typescript, M-docs

#3252 Nits to the new docs
  docs/bridge/docusaurus.config.ts
Labels: size/xs, Sol, Typescript, M-docs

#3255 ci: fix matrix exclude for solidity packages
  packages/contracts-core/test/GasBenchmark.t.sol
  packages/solidity-devops/test/GasBenchmark.t.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, size/xs

#3257 ci: matrix package exclude
  .github/workflows/solidity.yml
Labels: M-ci, size/xs

#3247 fix(rest-api): Adds validSwap validation [SLT-321]
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/utils/tokenAddressToToken.ts
  packages/rest-api/src/validations/validSwap.ts
Labels: size/xs, Sol, Typescript

#3251 fix(contracts-rfq): add bridge/relay revert tests [SLT-322]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: size/s, needs-go-generate-services/rfq

#3254 fix(solidity-devops): always add verifier options to `forge script`
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/options.js
Labels: javascript, size/xs

#3262 fix(synapse-interface): Fixes key
  packages/synapse-interface/components/Portfolio/components/EmptyPortfolioContent.tsx
Labels: M-synapse-interface, size/xs

#3263 enrich debug w/ mixins[SLT-330]
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
  ethergo/util/attributes.go
  ethergo/util/attributes_test.go
  ethergo/util/export_test.go
  services/omnirpc/modules/README.md
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/omnirpc/modules/mixins/doc.go
  services/omnirpc/modules/mixins/helpers.go
  services/omnirpc/modules/mixins/txsubmit.go
  services/omnirpc/modules/receiptsbackup/receiptsbackup.go
Labels: go, size/m, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3266 Fixes title
  packages/rest-api/src/swagger.ts
Labels: size/xs, Sol, Typescript

#3264 trace [SLT-330]
  ethergo/util/attributes.go
  ethergo/util/attributes_test.go
  ethergo/util/export_test.go
  services/omnirpc/http/client.go
  services/omnirpc/modules/receiptsbackup/receiptsbackup.go
Labels: go, size/xs, needs-go-generate-services/rfq

#3269 feat(synapse-constants): adds preinstall step
  docs/bridge/README.md
  packages/explorer-ui/README.md
  packages/synapse-constants/package.json
Labels: M-explorer-ui, size/s, M-docs

#3270 fix(rest-api): Checks for existence of bridgeTransactions field
  packages/rest-api/src/controllers/destinationTxController.ts
Labels: size/xs, Sol, Typescript

#3272 Chain updates
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Labels: size/xs, Sol, Typescript

#3273 test(contracts-rfq): gas benchmark for the arbitrary call [SLT-233]
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.Excl.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.PFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/s

#3276 feat(rfq-relayer): forward bridge requests in new goroutine
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs, needs-go-generate-services/rfq

#3278 move docs [SLT-133]
  docs/bridge/docusaurus.config.ts
Labels: size/xs, Sol, Typescript, M-docs

#3277 RFQ Indexer: adding search by origin tx
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/routes/transactionIdRoute.ts
Labels: size/xs, Sol, Typescript

#3279 Fix/edit url [SLT-338]
  docs/bridge/docusaurus.config.ts
Labels: size/xs, Sol, Typescript, M-docs

#3280 fix(docs): Fixes gh link
  docs/bridge/docusaurus.config.ts
Labels: size/xs, Sol, Typescript, M-docs

#3246 feat(contracts-rfq): arbitrary call with value [SLT-233] [SLT-318]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/m, needs-go-generate-services/rfq

#3283 chore(contracts-rfq): gas bench script
  .github/workflows/solidity.yml
  packages/contracts-rfq/package.json
Labels: M-ci, size/xs

#3259 feat(rfq-relayer): add MaxRelayAmount
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/s, needs-go-generate-services/rfq

#3290 fix(docs): Fixes install typos, adds spacing for object with multiple args
  docs/bridge/docs/02-Bridge/01-SDK.md
Labels: size/s, M-docs

#3291 test(contracts-rfq): remove test contracts from coverage report
  packages/contracts-rfq/script/FastBridge.s.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Dst.Excl.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.PFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ProtocolFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/MockERC20.sol
  packages/contracts-rfq/test/UniversalTokenLibHarness.sol
  packages/contracts-rfq/test/harnesses/MulticallTargetHarness.sol
  packages/contracts-rfq/test/mocks/ExcessiveReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/IncorrectReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NoReturnValueRecipient.sol
  packages/contracts-rfq/test/mocks/NonPayableRecipient.sol
  packages/contracts-rfq/test/mocks/RecipientMock.sol
Labels: size/s, needs-go-generate-services/rfq

#3281 +rfq-loadtest [SLT-349]
  docs/bridge/docs/04-Routers/RFQ/index.md
  packages/rfq-loadtest/.gitignore
  packages/rfq-loadtest/.vscode/launch.json
  packages/rfq-loadtest/README.md
  packages/rfq-loadtest/config-template.yaml
  packages/rfq-loadtest/package.json
  packages/rfq-loadtest/sql/ponderSummary.sql
  packages/rfq-loadtest/src/abi.ts
  packages/rfq-loadtest/src/index.ts
  packages/rfq-loadtest/src/pyRepeater.py
  packages/rfq-loadtest/src/utils.ts
  packages/rfq-loadtest/tsconfig.json
  yarn.lock
Labels: size/l, Sol, Typescript, M-deps, M-docs

#3294 feat(rest-api): Primary RPCs get omnirpc
  packages/rest-api/.env.example
  packages/rest-api/package.json
  packages/rest-api/src/constants/chains.ts
  packages/rest-api/src/services/synapseService.ts
  packages/rest-api/src/utils/getOmniRpcUrl.ts
  yarn.lock
Labels: size/m, needs-yarn-install, Sol, Typescript, M-deps

#3297 fix(synapse-interface): translation period
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/layouts/StandardPageContainer.tsx
  yarn.lock
Labels: M-synapse-interface, size/m, M-deps

#3293 fix dispute emit & revamp deposit xfer [SLT-295] [SLT-326]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Labels: size/s

#3287 feat(rfq-indexer): add `request` column to `BridgeRequested` for refunds
  packages/rfq-indexer/api/src/graphql/resolvers.ts
  packages/rfq-indexer/api/src/graphql/types/events.graphql
  packages/rfq-indexer/api/src/queries/depositsQueries.ts
  packages/rfq-indexer/api/src/types/index.ts
  packages/rfq-indexer/indexer/ponder.schema.ts
  packages/rfq-indexer/indexer/src/index.ts
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Labels: size/xs, Sol, Typescript

#3301 feat(explorer-ui): Explorer maintenance banner message
  packages/explorer-ui/pages/_app.tsx
Labels: M-explorer-ui, size/xs

#3288 fix(rfq-relayer): profitability check accounts for offsets
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/s, needs-go-generate-services/rfq

#3306 fix withdrawal api [SLT-365]
  services/rfq/relayer/relapi/handler.go
Labels: go, size/xs

#3303 storage refs - readability & gas impv [SLT-353]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Labels: size/s, needs-go-generate-services/rfq

#3310 ci: disable Solidity workflows for PRs into `fe-release`
  .github/workflows/solidity.yml
Labels: M-ci, size/xs

#3284 feat(contracts-rfq): add version to `BridgeTransaction`, tight packing [SLT-328] [SLT-273]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/harnesses/BridgeTransactionV2Harness.sol
  packages/contracts-rfq/test/libs/BridgeTransactionV2.t.sol
Labels: size/m, needs-go-generate-services/rfq

#3313 feat(contracts-rfq): FastBridge v1 multicall [SLT-324]
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/test/integration/FastBridge.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/MulticallTarget.t.sol
Labels: size/m

#3304 chore(contracts-rfq): integration tests for legacy router [SLT-360]
  .github/workflows/solidity.yml
  package.json
  packages/contracts-rfq/.solhintignore
  packages/contracts-rfq/contracts/legacy/rfq/FastBridgeRouterV2.sol
  packages/contracts-rfq/contracts/legacy/rfq/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/legacy/rfq/interfaces/IFastBridgeRouter.sol
  packages/contracts-rfq/contracts/legacy/rfq/interfaces/ISwapQuoter.sol
  packages/contracts-rfq/contracts/legacy/router/DefaultRouter.sol
  packages/contracts-rfq/contracts/legacy/router/adapters/DefaultAdapter.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultExtendedPool.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultPool.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IRouterAdapter.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IWETH9.sol
  packages/contracts-rfq/contracts/legacy/router/libs/Errors.sol
  packages/contracts-rfq/contracts/legacy/router/libs/Structs.sol
  packages/contracts-rfq/contracts/legacy/router/libs/UniversalToken.sol
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/package.json
  packages/contracts-rfq/slither.config.json
  packages/contracts-rfq/test/FastBridgeV2.Src.FBRV2.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  yarn.lock
Labels: M-ci, size/l, M-deps

#3307 feat(rest-api): `/destinationTx` returns status of `refunded` when RFQ transaction has been refunded [SLT-350]
  packages/rest-api/src/constants/abis/fastBridge.json
  packages/rest-api/src/constants/abis/fastBridgeRouter.json
  packages/rest-api/src/constants/enums.ts
  packages/rest-api/src/constants/index.ts
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/controllers/bridgeTxStatusController.ts
  packages/rest-api/src/controllers/destinationTokensController.ts
  packages/rest-api/src/controllers/destinationTxController.ts
  packages/rest-api/src/controllers/indexController.ts
  packages/rest-api/src/controllers/swapController.ts
  packages/rest-api/src/controllers/swapTxInfoController.ts
  packages/rest-api/src/controllers/synapseTxIdController.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/destinationTxRoute.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/synapseTxIdRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
  packages/rest-api/src/serializers/serializeBridgeInfo.ts
  packages/rest-api/src/tests/destinationTxRoute.test.ts
  packages/rest-api/src/types/index.d.ts
  packages/rest-api/src/utils/constructBridgeTransactionsQuery.ts
  packages/rest-api/src/utils/fetchBridgeTransaction.ts
  packages/rest-api/src/utils/getBridgeStatus.ts
Labels: size/l, Sol, Typescript

#3314 fix(rest-api): `/destinationTokens` returns empty list when bridgeable token doesnt exist in bridge map
  packages/rest-api/src/controllers/destinationTokensController.ts
  packages/rest-api/src/tests/destinationTokensRoute.test.ts
Labels: size/xs, Sol, Typescript

#3318 feature(synapse-interface): Chain and bridgeMap updates
  packages/synapse-interface/assets/chains/worldchain.svg
  packages/synapse-interface/assets/icons/wld.svg
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/extraWagmiChains.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/generateMaps.js
Labels: javascript, M-synapse-interface, size/s, Sol, Typescript

#3319 feat(rest-api): Chain and token updates
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/constants/chains.ts
  packages/rest-api/src/tests/destinationTokensRoute.test.ts
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
Labels: size/s, Sol, Typescript

#3320 feat(synapse-constants): chain and token updates
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeMap.ts
Labels: size/s, Sol, Typescript

#3321 add uptime metric [SLT-372]
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/standard.go
Labels: go, size/s, needs-go-generate-services/rfq

#3316 refactor(contracts-rfq): emit events before external calls, more explicit docs [SLT-342]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Labels: size/xs

#3325 optionally disable cors
  core/ginhelper/server.go
  services/omnirpc/cmd/cmd.go
Labels: go, size/xs

#3317 fix(rest-api): validate synapseTxId
  packages/rest-api/src/controllers/bridgeTxStatusController.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/tests/bridgeTxStatusRoute.test.ts
  packages/rest-api/src/validations/validateKappa.ts
Labels: size/xs, Sol, Typescript

#3326 chore(contracts-rfq): add world scan
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/deployments/worldchain/.chainId
  packages/contracts-rfq/deployments/worldchain/FastBridge.json
  packages/contracts-rfq/foundry.toml
Labels: size/m

#3334 bump harmony commit hash [SLT-392]
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
Labels: go, size/xs, needs-go-generate-services/rfq

#3335 Parod/fb v2 multicall add test
  packages/contracts-rfq/test/integration/MulticallTarget.t.sol
Labels: size/s

#3340 add status index
  services/rfq/guard/guarddb/base/model.go
  services/rfq/relayer/reldb/base/model.go
Labels: go, size/xs, needs-go-generate-services/rfq

#3336 exclusivityEndtime default 0 [SLT-391]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Exclusivity.Negative.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Labels: size/xs

#3345 test(contracts-rfq): adjust setup to #3336 changes
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
Labels: size/xs

#3343 Widget Config Change [SLT-399]
  packages/widget/package.json
Labels: size/xs

#3323 feat(rest-api): API gateway for rfq-indexer API and rfq API + swagger merge [SLT-339]
  .vscode/settings.json
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/06-Services/06-RFQ-Indexer-API.md
  package.json
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/destinationTxRoute.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/synapseTxIdRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
  packages/rest-api/src/swagger.ts
  packages/rest-api/src/utils/isGatewayRoute.ts
  packages/rest-api/swagger.json
  packages/rfq-indexer/README.md
  packages/rfq-indexer/api/README.md
  services/rfq/api/README.md
  services/rfq/api/docs/swagger.json
  yarn.lock
Labels: size/l, needs-go-generate-services/rfq, Sol, Typescript, M-deps, M-docs, M-vscode-settings

#3205 first pass at security.md [SLT-250]
  SECURITY.md
Labels: size/xs

#3328 fix(rfq-relayer): skip cache when fetching committable balances [SLT-386]
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs, needs-go-generate-services/rfq

#3338 Adding ETH on BNB Chain [SLT-398]
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/icons/bnb.svg
  packages/synapse-interface/components/Activity/Transaction/TransactionOptions.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeMap.ts
Labels: M-synapse-interface, size/s, Sol, Typescript

#3350 Automated spellchecking with `cspell` [SLT-408]
  .github/workflows/packages.yml
  cspell.json
  docs/bridge/README.md
  docs/bridge/docs/02-Bridge/01-SDK.md
  docs/bridge/docs/02-Bridge/02-REST-API.md
  docs/bridge/docs/04-Routers/01-Synapse-Router/index.md
  docs/bridge/docs/04-Routers/RFQ/01-Relayer.md
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/06-Services/04-Submitter.md
  docs/bridge/package.json
  packages/explorer-ui/components/misc/CopyTitle.tsx
  packages/explorer-ui/package.json
  packages/sdk-router/package.json
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/constants/urls/uriToHttp.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  yarn.lock
Labels: M-ci, M-explorer-ui, M-synapse-interface, size/m, M-deps, M-docs

#3351 worldchain explorer updates
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/rfq-indexer/api/src/constants/networkConfig.ts
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/disputesController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/graphql/resolvers.ts
  packages/rfq-indexer/api/src/graphql/types/events.graphql
  packages/rfq-indexer/api/src/queries/depositsQueries.ts
  packages/rfq-indexer/api/src/routes/conflictingProofsRoute.ts
  packages/rfq-indexer/api/src/routes/disputesRoute.ts
  packages/rfq-indexer/api/src/routes/invalidRelaysRoute.ts
  packages/rfq-indexer/api/src/routes/pendingTransactionsRoute.ts
  packages/rfq-indexer/api/src/routes/refundedAndRelayedRoute.ts
  packages/rfq-indexer/api/src/routes/transactionIdRoute.ts
  packages/rfq-indexer/api/src/types/index.ts
  packages/rfq-indexer/indexer/.env.example
  packages/rfq-indexer/indexer/abis/FastBridgeV2.ts
  packages/rfq-indexer/indexer/ponder.config.ts
  packages/rfq-indexer/indexer/ponder.schema.ts
  packages/rfq-indexer/indexer/src/index.ts
  packages/rfq-indexer/indexer/src/utils/chains.ts
  packages/rfq-indexer/indexer/src/utils/formatAmount.ts
  services/explorer/api/server_test.go
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: go, M-explorer-ui, size/l, needs-go-generate-contrib/promexporter, Sol, Typescript
