Repository synapsecns/sanguine, pull requests merged in 2024-01, with the labels that each got.

#1726 Add `DestTxHash` field and use it in relayer `Prove()` call
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#1635 Responsive landing page improvements
  packages/synapse-interface/components/Wallet.tsx
  packages/synapse-interface/components/landing/shared.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/MoreButton.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/PageFooter.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/TopBarNavLink.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/ui/tailwind/Card.tsx
  packages/synapse-interface/pages/landing/sections/BridgeSection.tsx
  packages/synapse-interface/pages/landing/sections/ExplorerSection.tsx
  packages/synapse-interface/pages/landing/sections/HeroSection.tsx
  packages/synapse-interface/pages/landing/sections/HowItWorksSection.tsx
  packages/synapse-interface/pages/landing/sections/IntegrationSection.tsx
  packages/synapse-interface/pages/landing/sections/ResourcesSection.tsx
  packages/synapse-interface/pages/landing/sections/SecuritySection.tsx
  packages/synapse-interface/pages/landing/sections/UseCasesSection.tsx
  packages/synapse-interface/styles/global.css
Labels: M-synapse-interface, size/m

#1644 feat/fetch-chain-blocks
  packages/synapse-interface/graphql/GetBlockHeight.graphql
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/utils/actions/fetchBlockNumber.tsx
Labels: M-synapse-interface, size/s

#1646 Static paths and props for stake dynamic page
  packages/synapse-interface/pages/stake/StakeCard.tsx
  packages/synapse-interface/pages/stake/[routerIndex].tsx
Labels: M-synapse-interface, size/xs

#1724 Add `BaseGasPrice` to submitter
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
Labels: go, needs-go-generate-ethergo, size/s

#1731 Relayer config cleanup
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/relayer/service/suite_test.go
Labels: go, size/m, needs-go-generate-services/rfq

#1728 expose bl
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/ConnectWalletButton.tsx
  packages/synapse-interface/constants/blacklist.ts
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveAndStake.tsx
  packages/synapse-interface/utils/actions/approveAndWithdraw.tsx
  packages/synapse-interface/utils/actions/claimStake.tsx
  packages/synapse-interface/utils/actions/withdrawStake.tsx
  packages/synapse-interface/utils/approveToken.tsx
  packages/synapse-interface/utils/isBlacklisted.ts
  packages/synapse-interface/utils/screenAddress.ts
Labels: M-synapse-interface, size/l

#1737 Add contract addresses to quoter API response
  services/rfq/api/client/client.go
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/xs, needs-go-generate-services/rfq

#1682 Fe/transactions sdk
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/TransactionOptions.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/calculateEstimatedTransactionTime.tsx
  packages/synapse-interface/utils/getEstimatedBridgeTime.tsx
  packages/synapse-interface/utils/hooks/useBridgeTxStatus.tsx
Labels: go, M-explorer-ui, M-synapse-interface, size/l

#1732 Add `UUID` to submitter transactions
  ethergo/submitter/chain_queue.go
  ethergo/submitter/db/tx.go
  ethergo/submitter/db/txdb/model.go
  ethergo/submitter/db_test.go
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
Labels: go, needs-go-generate-ethergo, size/s

#1743 Add contract addresses to `Quote` db model
  services/rfq/api/db/api_db.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
Labels: go, size/xs, needs-go-generate-services/rfq

#1744 [goreleaser] Add API quote models
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/model/request.go
  services/rfq/api/model/response.go
  services/rfq/api/model/util.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/m, needs-go-generate-services/rfq

#1747 Use snake case for quote API
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/rfq/fastBridgeSet.test.ts
  packages/sdk-router/src/rfq/quote.test.ts
  packages/sdk-router/src/rfq/quote.ts
Labels: size/s

#1750 address tracking for rfq/updated cctp
  contrib/promexporter/config/config.go
Labels: go, size/xs

#1762 Adds try catch to prevent app crashing
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.tsx
Labels: M-synapse-interface, size/xs

#1768 add custom evm-version to abigen
  tools/abigen/cmd/commands.go
  tools/abigen/internal/export_test.go
  tools/abigen/internal/generate.go
  tools/abigen/internal/generate_test.go
Labels: go, size/s

#1742 Fe/allowances by router
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
Labels: M-synapse-interface, size/s

#1770 Fe/sorting wip
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/_transactions/updater.tsx
Labels: M-synapse-interface, size/s

#1695 SDK: add RFQ
  packages/sdk-router/package.json
  packages/sdk-router/src/abi/FastBridge.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/fastBridge.test.ts
  packages/sdk-router/src/rfq/fastBridge.ts
  packages/sdk-router/src/rfq/fastBridgeSet.test.ts
  packages/sdk-router/src/rfq/fastBridgeSet.ts
  packages/sdk-router/src/rfq/index.ts
  packages/sdk-router/src/rfq/quote.test.ts
  packages/sdk-router/src/rfq/quote.ts
  packages/sdk-router/src/rfq/ticker.test.ts
  packages/sdk-router/src/rfq/ticker.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/typechain/FastBridge.ts
  packages/sdk-router/src/utils/deadlines.ts
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/helpers/constants.ts
  packages/synapse-interface/components/_Transaction/helpers/getExplorerAddressLink.ts
  packages/synapse-interface/components/_Transaction/helpers/getTxBlockExplorerLink.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/_transactions/hooks.ts
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/_transactions/updater.tsx
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  yarn.lock
Labels: M-synapse-interface, size/l

#1774 Add Barrier to Deadline
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs

#1775 update rfq readme
  services/rfq/README.md
  services/rfq/contracts/testcontracts/usdt/doc.go
Labels: go, size/xs

#1773 Fixes pools apy loading
  packages/synapse-interface/utils/actions/getPoolApyData.ts
  packages/synapse-interface/utils/actions/getStakedBalance.ts
  packages/synapse-interface/utils/isBlacklisted.ts
Labels: M-synapse-interface, size/xs

#1776 [rfq] should process is completely ignored
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#1782 Add `FixedFeeMultiplier` to rfq fee pricer
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
Labels: go, size/s

#1793 pr review maintenance
  CODEOWNERS
Labels: size/xs, M-Codeowners

#1792 Upgrade Golangci Lint
  .github/workflows/go.yml
  CONTRIBUTING.md
  make/go.Makefile
Labels: M-ci, size/xs

#1794 Update new-from-rev
  .golangci.yml
Labels: size/xs, M-Codeowners

#1795 [rfq] fix codecov/flake
  .codecov.yml
  services/rfq/README.md
  services/rfq/e2e/rfq_test.go
Labels: go, size/xs

#1797 always run on default branch
  .github/workflows/go.yml
  services/rfq/README.md
Labels: M-ci, size/xs

#1798 Fix: use fallback providers for SDK tests
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/testProviders.ts
  packages/sdk-router/src/rfq/fastBridgeSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
  yarn.lock
Labels: size/s

#1786 Fe/balance update
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1788 Prevent extraneous bridge quote fetches
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1800 Fix/rfq event regen
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/relayer/listener/listener_test.go
Labels: go, size/l

#1787 Fe/clear tx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface, size/xs

#1802 `refund` to originSender only
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
Labels: size/s

#1803 Regen Events
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
Labels: go, size/s

#1799 Add tracing in `FeePricer`
  .golangci.yml
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/s

#1784 Add `OriginTxHash` tracking in rfq models
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/handlers.go
Labels: go, size/xs

#1808 upgrade sdk
  packages/sdk-router/src/abi/FastBridge.json
  packages/sdk-router/src/constants/addresses.ts
Labels: size/m

#1811 add eth to router
  packages/sdk-router/src/constants/chainIds.ts
Labels: size/xs

#1815 [RFQ] fix span leak in getPrice
  services/rfq/relayer/pricer/fee_pricer.go
Labels: go, size/xs

#1823 Fix: sdk api timeout
  packages/sdk-router/package.json
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/fastBridgeSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/typechain/FastBridge.ts
  packages/synapse-interface/slices/_transactions/reducer.ts
  yarn.lock
Labels: M-synapse-interface, size/l

#1825 Fix: submitter always uses `getGasEstimate()` when bumping
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter.go
Labels: go, size/xs

#1826 FE: Fix slippage calculation for tokens with different decimals
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
Labels: M-synapse-interface, size/xs

#1783 SDK: FastBrige router
  packages/sdk-router/src/abi/FastBridgeRouter.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/rfq/fastBridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/rfq/fastBridgeSet.test.ts
  packages/sdk-router/src/rfq/index.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/typechain/FastBridgeRouter.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
Labels: M-synapse-interface, size/l

#1830 SDK: generalized `Query` modification
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Labels: size/m

#1835 do not run go tests if target is fe-release
  .github/workflows/go.yml
Labels: M-ci, size/xs

#1836 Op mainnet to llamarpc
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#1834 release 2024-01-101
  .github/workflows/go.yml
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter.go
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/abi/FastBridgeRouter.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/fastBridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/rfq/fastBridgeSet.test.ts
  packages/sdk-router/src/rfq/index.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/typechain/FastBridge.ts
  packages/sdk-router/src/typechain/FastBridgeRouter.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  yarn.lock
Labels: M-ci, go, M-synapse-interface, size/l

#1841 Updates OP rpc to ankr
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#1843 Release/2024-01-11
  packages/synapse-interface/constants/chains/master.tsx
Labels: size/xs

#1807 Fe/approvals
  packages/synapse-interface/components/Pools/PoolHeader.tsx
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/PortfolioContent.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedBridge/helpers/sortByBalance.ts
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/helpers/sortByBalance.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/slices/portfolio/actions.ts
  packages/synapse-interface/slices/portfolio/hooks.ts
  packages/synapse-interface/slices/portfolio/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
Labels: M-synapse-interface, size/m

#1829 Remove duplicate portfolio fetch in Portfolio, trigger in UserProvider
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
Labels: M-synapse-interface, size/xs

#1839 Add `ChainFeeParams` for better fee pricing
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
Labels: go, size/s

#1849 properly handle not enough inventory
  services/rfq/relayer/service/relayer.go
Labels: go, size/xs

#1847 SDK: quotes with gas drop amount
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/typechain/SynapseCCTP.ts
Labels: size/l

#1851 Fixes page navigation balances issue
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
Labels: M-synapse-interface, size/xs

#1850 wrap signer error
  services/rfq/relayer/service/relayer.go
Labels: go, size/xs

#1842 Fe/update balance resolved tx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/s

#1859 Use RFQ if available
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1863 rip out tenderly (prereq to #1767)
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/Makefile
  ethergo/backends/backend.go
  ethergo/backends/base/base.go
  ethergo/backends/geth/geth_test.go
  ethergo/backends/mocks/simulated_test_backend.go
  ethergo/backends/simulated/simulated.go
  ethergo/backends/simulated/simulated_test.go
  ethergo/debug/exports.go
  ethergo/debug/fetch.go
  ethergo/debug/provider.go
  ethergo/debug/source.go
  ethergo/debug/tenderly/contract.go
  ethergo/debug/tenderly/deploy_provider.go
  ethergo/debug/tenderly/doc.go
  ethergo/debug/tenderly/logger.go
  ethergo/debug/tenderly/tenderly.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/parser/hardhat/export_test.go
  ethergo/parser/hardhat/parser.go
  ethergo/parser/hardhat/parser_test.go
  ethergo/parser/hardhat/types.go
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/config/generate_test.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  tools/abigen/internal/generate_test.go
  tools/go.mod
  tools/go.sum
Labels: go, size/l

#1865 Upgrade Go-Ethereum to v1.11.6
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  core/go.mod
  core/go.sum
  ethergo/backends/anvil/hardfork.go
  ethergo/backends/simulated/multibackend/chainid.go
  ethergo/backends/simulated/multibackend/simulated_gen.go
  ethergo/backends/simulated/multibackend/simulated_gen_test.go
  ethergo/chain/client/config.go
  ethergo/chain/gas/londinium/config_test.go
  ethergo/chain/gas/londinium/gasprice_test.go
  ethergo/chain/gas/london/oracle_backend.go
  ethergo/deployer/deployed_contract.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/db_test.go
  ethergo/util/converter.go
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/api/data_test.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/utils.go
  services/sinner/go.mod
  services/sinner/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, size/m

#1870 SDK: Update values for tracking tests
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs

#1854 Configurable deadline buffer for RFQ relayer
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs

#1861 Check all quotes for rfq before default quote query
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#1857 Reduce explorer polling interval to every 5 minutes
  packages/synapse-interface/slices/transactions/updater.tsx
Labels: M-synapse-interface, size/xs

#1877 applyBridgeSlippage() applySwapSlippage() applied
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
Labels: M-synapse-interface, size/s

#1875 Fe/approval amounts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Labels: M-synapse-interface, size/s

#1869 Fe/quotes trigger
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/slices/bridge/updater.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/hooks/useAlternateBridgeQuotes.ts
  packages/synapse-interface/utils/isEmptyString.ts
  packages/synapse-interface/utils/regex.tsx
Labels: M-synapse-interface, size/s

#1846 Implement fallback provider in SynapseProvider
  packages/synapse-interface/utils/providers/SynapseProvider.tsx
Labels: M-synapse-interface, size/xs

#1881 Fixes select value update
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
Labels: M-synapse-interface, size/xs

#1885 update rpcs
  packages/synapse-interface/constants/chains/master.tsx
Labels: M-synapse-interface, size/xs

#1887 Release 2024 01 18
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Portfolio/PortfolioContent/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/slices/bridge/updater.tsx
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/hooks/useAlternateBridgeQuotes.ts
  packages/synapse-interface/utils/isEmptyString.ts
  packages/synapse-interface/utils/providers/SynapseProvider.tsx
  packages/synapse-interface/utils/regex.tsx
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
  services/rfq/relayer/service/statushandler.go
Labels: go, M-synapse-interface, size/m

#1883 add logrocket on staging urls
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  yarn.lock
Labels: M-synapse-interface, size/xs

#1831 Mainnet RFQ Deployments + Prove period on top of user deadline w relay
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995462.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995597.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995658.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995397.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995419.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-latest.json
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/libs/UniversalToken.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
Labels: go, size/m

#1871 Sdk: include rfq protocol fees
  packages/sdk-router/src/rfq/fastBridgeRouter.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Labels: size/s

#1889 Fix typo in readme
  README.md
Labels: size/xs

#1890 Update Complete Tx text color
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface, size/xs

#1884 Wrap `getErc20TokenAllowance` in try catch
  packages/synapse-interface/actions/getErc20TokenAllowance.ts
Labels: M-synapse-interface, size/xs

#1891 Updates arb, base, polygon rpcs
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#1894 Release/2024 01 19
  README.md
  packages/contracts-rfq/broadcast/FastBridge.s.sol/1/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995462.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995597.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704995658.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-latest.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995397.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704995419.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-latest.json
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/libs/UniversalToken.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/sdk-router/src/rfq/fastBridgeRouter.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/actions/getErc20TokenAllowance.ts
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/public/blacklist.json
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  yarn.lock
Labels: go, M-synapse-interface, size/l

#1901 Release/2024 01 20
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#1903 Release/2024 01 20 2
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
Labels: M-synapse-interface, size/xs

#1899 Transaction formatting for date, amount, small screens
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Labels: M-synapse-interface, size/xs

#1910 Package and consumer config refactor
  packages/explorer-ui/components/misc/AssetImage.tsx
  packages/explorer-ui/components/misc/ChainImage.tsx
  packages/explorer-ui/components/misc/ChainInfo.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/components/misc/MostActive.tsx
  packages/explorer-ui/components/misc/TokenOnChain.tsx
  packages/explorer-ui/components/misc/ToolTip.tsx
  packages/explorer-ui/components/pages/Home/UniversalSearch/index.tsx
  packages/explorer-ui/components/pages/Home/index.tsx
  packages/explorer-ui/craco.config.js
  packages/explorer-ui/next.config.js
  packages/explorer-ui/package.json
  packages/explorer-ui/pages/chain/[chainId].tsx
  packages/explorer-ui/pages/token/[tokenAddress].tsx
  packages/explorer-ui/pages/tx/[kappa].tsx
  packages/explorer-ui/pages/txs/index.tsx
  packages/explorer-ui/tsconfig.json
  packages/explorer-ui/utils/addressToDecimals.ts
  packages/explorer-ui/utils/addressToSymbol.ts
  packages/explorer-ui/utils/classes/Token.ts
  packages/explorer-ui/utils/styles/coins.ts
  packages/explorer-ui/utils/styles/networks.ts
  packages/explorer-ui/utils/urls/index.ts
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
  packages/synapse-constants/webpack.config.js
Labels: M-explorer-ui, size/m, needs-yarn-install

#1906 Lower stall timeout to 0.75s
  packages/synapse-interface/utils/providers/SynapseProvider.tsx
Labels: M-synapse-interface, size/xs

#1913 Hide txns if not connected
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
Labels: M-synapse-interface, size/xs

#1907 Additional submission fields to match quoting
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/store/store.ts
Labels: M-synapse-interface, size/xs

#1914 update release name
  contrib/screener-api/.goreleaser.yml
Labels: size/xs

#1915 fix commands
  charts/screener/Chart.yaml
  charts/screener/values.yaml
  contrib/screener-api/cmd/commands.go
  contrib/screener-api/screener/setup.go
  contrib/screener-api/screener/suite_test.go
Labels: go, M-charts, size/xs

#1916 [screener] fix helm chart
  charts/screener/Chart.yaml
  charts/screener/templates/service.yaml
Labels: M-charts, size/xs

#1892 Fe/refactor _transaction
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
  packages/synapse-interface/components/_Transaction/helpers/constants.ts
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/getExplorerAddressLink.ts
  packages/synapse-interface/components/_Transaction/helpers/getTxBlockExplorerLink.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
  packages/synapse-interface/components/_Transaction/helpers/useIntervalTimer.ts
Labels: M-synapse-interface, size/m

#1921 enable prod source maps
  packages/explorer-ui/next.config.js
  packages/synapse-interface/next.config.js
Labels: M-explorer-ui, M-synapse-interface, size/xs

#1922 Allow service name prefix
  core/config/build-info.go
Labels: go, needs-go-generate-services/scribe, needs-go-generate-services/explorer, size/xs, needs-go-generate-contrib/promexporter, needs-go-generate-services/sinner

#1779 Fe/stip
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/_Transaction/helpers/getExplorerAddressLink.ts
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/chainlink.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/priceDataSlice.ts
  packages/synapse-interface/tailwind.config.js
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/actions/getPrices.ts
  packages/synapse-interface/utils/bigint/format.ts
  packages/synapse-interface/utils/findTokenByAddressAndChainId.ts
  packages/synapse-interface/utils/getUnderlyingBridgeTokens.ts
  packages/synapse-interface/utils/hooks/useGasDropAmount.tsx
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/l

#1928 update rfq median times to follow dune query
  packages/sdk-router/src/constants/medianTime.ts
Labels: size/xs

#1925 Add `QuoteOffsetBps` to RFQ quoter
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
Labels: go, size/s, needs-go-generate-services/rfq

#1927 Updates banner link destination
  packages/synapse-interface/components/Banner.tsx
Labels: M-synapse-interface, size/xs

#1929 Release/2024 01 25 2
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/medianTime.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/package.json
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
Labels: go, M-synapse-interface, size/s

#1896 Moves wagmi config into separate file
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/wagmiConfig.ts
Labels: M-synapse-interface, size/s

#1931 Stip/api
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/relayer/relayer_test.go
  services/stiprelayer/stipapi/server.go
  services/stiprelayer/stipapi/server_test.go
  services/stiprelayer/stipconfig/config.go
Labels: go, M-synapse-interface, size/m

#1935 Fe/test state remova
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/graphql/GetBlockHeight.graphql
  packages/synapse-interface/graphql/GetDestinationBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetOriginBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetUserPendingTransactions.graphql
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/slices/portfolio/updater.tsx
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/slices/transactions/hooks.ts
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
Labels: M-synapse-interface, size/l

#1858 fe/refactor-activity-remove-pending
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/graphql/GetBlockHeight.graphql
  packages/synapse-interface/graphql/GetDestinationBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetOriginBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetUserPendingTransactions.graphql
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/slices/portfolio/updater.tsx
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/slices/transactions/hooks.ts
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
Labels: M-synapse-interface, size/l

#1824 Filter txns by connected address
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/_transactions/updater.tsx
Labels: M-synapse-interface, size/xs

#1919 Fe/track token transfers by sender
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/utils/actions/getErc20TokenTransfers.ts
Labels: M-synapse-interface, size/s

#1897 Background listener provider
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/utils/hooks/useApplicationListener.ts
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
  packages/synapse-interface/utils/hooks/usePortfolioListener.ts
  packages/synapse-interface/utils/hooks/useTransactionListener.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Labels: M-synapse-interface, size/s

#1939 Add `hasSufficientGas` check in quote processing
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/m, needs-go-generate-services/rfq

#1936 Stip/configurable max arb
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: go, size/xs

#1941 tidy up from #1718
  go.work.sum
  services/stiprelayer/go.mod
Labels: size/xs

#1942 fix explorer bug [goreleaser]
  services/explorer/backfill/chain.go
  services/explorer/consumer/parser/cctpparser.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter

#1945 Release/2024 01 29
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  go.work.sum
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/constants/tokens/poolMaster.ts
  packages/synapse-interface/contexts/BackgroundListenerProvider.tsx
  packages/synapse-interface/graphql/GetBlockHeight.graphql
  packages/synapse-interface/graphql/GetDestinationBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetOriginBridgeTxFallback.graphql
  packages/synapse-interface/graphql/GetUserPendingTransactions.graphql
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/api/generated.ts
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/slices/transactions/hooks.ts
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/hooks/useApplicationListener.ts
  packages/synapse-interface/utils/hooks/useBridgeListener.ts
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
  packages/synapse-interface/utils/hooks/usePortfolioListener.ts
  packages/synapse-interface/utils/hooks/useTransactionListener.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
  services/explorer/backfill/chain.go
  services/explorer/consumer/parser/cctpparser.go
  services/stiprelayer/go.mod
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipconfig/config.go
Labels: go, M-synapse-interface, size/l

#1944 Increase STIP rebate precision
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/stipapi/server.go
  services/stiprelayer/stipconfig/config.go
Labels: go, size/xs

#1948 fix explorer error message
  services/explorer/graphql/server/graph/queries.resolvers.go
Labels: go, size/xs

#1950 install jq (fixes #1949)
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker, size/xs

#1952 fix dir bug
  .github/workflows/goreleaser-actions.yml
  contrib/git-changes-action/README.md
Labels: M-ci, size/xs
