Repository synapsecns/sanguine, pull requests merged in 2024-06, with the labels that each got.

#2654 add hook to listener
  ethergo/listener/listener.go
  ethergo/listener/listener_test.go
  ethergo/listener/options.go
Labels: go, size/s

#2655 make poll interval a setting
  ethergo/listener/listener.go
  ethergo/listener/options.go
Labels: go, needs-go-generate-services/explorer, size/xs, needs-go-generate-committee, needs-go-generate-sin-executor

#2658 feat(solidity-devops): environment-specific configs
  packages/solidity-devops/README.md
  packages/solidity-devops/src/base/PathFinder.sol
  packages/solidity-devops/src/reader/DataReader.sol
  packages/solidity-devops/src/writer/DataWriter.sol
Labels: size/xs

#2659 fix(solidity-devops): allow verifier fo be omitted for a chain
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/chain.js
Labels: size/xs

#2651 Submitter: bump MaxResultsPerChain to 10
  ethergo/submitter/db/txdb/store.go
  services/rfq/relayer/service/relayer.go
Labels: go, needs-go-generate-services/explorer, size/xs, needs-go-generate-committee, needs-go-generate-sin-executor

#2665 Adding funding.json to project root for retro pgf 4
  funding.json
Labels: size/xs

#2663 FeePricer: use different multipliers for quote / relay
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Labels: go, size/s

#2674 feat(synapse-interface): upgrade wagmi, viem, rainbowkit to support smartwallet
  .nvmrc
  packages/synapse-interface/actions/approveErc20Token.ts
  packages/synapse-interface/actions/harvestLpPool.ts
  packages/synapse-interface/actions/stakeLpToken.ts
  packages/synapse-interface/actions/swapPoolAddLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidity.ts
  packages/synapse-interface/actions/swapPoolRemoveLiquidityOneToken.ts
  packages/synapse-interface/actions/unstakeLpToken.ts
  packages/synapse-interface/package.json
  yarn.lock
Labels: M-synapse-interface, size/m

#2679 port fix
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/s

#2675 chore: remove cypress github actions workflow
  .github/workflows/cypress.yml
Labels: M-ci, size/xs

#2681 fix(synapse-interface): rfq maps generation
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/generateMaps.js
Labels: M-synapse-interface, size/s

#2682 RFQ API: use prometheus gauge metrics
  services/rfq/api/rest/server.go
  services/rfq/relayer/inventory/manager.go
Labels: go, size/s

#2664 Submitter: don't bump transactions without sufficient gas
  ethergo/submitter/chain_queue.go
Labels: go, needs-go-generate-services/explorer, size/xs, needs-go-generate-committee, needs-go-generate-sin-executor

#2688 fix: adjust to #2658 breaking changes
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
Labels: size/xs

#2416 Upgrade geth to 1.13
  .gitignore
  .golangci.yml
  agents/agents/agentsintegration/agentsintegration_test.go
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud_test.go
  agents/go.mod
  agents/go.sum
  agents/testutil/simulated_backends_suite.go
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  ethergo/backends/anvil/anvil.go
  ethergo/backends/base/base.go
  ethergo/backends/geth/config.go
  ethergo/backends/geth/geth.go
  ethergo/backends/geth/geth_test.go
  ethergo/backends/geth/logger.go
  ethergo/backends/preset/presets.go
  ethergo/backends/simulated/multibackend/chainid.go
  ethergo/backends/simulated/multibackend/simulated_gen.go
  ethergo/backends/simulated/multibackend/simulated_gen_test.go
  ethergo/backends/simulated/simulated.go
  ethergo/chain/chain_test.go
  ethergo/chain/client/client_test.go
  ethergo/chain/client/config.go
  ethergo/chain/client/config_test.go
  ethergo/chain/client/lifecycle_test.go
  ethergo/chain/gas/londinium/gasprice.go
  ethergo/chain/gas/londinium/gasprice_test.go
  ethergo/chain/gas/london/oracle_backend.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/submitter_test.go
  ethergo/util/converter.go
  ethergo/util/converter_test.go
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/omnirpc/rpcinfo/latency_test.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, size/l

#2725 chore(synapse-interface): removes boilerplate
  packages/synapse-interface/README.md
Labels: M-synapse-interface, size/xs

#2726 otel version fix
  .github/workflows/go.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  docker/goreleaser/Dockerfile
  ethergo/go.mod
  ethergo/go.sum
  go.work
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: M-ci, M-docker, size/l

#2730 smaller image
  core/README.md
  docker/goreleaser/Dockerfile
Labels: M-docker, size/xs

#2731 speed up goreleaser with caching
  .github/workflows/goreleaser-actions.yml
  core/README.md
Labels: M-ci, size/xs

#2727 ZachXBT UI Recommendations
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/components/TransactionTable/Table.tsx
  packages/explorer-ui/components/TransactionTable/TableBody.tsx
  packages/explorer-ui/components/TransactionTable/TableRow.tsx
  packages/explorer-ui/components/misc/AssetImage.tsx
  packages/explorer-ui/components/misc/ChainInfo.tsx
  packages/explorer-ui/components/misc/CopyTitle.tsx
  packages/explorer-ui/components/misc/HorizontalDivider.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/components/misc/StyleAddress.tsx
  packages/explorer-ui/components/misc/ToolTip.tsx
  packages/explorer-ui/components/pages/Home/UniversalSearch/index.tsx
  packages/explorer-ui/components/pages/Home/index.tsx
  packages/explorer-ui/package.json
  packages/explorer-ui/pages/address/[address].tsx
  packages/explorer-ui/pages/tx/[kappa].tsx
  packages/explorer-ui/utils/formatAmount.ts
  packages/explorer-ui/utils/formatDate.ts
  yarn.lock
Labels: M-explorer-ui, size/m

#2607 feat(synapse-interface): refresh stale quotes
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/formatAmount.ts
  packages/synapse-interface/utils/hooks/useStaleQuoteRefresher.ts
  packages/synapse-interface/utils/time.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/s

#2734 feat(synapse-interface): wallet rejection refresh quote
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Labels: M-synapse-interface, size/xs

#2738 fix(synapse-interface): disable input pending wallet
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
Labels: M-synapse-interface, size/xs

#2740 FE Release 06-18-2024
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
Labels: M-synapse-interface, size/xs

#2739 RFQ Relayer: concurrent request processing
  .github/workflows/go.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/base.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/mysql/mysql.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Labels: M-ci, go, size/l

#2741 change harmony version
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
Labels: go, size/xs

#2759 add extracontainers to allow for sidecar
  charts/cctp/Chart.yaml
  charts/cctp/templates/deployment.yaml
Labels: M-charts, size/xs

#2761 add default backup behavior
  services/omnirpc/modules/receiptsbackup/receiptsbackup.go
Labels: go, size/xs

#2756 Submitter: fix transaction bumping
  ethergo/submitter/chain_queue.go
Labels: go, size/s

#2762 feat(listener): listener safe, finalized, latest block numbers
  ethergo/listener/listener.go
  ethergo/listener/listener_test.go
  ethergo/listener/options.go
Labels: go, size/s

#2766 fix(listener): add default finality strategy and case insenseitivity
  ethergo/listener/options.go
Labels: go, size/xs

#2772 add minimal rfq relayer query interface
  contrib/opbot/README.md
  contrib/opbot/botmd/botmd.go
  contrib/opbot/botmd/commands.go
  contrib/opbot/config/config.go
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  ethergo/chaindata/chaindata.go
  services/rfq/go.mod
  services/rfq/relayer/relapi/client.go
  services/rfq/relayer/relapi/client_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/model.go
  services/rfq/relayer/relapi/server_test.go
  services/rfq/relayer/relapi/suite_test.go
  services/scribe/db/transaction_test.go
Labels: go, size/l

#2774 listener: fix listener on l2
  ethergo/listener/listener.go
Labels: go, size/xs

#2775 remove 0x prefix
  contrib/opbot/botmd/commands.go
Labels: go, size/xs

#2767 RFQ Relayer: use mutex on listener-triggered handlers
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs

#2769 RFQ Relayer: check for db status mismatch
  services/rfq/relayer/service/statushandler.go
Labels: go, size/xs

#2776 cleanup abigen analyzer
  .codeclimate.yml
Labels: size/xs

#2784 strip links from command input
  contrib/opbot/botmd/commands.go
  contrib/opbot/botmd/commands_test.go
  contrib/opbot/botmd/export_test.go
  contrib/screener-api/.gitignore
Labels: go, size/xs

#2786 add opbot badges to readme
  contrib/opbot/README.md
Labels: size/xs

#2782 screener auth fix
  contrib/screener-api/client/client.go
  contrib/screener-api/screener/export_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
  core/ginhelper/README.md
  core/ginhelper/gindump.go
  core/ginhelper/gindump_test.go
  core/ginhelper/parse.go
Labels: go, size/m

#2701 RFQ API: fix prometheus setup
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/api/rest/server.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relapi/server_test.go
Labels: go, size/m

#2768 Submitter: add reaper process
  docs/bridge/docs/Services/Submitter.md
  ethergo/submitter/config/config.go
  ethergo/submitter/config/config_test.go
  ethergo/submitter/config/iconfig_generated.go
  ethergo/submitter/db/mocks/service.go
  ethergo/submitter/db/service.go
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/db_test.go
  ethergo/submitter/submitter.go
Labels: go, size/s

#2764 feat(synapse-interface): optimize stale quote updater
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useStaleQuoteUpdater.ts
Labels: M-synapse-interface, size/xs

#2744 feat(screener): use chainalysis
  contrib/screener-api/README.md
  contrib/screener-api/chainalysis/chainalysisapi.go
  contrib/screener-api/chainalysis/doc.go
  contrib/screener-api/client/client.go
  contrib/screener-api/cmd/cmd.go
  contrib/screener-api/cmd/commands.go
  contrib/screener-api/config/config.go
  contrib/screener-api/db/db.go
  contrib/screener-api/db/db_test.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/db/sql/mysql/store.go
  contrib/screener-api/db/sql/sqlite/sqlite.go
  contrib/screener-api/docs/docs.go
  contrib/screener-api/docs/swagger.json
  contrib/screener-api/docs/swagger.yaml
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/screener-api/screener/export_test.go
  contrib/screener-api/screener/internal/export_test.go
  contrib/screener-api/screener/internal/risk.go
  contrib/screener-api/screener/internal/risk_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/setup.go
  contrib/screener-api/screener/suite_test.go
  contrib/screener-api/trmlabs/doc.go
  contrib/screener-api/trmlabs/trmapi.go
  go.work.sum
  services/cctp-relayer/relayer/synapse.go
  services/rfq/relayer/quoter/quoter.go
Labels: go, size/l

#2742 fix(synapse-interface): RFQ input vs bridgeQuote validation
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Labels: M-synapse-interface, size/xs

#2790 Pauses blast
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#2793 Unpauses blast
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#2794 FE Release 2024-06-26 #2
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/xs

#2792 fix 401 screner
  .vscode/settings.json
  contrib/screener-api/client/client.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: go, size/s, needs-go-generate-contrib/screener-api

#2795 add aws signer docs
  docker/signer-example.Dockerfile
  docs/bridge/docs/Services/Signer.md
  docs/bridge/docs/Services/img/create-acces-key.png
  docs/bridge/docs/Services/img/create-access-key.png
  docs/bridge/docs/Services/img/iam-dash.png
  docs/bridge/docs/Services/img/iam-preview-user.png
  docs/bridge/docs/Services/img/key-details.png
  docs/bridge/docs/Services/img/kms-1.png
  docs/bridge/docs/Services/img/kms-2.png
  docs/bridge/docs/Services/img/kms-advanced.png
  docs/bridge/docs/Services/img/kms-labels.png
  docs/bridge/docs/Services/img/kms-permissons.png
  docs/bridge/docs/Services/img/kms-user-permissions.png
  docs/bridge/docs/Services/img/kms-user.png
  docs/bridge/docs/Services/img/perms.png
  docs/bridge/docs/Services/img/review.png
  docs/bridge/docs/Services/img/user-list.png
  docs/bridge/docs/Services/img/user-perms.png
  ethergo/.goreleaser.yml
  ethergo/README.md
  ethergo/backends/anvil/suite_test.go
  ethergo/deployer/deployed_contract_test.go
  ethergo/examples/contracttests/README.md
  ethergo/examples/contracttests/contracttype.go
  ethergo/examples/contracttests/contracttypeimpl_string.go
  ethergo/examples/contracttests/counter/counter.abigen.go
  ethergo/examples/contracttests/counter/counter.contractinfo.json
  ethergo/examples/contracttests/counter/counter.metadata.go
  ethergo/examples/contracttests/counter/counter.sol
  ethergo/examples/contracttests/counter/generate.go
  ethergo/examples/contracttests/counter/helpers.go
  ethergo/examples/contracttests/counter_test.go
  ethergo/examples/contracttests/deployer.go
  ethergo/examples/contracttests/deploymanager.go
  ethergo/examples/contracttests/doc.go
  ethergo/examples/signer-example/README.md
  ethergo/examples/signer-example/cmd/cmd.go
  ethergo/examples/signer-example/config/config.go
  ethergo/examples/signer-example/main.go
  ethergo/examples/signer-example/metadata/metadata.go
  ethergo/forker/fork_test.go
  ethergo/go.mod
  ethergo/listener/suite_test.go
  ethergo/signer/config/signer.go
  ethergo/submitter/submitter_test.go
  ethergo/submitter/suite_test.go
Labels: go, M-docker, size/m

#2796 fix ethergo goreleaser config
  ethergo/.goreleaser.yml
Labels: size/xs

#2799 document additional service
  docs/bridge/docs/Services/Scribe.md
  docs/bridge/docusaurus.config.ts
Labels: size/s

#2800 format string literals in signer docs
  docs/bridge/docs/Services/Signer.md
Labels: size/xs

#2805 feat(widget): Adds scroll
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: size/s, Sol, Typescript

#2807 fix: core lint
  core/bytes_test.go
Labels: go, size/xs

#2804 feat(sdk): Adds origin/dest chain ids to bridge quote
  packages/sdk-router/README.md
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/sdk.test.ts
Labels: size/xs, Sol, Typescript

#2803 feat(synapse-interface): SDK bridgequote chainID validation
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridge/hooks.ts
  packages/synapse-interface/slices/bridge/reducer.ts
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
  packages/synapse-interface/utils/hooks/useAlternateBridgeQuotes.ts
  packages/synapse-interface/utils/types/index.tsx
Labels: M-synapse-interface, size/m, Sol, Typescript

#2721 chore(synapse-interface): clean
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Activity/Transaction/Transaction.tsx
  packages/synapse-interface/components/Activity/Transaction/TransactionOptions.tsx
  packages/synapse-interface/components/Activity/Transaction/components/Completed.tsx
  packages/synapse-interface/components/Activity/Transaction/components/EstimatedDuration.tsx
  packages/synapse-interface/components/Activity/Transaction/components/TransactionExplorerLink.tsx
  packages/synapse-interface/components/Activity/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceBanner.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceWarningMessage.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
  packages/synapse-interface/components/Maintenance/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
  packages/synapse-interface/components/Portfolio/hooks/useSearchInputStatus.ts
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/helpers/calculateEstimatedTimeStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxReverted.ts
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/utils/actions/getTransactionReceipt.ts
  packages/synapse-interface/utils/getEstimatedBridgeTime.tsx
  packages/synapse-interface/utils/hooks/useCoingeckoPrice.ts
  packages/synapse-interface/utils/hooks/useIsFocused.ts
  packages/synapse-interface/utils/hooks/useIsMounted.ts
Labels: M-synapse-interface, size/s, Sol, Typescript

#2809 enable otel
  contrib/screener-api/chainalysis/chainalysisapi.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: go, size/xs

#2763 feat(widget): refresh stale quotes
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/wallet/reducer.ts
  packages/widget/src/utils/calculateTimeBetween.ts
Labels: size/s

#2798 Final Design upgrades for Synapse Explorer
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/TransactionTable/TableBody.tsx
  packages/explorer-ui/components/icons/Arrow.tsx
  packages/explorer-ui/components/misc/ChainInfo.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/components/misc/StyleAddress.tsx
  packages/explorer-ui/components/pages/Home/index.tsx
  packages/explorer-ui/utils/timeAgo.ts
Labels: M-explorer-ui, size/s, Sol, Typescript

#2811 Fix screener HTTP responses
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Labels: go, size/xs

#2812 (nit:core) Standardize semconv version
  core/metrics/instrumentation/otelginmetrics/config.go
  core/metrics/instrumentation/otelginmetrics/middleware.go
Labels: go, size/xs

#2789 Submitter: cap transactions in chainConfirmQueue
  ethergo/submitter/export_test.go
  ethergo/submitter/queue.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
Labels: go, size/xs

#2788 ctrl+c handling in core/commandline
  core/commandline/shell.go
Labels: go, size/xs

#2816 stage link unfurl
  contrib/opbot/botmd/commands.go
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  go.work.sum
Labels: go, size/xs, M-deps

#2818 [submitter] fix metrics when out of gas #2817
  ethergo/submitter/chain_queue.go
Labels: go, size/xs

#2821 metric fixes
  ethergo/submitter/chain_queue.go
  ethergo/submitter/db/mocks/service.go
  ethergo/submitter/db/service.go
  ethergo/submitter/db/txdb/store.go
  ethergo/submitter/db_test.go
  ethergo/submitter/export_test.go
  ethergo/submitter/metrics.go
  ethergo/submitter/metrics_generated.go
  ethergo/submitter/queue.go
  ethergo/submitter/submitter.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
Labels: go, size/m

#2824 improve submitter docs
  docs/bridge/docs/CCTP/Relayer.md
  docs/bridge/docs/Services/Signer.md
  docs/bridge/docs/Services/Submitter.md
  docs/bridge/docs/Services/img/signer/aws/create-acces-key.png
  docs/bridge/docs/Services/img/signer/aws/create-access-key.png
  docs/bridge/docs/Services/img/signer/aws/iam-dash.png
  docs/bridge/docs/Services/img/signer/aws/iam-preview-user.png
  docs/bridge/docs/Services/img/signer/aws/key-details.png
  docs/bridge/docs/Services/img/signer/aws/kms-1.png
  docs/bridge/docs/Services/img/signer/aws/kms-2.png
  docs/bridge/docs/Services/img/signer/aws/kms-advanced.png
  docs/bridge/docs/Services/img/signer/aws/kms-labels.png
  docs/bridge/docs/Services/img/signer/aws/kms-permissons.png
  docs/bridge/docs/Services/img/signer/aws/kms-user-permissions.png
  docs/bridge/docs/Services/img/signer/aws/kms-user.png
  docs/bridge/docs/Services/img/signer/aws/perms.png
  docs/bridge/docs/Services/img/signer/aws/review.png
  docs/bridge/docs/Services/img/signer/aws/user-list.png
  docs/bridge/docs/Services/img/signer/aws/user-perms.png
  docs/bridge/docs/Services/img/submitter/metrics.png
  docs/bridge/docs/rfq/Relayer/Relayer.md
  docs/bridge/docs/rfq/Relayer/dashboard.png
  ethergo/submitter/README.md
  ethergo/submitter/dashboard.json
  ethergo/submitter/metrics.go
  ethergo/submitter/util_test.go
  services/rfq/relayer/dashboards/dashboard.json
Labels: go, size/m, M-docs

#2825 [screener] add blacklist
  contrib/screener-api/config/config.go
  contrib/screener-api/screener/screener.go
Labels: go, size/xs
