Repository synapsecns/sanguine, pull requests merged in 2025-02, with the labels that each got.

#3503 fix: bump harmony commit hash [goreleaser]
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
Labels: go, needs-go-generate-services/omnirpc, needs-go-generate-agents, needs-go-generate-services/scribe, needs-go-generate-services/explorer, size/xs, needs-go-generate-services/cctp-relayer, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, needs-go-generate-contrib/opbot

#3506 Update CODEOWNERS
  CODEOWNERS
Labels: size/xs, M-Codeowners

#3505 adding the binance wallet
  packages/synapse-interface/components/Wallet.tsx
  packages/synapse-interface/components/icons/WalletIcons/BinanceWalletIcon.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/utils/types/index.tsx
  packages/synapse-interface/wagmiConfig.ts
  yarn.lock
Labels: M-synapse-interface, size/m, Sol, Typescript, M-deps

#3507 FE Release 2/6
  .github/workflows/assets/root-dir.png
  .github/workflows/solidity.md
  CODEOWNERS
  docs/bridge/CHANGELOG.md
  docs/bridge/docs/01-About/04-SYN.md
  docs/bridge/package.json
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/package.json
  packages/contracts-rfq/script/DeploySIR.s.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.HighSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.NoSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.WithSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/routes/addressIconRoute.ts
  packages/rest-api/src/routes/chainIconRoute.ts
  packages/rest-api/src/utils/svgUtils.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/components/Wallet.tsx
  packages/synapse-interface/components/icons/WalletIcons/BinanceWalletIcon.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/utils/types/index.tsx
  packages/synapse-interface/wagmiConfig.ts
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
  yarn.lock
Labels: M-ci, go, M-synapse-interface, size/l, M-Codeowners, Sol, Typescript, M-deps, M-docs, fe-release

#3512 add bera native gas asset for coingecko pricing
  services/rfq/relayer/pricer/fetcher.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3514 Add tracing for coingecko price fetching
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fetcher.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3515 fix getFee calculation bug. Add pricer test for more exotic non-nativ…
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/suite_test.go
Labels: go, size/s, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3517 Adding new chains [Explorer]
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/graphql/queries/index.ts
  packages/rfq-indexer/api/src/constants/networkConfig.ts
  packages/rfq-indexer/indexer/.env.example
  packages/rfq-indexer/indexer/ponder.config.ts
  packages/rfq-indexer/indexer/src/utils/chains.ts
  services/explorer/api/server_test.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
Labels: go, M-explorer-ui, size/s, needs-go-generate-contrib/promexporter, Sol, Typescript

#3524 indexer berachain weth decimals fix
  packages/rfq-indexer/indexer/src/utils/formatAmount.ts
Labels: size/xs, Sol, Typescript

#3493 Fix: `FastBridgeV2` (Zellic - 01)
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.FBRV2.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/mocks/WeirdERC20Mock.sol
Labels: size/s, needs-go-generate-services/rfq

#3521 New Chains
  cspell.json
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/constants/chains.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-constants/src/scripts/data/symbolOverrides.json
  packages/synapse-constants/src/scripts/generateMaps.cjs
  packages/synapse-interface/assets/chains/berachain.svg
  packages/synapse-interface/assets/chains/unichain.svg
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/extraWagmiChains.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Labels: javascript, M-synapse-interface, size/m, Sol, Typescript

#3529 Adding Audits to Github
  assets/sanguine-audits/Sanguine - Zellic Audit Report (1).pdf
  assets/sanguine-audits/Synapse Fast Bridge Review - Aleph_v.md
  assets/sanguine-audits/Trail of Bits - Synapse Protocol Comprehensive Report (2).pdf
  assets/sanguine-audits/Zellic Security Assessment Report.pdf
  assets/sanguine-audits/chainlight.md
Labels: size/s

#3533 fix(sdk-router): fixed fee calculation [SYN-49]
  packages/sdk-router/src/rfq/quote.test.ts
  packages/sdk-router/src/rfq/quote.ts
Labels: size/s, Sol, Typescript

#3536 fixing rest-api constants
  packages/rest-api/src/constants/index.ts
Labels: size/xs, Sol, Typescript

#3537 chore: add overridable for api urls
  packages/rest-api/README.md
  packages/rest-api/src/utils/isGatewayRoute.ts
  packages/sdk-router/README.md
  packages/sdk-router/src/rfq/api.ts
Labels: Sol, Typescript

#3528 feat(sdk-router): Gas.zip module [SYN-37]
  cspell.json
  packages/sdk-router/src/gaszip/api.ts
  packages/sdk-router/src/gaszip/gasZipModule.ts
  packages/sdk-router/src/gaszip/gasZipModuleSet.ts
  packages/sdk-router/src/gaszip/index.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/addressUtils.test.ts
  packages/sdk-router/src/utils/addressUtils.ts
  packages/sdk-router/src/utils/api.ts
  packages/sdk-router/src/utils/logger.ts
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/useTxRefundStatus.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/extraWagmiChains.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providerOverrides.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/utils/fetchGasZipData.js
Labels: javascript, M-synapse-interface, size/l, Sol, Typescript

#3539 FE release 2025-02-27
  assets/sanguine-audits/Sanguine - Zellic Audit Report (1).pdf
  assets/sanguine-audits/Synapse Fast Bridge Review - Aleph_v.md
  assets/sanguine-audits/Trail of Bits - Synapse Protocol Comprehensive Report (2).pdf
  assets/sanguine-audits/Zellic Security Assessment Report.pdf
  assets/sanguine-audits/chainlight.md
  cspell.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/rest-api/src/constants/index.ts
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/gaszip/api.ts
  packages/sdk-router/src/gaszip/gasZipModule.ts
  packages/sdk-router/src/gaszip/gasZipModuleSet.ts
  packages/sdk-router/src/gaszip/index.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/quote.test.ts
  packages/sdk-router/src/rfq/quote.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/addressUtils.test.ts
  packages/sdk-router/src/utils/addressUtils.ts
  packages/sdk-router/src/utils/api.ts
  packages/sdk-router/src/utils/logger.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/useTxRefundStatus.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/extraWagmiChains.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/public/blacklist.json
  packages/synapse-interface/scripts/data/providerOverrides.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/utils/fetchGasZipData.js
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Labels: javascript, M-synapse-interface, size/l, Sol, Typescript, fe-release

#3542 fix(sdk-router): fix tests
  packages/sdk-router/src/gaszip/api.ts
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/utils/api.ts
Labels: size/xs, Sol, Typescript

#3540 COR-247: add postgres to dbcommon
  .golangci.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/promexporter/internal/gql/explorer/models.gen.go
  contrib/restclient/client.gen.go
  contrib/restclient/go.mod
  contrib/restclient/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/dbcommon/dbtype_string.go
  core/dbcommon/types.go
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Labels: go, needs-go-generate-agents, size/l, needs-go-generate-services/rfq

#3546 COR-247: add postgres parsable type
  core/dbcommon/types.go
Labels: go, size/xs

#3541 fix(rest-api): add gas.zip, fix tests [SYN-57]
  .github/workflows/packages.yml
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/constants/chains.ts
  packages/rest-api/src/constants/index.ts
  packages/rest-api/src/tests/bridgeLimitsRoute.test.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/tests/bridgeTxStatusRoute.test.ts
  packages/rest-api/src/tests/destinationTokensRoute.test.ts
  packages/rest-api/src/tests/gasZip.sh
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/tests/swapTxInfoRoute.test.ts
  packages/rest-api/src/tests/synapseTxIdRoute.test.ts
  packages/rest-api/src/tests/testConstants.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
Labels: M-ci, size/m, Sol, Typescript
