Repository synapsecns/sanguine, pull requests merged in 2025-04, with the labels that each got.

#3646 fix(sdk-router): add decimals to intent steps
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/utils/TokenMetadataFetcher.ts
  packages/sdk-router/src/utils/index.ts
Labels: size/s, Sol, Typescript

#3652 fix(sdk-router): swap engine improvements, remove cap on RFQ origin slippage
  packages/sdk-router/src/abi/FastBridgeInterceptor.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/swap/engines/defaultPoolsEngine.ts
  packages/sdk-router/src/swap/engines/kyberSwapEngine.ts
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/noOpEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/engines/response.ts
  packages/sdk-router/src/swap/models/route.ts
  packages/sdk-router/src/typechain/FastBridgeInterceptor.ts
Labels: size/m, Sol, Typescript

#3653 Updating Supported Token Lists
  docs/bridge/src/components/Routes.tsx
Labels: size/s, M-docs

#3647 Adding hyperevm to the explorer
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/graphql/queries/index.ts
  services/explorer/api/server_test.go
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Labels: go, M-explorer-ui, size/s, Sol, Typescript

#3655 adding hyperevm to constants
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
Labels: size/xs, Sol, Typescript

#3658 Deprecate and remove restclient module [SYN-88]
  .codecov.yml
  README.md
  contrib/restclient/.goreleaser.yml
  contrib/restclient/Makefile
  contrib/restclient/README.md
  contrib/restclient/client.gen.go
  contrib/restclient/client_test.go
  contrib/restclient/doc.go
  contrib/restclient/generate.go
  contrib/restclient/go.mod
  contrib/restclient/go.sum
  go.work
Labels: go, size/l, M-deps

#3656 SYN-86 Delete Old exporters and remove unused code
  contrib/promexporter/CLAUDE.md
  contrib/promexporter/config/config.go
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/dfk.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/exporters/otel.go
  contrib/promexporter/exporters/otel_generated.go
  contrib/promexporter/internal/gql/dfk/.gqlgenc.yml
  contrib/promexporter/internal/gql/dfk/README.md
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/doc.go
  contrib/promexporter/internal/gql/dfk/generate.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/promexporter/internal/gql/dfk/queries/queries.graphql
  contrib/promexporter/internal/gql/explorer/models.gen.go
Labels: go, size/l

#3649 feat(contracts-rfq): fast bridge interceptor [SYN-84]
  packages/contracts-rfq/configs/global/Create2Factory.json
  packages/contracts-rfq/contracts/FastBridgeInterceptor.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeInterceptor.sol
  packages/contracts-rfq/deployments/arbitrum/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/base/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/berachain/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/blast/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/bnb/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/ethereum/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/hyperevm/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/linea/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/optimism/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/scroll/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/unichain/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/worldchain/FastBridgeInterceptor.json
  packages/contracts-rfq/script/DeploySIR.s.sol
  packages/contracts-rfq/script/utils/get-mainnet-chains.sh
  packages/contracts-rfq/script/utils/sd-mainnets.sh
  packages/contracts-rfq/script/utils/sd-sir.sh
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.Src18.Dst6.t.sol
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.Src6.Dst18.t.sol
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.t.sol
Labels: size/l

#3662 feat(contracts-rfq): sir new deployments
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/deployments/avalanche/.chainId
  packages/contracts-rfq/deployments/avalanche/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/avalanche/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/avalanche/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/avalanche/TokenZapV1.json
  packages/contracts-rfq/deployments/polygon/.chainId
  packages/contracts-rfq/deployments/polygon/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/polygon/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/polygon/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/polygon/TokenZapV1.json
  packages/contracts-rfq/foundry.toml
Labels: size/l

#3672 fix(sdk-router): faster intent quotes, time logging, Paraswap surplus [SYN-97]
  packages/sdk-router/src/gaszip/gasZipModuleSet.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/swap/engines/__tests__/liFiEngine.test.ts
  packages/sdk-router/src/swap/engines/__tests__/paraSwapEngine.test.ts
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/models/priority.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
  packages/sdk-router/src/utils/logger.ts
Labels: size/s, Sol, Typescript
