Repository synapsecns/sanguine, pull requests merged in 2025-03, with the labels that each got.

#3530 Chain Updates
  package.json
  packages/rest-api/package.json
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/sdk.test.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Labels: M-synapse-interface, size/s, needs-yarn-install, Sol, Typescript, M-deps

#3549 chore: small change to trigger publish workflows
  packages/sdk-router/README.md
Labels: size/xs

#3543 fix hyperliquid e2e
  .golangci-version
  .golangci.yml
  agents/domains/evm/summit.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/go.sum
  services/rfq/relayer/pricer/fetcher.go
  services/rfq/relayer/relconfig/config.go
  services/scribe/go.sum
Labels: go, needs-go-generate-agents, needs-go-generate-services/scribe, needs-go-generate-services/explorer, size/m, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3562 fix(synapse-interface): two step approvals [SYN-62]
  packages/synapse-interface/actions/approveErc20Token.ts
  packages/synapse-interface/actions/approveErc20Token.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
Labels: M-synapse-interface, size/s, Sol, Typescript

#3571 Ft/ponder ix hyp evm
  packages/rfq-indexer/api/src/constants/networkConfig.ts
  packages/rfq-indexer/indexer/ponder.config.ts
  packages/rfq-indexer/indexer/src/utils/chains.ts
Labels: size/s, Sol, Typescript

#3574 Fix multi-architecture build for Hyperliquid Node Image
  .github/workflows/hyperliquid-node.yml
  docker/hyperliquid.Dockerfile
Labels: M-ci, M-docker, size/s

#3563 feat: Swap Engines [SYN-29] [SYN-35]
  packages/rest-api/src/constants/index.ts
  packages/rest-api/src/constants/slippage.ts
  packages/rest-api/src/controllers/swapV2Controller.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/routes/swapV2Route.ts
  packages/rest-api/src/utils/getBridgeStatus.ts
  packages/rest-api/swagger.json
  packages/sdk-router/src/abi/IERC20Metadata.json
  packages/sdk-router/src/abi/SynapseIntentPreviewer.json
  packages/sdk-router/src/abi/SynapseIntentRouter.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/index.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/swap/core/__tests__/engineID.test.ts
  packages/sdk-router/src/swap/core/__tests__/steps.test.ts
  packages/sdk-router/src/swap/core/__tests__/zapData.test.ts
  packages/sdk-router/src/swap/core/engineID.ts
  packages/sdk-router/src/swap/core/index.ts
  packages/sdk-router/src/swap/core/recipient.ts
  packages/sdk-router/src/swap/core/slippage.ts
  packages/sdk-router/src/swap/core/steps.ts
  packages/sdk-router/src/swap/core/zapData.ts
  packages/sdk-router/src/swap/engines/__tests__/kyberSwapEngine.test.ts
  packages/sdk-router/src/swap/engines/__tests__/liFiEngine.test.ts
  packages/sdk-router/src/swap/engines/__tests__/paraSwapEngine.test.ts
  packages/sdk-router/src/swap/engines/defaultEngine.ts
  packages/sdk-router/src/swap/engines/index.ts
  packages/sdk-router/src/swap/engines/kyberSwapEngine.ts
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/noOpEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/engines/response.ts
  packages/sdk-router/src/swap/index.ts
  packages/sdk-router/src/swap/models/index.ts
  packages/sdk-router/src/swap/models/priority.ts
  packages/sdk-router/src/swap/models/route.ts
  packages/sdk-router/src/swap/models/swapEngine.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
  packages/sdk-router/src/typechain/IERC20Metadata.ts
  packages/sdk-router/src/typechain/SynapseIntentPreviewer.ts
  packages/sdk-router/src/typechain/SynapseIntentRouter.ts
Labels: size/l, Sol, Typescript

#3575 fix(contracts-rfq): mockCallRevert internal revert in tests
  packages/contracts-rfq/test/libs/UniversalTokenLib.t.sol
Labels: needs-go-generate-agents, size/xs, needs-go-generate-services/rfq

#3535 feat: SDK new chains [SYN-45]
  packages/rest-api/README.md
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/tests/destinationTokensRoute.test.ts
  packages/rest-api/src/utils/isGatewayRoute.ts
  packages/sdk-router/README.md
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/generateMaps.js
Labels: javascript, M-synapse-interface, size/s, Sol, Typescript

#3590 fix: hide slippage between different type of assets for now [SYN-39]
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Labels: M-synapse-interface, size/xs

#3593 SYN-75 support swapv2 on synapse client
  contrib/restclient/client.gen.go
Labels: go, size/s

#3594 fix(rest-api): swap v2 errors
  packages/rest-api/src/controllers/swapV2Controller.ts
Labels: size/xs, Sol, Typescript

#3588 feat: sdk/api bridgeV2 for SynapseRFQ [SYN-66]
  contrib/restclient/client.gen.go
  packages/rest-api/src/controllers/bridgeV2Controller.ts
  packages/rest-api/src/routes/bridgeV2Route.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/swagger.json
  packages/sdk-router/src/gaszip/gasZipModuleSet.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/rfq/quote.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/swap/engines/defaultEngine.ts
  packages/sdk-router/src/swap/engines/kyberSwapEngine.ts
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/noOpEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/engines/response.ts
  packages/sdk-router/src/swap/models/index.ts
  packages/sdk-router/src/swap/models/route.ts
  packages/sdk-router/src/swap/models/steps.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
Labels: go, size/l, Sol, Typescript

#3592 Ft/hype rfq price feeds
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/fetcher.go
  services/rfq/relayer/pricer/mocks/coingecko_price_fetcher.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/relayer.go
Labels: go, size/m, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq

#3595 [DI-48] fix: replace vulnerable tj-actions actions with dorny/paths-filter
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/packages.yml
Labels: M-ci, size/s

#3598 chore(sdk-router): edit README to trigger republish
  packages/sdk-router/README.md
Labels: size/xs

#3602 fix(rest-api,sdk-router): `/bridge/v2` and `swap/v2` endpoint standardisation [SYN-77]
  contrib/restclient/client.gen.go
  packages/rest-api/src/controllers/bridgeV2Controller.ts
  packages/rest-api/src/controllers/swapV2Controller.ts
  packages/rest-api/src/routes/bridgeV2Route.ts
  packages/rest-api/src/routes/swapV2Route.ts
  packages/rest-api/src/utils/replaceTxValue.ts
  packages/rest-api/swagger.json
  packages/sdk-router/README.md
  packages/sdk-router/src/gaszip/gasZipModuleSet.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/swap/engines/defaultEngine.ts
  packages/sdk-router/src/swap/engines/kyberSwapEngine.ts
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/noOpEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/engines/response.ts
  packages/sdk-router/src/swap/models/priority.ts
  packages/sdk-router/src/swap/models/route.ts
  packages/sdk-router/src/swap/models/swapEngine.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
Labels: go, size/l, Sol, Typescript

#3620 fix(sdk-router): export intent types
  packages/sdk-router/src/index.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/types/bridge.ts
  packages/sdk-router/src/types/index.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/types/misc.ts
  packages/sdk-router/src/types/swap.ts
Labels: size/m, Sol, Typescript

#3626 Updating Synapse docs for CX
  docs/bridge/docs/01-About/01-DAO.md
  docs/bridge/docs/01-About/04-SYN.md
  docs/bridge/docs/01-About/index.md
  docs/bridge/docs/05-Contracts/01-Synapse-Token.md
  docs/bridge/docs/05-Contracts/010-SynapseBridge.md
  docs/bridge/docs/07-Support/index.md
  docs/bridge/docusaurus.config.ts
  packages/explorer-ui/utils/urls/index.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/widget/examples/landing-page/src/components/Footer.tsx
Labels: M-explorer-ui, M-synapse-interface, size/s, Sol, Typescript, M-docs

#3635 fix: apply `MaxRelayAmount` on origin for quotes
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Labels: go, size/xs, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq
