Repository synapsecns/sanguine, pull requests merged in 2025-01, with the labels that each got.

#3482 link out to staking in announcement message
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Labels: M-synapse-interface, size/xs

#3483 FE Release 2024-01-06
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/package.json
Labels: M-synapse-interface, size/xs, fe-release

#3488 adding velodrome pool to docs
  docs/bridge/docs/01-About/04-SYN.md
Labels: size/xs, M-docs

#3489 fix(rest-api): apply default slippage
  packages/rest-api/src/controllers/bridgeController.ts
Labels: size/xs, Sol, Typescript

#3491 fix(synapse-interface): remove RFQ output amount check
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
Labels: M-synapse-interface, size/xs, Sol, Typescript

#3467 feat(contracts-rfq): optional strict slippage for `SynapseIntentPreviewer`
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/script/DeploySIR.s.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.HighSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.NoSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.WithSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Labels: size/l, needs-go-generate-services/rfq

#3500 serve icons w doctype header [SLT-547]
  packages/rest-api/package.json
  packages/rest-api/src/routes/addressIconRoute.ts
  packages/rest-api/src/routes/chainIconRoute.ts
  packages/rest-api/src/utils/svgUtils.ts
  yarn.lock
Labels: size/m, needs-yarn-install, Sol, Typescript, M-deps

#3494 +dynamic_gas_unit_add_percentage flag
  .gitignore
  docs/bridge/docs/06-Services/04-Submitter.md
  ethergo/submitter/config/config.go
  ethergo/submitter/config/config_test.go
  ethergo/submitter/config/iconfig_generated.go
  ethergo/submitter/submitter.go
  ethergo/util/util.go
  services/rfq/contracts/fastbridgev2/events.go
  services/rfq/contracts/fastbridgev2/eventtype_string.go
  services/rfq/contracts/fastbridgev2/parser.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/handlers.go
Labels: go, needs-go-generate-ethergo, size/s, needs-go-generate-contrib/promexporter, needs-go-generate-services/rfq, M-docs
