Repository synapsecns/sanguine, changes with the owners that CODEOWNERS names for each.
All owners: @trajan0x, @ChiTimesChi, @aureliusbtc, @CryptoMaxPlanck, @simonmahns

CODEOWNERS:

* @trajan0x

*.sol @ChiTimesChi @aureliusbtc @trajan0x
*.go @trajan0x

.github/ @trajan0x
.github/workflows/solidity.yml @trajan0x @ChiTimesChi
.github/workflows/foundry-tests.yml @trajan0x @ChiTimesChi

.vscode/ @trajan0x @ChiTimesChi
agents/ @trajan0x @ChiTimesChi
core/ @trajan0x
charts/ @trajan0x
docker/ @trajan0x
ethergo/ @trajan0x
make/ @trajan0x
packages/contracts-core/ @ChiTimesChi @trajan0x

services/explorer @CryptoMaxPlanck @simonmahns @trajan0x
services/omnirpc @trajan0x
services/scribe @trajan0x @CryptoMaxPlanck
tools/ @trajan0x

# config files
.changeset/ @aureliusbtc
.prettierrc.js @trajan0x @ChiTimesChi
.prettierrc.json @trajan0x @ChiTimesChi
.eslintrc.js @trajan0x @ChiTimesChi
LICENSE @trajan0x @aureliusbtc

revert a couple resolver changes
  services/explorer/api/suite_test.go
  services/explorer/config/doc.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer_test.go
  services/scribe/api/data_test.go
  services/scribe/graphql/client/queries/queries.graphql
  services/scribe/graphql/server/graph/queries.resolvers.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x

cleaning up
  services/explorer/api/server.go
  services/explorer/config.yaml
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/scribe/api/data_test.go
  services/scribe/backfill/chain_test.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x

small
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/cmd/commands.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x

lint
  services/explorer/api/server.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x

fix comments re: Guard/Notary verification
  packages/contracts-core/contracts/hubs/OriginHub.sol
Owners: @ChiTimesChi, @trajan0x

fix suggestAttestation comment
  packages/contracts-core/contracts/hubs/OriginHub.sol
Owners: @ChiTimesChi, @trajan0x

update abi
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Owners: @trajan0x, @ChiTimesChi

err fix
  services/explorer/config/err.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x

clarify use of enums in OriginHub (#288)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/hubs/OriginHub.sol
Owners: @trajan0x, @ChiTimesChi

clarify use of enums in OriginHub (#288)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/hubs/OriginHub.sol
Owners: @trajan0x, @ChiTimesChi

Fix: fuzzing in proxy tests (#283)
  packages/contracts-core/foundry.toml
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
Owners: @ChiTimesChi, @trajan0x

Fix: fuzzing in proxy tests (#283)
  packages/contracts-core/foundry.toml
  packages/contracts-core/test/SynapseClientUpgradeable.t.sol
Owners: @ChiTimesChi, @trajan0x

Revert "tip validation"
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Owners: @trajan0x, @ChiTimesChi

regenerate agents
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Owners: @trajan0x, @ChiTimesChi

Validate tips in `dispatch()` (#284)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/test/Origin.t.sol
Owners: @trajan0x, @ChiTimesChi

Validate tips in `dispatch()` (#284)
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/test/Origin.t.sol
Owners: @trajan0x, @ChiTimesChi

index notary
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
Owners: @ChiTimesChi, @trajan0x

add agent indexes
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Owners: @ChiTimesChi, @trajan0x

regenerate
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
Owners: @trajan0x, @ChiTimesChi

index notary in Abstract Registry (#290)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Owners: @trajan0x, @ChiTimesChi

index notary in Abstract Registry (#290)
  agents/contracts/attestationcollector/attestationcollector.abigen.go
  agents/contracts/attestationcollector/attestationcollector.contractinfo.json
  agents/contracts/destination/destination.abigen.go
  agents/contracts/notarymanager/notarymanager.abigen.go
  agents/contracts/origin/filterer_generated.go
  agents/contracts/origin/mocks/i_origin.go
  agents/contracts/origin/origin.abigen.go
  agents/contracts/test/destinationharness/destinationharness.abigen.go
  agents/contracts/test/originharness/originharness.abigen.go
  packages/contracts-core/contracts/registry/AbstractGuardRegistry.sol
  packages/contracts-core/contracts/registry/AbstractNotaryRegistry.sol
  packages/contracts-core/test/AttestationCollector.t.sol
  packages/contracts-core/test/DomainNotaryRegistry.t.sol
  packages/contracts-core/test/GlobalNotaryRegistry.t.sol
  packages/contracts-core/test/GuardRegistry.t.sol
Owners: @trajan0x, @ChiTimesChi

some config refactoring and comments
  services/explorer/cmd/commands.go
  services/explorer/config/chain.go
  services/explorer/config/config.go
  services/explorer/config/config_test.go
  services/explorer/config/contract.go
  services/explorer/consumer/backfill/chain.go
  services/explorer/consumer/backfill/chain_test.go
  services/explorer/consumer/backfill/suite_test.go
  services/explorer/consumer/fetcher.go
  services/explorer/consumer/fetcher_test.go
  services/explorer/consumer/node/explorer.go
  services/explorer/consumer/parser.go
  services/explorer/testutil/clickhouse/clickhouse.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x

small
  services/explorer/config/config.go
  services/explorer/consumer/backfill/suite_test.go
Owners: @CryptoMaxPlanck, @simonmahns, @trajan0x
